[2020-12-31 17:00] IBanda commented on #985
Hi sorry
Just for clarity. Do you mean that when you toggle the map the change event doesn't fire any more?

[2021-01-01 08:47] dionkas opened #986 "Zoom is not reset after changing zoom or defaultZoom value"
**Describe the bug 🐛**

I am using the center and zoom/defaultZoom props to show a location on the map. Using local state, I can change the location and zoom to show a different location. However, once I click zoom in or zoom out via the buttons (or scroll in/out to zoom), the zoom of the map is locked at that level. I am trying to always reset the zoom to what the defaultZoom/zoom property is set

[2021-01-01 21:56] hugo-licon commented on #985
@IBanda Yes. Initially, the map is set `display: none` and there is a button on top to change the display to `block` but when you do this the `onChange` event doesn't fire anymore, the `onDragEnd` is still working but I need the onChange event.

[2021-01-02 03:26] IBanda commented on #985
I’m not sure exactly why this behavior exists I will find some time to look into it, but conditionally rendering the map using the showMap state seems to preserve the onChange event listener.

[2021-01-02 11:38] IBanda commented on #985
@hugo-licon so when the map is set to display:none or it's container in this case, it has a size of 0x0 which means it has bounds of 0. To fix this you can either use the resetBoundsOnResize prop or instead of using display use visibilty which will still allow google maps to read the size of the map.
I hope this helps 🙂

[2021-01-02 11:44] IBanda commented on #986
Is it possible you could provide a CodeSandbox or any of your liking?

[2021-01-02 12:36] dionkas commented on #986
This is my map component wrapped in a div.

I set the location object using an input box and passing it down as props to my map. Each time a new location is set it centers to that (and i log the center and zoom and they are as expected). However when I change zoom level via the buttons or scrolling and change location it no longer zooms to what i set in the location.zoom prop.

`        <GoogleMap

[2021-01-02 15:01] IBanda commented on #986
Google-map-react internally checks for equality on the zoom prop, if it's the same then it won't set the zoom  which is the case in this instance, furthermore google maps keeps track of it's own zoom which you notice in the onChange or onZoomAnimationEnd. So that's why the zoom doesn't automatically reset to your default, however to resolve this you could keep track of the zoom value in the onChan

[2021-01-02 18:00] dionkas commented on #986
Thank you for your pointer. I am trying to keep track of the zoom by using state then use that for my zoom. No luck so far!

[2021-01-02 18:13] dionkas commented on #986
Did it! had to also set zoom level in my handleChange function:
[code]

[2021-01-02 18:19] IBanda commented on #986
Great!!
Glad I could help.🙂

[2021-01-02 18:22] IBanda commented on #986
close #985

[2021-01-04 06:04] xcjackpan commented on #30
@aphsai thanks!!

[2021-01-04 22:04] hugo-licon commented on #985
@IBanda Thanks for that :100:. it worked.

[2021-01-04 22:04] #985 closed

[2021-01-06 14:53] eminaydin opened #987 "How to add Border radius on Map component?"
As the question speaks itself, ı am trying to add `border radius` on Map component but couldn't manage to do so by playing with `options` or `style` props. I would appreciate any help.

[2021-01-06 14:56] karldanninger commented on #987
<div style={{borderRadius: '10px', overflow: 'hidden'}}>
  <GoogleMapReact ... />
</div>

[2021-01-06 14:56] #987 closed

[2021-01-06 14:58] karldanninger commented on #986
Thank you @IBanda <3

[2021-01-06 14:58] #986 closed

[2021-01-06 15:00] eminaydin commented on #987
Well, I have tried this solution even before opening this pr and as it didn't work out I wanted to reach out and ask for help.

[2021-01-06 15:04] karldanninger commented on #983
Hey @olanseerla I would suggest you try onMouseDown on your child components rather than on the GoogleMapReact component.

Something like this:

[code]

I haven't tested this, but I'm going to assume it will respect the size of the location.

[2021-01-07 15:32] spyshower commented on #502
I managed to solve this with `onClick={(e) => e.stopPropagation()}`, however double clicking still zooms the map. Any thoughts on this one?

[2021-01-07 15:34] walidvb commented on #502
@spyshower  `onDoubleClick` ?

[2021-01-07 16:04] spyshower commented on #502
Yea... didn't work :P

[2021-01-07 22:06] stephenfarrar commented on #502
If you don't need double-click zoom at all, you can use https://developers.google.com/maps/documentation/javascript/reference/map#MapOptions.disableDoubleClickZoom

If you only want to suppress double-click zoom on your component, did you try `stopPropagation` on `mousedown` and `pointerdown`? See https://github.com/google-map-react/google-map-react/issues/502#issuecomment-373174107

[2021-01-08 09:51] spyshower commented on #502
@stephenfarrar I have seen your comment but I am not sure how to do that. Could you share your code for that? Plus, I would like to keep double click for zoom.

[2021-01-09 08:58] IBanda commented on #704
@leogoesger  did you ever figure that issue out?
Please have a look at this [Codesandbox ](https://codesandbox.io/s/brave-banach-mx1zn) if that's the similar behavior you were referring to.

[2021-01-11 13:02] Andrey-Mayanov opened #988 "Tooltip in full screen mode"
Hello. Please tell me what the problem may be: I use https://material-ui.com/api/tooltip/ for map markers, when I make the map full screen, the tooltips are not displayed. I tried different versions of the z-index property, but it doesn't help. In the Elements tab, I can see the tooltip, but it's always behind the map. Thanks!

[2021-01-11 13:08] IBanda commented on #988
@Andrey-Mayanov Please provide a Codesandbox or any of your liking. It will make it easier to help you.

[2021-01-11 13:33] Andrey-Mayanov commented on #988
Map component:
[code]

MapMarker:
[code]

Tooltip is a component of material-UI.

[2021-01-11 14:03] SueCheng commented on #938
I have the same issue with you, @mathavan161293

[2021-01-12 04:29] joepardi opened #989 "Changing markers displayed on the map"
In the sample code below, I am trying to display / hide various markers by clicking a button in my React page. The first marker displays fine but I can't get it to display markers two and three. The expected result is that each marker is displayed in sequence. I don't think I have the component state right so would appreciate any help. Note that I am only using **onGoogleApiLoaded** so I can add I

[2021-01-12 04:55] IBanda commented on #989
The map loads just once that's why you only ever get the one marker, I would advise you use your own custom components as markers, and if you insist on using the inbuilt info box you could use the onChildClick function and the useRef hook to set that up. Otherwise take a look at this [Codesandbox](https://codesandbox.io/s/brave-banach-mx1zn) I set up

[2021-01-12 05:02] joepardi commented on #989
Thanks Ian, that makes much better sense and is a much cleaner way to structure the code.  I should be able to achieve what I want.

Thanks a ton for a great component and the quick support.

[2021-01-12 05:02] #989 closed

[2021-01-12 07:28] IBanda commented on #988
When google maps enters full screen mode it only shows what's contained between these tags <GoogleMapReact></GoogleMapReact>, Hence why markers are visible, but the problem is the tooltip is added outside of the google maps component by the Material-ui library.( I believe they do this to help with positioning the tooltip on the page).
For it to work you need find a way to have the tooltip be withi

[2021-01-12 07:36] Andrey-Mayanov commented on #988
Oh, that's a very useful description of behavior! Thank you very much!

[2021-01-12 07:36] #988 closed

[2021-01-12 10:26] IBanda commented on #988
@Andrey-Mayanov , I managed to hack up something that might be of assistance to you check it out and see what you can do with it. here's the link to the [Codesandbox](https://codesandbox.io/s/google-map-react-with-infobox-visible-onfullscreen-405s5)

[2021-01-12 10:34] Andrey-Mayanov commented on #988
@IBanda, Yes, I have already written a custom element, huge thanks for your help!=)

[2021-01-12 18:13] eminaydin opened #990 "Marker location changes on zoom out"
I have the same problem with many others that marker changes its place when its zoomed out. I know that its in documentation and already had plenty of research in issues that suggests following way around on outer div : ``transform:(translate -50%,-50%); position: absolute;``

While I find it almost impossible to understand what this css styles helps for current problem, it produces another proble

[2021-01-13 09:23] pcnascimento opened #991 "The map is breaking with ad blockers"
**Describe the bug 🐛**

Some users of my application report that if they use one ad blocker (like Disconnect), the ga it's not created and the map breaks.

**To Reproduce 🔍**

Steps to reproduce the behavior:

1. install this ad blocker (https://chrome.google.com/webstore/detail/disconnect/jeoacafpbcihiomhlakheieifhpjdfeo?hl=en)
2. Go to your application that use this library
3. Click to see the m

[2021-01-14 14:34] eminaydin commented on #990
I have figured out the problem on my own. Therefore wanted to share it here so that others don't waste too much time to figure out the problem. In my situation the problem was that I was using svg as a react component so doing ``<IconMaps  style={{transform: (translate -50%,-100%)}} />`` didn't work. If you give this styles to svg itself than the problem is solved. Hope it helps others.

[2021-01-14 14:34] #990 closed

[2021-01-15 05:15] apple77y opened #992 "Can I set channel option when generating googleMapReact?"
**Is your feature request related to a problem? Please describe 🙏**

https://developers.google.com/maps/premium/reports/usage-reports#channels
I want to use this option when I get the google map object.

**Describe the solution you'd like 🤔**

[code]

**Describe alternatives you've considered ✨**

I guess there is no alternative way.

[2021-01-19 03:24] zzehli opened #993 "Change markers after initial loading"
I want to be able to add more markers or change a new set of marker after i trigger an event on the page.

In my project, I want to be able to toggle away the fire markers when I click the `fire` button. And click `storm` to make snow locations appear/disappear in a similar way.
![Screenshot 2021-01-18 211548](https://user-images.githubusercontent.com/62496205/104983462-707a4e80-59d2-11eb-9372-2b6

[2021-01-19 07:42] IBanda commented on #993
use state to hold the markers, then just update the state according to what you intend to display.

[2021-01-19 18:39] zzehli commented on #993
I think for it to function, you need to hold the markers in a div inside the `<GoogleMapReact>` and toggle the div away with onClick. But that is not allowed inside the `<GoogleMapReact>`

[code]

[2021-01-19 18:46] IBanda commented on #993
why do you want the div to have the onClick method?

[2021-01-20 05:48] zzehli commented on #993
I changed the `marker`s to a function and change the parameter with onClick elsewhere, but it does not trigger a re-render.

[2021-01-21 03:19] zzehli commented on #993
@IBanda could you be more specific how I can do it? Now I have the following code. I want to press the buttons on the top left of the screen to toggle different markers. To render different markers, I will pass different parameter to the `marker(idx)` function. But I am having trouble figuring out how to set up the hooks/if it is possible.

Basically I want to press
[code]

[2021-01-21 04:46] IBanda commented on #993
Hey have a look at this [sandbox ](https://codesandbox.io/s/romantic-leakey-pr6gl)

[2021-01-21 06:12] #993 closed

[2021-01-25 17:25] #991 closed

[2021-01-25 17:26] itsmichaeldiego commented on #991
This problem is not related to the library itself! I am guessing its a problem between this ad blocker and google maps api itself.

[2021-01-26 09:54] pcnascimento commented on #991
Sorry, but I disagree. This library is responsible for loading the google script, right? So, makes sense the solution should be on your side. But thanks, I will try find a solution.

[2021-01-27 10:54] Sanaullahbugti commented on #411
@itsmichaeldiego  I am getting the same issue. Even I am passing nothing to map but still it rendering points

[2021-01-29 06:02] shafrazlk commented on #982
@mesh-newbie Did you find a solution for this?

[2021-01-29 07:02] mesh-newbie commented on #982
Unfortunately no @shafrazlk

[2021-02-01 22:48] SomervilleTom opened #995 "Version 2.1.9 (?) reports broken dependency on react@^16.0,0"
**Describe the bug 🐛**

When I use npm (v6.14.11) to install `google-map-react`, it attempts to install v2.1.9.  A subsequent `npm list --depth=0` reports:
[code]
When I use yarn (v1.22.5), I get the following during the yarn install:
[code]
According the package's `package.json`, I've installed `react@17.0.1` and `react-dom@17.0.1`.

I'm new enough to all this that I'm also confused by the differ

[2021-02-03 15:49] jshikanova commented on #836
Hello, is there any proper solution to fix this issue? Roboto is my default font and google-map-react inserting it into head breaks font-weight of material-ui Typography components for some reason
Thanks in advance

[2021-02-04 20:32] samuelcastro commented on #851
Hey @karldanninger thanks for sharing that. Now that I see your reply (almost a year late lol).

I've been using the google geocoder js directly to do that: https://developers.google.com/maps/documentation/javascript/geocoding

[2021-02-05 08:11] tanner-schmutte commented on #704
@IBanda this link was super helpful thank you.. although the InfoBox does not display when the map is expanded to full screen, any idea why?

[2021-02-05 08:39] IBanda commented on #704
@tanner-schmutte When google maps is in full screen it only shows the children to the Map component. however the react laag appends a layer(div) which is used to calculate the positioning at the end of the document. so as a workaround I decided to add a custom layer in the map component  when it loads, that way it works both ways. you can have a look at this [Codesandbox](https://codesandbox.io/s/

[2021-02-05 09:46] tanner-schmutte commented on #704
@IBanda hmm that is tricky for sure. I tried using your code and it works great for the expanded map, but unfortunately, when the map is not full screen the InfoBox is displaying like 200px below where it was before

[2021-02-05 09:52] IBanda commented on #704
@tanner-schmutte That's strange I would have to take a look to know for sure what's causing that

[2021-02-05 09:57] tanner-schmutte commented on #704
@IBanda yea it's odd.. I think the only thing I have different from your code was onMouseOver and onMouseLeave instead of onClick

thanks for the responses btw.. I'm about to crash

[2021-02-05 10:00] IBanda commented on #704
@tanner-schmutte Initially used those as well I just changed to onClick before sharing it with you. Let me know when you fix it.

[2021-02-05 10:02] tanner-schmutte commented on #704
@IBanda will do

[2021-02-05 21:02] cindylouwhovian opened #996 "trigger redraw through GoogleMapApiInternals"
New to both React and google-map-react. I am tryin to load geojson through a button click.  I dunno if this is a feature or bug request??  The idea is that clicking the button should load the geojson.   I have tried a lot of things but below is the simplified version which I thought might work.  Is this possible?

                                          import React from "react";

[2021-02-08 14:08] IBanda commented on #996
Hi @cindylouwhovian
I did created a [Codesandbox](https://codesandbox.io/s/affectionate-field-lhowx) you can take a look at.
Also take a look at these two react hooks [useEffect](https://reactjs.org/docs/hooks-reference.html#useeffect) and [useRef](https://reactjs.org/docs/hooks-reference.html#useref) if you're not familiar with them.
Since you used a checkbox I assumed you want to toggle the GeoJ

[2021-02-09 12:52] egisz commented on #974
I disagree, in my case I use standalone search box for places in main page header, but in other sub pages I also use map.
So I want only load search box once page opens, but later on also map.
Is there an example for that?

[2021-02-09 12:57] marnixhoh commented on #974
@egisz Exactly! that is my use case too! I have created a work around where I check manually if the Google API has loaded already. For my particular use case, this came out pretty hacky...

Would be great if it would be possible to grab the Google API from the google-map-react import, in such a way that when the map is displayed later on, it doesn't get requested twice and vice versa

[2021-02-09 13:25] egisz commented on #974
Hi, I disagree, in my case I use search box for places in page header, but in other sub pages I also use map.
So I want only load search box once page opens, but later on also map.
Is there an example for that?

[2021-02-09 13:27] egisz commented on #974
I just found possible solution in this discussion #303, More specifically, this [comment](https://github.com/google-map-react/google-map-react/issues/303#issuecomment-305637815)
Will try to test it

[2021-02-09 13:40] marnixhoh commented on #974
Thanks for sharing that. My solution seems to work for now. But by quickly glancing at #303 it seems to offer a better solution

[2021-02-09 19:05] dionkas opened #997 "Map markers are wiggling slightly whilst moving the map (dragging the map)"
Hey, I have the following marker:
Using semantic-ui for icons.

[code]

and the following css applied to the class "map-marker"

[code]

Using the above css i solve the problem of markers moving whilst zooming out. But they are wiggling, moving slightly just a bit like by 1mm each time I drag the map to move it in any direction.

Where us in this [example](https://google-map-react.github.io/google

[2021-02-09 19:08] #997 closed

[2021-02-09 19:08] dionkas opened #998 "Map markers wiggling around whilst moving map"
Hey, I have the following marker:
Using semantic-ui for icons.

[code]

and the following css applied to the class "map-marker"

[code]

Using the above css i solve the problem of markers moving whilst zooming out. But they are wiggling, moving slightly just a bit like by 1mm each time I drag the map to move it in any direction.

Where us in this [example](https://google-map-react.github.io/google

[2021-02-09 19:36] karldanninger commented on #998
I've seen this issue pop in the last couple of weeks. I don't believe this issue originates with this library, but Google's Javascript API somehow. I'll be on the lookout for a solution to this as well.

[2021-02-09 19:38] dionkas commented on #998
Thank you! The behaviour should be what your example is doing at: https://google-map-react.github.io/google-map-react-examples/?path=/story/main-examples--base

[2021-02-10 14:39] karldanninger commented on #998
Eek! I'm silly. I should've known this! @dionkas can you confirm your browsers zoom level is set to default/100% ?

[2021-02-10 14:50] dionkas commented on #998
@karldanninger Yes it is! But the map is inside a container on my page. (not 100% width and height)

[2021-02-10 21:25] andreabrss commented on #937
@SantosOMartinez  I'm having the same issue with the polygons...cant toggle them to be visible/hidden. Interenstingly the first 2 toggle works - visible - hidden - visible again but then geodesicPolyline becomes undefined.

I'm new to google maps so any help would be greatly appreciated.

`  const toggleChecked = () => {
      if(checked){
      geodesicPolyline?.setMap(null);
    }
      else {

[2021-02-10 21:52] SantosOMartinez commented on #937
@andreabrss So basically how I managed to solve this issue was using the onGoogleApiLoaded property of the google map React component. There I made the two inputs map and maps go to a function I created called handleMapLoad.

Which I stored in a different file.

So it would look something like this:
[code]

Then in this new file I declared two variables to hold these values and then made the funct

[2021-02-10 23:42] dowrow commented on #959
@deguilardi I believe @parthpatelsolulab clearly referred to your repo, which didn't solve the issue at hand.

[2021-02-10 23:49] deguilardi commented on #959
Well, it works with me. Tested on ipad, raspberry pi,l and android.

To make it work in a computer, you must activate the device simulation
mode, as tap events aren't triggered by a mouse.

On Wed, Feb 10, 2021, 6:42 PM Diego Castaño <notifications@github.com>
wrote:

[2021-02-11 00:03] dowrow commented on #18
Hey @Busin731 looks like you are using a functional component, so the this. keyword is not needed here.
Anyways, looks like onClick is not triggered on touch devices.

[2021-02-11 12:16] andreabrss commented on #937
@SantosOMartinez thanks for the swift help, my problem was that I have always created a new polygon object, it works now, thank you!

[2021-02-12 09:32] scottkatzelnick commented on #6
Is this working in the Curren release. I cannot get it working

`function createMapOptions(maps) {
  return {
    styles: mapStyles,
    zoomControl: true,
    ZoomControlOptions: {
      position: maps.ControlPosition.TOP_LEFT,
      style: maps.ZoomControlStyle.SMALL,
    },
    mapTypeControl: false,
    streetViewControl: false,
    rotateControl: false,
    scaleControl: false,
    fullscreen

[2021-02-12 09:51] scottkatzelnick opened #999 "ZoomControlOptions not working"
**Describe the bug 🐛**

Is this working in the Curren release? I cannot get it working:

<pre><code>function createMapOptions(maps) {
  return {
    styles: mapStyles,
    zoomControl: true,
    ZoomControlOptions: {
      position: maps.ControlPosition.TOP_LEFT,
      style: maps.ZoomControlStyle.SMALL,
    },
    mapTypeControl: false,
    streetViewControl: false,
    rotateControl: false,

[2021-02-12 13:56] willemodendaal commented on #966
This looks good in v2.1.9. At first I thought it did not work, but then realized my externally-loaded gmaps script had not finished initializing by the time I rendered GoogleMapReact, in which case GoogleMapReact rendered its own script tag and I got the error again.
Solved by making sure I don't try to load GoogleMapReact until my other google map script had finished loading.

[2021-02-13 07:15] IBanda commented on #999
@scottkatzelnick use zoomControlOptions (lowercase 'z')

[2021-02-13 10:22] scottkatzelnick commented on #999
Thank you @IBanda

[2021-02-14 13:10] shanejones commented on #982
Create a Map component and pass props into it to customise the map, then use that component in multiple places.

I've just got this working fine with 3 maps on the same page.

[2021-02-16 11:21] dowrow commented on #959
Sorry @deguilardi, to be clear, I didn't manage to make your code work.
I replaced my dependency by the index of your project and it didn't load the Google library properly, so I don't know if this really fixes the issue or not. That being said, I don't see why you wouldn't want to transform this into a legit PR, that would at least enforce interface compliance.

[2021-02-17 11:07] lukas-alliado commented on #303
sorry for the late reply.

I updated my snippet with a more detailed explanation for future references:
The code make the Maps API available globally on ´window.google.maps´

[2021-02-17 14:16] dennisat commented on #879
I have the same issue, not easy to make a codesandbox.

[2021-02-18 06:00] harshamv opened #1000 "Anyway to create Custom Control on the Map?"
Is there any way to add a custom control on the map using this package?

[2021-02-19 06:29] cindylouwhovian commented on #585
how do you change map type through say a button click?

<form>
   <select onChange={this.handleMapTypeChange}>
      <option value={0}>Terrain</option>
       <option value={1}>Satellite</option>
    </select>
</form>

is the following needed??
onMapTypeIdChange={this.handleMapTypeChange}

and what would handleMapTypeChange look like??

[2021-02-19 17:03] naazim opened #1001 "Custom error message when google map fails to load"
Firstly, thank you for the great efforts in the library, this has immensly helped my team in our project.

We have a requirement to show a custom error message, when google map fails to load. (bad network, invalid license key etc). We tried checking if the google map url loads successfully and intercept the error messages. However that throws a console warning regarding multiple google map url req

[2021-02-19 17:10] naazim commented on #1000
You can add a custom Component as child to GoogleMapReact.
[code]

Another way is absolutely positioning the custom component, if you don't want to position on the map based on coordinates (like a custom fullscreen button)

[code]

You can extract the map & maps object from `onGoogleApiLoaded` and add functionalities to your custom control

[2021-02-23 10:25] #999 closed

[2021-02-24 18:05] naazim commented on #460
Here's a working functional component for SearchBox:

[code]

[2021-02-25 13:43] sujanmah062 commented on #227
Hello team

I got the same issue, could be help on how to load kmz and kml in using this.

[2021-02-25 13:46] Creammestt commented on #227
I will try to use once, I just find a problem to solve.

On Thu, 25 Feb 2564 BE at 8:44 PM sujan maharjan <notifications@github.com>
wrote:

[2021-02-26 02:46] ism0080 opened #1002 "Is it possible to access the geometry library?"
I am trying to create a driver tracking application where the Marker(driver) would move on the map with different geo locations every 5secs. I would like to use `google.maps.geometry.spherical.computeDistanceBetween` to calculate the distance between two geo locations so that i could try and smooth the transitions between each location

Is it possible to access this library?

[2021-02-26 11:00] spyshower commented on #473
@mengqing yea wanted to ask the same thing..

[2021-02-26 14:29] spyshower opened #1003 "Is there a way to animate to specific coordinates?"
Is there a way to animate to specific coordinates?

[2021-02-26 15:07] spaquis opened #1004 "Add the ability to set map_ids in url"
Hey,
I tried to pass a map_ids like below but it doesn't seem to work.

[code]
I checked the network and i didn't find the parameter "map_ids" on the google of map.google-apis. Can you add the managment of this param ?
Thanks in advance

[2021-02-26 16:11] IBanda commented on #1002
Yes it's possible to access the library, provided you add the 'geometry' library to the libraries array passed in the bootstrapURLKeys object.
The when google maps loads, you will be able to access it in the onGoogleApiLoaded callback, like this
`const onMapLoaded=({map,maps})=>{
maps.geometry.spherical.computeDistanceBetween
}`

I hope this helps

[2021-02-26 16:40] IBanda commented on #1004
use 'mapIds' which is an array.

[2021-02-26 17:25] IBanda commented on #992
@apple77y Did you figure this out?

[2021-02-26 18:39] spaquis commented on #1004
Thanks for your help

[2021-02-26 18:39] #1004 closed

[2021-02-28 23:01] ism0080 commented on #1002
@IBanda so that gets called once when the map is loaded and the API can't be accessed again unless the map is reloaded? I would ideally like to call the API when my marker lat/lng changes

[2021-03-01 01:41] IBanda commented on #1002
@ism0080 store the maps object in a ref ;
[code]
That way you can access it later
If you’re not familiar with the useRef hook, you can take a look [here](https://reactjs.org/docs/hooks-reference.html#useref)

[2021-03-01 03:26] ism0080 commented on #1002
Cheers, that's exactly what i need

[2021-03-01 03:26] #1002 closed

[2021-03-02 21:20] Eguzkiman commented on #1001
Can confirm `onGoogleApiLoaded` does get called even when google maps fails to load.

We made a minimal repro example here:  https://google-map-react-bug-repro.vercel.app/

[2021-03-03 22:22] blaiz commented on #718
I'm having the exact same issue and it's breaking some of our logic because `271` is not a valid longitude.

It doesn't work for me on the same website:
![Screen Shot 2021-03-03 at 2 18 08 PM](https://user-images.githubusercontent.com/1617767/109880099-5c5d7a00-7c2b-11eb-822a-25765455d63a.png)
![Screen Shot 2021-03-03 at 2 18 13 PM](https://user-images.githubusercontent.com/1617767/109880104-5d8ea

[2021-03-04 09:34] KirillioClockwork opened #1005 "How to get the Map when you go to the page?"
I using Next.js and I can't see Map when I move to the page via Link
But when I move to the page and then restart the page I see the Map
What is the problem?

My render function:
[code]

[2021-03-04 14:56] naazim opened #1006 "export map & maps objects from 'google-map-react'"
Once again, thanks a lot for the amazing efforts and helping the community.

We've been using this library in our project for more than a year. Since we have more than 10000 cpois. we paint the markers externally using map & maps objects, and assign them the events. (Since adding these markers as react components slows down the performance for large amount of markers).

And the main problem, to ha

[2021-03-05 17:47] IBanda commented on #1005
@KirillioClockwork could you provide a codesandbox, that will give more context. The code snippet you provided doesn't give much information.

[2021-03-07 00:00] Qrtn commented on #1006
+1 on this. I'm trying to use `google-map-react` with `use-places-autocomplete`. `use-places-autocomplete` takes a Google Maps object. It makes sense for this library to do that as well, so we can choose to load the API in whichever way we'd like.

[2021-03-07 20:29] fire-cracker commented on #411
@Sanaullahbugti I am having the same issues. Have you been able to resolve this?

[2021-03-10 11:06] stevendornan opened #1007 "Can only drag map marker from its bottom and not anywhere else"
I have implemented a map with the google-map-react library. The problem is you can only drag the map marker from its bottom and not anywhere else. Therefore it's unclear to the user where inside the marker they can drag.

Stackoveflow post I created -> [https://stackoverflow.com/questions/66562714/can-only-drag-map-marker-from-the-bottom-and-not-anywhere-else-inside-it](url)

Sandbox of the map ->

[2021-03-10 14:56] Ahmed-Gebril opened #1008 "Is there a feature for right mouse click?"
right now an event can be fired using "Onclick" if clicked using left mouse button.
I need to fire an event based on right mouse click instead.

[2021-03-11 02:20] buzztnt opened #1009 "Cannot read property 'poly' of undefined"
I'm getting the error 'Cannot read property 'poly' of undefined' on first load of my component

If I perform the following inside my handleApiLoaded function I get the error.

[code]
Is there any way I can load the API in componentDidMount ?

[2021-03-11 02:46] #1009 closed

[2021-03-11 23:12] #1007 closed

[2021-03-12 20:25] kamrankhanwastaken commented on #995
Will there be an update on this by any chance? I cannot revert to an older version of react and react-dom because of conflicts with another module dependency so wondering where to go from here. :(

[2021-03-12 20:37] SomervilleTom commented on #995
I gave up on this package in favor of `@react-google-maps/api`. While having its own issues, especially with documentation, I've had no particular problem using current versions of React.

I've had the most success by installing using yarn: `yarn add @react-google-maps/api`. As in all things with `npm` and `react`, your mileage may vary.

[2021-03-19 16:58] gokhandemirhan commented on #1008
You need to use `onGoogleApiLoaded` function and Google Map rightClick event listener to the element you want (marker, polygon etc)

[2021-03-19 17:00] gokhandemirhan commented on #1006
Set a state in apiLoaded function and pass the map to the autocomplete such as
[code]

[2021-03-20 10:30] LaKriim opened #1010 "Ability to translate notes of the markers to other language"
**Is your feature request related to a problem? Please describe 🙏**

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like 🤔**

A clear and concise description of what you want to happen.

**Describe alternatives you've considered ✨**

A clear and concise description of any alternative solutions or features you've considere

[2021-03-20 10:30] #1010 closed

[2021-03-20 10:32] LaKriim opened #1011 "translate"
**Is your feature request related to a problem? Please describe 🙏**
I cant understand notes realted to the reacts of some countries
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like 🤔**
ability to translate them to understand what is written
A clear and concise description of what you want to happen.

**Describe alterna

[2021-03-23 05:08] GoreStarry commented on #1004
[code]

[2021-03-23 05:13] GoreStarry commented on #1004
For someone who wants to use Cloud-based maps styling by Map ID directly.

[code]

[2021-03-23 18:02] dipanjanpanja6 opened #1012 "Peer Dependency needs to be updated for React 17"
**Is your feature request related to a problem? Please describe 🙏**

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like 🤔**

A clear and concise description of what you want to happen.

**Describe alternatives you've considered ✨**

A clear and concise description of any alternative solutions or features you've considere

[2021-03-23 19:59] #1011 closed

[2021-03-24 05:21] Harrrrry opened #1013 "defaultCenter is not updating"
Hello,

I am trying to update the defaultCenter values but its not updating and showing the initial set values only.

`  const [defaultlatitude, setDefaultLatitude] = useState(25.2048);
  const [defaultlongitude, setDefaultLongitude] = useState(55.234);`

By useffect i set the below value
 ` setDefaultLatitude(stateObj.latitude);
  setDefaultLongitude(stateObj.longitude);`

Google code
`<GoogleMap

[2021-03-24 05:26] IBanda commented on #1013
Hey
You're not supposed to change the defaultCenter, use center instead.

[2021-03-25 18:32] bmalbusca opened #1014 "Unable to render google.maps.infoWindow on Map"
I'm trying to add a popup info Windows to the Polylines. I'm using the how is explain on google maps API but, doesn't renders on map. So when I click on the polyline, the event is detectable and after doing infoWindow.open(map, Polyline) nothing appears.

[code]

[2021-03-25 18:55] bmalbusca commented on #1014
The bug was in my code not in the Library. In this case, was the  `infowindow.setPosition(Polyline.latLng);` being undefined

[2021-03-25 18:55] #1014 closed

[2021-03-27 07:56] MohaElder opened #1015 "[Help Needed] Warning: React does not recognize the `$X` prop on a DOM element"
Greetings!
I am receiving this several 'Warning: React does not recognize the `$getDimensions` prop on a DOM element.' when I'm trying to put constants/functions inside <GoogleMap />
`
const defaultMarkers = defaultItems.map((item) => (
        <div
            key={item.name}
            lat={college.lat}
            lng={college.lon}
            onClick={() => onSelect(item)}

            {item.

[2021-03-29 12:45] marnixhoh opened #1016 "Warning: Google Maps already loaded outside @googlemaps/js-api-loader."
**Describe the bug 🐛**

I use `@googlemaps/js-api-loader` explicitly on a page where `google-map-react` is not used. However, when I navigate between this page and one that does use `google-map-react` (or vice-versa) I get the following warning:

`Google Maps already loaded outside @googlemaps/js-api-loader. This may result in undesirable behavior as options and script parameters may not match.`

[2021-03-30 12:44] c0d3rvik commented on #998
I am also having same problem. when I render markers and move map markers seems to double

[2021-03-31 14:30] mariosarbinov opened #1018 "Image as marker is not shown"
**Describe the bug 🐛**

The image in the component for the marker is not shown.

**To Reproduce 🔍**

Steps to reproduce the behavior:

`const AnyReactComponent = () => </escape tag/div></escape tag/img src="/src/images/marker.png" alt="marker"/></div>;

<GoogleMapReact
                    ...

                    <AnyReactComponent
                        lat={44.672}
                        lng={

[2021-03-31 18:32] Markj89 opened #1019 "Markers not showing on Map"
I'm having some difficulty adding Markers to the Map. Am I doing something wrong? I am loading in json data to show once the page loads. However, the Map is only rendering.

[code]

[2021-04-01 17:19] akshayp660 commented on #1019
does the loading of the marker has to do anything with "enable billing" in google cloud? I am currently able to see for development purpose only on the map but not able to load marker.

[2021-04-01 19:17] zainr-dev opened #1020 "Polygon Not Updating When Coordinate Props Change"
Hey there!

I have a component that renders a map with polygons. In my apiLoad function - I call the new maps.Polygon method as so:

new maps.Polygon({
paths: props.polyCoordinates
})

When the coordinates are updated, the map does not redraw the polygon. Only way for the changes to reflect are when I refresh the page. The coordinates are updated in real time when I check the console - however, th

[2021-04-01 22:24] Markj89 commented on #1019
I'm not sure. I tested it by adding one marker and it worked but not multiple which was odd.

[2021-04-02 01:44] Markj89 commented on #1019
I guess it doesn't take nested components well?

It works after I changed the syntax a bit.

I also changed the Marker component props from just regular lat and lng props to an object

[code]

[2021-04-02 01:44] Markj89 commented on #1019
I guess it doesn't take nested components well?

It works after I changed the syntax a bit.

I also changed the Marker component props from just regular lat and lng props to an object

[code]

[2021-04-02 01:44] #1019 closed

[2021-04-03 08:19] apple77y commented on #992
@IBanda You can solve this like below.

[code]

[2021-04-03 08:19] #992 closed

[2021-04-06 01:59] MychaelZ commented on #892
This makes it difficult to write modular code. For instance,

[code]

Must be written as:
[code]

Obviously this is a simple example but as a map because more complex this makes it difficult to maintain.

[2021-04-08 20:18] NCharby opened #1021 "maps.LatLngBounds() returns object with incorrect keys"
**Describe the bug 🐛**

Hey folks,
I'm attempting to load a map then set a new center based on a collection of locations.

I'm seeing that `maps.LatLngBounds()` is not returning the expected object.
[code]

Any tips on how to get bounds from a data set in the way that `fitBounds` expects?

**To Reproduce 🔍**

Steps to reproduce the behavior:

[code]

**Expected behavior 💭**

`maps.LatLngBounds()`

[2021-04-08 20:22] NCharby commented on #1021
Closing because I suddenly learned to read

[2021-04-08 20:22] #1021 closed

[2021-04-10 15:06] Manikanta-20 opened #1022 "Update examples"
Update examples to functional component (react hooks)

[2021-04-16 00:33] Isaacmeedinaa opened #1023 "Multiple Markers?"

[2021-04-21 19:29] countzyx commented on #995
This seems to work ok -

`npm i google-map-react --legacy-peer-deps`

[2021-04-22 11:27] illing2005 commented on #502
@bertya , I'm having the same issue.
Did you find a solution?

[2021-04-24 13:06] simplenotezy commented on #839
@anthonyvespoli Unfortunately this does not seem to work in the latest version.

[2021-04-24 13:11] simplenotezy commented on #1013
@IBanda , I am trying to update the `center` value using setState, however, when I call setCenter with some new lat/lng value, nothing happens.

[code]

Am I doing something wrong?

[2021-04-24 13:17] simplenotezy commented on #913
@Tsangares Not sure exactly why what you did would work, I tried the exact same thing, and it didn't help creating an additional reference.

[2021-04-24 13:30] IBanda commented on #1013
@simplenotezy That's strange, please take a look at this [Codesandbox](https://codesandbox.io/s/update-center-xdq4z) . Just incase you missed something

[2021-04-24 19:43] dvdbrk opened #1024 "Map ID not working"
I am trying to use Cloud Styles and I have tried the following:

[code]

And I always get same or similar TypeScript error:

[code]

How to use mapID again in latest 2.1.9 version?

[2021-04-25 11:00] simplenotezy commented on #1013
@IBanda Here is an example from your provided link. It works the first time, but not the second. Not sure if this is related to my issue though, perhaps because the center I try to change to, is also the initial center.

![center not working](https://user-images.githubusercontent.com/3786627/115990891-0c18ed80-a5c6-11eb-9c60-3194e0d6046f.gif)

[2021-04-25 11:23] IBanda commented on #1013
@simplenotezy. I see, for that to work it means you need to keep the map's internal center in sync with the state center. In that case use the onChange prop on the map, it takes a function which is passed an object that contains the new center. I've updated the example I provided to match your case.

[2021-04-25 12:03] IBanda commented on #1024
Hi try to use an intersection type to extend the BootstrapURLKeys type, something like this;
[code]
Then pass the keys object as your bootstrapURLKeys prop.
Hope that fixes it

[2021-04-26 08:55] #1024 closed

[2021-04-26 10:16] bezblue commented on #460
'google' is not defined
how?

[2021-04-27 13:38] simplenotezy commented on #1013
@IBanda That's great. That resolved it 😊

[2021-04-28 08:28] CYchenyan opened #1025 "IIFE package conflicts"
I have two iife package depend on the google-map-react now, I used the both two packages on the same web page, there are conflict errors in console, the errors is :
![image](https://user-images.githubusercontent.com/13826103/116371870-75a33100-a83e-11eb-837a-9d3e05e9e305.png)
I think this error is caused by reloading map resources.
How could I solve this error, please ？

[2021-04-28 20:21] #1013 closed

[2021-05-04 12:15] dsgriffin commented on #1012
any update on this?

[2021-05-05 08:16] badazz91 commented on #984
@VietQuoc356 you need to wrap your custom HTML for your marker(s) into a component - That will solve it. See here: https://github.com/google-map-react/google-map-react/issues/583

[2021-05-05 11:18] karlkaspar commented on #1016
Also having this issue

[2021-05-05 13:15] alikucukavci opened #1026 "OnClick do not re-render the map"
Hi,

I am trying to run google-map-react in my application.
The idea is when I open the page with google maps it should show me a heatmap with all the data. Then I have a dropdown list where I can pick data based on the weekday. So for example if I pick monday the google map should rerender the map and show me only data for mondays. The map is rendered correctly at the beginning but when I click t

[2021-05-05 15:13] IBanda commented on #1026
@alikucukavci. You're using a different package from this one **google-map-react**, the repo you're looking for is [google-maps-react](https://github.com/fullstackreact/google-maps-react)

[2021-05-06 12:08] hariananthan commented on #1023
Refer to the answer below
[https://stackoverflow.com/questions/43859785/how-do-i-display-multiple-markers-with-react-google-maps](url)

[2021-05-06 13:41] alikucukavci commented on #1026
Amazing how similar the names are. Thanks for the respons.

[2021-05-06 13:41] #1026 closed

[2021-05-07 02:57] Jbaker8390 commented on #1012
Same, looking for an update on this.

[2021-05-07 19:50] #984 closed

[2021-05-07 21:02] Neuromancer93 commented on #836
I too am having this issue. Is there a verified solution for React?

[2021-05-11 15:28] bmalbusca opened #1030 "Hover prop starts to have a position offset after setting z-Index to Map."
The idea is overlapping some buttons on top of the map, the concept works, but it seems that hover algorithm is affected. Any idea why this is happening?

[code]

**Screenshots 🖥**

![ezgif com-gif-maker](https://user-images.githubusercontent.com/21010857/117841698-28c74d80-b275-11eb-9fb4-85c6fee4cad6.gif)

**Environment:**

 - OS:  mac
 - Browser chrome, safari

[2021-05-13 01:24] ReactAndNode opened #1031 "Map not showing any google provided markers."
What I see:
![Screen Shot 2021-05-12 at 9 22 11 PM](https://user-images.githubusercontent.com/30379713/118063965-1ed24700-b368-11eb-95c9-8ea63763e2f2.png)

No recommendation or any places on the map.

What I see on the examples:
![Screen Shot 2021-05-12 at 9 23 01 PM](https://user-images.githubusercontent.com/30379713/118064027-3d384280-b368-11eb-8734-203d819b9e04.png)

It shows you stores and pla

[2021-05-13 14:32] robertowiest opened #1033 "Create Polygons"
Hello, I'm looking for examples using Polygons, I need to draw a polygon on the map and from there to get its area.

Any suggestion?

[2021-05-14 10:48] #1033 closed

[2021-05-14 10:49] robertowiest commented on #1033
Is not necessary

[2021-05-14 10:50] robertowiest opened #1034 "Get Area Polygon"
Hello, I work on a project focused on farm management. And my task is, from a certain location, to draw and obtain the size of an area and in addition to mark that common marker area.

Using google-map-react I managed to develop it in parts. At the moment I am having difficulty getting the size of an area marked with a polygon and marking it with a marker.

I have the following code:

[code]

[cod

[2021-05-18 13:46] camro commented on #998
Have you tried `transform: translate(-50%, -50%);`?

[2021-05-20 18:23] ydrea opened #1035 "map not displaying"
hi!
I have been unable to get the map to display. The code is:
[code]
any help would be great!

[2021-05-20 19:12] ydrea commented on #1035
Solved by using 'lng' instead of 'lon'

[2021-05-20 19:12] #1035 closed

[2021-05-23 19:11] MaRossetti opened #1036 "Map appears broken"
When rendering the map, it appears broken like so:

![image](https://user-images.githubusercontent.com/48370680/119273455-4b5d4d00-bc0b-11eb-951c-d1422264fe72.png)

Here's my code:

`<div style={{ height: '300px', width: '300px' }}>
                    <GoogleMapReact
                        bootstrapURLKeys={{key: 'AIzaSyBpSOv4lvaP5p5r0-G39YNOIwzm3KaH_NE' }}
                        defaultCenter=

[2021-05-23 22:28] #1036 closed

[2021-05-24 10:56] AmirDebbie opened #1037 "Marker disappears when zoomed in and dragging the map"
**Describe the bug 🐛**

When I zoom in all the way (or close to all the way) on a marker, the marker disappears when I drag the map (see gif).
This bug happens only when you zoom in really close to the marker. If you zoom out a bit, the marker looks normal when dragging the map.

**To Reproduce 🔍**

Steps to reproduce the behavior:

![a1e868095d9d3a6f3731f90747124643](https://user-images.githubuse

[2021-05-26 22:00] mtsdalmolin commented on #1034
Hi, @robertowiest .

Following google maps documentation, I could compute the area of a polygon triggering `polygoncomplete` event, reference [here](https://developers.google.com/maps/documentation/javascript/reference/drawing?hl=en#OverlayCompleteEvent).

Try pasting this piece of code after your `drawingManager.setMap(map);`

[code]

This event will compute the area when a polygon is formed.

To

[2021-05-28 15:20] chand1012 opened #1038 "Map crashes with onClick event: "TypeError: e is undefined""
**Describe the bug 🐛**

React app crashes when trying to add item to list of markers.

**To Reproduce 🔍**

Steps to reproduce the behavior:

1. Click on map.
2. Crashes.

**Code**
[code]

[code]

**Expected behavior 💭**

On single click (not drag or double click) there should be a marker placed where the user clicked.

**Screenshots 🖥**

https://user-images.githubusercontent.com/3521582/120005558-

[2021-06-03 13:01] jfarris587 opened #1039 "Google Javascript Warning about styles and mapid both being used"
**Describe the bug 🐛**

Google Maps Javascript API is warning about styles and MapID for cloud styling being used together

**To Reproduce 🔍**

When passing `mapId` via `options` prop, google maps Javascript API complains with the following warning:

[code]

https://codesandbox.io/s/quirky-moser-7ylxu?file=/src/App.js

**Expected behavior 💭**

No warning

**Environment:**

 - OS: Mac
 - Browser Ch

[2021-06-03 16:06] lucksp commented on #1016
watching...we also use `@react-google-maps/api` for the `useLoadScript` feature:
[code]

Are both libs needed?

[2021-06-04 09:03] iepgnahz opened #1040 "Add digital signature"
Hi team, and thanks for this lib, it works very well in our project.
## Describe the Feature  🔍
The current existing API allows us to pass in the API key to authenticate requests associated with our project for usage and billing purposes, that's good.
But there doesn't have any way to pass digital signature. According to google map's document:

[code]
Our project is likely to get a lot of traffic,

[2021-06-05 04:59] DhanushkumarSivaji opened #1041 "Map center position is not updating in rerendering"
Hi, I have shared my code below. Here I am trying to update the map center position after getting a new value from API. I am passing the center value to this component via props. But it's not updating. Please help me with that.

The marker in the map works fine. Only the map center position is not updating.

[code]

[2021-06-05 05:15] #1041 closed

[2021-06-08 11:52] gorkalaucirica commented on #1039
You can disable styles when using `mapId`:

[code]

[2021-06-09 18:52] ergauravgupta opened #1042 "react build issue"
Failed to minify the code from this file:

 	./node_modules/@googlemaps/js-api-loader/dist/index.esm.js:81

[2021-06-12 17:09] achaloza opened #1043 "How to change lat lng on button click at that map is not updated."
Hello

How to change lat lng on button click or use google autocomplete and find address at that map is not updated.
What i to do in case.

Thanks

[2021-06-13 21:13] viniciusueharaweb commented on #1016
Same issue here

[2021-06-15 15:39] guillaume-ion commented on #860
Hi this code example is not working it gives : Uncaught TypeError: this.set is not a function in the console

[2021-06-17 04:24] alpo22 opened #1044 "Upgrading from 1.1.7 to 2"
I see in the v2.0.0 release notes, the `utils` moved... but what about `LatLng` and `LatLngBounds`? How would I update this component:

[code]

Thanks

[2021-06-17 06:56] Nguyenvantu commented on #1031
You need add this options to map's props
`options={{
  styles: [
            {
              featureType: "all",
              elementType: "labels",
              stylers: [
                {
                  visibility:  "on",
                }
              ]
            }
          ]
 }}`

[2021-06-18 18:26] alpo22 commented on #1044
This is how:

[code]

[2021-06-18 18:26] #1044 closed

[2021-06-18 18:34] alpo22 opened #1045 "`onGoogleApiLoaded` not being called"
I have a component to render a map using google-map-react (seen below).

When I put that component in an app that uses CreateReactApp, everything works fine.
When I put that component in an app that does not use CreateReactApp, it does not go into the "handleApiLoaded" function.

No console warnings or errors, either.

[code]

My app has these dependencies, among others:
[code]

Babel config:
[cod

[2021-06-18 19:40] alpo22 commented on #1045
Figured it out. The problem was this line:
`const [center, setCenter] = useState({ lat: null, lng: null });`

This worked fine:
`const [center, setCenter] = useState({ lat: 0, lng: 0 });`

Odd that this wasn't a problem in CreateReactApp.

[2021-06-18 19:40] #1045 closed

[2021-06-18 22:20] thallada commented on #1016
I'm also getting this warning because I'm loading the Google Maps API via a script tag in the header of every page of my application:

[code]

I'm doing this because I also need the API for [react-google-places-autocomplete](https://tintef.github.io/react-google-places-autocomplete/docs/). And, this script tag is one method they suggest for loading the API.

My problem is that I also need to use t

[2021-06-21 08:39] rusakovdenis opened #1046 "The map does not appear when changing props"
When changing currentCoord, the map (gray background) will not appear until you click on the map itself

If you remove the CustomMarker component, then everything works

[code]
if you display the CustomMarker component, then there is a problem, and if you remove the CustomMarker, then when you change Props, the map is replaced

[2021-06-22 06:23] jino-grazitti commented on #954
Hi @itsmichaeldiego,

I am using "google-map-react" in one of the components and the site already has a google map API loaded for other functionalities like autocomplete in some of the components. Now when the "google-map-react" component loads it initiates the google-map-API loader and throws the following warning:

"_Google Maps already loaded outside @googlemaps/js-api-loader.This may result in

[2021-06-22 09:51] rachelSafer commented on #890
Thank you, How can I delete the polygon?

[2021-06-22 10:00] zeekrey commented on #890
It's been a while, but I think this line: `bermudaTriangle.setMap(map);` assignes the polygon to your map object. Assigning it to `null `could do the trick:

[code]

But I didn't test it.

[2021-06-22 10:30] rachelSafer commented on #890
Sorry but it does not work for me.
what can we do?

[2021-06-22 14:47] jpoehnelt commented on #954
This warning comes from @googlemaps/js-api-loader. It may be safe to ignore if the api was loaded correctly the first time.

[2021-06-22 14:54] jpoehnelt commented on #1016
related: https://github.com/googlemaps/js-api-loader/issues/307

[2021-06-23 03:49] #1042 closed

[2021-06-23 03:57] #1012 closed

[2021-06-23 04:09] itsmichaeldiego commented on #1022
Done, thanks for pointing it out!

[2021-06-23 04:09] #1022 closed

[2021-06-23 04:09] itsmichaeldiego commented on #1046
Please provide a live example for these cases!

[2021-06-23 04:09] #1046 closed

[2021-06-23 04:11] itsmichaeldiego commented on #1034
@robertowiest Please let us know if @mtsdalmolin's fix works for you!

[2021-06-23 04:11] #1034 closed

[2021-06-23 04:12] #1031 closed

[2021-06-23 04:15] itsmichaeldiego commented on #1044
Btw you can just do:

[code]

[2021-06-23 04:17] #1043 closed

[2021-06-23 04:17] #1039 closed

[2021-06-24 18:17] itsmichaeldiego commented on #995
Hey folks, this should be ok now, we just released a patch for this.

[2021-06-24 18:17] #995 closed

[2021-06-24 21:59] #996 closed

[2021-06-24 22:02] itsmichaeldiego commented on #991
@pcnascimento So your error is with the google script then? Could you find out more? Let me know and I will take a look

[2021-06-24 22:03] #1023 closed

[2021-06-24 23:57] andres01gc commented on #970
i am getting the same result using the example with nextjs

[2021-06-28 21:01] itsmichaeldiego commented on #1003
What do you mean exactly? We might need more info in order to help you

[2021-06-29 11:29] AndreaEsposit opened #1047 "Routes and polylines in a react-y way"
Hi, and thank you for this package.

I have a little of doubts regarding the way you show routes utilizing this package. How do I draw polylines/routes using "google-map-react" in a react-y way?

It is possible to do so by utilizing these props in the GoogleMapreact component:

[code]

However, I haven't found out a good way on how to make a route a component, is there a way to do it? or should I

[2021-06-30 07:44] iDevTJ commented on #760
I know im too late, but you can set state variable and intiate value as false
`this.state = {dragged: false}`

and then do this steps:
- in onChildMouseDown event update the dragged variable to FALSE using setState
- in onChildMouseMove event update the dragged variable to TRUE using setState
- in onChildMouseUp event check the value of dragged , if TRUE, then don't apply your onClick event, if FA

[2021-07-01 01:00] itsmichaeldiego commented on #760
Thanks @iDevTJ, its appreciated anyways

[2021-07-01 16:54] itsmichaeldiego commented on #1025
Hey @CYchenyan, could you please provide more information and a code example? I am not sure what can be causing this issue, there shouldn't be any problem using two instances of Google Maps.

[2021-07-01 16:54] #1025 closed

[2021-07-01 16:57] itsmichaeldiego commented on #1018
I think your code is not correct, what is `escape tag`? You can check the example in the Readme, try to make it work that way, remember, place a div and inside of it place the image, something like:

[code]

[2021-07-01 16:57] #1018 closed

[2021-07-01 17:00] itsmichaeldiego commented on #959
Yes @deguilardi , please submit a PR, we would love to have this!

[2021-07-06 20:46] #1000 closed

[2021-07-11 12:58] dopt commented on #970
same here, using nextjs, unable to proceed.

[2021-07-12 21:34] karldanninger commented on #1040
Hi @iepgnahz I don't believe signatures are required or are even an option for use with the Google Maps Javascript API, those are specific for the Static API. I hope that helps.

[2021-07-12 21:36] karldanninger commented on #1038
Hey @chand1012 a codesandbox would help a lot to diagnose

[2021-07-12 21:41] karldanninger commented on #1047
Hello @AndreaEsposit!

I'd recommend that you take a look at `DirectionService`

https://developers.google.com/maps/documentation/javascript/directions

Here's a short example that may help

[code]

[2021-07-13 09:18] Uptimist commented on #714
thanks! That works! May be you know how to change the font style?))

[2021-07-13 16:27] #1040 closed

[2021-07-13 16:27] #1047 closed

[2021-07-19 21:30] john1625b opened #1048 "A way to return VisibleRegion.LatLngBounds: The smallest bounding box that includes the visible region."
**Is your feature request related to a problem? Please describe 🙏**

Many people need a way to the bounding box of the current map in order to perform functions like centering

**Describe the solution you'd like 🤔**

A method or property to return the VisibleRegion object within the google maps interface

[2021-07-20 03:20] Pixcell commented on #1015
Linked to this: https://github.com/google-map-react/google-map-react/issues/213

Workaround is to encapsulate your div inside a React Component.
See example below:

[code]
[code]

[2021-07-26 15:47] phamvanhan68 commented on #1016
I got the same issue when using this lib with react-google-places-autocomplete

Here is my workaround to hide the warning but not recommend
   ` useEffect(() => {
      if (typeof google !== 'object') {
        const result = useJsApiLoader({
          googleMapsApiKey: COMMON_CONFIG.googleMapsApiKey,
        });
        setIsMapLoaded(result.isLoaded);
      } else {
        setIsMapLoaded(true);

[2021-07-28 10:47] apeTrackunit commented on #954
Hi @jpoehnelt,

I'm using "google-map-react" in multiple components and we have an option to change the app language that I also use as a parameter in useJsApiLoader. When some user change the language, the app'll crashed because of [these lines](https://github.com/googlemaps/js-api-loader/blob/b0ef634050eabf0db97e26a6735b4d64cde72725/src/index.ts#L288) -> "Loader must not be called again with dif

[2021-07-28 15:24] jpoehnelt commented on #954
Changing the language is not supported and will result in double billing. To avoid that issue, all of window.google should be removed and the loader reset(see https://github.com/googlemaps/js-api-loader/issues/210).

[2021-07-29 07:08] lh15 commented on #836
I added the script from @imollov at the bottom of the body and it worked fine. (Still kind of annoying though)

[2021-08-01 21:49] itsmichaeldiego commented on #1016
@jpoehnelt Could you check on this bug? 🙏

[2021-08-02 01:27] chengen0612 commented on #579
@iamcoreyg Thanks for the reply. Changed the strings to number and solve the problem!

[2021-08-02 14:36] jpoehnelt commented on #1016
I haven't seen anything showing a bug here. It seems that most of these issues except maybe the first comment are all mixing different methods of loading the API, leading to the warning. Perhaps the first comment could be related to how the application is bundled and and not using the singleton??

[2021-08-02 14:39] lucksp commented on #1016
I have resolved it by using a single API now. We migrated all to [react-google-maps-api](https://github.com/JustFly1984/react-google-maps-api)

[2021-08-03 19:02] Sonumaqsood opened #1050 "Google map"
**Is your feature request related to a problem? Please describe 🙏**

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like 🤔**

A clear and concise description of what you want to happen.

**Describe alternatives you've considered ✨**

A clear and concise description of any alternative solutions or features you've considere

[2021-08-04 07:25] mohsentaleb commented on #688
@kpennell In your `LocationsGrid` when you're iterating through `locations` for rendering `LocationCard` you're not giving them `key`s. (with value `location.id` for example, the same thing you did with `<MapMarker />`.
That would massively improve your performance. since react would then re-render only changed elements and keep unchanged intact.

[2021-08-04 13:19] NellyHaglund commented on #1015
By wrapping my markers insida React component I do get the errors to disappear. But then the markers will moving around when I zoom or move around on the map, which was solved with `translate(-50%, -100%)` - but moving it into the component this will stop working. Anyone had the same issue?

[2021-08-05 14:13] #1015 closed

[2021-08-06 08:10] NeliHarbuzava commented on #976
Needed to include `@googlemaps/js-api-loader` for Babel transpilation.

So my code is like this:
[code]

[2021-08-08 23:50] RaphaelSilv commented on #749
where can one find them?

[2021-08-09 00:51] #1050 closed

[2021-08-09 00:54] karldanninger commented on #1037
Hey @AmirDebbie I'm just guessing here as I haven't encountered this issue myself, could you try using something like uuid() for the MapMarker key?

[2021-08-09 00:55] karldanninger commented on #1037
Also, are there animations on that yellow marker? If you could provide a minimal reproduction in a code sandbox, that would help us diagnose the issue.

[2021-08-10 21:00] martha-truesource commented on #350
I'd like something like this as well.

My usecase: when a user interacts with the map, I want to grab the bounds coordinates and add them as query parameters to the URL.

[2021-08-11 09:52] pixelass commented on #970
Bump: Is this issue being tracked?

the origin of this issue is this part of the code:

https://github.com/google-map-react/google-map-react/blob/a783cd62767f824a6eb072e523c8d06ea660c7ee/src/google_map_markers.js#L265-L269

[2021-08-12 00:34] khevamann commented on #1016
I had the same issue, what I ended up doing is dynamically loading the script when the page is mounted. The below functions will check if the script is loaded and only load it if it doesn't already exist.

[code]

Then it can be called with

[code]

[2021-08-15 09:11] Jahchap commented on #854
I was facing the same issue with width in "rem" as well as "em" (height was set to "auto") and tweaking ```translate()``` to suit my marker solved it.

In my case, changing ```translateZ(0) translate(-50%, -50%)``` to ```translateZ(0) translate(-50% -100%)``` made it fixed and I was able to confirm it against Google's own pin at the exact same position at any zoom level.

[2021-08-15 09:16] Jahchap commented on #854
I was facing the same issue with width in "rem" as well as "em" (height was set to "auto") and tweaking ```translate()``` to suit my marker solved it.

In my case, changing ```translateZ(0) translate(-50%, -50%)``` to ```translateZ(0) translate(-50% -100%)```  (or ```translate(-50%, -50%)``` to ```translate(-50% -100%)```) made it fixed and I was able to confirm it against Google's own pin at the

[2021-08-16 15:36] jonesne92 commented on #998
Has there been any update on this, or any workaround suggested? I'm getting the same issue

[2021-08-17 15:26] mohamedshahrul commented on #740
I am having the similar issue. Can you please help me?
![image](https://user-images.githubusercontent.com/30383794/129754849-fff87001-31fe-4d70-b3e1-7b0d8d406a6f.png)

[2021-08-18 20:08] itsmichaeldiego commented on #998
@jonesne92 @dionkas Are you using the latest version of google-map-react? We've fixed this already

[2021-08-18 20:10] itsmichaeldiego commented on #1016
@khevamann Could you submit a PR in our library so we could handle this? Seems that @jpoehnelt fix was missing that logic

[2021-08-18 21:23] khevamann commented on #1016
@itsmichaeldiego I looked into it and it looks like it already works as is. All additional props from bootstrapURLKeys are automatically passed into the loader, and js-api-loader accepts an id like I mentioned above. So the code below works correctly. I put in a PR to update this in the types definition. Is there somewhere I should add this to documentation.

[code]

Then to use google maps script

[2021-08-18 22:09] audifaxdev commented on #350
Devs need to differenciate map change events between :
- User generated events (drag, zoom, clicks ...)
- Code genetated events (setZoom, setCenter, fitBounds ...)
So that we can fetch data based on user's map events, while programatically setting center,zoom, bounds would not trigger the fetching of our data. Currently we have to work around this limitation. Many thanks.

[2021-08-19 01:00] itsmichaeldiego commented on #1016
Perfect @khevamann, thank you so much!

[2021-08-19 06:25] dionkas commented on #998
@itsmichaeldiego I updated this morning. Wiggling still persists.
My code is as follows:

Map marker

[code]

Css

[code]

[2021-08-19 14:55] theveera opened #1053 "Is there any limit on displaying number of pins (Marker) on the map?"
Hi,

I am trying to fetch over 500 items from the SharePoint list and display pins on the maps but the default zoom and centre are not working whereas when I try to load 400 items it works fine. Please let me know if there is any limitation in displaying numbers on pins (marker)

[2021-08-19 17:56] itsmichaeldiego commented on #1053
There's no current limitation @theveera, I am pretty sure your error might be on your end

[2021-08-20 09:53] jonesne92 commented on #998
@itsmichaeldiego I've also updated to 2.1.10 and am still seeing the wiggling. I also see it on the main example at https://google-map-react.github.io/google-map-react/map/main/

[2021-08-23 21:20] yassine0803 opened #1054 "how to display only specific places like restaurants"
I want to display only the restaurants in the map, please can you tell me how??

[2021-08-24 14:12] ErcilioMarques commented on #362
seems like there isnt support for MapType until now

[2021-08-27 23:41] Singapuram commented on #699
Hello,
I want to hide default buttons on the google map (Map and Satellite), how can I do this. Please suggest.
here is my code.
![image](https://user-images.githubusercontent.com/78669287/131198432-85fcdb01-c7c5-4d21-a00a-c2dd66194b84.png)

 return (
      <GoogleMap
        id="gMap"
        mapContainerStyle={mapStyles}
        zoom={20}
        mapTypeId={google.maps.MapTypeId.SATELLITE}

[2021-08-29 03:20] Singapuram opened #1055 "How to show the Yard Type (F,B,L,R) once we complete the polygon drawing"
Hello Experts,

How can I show the Yard Type (F,B,L,R) once we complete the polygon drawing, It would be great if you can suggest on this.

![image](https://user-images.githubusercontent.com/78669287/131237130-1581e9ca-fa68-406c-82b6-7c3d4adbdc4b.png)
![image](https://user-images.githubusercontent.com/78669287/131237212-5e67b335-2746-46f8-961c-84c04ec195a6.png)

![image](https://user-images.github

[2021-08-31 00:09] itsmichaeldiego commented on #1055
@Singapuram Hey Sri! This is more a problem related to **google maps** and not this library. Our library just renders the map in React. I recommend you to find the solution for google maps and then just apply it to React.

[2021-08-31 00:09] #1055 closed

[2021-08-31 04:41] vishalZscaler opened #1057 "style-src Content security policy"
**Describe the bug 🐛**

We are passing following data inside mapStyles object.
const mapStyles = [
  {
    featureType: "water",
    elementType: "geometry",
    stylers: [{ color: "#fefefe" }, { lightness: 17 }],
  },
  {
    elementType: "labels.text.fill",
    stylers: [{ visibility: "off" }, { saturation: 36 }, { color: "#333333" }, { lightness: 40 }],
  },
  {
    elementType: "labels.icon",

[2021-08-31 14:16] neodownloaden opened #1058 "Using custom tile provider for tile layer"
Is there a way by which we can use another service like OMS for the tile layer?
Example: https://gist.github.com/donmccurdy/1d3998a37c73e9435b5503e5f37457be

[2021-09-03 03:32] DevelopersTopHat opened #1059 "Duplicate of #669 happening in 2021 -- Warning about not using non-passive event listeners in the basic map implementation."
**Describe the bug 🐛**

Chrome gives warnings saying that non-passive listeners are being used by the map component.

**To Reproduce 🔍**

Steps to reproduce the behavior:

1. Implement example map.
2. Open chrome dev tools console.
3. See warning about using non-passive event listeners for TouchStart and TouchMove.
4. See error.

**Expected behavior 💭**

Passive listeners are being used unless an

[2021-09-03 13:42] DevelopersTopHat commented on #1059
It looks like the Google Javascript SDK map has internals that aren't using passive event listeners, so there is nothing that can be done about it.

[2021-09-03 13:42] #1059 closed

[2021-09-08 08:45] koraysels opened #1060 "Clickable area of custom marker very tiny"
**Describe the bug 🐛**

I need to click exactly in the center of the marker for onChildClick to work. Can we increase the radius of this ?

**To Reproduce 🔍**

Steps to reproduce the behavior:

create a map with a custom marker and make the marker 40px x 40px
try to click on the edge of the marker.. it does not trigger the onChildclick event for that marker. You actually need to click in the EXACT

[2021-09-08 09:02] koraysels commented on #1060
UPDATE: I found a fix.

if your marker  has `width: 40px; height:40px`. then translate it by `translate(-20px , -20px)` to have the onChildClick detection working perfectly .

This library is great, but there are some details missing that could make it even more great!  ;) My guess is that the onchildClick does take in to account the width and height of the element, but the element get drawn start

[2021-09-13 15:17] Camiloatalaya opened #1061 "How to draw routes with react and the google map react library, someone has an idea how to do it"
**Is your feature request related to a problem? Please describe 🙏**

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like 🤔**

A clear and concise description of what you want to happen.

**Describe alternatives you've considered ✨**

A clear and concise description of any alternative solutions or features you've considere

[2021-09-14 02:04] #1061 closed

[2021-09-15 02:54] linhho89 opened #1062 "Do not show places around."
why I have put libraries:['places'] but the map still doesn't show the places around, Is it a bug from the library or do I need to configure it somewhere, because other sites using the same key still show up.
Has anyone solved this problem please help me, thanks.

<img width="713" alt="Screen Shot 2021-09-15 at 09 48 33" src="https://user-images.githubusercontent.com/32919568/133362620-da02f6b6-a1

[2021-09-17 03:51] SanipRijal commented on #1062
@linhho89 you can refer to issue #1031.

[2021-09-17 19:13] #1062 closed

[2021-09-18 17:57] gouldie commented on #914
Had the same issue - lat/lng returned from `onClick` are incorrect when using full-screen mode.

Using a click event listener on the `map` object returned from `onGoogleApiLoaded` seems the give the correct lat/lng.

[code]

[2021-09-19 18:57] Bharateshwar commented on #959
Hi @itsmichaeldiego .. do we have a stable fix for this issue? I really loved this lib.. and kind of developed a whole lot over it. But not being

[2021-09-23 14:22] russmenum opened #1063 "Route set?"
**Is your feature request related to a problem? Please describe 🙏**
- I am using ```google-map-react``` to show location points for tracking and point of interest, and as far as I can tell there is no good way to make a set of points that would have a line connecting them. Think how you would have the blue route lines in google maps instead of all the GPS ping points dots

A clear and concise desc

[2021-09-24 18:13] diogolsq commented on #1042
why is this closed? any solution?

[2021-09-28 17:32] Fighteros opened #1064 "Uncaught (in promise) TypeError: pa is undefined"
Uncaught (in promise) TypeError: pa is undefined
map is not showing up

[2021-09-28 19:51] #1064 closed

[2021-09-28 19:51] itsmichaeldiego commented on #1064
Please provide more info or a live example, we won't be able to help you otherwise

[2021-10-06 09:01] koraysels commented on #1060
I now realize this is actually a pretty significant bug that should be fixed. Dunno why i closed it at the time

[2021-10-11 11:36] cnkyrpsgl opened #1065 "Cannot use react context for maps custom control"
Google maps api suggests creating custom control by creating div element. In this way, div element is created out of react dom tree so redux is not applicable to use. I made react wrapper element for this div element that rerenders it according to redux context. It is a burnout to wrap complex components. I tried even refs but not worked. It will be useful to add any feature or help to make react

[2021-10-12 16:00] francesco-clementi-92 opened #1066 "How to add custom results to autocomplete"
Hello guys and thanks for this library!

I'm trying to add custom results to the autocomplete component.

I successfully implemented this example:

https://github.com/google-map-react/google-map-react-examples/blob/master/src/components/AutoComplete.js

but I can't find a wat to append my custom results to the one provided by google.

Is there a way to do so?

[2021-10-28 19:51] siamahnaf198 opened #1068 "Google Map React Defaultcenter dynamic value not support?"
I am building a next js application. Here I am facing one problem. I have an api from backend like this-
[code]
And this is my component-
[code]

Here in center value-

`center={{lat: 22.75, lng: 90.41}}`

When I hard coded lat and lng like above the map showing perfectly.
![Screenshot 2021-10-29 014321](https://user-images.githubusercontent.com/78312010/139325489-8247c964-e298-4e3d-89f8-e646c1641

[2021-10-29 06:13] oander11 opened #1069 "Map with react-router = flicker"
Hi,
I will keep this very short since there might be an easy fix which I'm missing. Otherwise I can complete this with a full code sample.
I have a react app where I use react-router to navigate between views. One of the views contains a map which renders as follow:
[code]

The centerRef and zoomRef are initiated with the useRef() hook and are stored at the root App level in the app, so that the m

[2021-10-30 18:51] TikYengibaryan opened #1070 "Provide a way to set map id."
**Is your feature request related to a problem? Please describe 🙏**
I've some default styling in my GCP and want to access it with mapId. I can do it with pure js and GCP API, but can't realize it with google-map-react, google-map-react doesn't provide a way to do so.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like 🤔*

[2021-11-02 13:53] dnclain opened #1071 "Unclickable polygons on bottom right corner"
**Describe the bug 🐛**

When used in chakra-ui modal, the div created dynamically make clicks on map polygons impossible.
No problem occurred with the same div on non modal containers.

**To Reproduce 🔍**

Steps to reproduce the behavior:

1. Create a chakra-ui modal
2. Place the google map on it
3. Add polygons with an onclick event.
4. Try to click on polygons in the right bottom corner, where t

[2021-11-04 16:11] giorgiabosello commented on #740
see [comment before](https://github.com/google-map-react/google-map-react/issues/740#issuecomment-683521267).

[2021-11-04 18:55] benjamincurrie commented on #1070
Also looking at adding themes to maps, would definitely appreciate the ability to set mapId in order to do this.

[2021-11-08 04:11] TaylorDale commented on #1065
This appears to work for me:

[code]

[2021-11-08 04:12] TaylorDale commented on #1000
I haven't found a clear example of a custom control yet, so I'll just leave this here - let me know if there is something wrong with doing it this way:

[code]

[2021-11-08 05:12] Mrinal-Lepton commented on #890
If the coordinates are  passed using props asynchronously then it is causing problem
The polygon is not loading... Any Idea?

`const handleApiLoaded = (map, maps) => {
  const triangleCoords = [
    { lat: 25.774, lng: -80.19 },
    { lat: 18.466, lng: -66.118 },
    { lat: 32.321, lng: -64.757 },
    { lat: 25.774, lng: -80.19 }
  ];

   var bermudaTriangle = new maps.Polygon({
    paths: triangl

[2021-11-08 05:13] Mrinal-Lepton commented on #890
If the coordinates are passed using props asynchronously then it is causing problem
The polygon is not loading... Any Idea?

[code]

[2021-11-08 12:22] Bosskee opened #1072 "Dynamically add Circles with radius?"
Hello!

Reading through the docs, it seems that the preferred way of adding circles to the map is by using `onGoogleApiLoaded`. The problem is that this doesn't allow us to dynamically add circles. For example, I have a react state that consists of an array of objects. Each object is a coordinate that should represent a circle with a set radius on the map. Now I want to render these circles based

[2021-11-08 14:12] Bosskee commented on #1072
Also, when I try to use `meters2ScreenPixels` it throws:
`Module not found: Can't resolve 'google-map-react/utils'`

[2021-11-09 10:51] ckalas commented on #1072
what i do is manually use the underlying google maps drawing APIs and track the state. Here is a bit of how I draw some rectangles. Things to note are to keep a reference to everything you draw so you can remove them from the map at a later point. Not the nicest but it works for me.

`  useEffect(() => {
    if (regions && mapsApi.current) { //mapsApi and map are refs
      if (showRegions) {

[2021-11-21 16:59] evbo opened #1073 "Is the map/tile cache accessible? Can it be limited/disabled?"
Hi,

I'm trying to support offline, _legal_ access to google maps (for several hours at a time due to poor internet access). I see this library [caches map tiles and is confirmed to do so here](https://github.com/google-map-react/google-map-react/issues/276).

But I need to access and read the timestamp of this cached data to ensure it is not cached for too long and is following Google's TOS for m

[2021-11-23 04:57] rojermaharjan commented on #736
The issue still persists for me. Even in latest and 2.1.9

[2021-11-25 16:16] faizanarif196 opened #1074 "Refresh google map react after clicking a button or after set new lat and lng onClick?"
Hello, I am using google map react. I have not found any documentation refreshing map when set new position on Button Click. Automatic smooth drugging to that position when set new position on a button Click. Can anyone help me to do that.. I have a design like image-

![Screenshot 2021-11-25 212426](https://user-images.githubusercontent.com/93183836/143474508-8574d6e4-88b6-4ccf-a8ae-51579e2cd241.

[2021-11-28 12:41] #1068 closed

[2021-11-29 21:02] BrodaNoel opened #1075 "Wrong LNG in China"
**Describe the bug 🐛**
The `onChange` event is sending an invalid `lng` (-246).

**To Reproduce 🔍**

In my `render` method, in React, I have this:

[code]

My `handleMapChange` function is this:
[code]

Now check that I get in the console:
<img width="904" alt="Screen Shot 2021-11-29 at 17 57 28" src="https://user-images.githubusercontent.com/1837969/143941951-a45d3350-f944-4e32-b0aa-9b8b1fa44a43.

[2021-11-29 21:40] BrodaNoel commented on #1075
Is there a way to add a Unite Test for this and check if this also happens there?

[2021-11-29 23:04] ndukachukz opened #1076 "Drawing routes"
Is there a way to draw routes between two markers with this library.

[2021-12-04 17:10] ayunas opened #1077 "cannot load a basic map"
I am unable to render a basic map, following the quick example :

[code]

Assistance would be appreciated.

[2021-12-06 16:03] angelod1as opened #1078 "How can I get the middle/half of a route?"
I'm building a map and I want to put a marker in the middle of a route, not its start nor its finish.

Is there a way to implement that?

Eg:
[code]

I'm getting the distance and time using `DistanceMatrixService()` and saving them in my context, so I thought that information could be there, but unfortunately it isn't.

Another thing I could do is find the center coordinate and set the pin on the

[2021-12-07 12:30] dnclain commented on #1071
See https://github.com/google-map-react/google-map-react/pull/1079

[2021-12-08 13:29] Samueljoli commented on #350
@audifaxdev How are you targeting click and drag events?

[2021-12-10 08:31] lisogoralexander76 opened #1080 "I'll find u at MOW tube."
**Is your feature request related to a problem? Please describe 🙏**

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like 🤔**

A clear and concise description of what you want to happen.

**Describe alternatives you've considered ✨**

A clear and concise description of any alternative solutions or features you've considere

[2021-12-10 11:00] chandusadda opened #1081 "map & page becoming irresponsive while continuously pan/zoom the map with multiple markers in the map?"
Multiple markers & lines connected between markers added to map, with continuously pan/zoom the map then page & map becomes irresponsive for some time. If do slowly it map scales smoothly. Can some one help me for optimization for this problem

[2021-12-13 18:04] pabloiea1995 opened #1082 "Map is not displaying propertly printing on Chrome"
When printting a webpage using Chrome's printting dialog, sometimes map is being displayed moved, with grey parts and with mixed square sections.

I haven't been able to find the reason, neither a way to exactly reproduce it. It just simply happens randomly.

It has been tested in Chromes for different OS (Windows and MacOS)

Also, trying to print the exact same webpage in firefox, the map is been

[2021-12-15 11:26] bodfaj13 commented on #704
passing on onClick props on the marker element can also do the trick.

[2021-12-24 19:08] ShahriarKh opened #1084 "Question: How can I render components after map is loaded?"
The docs say *"It renders components on the map before (and even without) the Google Maps API loaded."*
How can I change this behavior? I don't want to show markers when the map "tiles" are still being loaded and the map is gray.
![image](https://user-images.githubusercontent.com/31452340/147369738-5f6272ef-2cb1-4cde-9d2c-796bb07d46bb.png)

[2021-12-28 03:55] ydhnwb opened #1085 "How to get layer data that already loaded?"
I created a maps and then load some KML into it.
But I also want to get the value of kml ( I want to extract to coordinates of the polygon).

Can I achieve this like maps.getLayer (its just an example)?
Because I don't see any property to get the loaded layer.

Or Should I load the kml differently?

[2022-01-03 15:39] alexkaduk commented on #736
Facing the same issue for version 2.1.10
`
You have included the Google Maps JavaScript API multiple times on this page. This may cause unexpected errors.
`

[2022-01-04 08:07] sgarchavada commented on #970
Any solution yet?

[2022-01-08 05:00] cresenciof commented on #362
This works for me using [ImageMapTypes](https://developers.google.com/maps/documentation/javascript/maptypes#ImageMapTypes) and

- google-map-react ^2.1.10
-  React 17
- NextJS 12

[code]

[2022-01-08 05:13] cresenciof commented on #1058
take a look at this https://github.com/google-map-react/google-map-react/issues/362#issuecomment-1007886739

[2022-01-09 00:25] arsalanfardi commented on #718
I was also experiencing this issue and needed accurate longitudes so that I could query a database of user locations. It seems that the library was not wrapping longitudes resulting in values greater than 180. Although you could still derive the correct longitude, what I found to be a more formidable approach was to to get bounds directly through the Google Maps API. I got access to the API throug

[2022-01-09 08:11] jakeFeldman commented on #1070
You can add `mapId` to the options prop. If using typescript it's not defined in the types package and there is a warning in the console since `mapId` should not be used in conjunction with `styles`, but the map renders correctly. I've added a [PR](https://github.com/google-map-react/google-map-react/pull/1086) this repo to remove they styles object and another [PR](https://github.com/DefinitelyTy

[2022-01-11 15:35] devagja opened #1087 "Feature: add MapRestriction prop"
Hi,
I would like to implement the following feature but I have not seen it in the propTypes, it would be great to be able to use it

https://developers.google.com/maps/documentation/javascript/reference/map#MapRestriction

thx so much!

[2022-01-17 12:22] jan-runkel-zeitgleich commented on #1060
Do you have any idea how to increase the onChildClick area?
My marker is only clickable in the lower third.

![image](https://user-images.githubusercontent.com/64015392/149768620-2b7531a5-53e0-43e4-b3e9-763c2d922fdb.png)

[2022-01-29 06:49] kamal-hossain commented on #1031
Why it is not working if ` mapTypeId: 'satellite'` is provided in `options` like this:
[code]
It working without `satellite` option.

[2022-01-31 02:05] felixlucien commented on #893
Not helpful, there is no option in the native options to enable this feature.

[2022-01-31 08:46] Subalee commented on #688
Basically what @mohsentaleb said.

Tips for further visitors, I'd suggest using the `onChildMouseEnter` handler directly on google-map-react.

This is what it essentially looks like
`onChildMouseEnter={(markerKey, markerProps) => handler(markerKey, markerProps)}`

`markerKey` is your `key={locationId}` attribute, markerProps are other props you've passed to the said marker.

e.g.
`<Marker key={loc

[2022-01-31 10:48] sudddy commented on #411
@itsmichaeldiego I'm facing the same issue. I can add the marker and when i try to remove it by updating the state in redux, component is not rendered. Please help!

[2022-01-31 12:17] Sanaullahbugti commented on #411
@sudddy @fire-cracker  put unique key for each marker it should work
<MyMarker
                        lat={lat}
                        lng={lng}
                        key={item.key}
                    />

[2022-02-05 07:49] SergeyMustafin opened #1089 "Question: Is it possible to use together with Partytown?"
Hello everyone, so, is it possible to just change script type text/javascript to the script type [text/partytown](https://github.com/BuilderIO/partytown)?

ty

[2022-02-10 21:18] zainkhan10 opened #1090 "No 'Access-Control-Allow-Origin' header is present on the requested resource"
I'm using this library for maps in my react application, and I'm adding search address functionality in my application and facing CORS error.

![image](https://user-images.githubusercontent.com/29088036/153497847-7ca8bfbb-cfb0-4e65-8123-a6b63b0bd0f8.png)

[code]

I'm following this [document](https://www.freakyjolly.com/google-maps-in-react-example-application/) to add search functionality

[2022-02-16 18:45] coderkhalide commented on #699
Follow @itsmichaeldiego

And

mapTypeControl: false,

[2022-02-17 04:31] FarhathAli commented on #590
how to use google map fitbound by using react-google-map/api in class component can someone tel me...???

[2022-02-21 21:12] giardb commented on #1085
Hi,

I think you can access loaded map with this [onGoogleApiLoaded callback](https://github.com/google-map-react/google-map-react#use-google-maps-api)

[2022-02-21 21:26] #1085 closed

[2022-02-22 06:27] #1084 closed

[2022-02-22 06:27] #1089 closed

[2022-02-22 09:50] gkielwasser commented on #970
Anyone has found a workaround ? The same behavior happen using Mui Popover or Popper.

[2022-02-25 11:50] SherinShaju80 opened #1093 "Need to create multiple color in heat map based on the value medium hard easy in react using google-map-react"
import marker from "./marker.png";
import "./App.css";
import GoogleMapReact from "google-map-react";

function App() {
  const defaultProps = {
    center: {
      lat: 10.99835602,
      lng: 77.01502627,
    },
    zoom: 11,
  };

  const AnyReactComponent = ({ text }) => (
    <div>
      <img src={marker} alt="marker" width={30} />
    </div>
  );

  const heatMapdata = {
    positions: [

[2022-03-04 18:25] samrjenkins commented on #546
@itsmichaeldiego interestingly I encountered this problem again using v1.1.7. After a couple of hours of trying every solution listed in the repo issues, downgrading from v1.1.7 to v0.34.0 fixed the issue. Upgrading to v2.0.4 also brings the issue back again!

This can be seen by trying the different package versions on @jseparovic's sandbox: https://github.com/google-map-react/google-map-react/is

[2022-03-10 06:28] dillonharless18 commented on #1016
Is it just me or is this fix gone again? I have attached a screenshot of the type file... and I've got version 2.1.10

![image](https://user-images.githubusercontent.com/43771091/157602386-153a353f-bb3c-41e7-8b2d-052acb1fa0f1.png)

[2022-03-10 13:44] bagishly-imran opened #1096 "GoogleMap: defaultCenter prop dəyişdirildi. Defolt rekvizitləri dəyişə bilməzsiniz."
How the hell can this problem be solved? In response to the old query, they say to use the center, but the same error still occurs.

[2022-03-10 16:12] jpoehnelt commented on #1016
@dillonharless18 Please share you app code. You likely have the Google Maps API loaded outside of this component library.

[2022-03-10 21:00] dillonharless18 commented on #1016
Thanks for the quick response.

Yeah I loaded it once before using @googlemaps/js-api-loader... I might not understand it well enough, but I wouldn't think that should mess with the type files for google-map-react.

This happens first. It's imported and run by a file early in the business logic to geocode an address.
[code]

I then try to render a map later on in the app using this file

[code]

P

[2022-03-14 05:39] AJTJ opened #1097 "Conflict between local react info windows and google api info windows for markers"
First off, thanks so much for this great library!

I've got a basic example of this library in use, and we are dynamically loading markers with custom react components for the info windows. Unfortunately, our react-based components conflict with the native google api info windows that come up if the user clicks on something else.

Is there a way so that when you click on one of our markers it disa

[2022-03-17 20:25] kelseycaraballo1 opened #1098 "Zoom loads large text before loading correctly"
**Describe the bug 🐛**

When searching for a city on desktop web, and the
 map view zooms to that location for a split second there is large text shown on the map view while it's loading and/or zooming
**To Reproduce 🔍**

Steps to reproduce the behavior:

1. Search something broad, like "texas"
2. After map loads "texas", then search for "austin, tx" --- while loading/zooming, notice large text, A

[2022-03-17 20:53] LucasBrandt commented on #350
This would be a very helpful feature.

In my project, we search for places by location, and show results on a map. We let the user look for more places by moving the map. So when a user moves or zooms the map, we want to respond to `onChange` by searching for updated results within the new bounds.

Sometimes, a user makes a search for a location by name - say a city like Chicago - and the map we i

[2022-03-20 23:30] AJTJ opened #1099 "Warning: NaN is an invalid value for the left css style property. Check the render method of GoogleMapMarkers."
The reason for this error is that the creator of this librarly mixed up `lat` and `lng`, and one of your values is off the map.

[2022-03-22 02:07] mpadel78 commented on #1063
Hi, I am new to this. I imported google Maps with this Library and was able to pull the maps. Now I want polylines. Does this npm package have Markers and Polyline to it? Something like import GoogleMapReact, { Marker, Polyline } from "google-map-react";

[2022-03-22 07:01] yehyaumar commented on #240
This helped me a lot in drawing polygons or polylines on Map Component: [Google Maps Shapes](https://developers.google.com/maps/documentation/javascript/shapes)
Get Map refs in `onGoogleApiLoaded={({ map, maps }) => handleMapLoad(map, maps)}`
In this, add a listener (click or contextmenu) on map,
[code]

[2022-03-22 07:41] AJTJ commented on #1099
I might have got this wrong

[2022-03-22 07:41] #1099 closed

[2022-03-24 14:27] mohitgupta8767 commented on #787
I am also facing the same issue. How can i achieve this?

[2022-03-26 12:10] mshepel commented on #546
I've encountered a similar issue. Assume the following code:
[code]
Execute the following steps:

1. Click 'Locate Me' button - map would be centered to the detected location.
2. Move the map.
3. Click 'Locate Me' - map would not be centered, even thougn `center` prop receives the expected value.

This might seem weird, but in fact that's not surprising. On the following scenario `center` prop val

[2022-03-26 17:43] undeletable commented on #546
I've encountered a similar issue. Assume the following code:
[code]
Execute the following steps:

1. Click 'Locate Me' button - map would be centered to the detected location.
2. Move the map.
3. Click 'Locate Me' - map would not be centered, even thougn `center` prop receives the expected value.

This might seem weird, but in fact that's not surprising. On the following scenario `center` prop val

[2022-03-31 01:56] noynek opened #1102 "React 18 Support"
I apologize if this is the wrong place for the issue, but I'm trying to upgrade to React 18 and running into issues with this library. I can see in package.json it's looking for React 16 or 17 so I'm curious if there are any plans to support 18. Thanks

[2022-04-11 14:53] QuintonPang opened #1105 "Margin prop usage."
I can't understand what does the margin prop does, for example ({5,5,5,5}), i hope someone can explain this. Thank you!

[2022-04-11 14:54] QuintonPang commented on #807
Have you figured it out yet?

[2022-04-12 13:43] Nikkolas-Cage opened #1106 "Google Map Logo cannot be adjusted"
**Google Map Logo cannot be adjusted**

adjusting google map div padding does not help it adjusts the whole map but not the bottom logo

**To Reproduce 🔍**

Steps to reproduce the behavior:

`    <div style={{ height: '100%', width: '100%', paddingBottom: '55%'}}>
      <GoogleMapReact
       style={{ height: '100%', width: '100%', paddingBottom: '55%'}}
      yesIWantToUseGoogleMapApiInternals

[2022-04-13 02:09] discobean commented on #892
This is what would be expected, but wrapping a marker/component with a Fragment requires that the Fragment have the lat,lng properties.

[2022-04-13 02:19] discobean commented on #892
I believe this should be re-opened because you cannot display 2 markers in a single loop function with different co-ordinates.

e.g. This does _not_ work as expected, all points just appear in the middle of the map:
[code]

[2022-04-13 02:37] discobean opened #1107 "React.Fragment in GoogleMapReact doesn't render on map"
When wrapping an element (e.g. Marker) with React.Fragment within a GoogleMapReact it fails to render in the correct coordinates.

I believe this is related to #892

[code]

The above doesn't render 2 points in the correct position, instead they are rendered in the middle of the map as if lat,lng was never specified.

**Expected behavior 💭**

2 points should be rendered in different positions on t

[2022-04-13 02:46] discobean commented on #1107
After some playing around, currently the solution of this is to return an array with multiple points like so:
[code]

[2022-04-13 10:35] VenomFate-619 opened #1108 "Marker moving from its position , on dragging the map"
**Describe the bug 🐛**
Marker moving from its position, on dragging the map

I had, tried making that marker placed at centre , solution but it doesn't work

**To Reproduce 🔍**

Just do simple, set up with marker

Video Proof:-

https://user-images.githubusercontent.com/67755128/163159334-038f216f-edf1-4a98-a0d5-83bca3caecdd.mp4

Code :-
[code]
LocationPin

[code]

Please, help me out it is  my co

[2022-04-13 19:41] pegues commented on #240
@yehyaumar I'm trying to create a polyline, but I'm using a class component. I added const gMap and const gMaps outside the class, and I'm getting the errors:

    src\components\MapView\MapView.js
      Line 9:14:   'useRef' is not defined                                                                                                                          no-undef
     Line 9:14:   React Hook

[2022-04-13 20:30] pegues commented on #111
@imran-abbas1 can you please provide your full working code here as an example?

[2022-04-14 15:05] Issam-AB opened #1109 "Google map react failed to installed"
[code]
Could not resolve dependency while trying to install this package.

Try -

`npm install --force --save google-map-react
`
`npm i --save-dev @types/google-map-react`

Instead of

`npm install --save google-maps-react`

but still not working!!

[2022-04-14 23:46] natedin commented on #1109
Same issue
`npm ERR! Found: react@18.0.0
npm ERR! node_modules/react
npm ERR!   react@"^18.0.0" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer react@"^16.0.0 || ^17.0.0" from google-map-react@2.1.10
npm ERR! node_modules/google-map-react
npm ERR!   google-map-react@"*" from the root project`

[2022-04-15 15:08] Issam-AB commented on #1109
I think there will be a bug inside the package or something

[2022-04-18 07:40] kritika27 commented on #1109
Has the issue been resolved? I am facing the same issue.

[2022-04-18 17:06] Issam-AB commented on #1109
The application I'm building with` create-react-app v18.0 `wasn't able to install the dependency with` npm install --save google-maps-react`. However, `npm install --legacy-peer-deps --save` or `npm i --save-dev @types/google-map-react` , `google-maps-react `resolved the dependency but still doesn't work, I think there are other problems that have not been fixed.

[2022-04-18 19:10] sspeng123 commented on #748
哥们，你这是广交会地址啊....

[2022-04-18 19:36] sspeng123 commented on #906
hi , this is [google-map-react] , it is not [google-maps-react]

[2022-04-19 19:15] SimantoR commented on #1109
This is related to #1102 and #1103 it seems like

[2022-04-20 04:58] mageshkumar1598 commented on #1066
+1

[2022-04-21 20:18] BranChembah123 opened #1110 "Next.js: TypeError: Cannot read properties of undefined (reading 'getChildren')"
The default component throws the error before rendering when using it with Next.js.

**Screenshots 🖥**

![Screenshot from 2022-04-22 02-11-41](https://user-images.githubusercontent.com/82242619/164545277-872c2dbf-cbf8-40a1-9254-1c6bb189ad55.png)

**Environment:**

 - OS: Linux
 - Browser Chrome
 - Version 100

[2022-04-22 09:07] BranChembah123 commented on #1110
Turned out, that this is a version compatibility issue with React@18.

[2022-04-22 18:56] aosimeon commented on #1074
Checkout this issue, a fix was posted there https://github.com/google-map-react/google-map-react/issues/76

[2022-04-23 06:16] Rafcin commented on #1108
The child of the map needs to have a lat and lon attribute to be placed on the map properly. `<div lat={0} lon={0}/>`

[2022-04-23 07:05] VenomFate-619 commented on #1108
thx for the help.
This need to be mention in the docs

[2022-04-23 07:05] #1108 closed

[2022-04-25 09:57] spengilley commented on #956
Is there an update on a proerly implemented fix for this? This affects even the most basic example of a pin on the map and zooming out.

[2022-04-25 18:25] weilin93 commented on #271
The above solution didn't really work until I added strictBound
[code]

[2022-04-27 13:42] tsokawing commented on #1109
Same here, I installed with --legacy-peer-deps but the app will crash with:

[2022-04-27 20:23] wallace-sf commented on #854
To me what worked is set the anchor of an icon marker. The x of an anchor must have half of an icon sized. Example:
[code]

[2022-05-03 07:21] karolisg commented on #1102
Any ETA when fix will be merged?

[2022-05-03 19:00] sud977 commented on #1102
i think more dev work will require to support react 18. One thing that I ran into after I updated to react 18 and used the createRoot instead of render method in my project was the map markers were flickering while panning through the map. The reason is with react 18, the state updates are batched, React groups multiple state updates into a single re-render for better performance. [https://codesan

[2022-05-04 23:25] jacobgad commented on #1102
Is react 18 support being worked on currently?

[2022-05-05 09:38] aindriu80 commented on #1102
I'm having the same trouble, google-map-react is not working with React version 18.  It's a bit awkward to go back to React version 17,

[2022-05-05 09:59] Manne010 commented on #1102
am also facing same problem any solution?

[2022-05-05 12:22] aindriu80 commented on #1102
only solution is to use React version 17 but you need to edit all dependencies (react and react-dom etc ) in package.json to match 17, also the index.js file is different in version 18, you would have to change that back as well.

[2022-05-07 14:33] SergeyMySize opened #1112 "TypeError: Cannot read properties of undefined (reading 'dispose')"
After upgrading to react@18 my google maps crashing on render.

[https://ibb.co/bsGV76c](url)
[https://ibb.co/ZGBhV8B](url)
[https://ibb.co/X5vNTt5](url)

 - OS: [mac]
 - Browser [any browser]

[2022-05-07 14:33] #1112 closed

[2022-05-07 14:36] SergeyArenzon opened #1113 "TypeError: Cannot read properties of undefined (reading 'dispose')"
After upgrading to react@18 my google maps crashing on render.

[https://ibb.co/bsGV76c](https://github.com/google-map-react/google-map-react/issues/url)
[https://ibb.co/ZGBhV8B](https://github.com/google-map-react/google-map-react/issues/url)
[https://ibb.co/X5vNTt5](https://github.com/google-map-react/google-map-react/issues/url)

OS: [mac]
Browser [any browser]

[2022-05-09 16:43] AbdullahPS opened #1114 "Map does not reenter fullscreen, when entered first time and went back to normal screen if the position of the fullscreen control was changed with fullscreenControlOptions:{position:X}, when having markers"
Map does not reenter fullscreen, when entered first time and went back to normal screen if the position of the fullscreen control was changed with  fullscreenControlOptions:{position:X}, when having markers

A clear and concise description of what the bug is.

**To Reproduce 🔍**

Steps to reproduce the behavior:

1. Change the fullscreen cpntrol option position with fullscreenControlOptions:{posit

[2022-05-10 17:53] IMPWNG commented on #1110
Got the same issue .. I thing we need to downgrade to React@17 ..

[2022-05-11 20:03] pegues commented on #787
I'm experiencing the same problem.

[2022-05-12 13:25] mageshkumar1598 commented on #687
@zamlahani I have a doubt! How we will pass the state from the parent and use it inside the CustomControl component? Does it get reflected when ever the state changes?

[2022-05-15 12:41] Feridun12 commented on #1110
Please fix this issue I am a junior dev and don't have that many options when it comes to adding maps to the website😅. Did anyone manage to solve this issue yet? If so please get in contact with me please.

[2022-05-24 16:45] hasanzia1993 commented on #890
How to add different polygons with separate colors?

[2022-05-26 18:06] madjed-hue opened #1116 "Uncaught TypeError: Cannot read properties of undefined (reading 'emit')"
Uncaught TypeError: Cannot read properties of undefined (reading 'emit')
    at r._onMapMouseMove (google_map.js:970:1)
    at HTMLUnknownElement.callCallback (react-dom.development.js:4161:1)
    at Object.invokeGuardedCallbackDev (react-dom.development.js:4210:1)
    at invokeGuardedCallback (react-dom.development.js:4274:1)
    at invokeGuardedCallbackAndCatchFirstError (react-dom.development.j

[2022-05-28 23:33] CrissAlvarezH opened #1117 "Markers flicker when scrolling on the map"
When the map is scrolled and the mouse is released, the markers blink from where they were initially positioned.

**The code**

[code]

**Screenshots 🖥**
IMPORTANT: It always happens, in this gif it only happens the first two times, but it's because when converting video to gif the quality drops

![ezgif com-gif-maker](https://user-images.githubusercontent.com/28470320/170845913-4a7444ec-164a-4b6c

[2022-05-28 23:42] CrissAlvarezH commented on #1110
Try remove StrictMode.

[2022-06-01 21:13] michaelcohen716 opened #1118 "Full screen overlay on maps view"
Posting here for cross-visibility: https://stackoverflow.com/questions/72419057/how-to-control-default-marker-location-on-google-maps-overlay

I'm unable to find the CSS approach to yield result described in post above. Hoping to find some help here

[2022-06-02 08:18] yashvekaria opened #1120 "Makers doesn't render in center or in view area if height is using calc css function"
**Describe the bug 🐛**

I am trying to render the map that shows multiple marks in the center of the map (using map.fitBounds #590). I wanted to show a map of the rest of the leftover area below the navbar and breadcrumbs. I had set height using the calc function as I didn't want to use 100vh because that will add scroll to my page (my page already has a navbar, filter bar, and breadcrumbs). I att

[2022-06-02 15:33] dryan-FF commented on #1102
hi! our team is also facing the same issue. can this PR please get approval & merge? https://github.com/google-map-react/google-map-react/pull/1103

[2022-06-04 20:06] lexcraw4d commented on #1113
Any updates?!? I am also having the same issue....

[2022-06-07 11:47] lemmen6 commented on #1113
same issue

[2022-06-07 22:26] Spencer-lolley commented on #1110
still doesnt work

[2022-06-08 08:14] jasonfljs opened #1121 "fitBounds return different bounds depending on order of long-lag points?"
Hello,

I am working with google-map-react and came across an issue whereby depending on the order of the list of coordinates, the fitbounds would not work.

I am basing it off this example: https://github.com/google-map-react/google-map-react-examples/blob/master/src/examples/Main.js#L40

Given these two separate list of coordinates, the bound is different. The only different thing here is the or

[2022-06-08 12:17] MzkZeeshan commented on #1068
did you find any solution

[2022-06-08 12:21] siamahnaf198 commented on #1068
Yes, I find the solutions. Actually

`center={{lat: rooms[0].lat, lng: rooms[0}.lng}`

here `lat` and `lng` need number or integer format. But here it is string. Just convert it to number, like-

`number(rooms[0].lat)`

[2022-06-09 02:02] AtaydeEnrique commented on #1116
I had the same issue, try removing <React.StrictMode></React.StrictMode> from your index.js file

[2022-06-09 02:04] AtaydeEnrique commented on #1113
Try removing <React.StrictMode></React.StrictMode> from your index.js file

[2022-06-10 15:14] siawfish commented on #1110
Any fixes for this please?

[2022-06-12 03:29] ASPeXP commented on #1110
Thanks

Thanks, it's work., You saved my day.

[2022-06-14 06:21] mayilss commented on #1102
check the link below, it is for newer versions of react. to be precise v16.6 or later

https://www.npmjs.com/package/@react-google-maps/api

[2022-06-20 13:50] icastillejogomez commented on #1117
It occurs by React 18. You probably are avoiding the library peerDependencies that recommend still using react 17

[2022-06-20 19:26] co-dax commented on #954
@jpoehnelt ...and how do we reset loader? I couldn't find that information at [https://github.com/googlemaps/js-api-loader/issues/210](url)

[2022-06-22 00:54] sebackend opened #1122 "Default Google Maps markers?"
Is there a way to use the default google maps red markers? i can't see any easy way to do it, only creating a component from the svg or png marker image 😢

[2022-06-22 19:15] secbajor opened #1123 "Unable to set configuration to show cross street results"
**Is your feature request related to a problem? Please describe 🙏**

I am unable to see cross street results using google-map-react. To enable cross-street results on Place Autocomplete it is required to enable "geocode" type predictions. However it seems none of the available libraries (`['places', 'geometry', 'drawing', 'visualization']`) correspond to enabling "geocode".

**Describe the solutio

[2022-06-23 06:19] joaogarin commented on #1110
I think the solution mentioned here is not really a great one long term, `strictMode` can find things that are incompatible with React 18 features in your application, turning it off could have unwanted side effects.

From https://nextjs.org/docs/api-reference/next.config.js/react-strict-mode

[2022-06-23 12:41] skreutzberger commented on #1110
Hi, disabling strict mode is not really developer friendly and may leave a Nexjs open to issues. Do you plan to upgrade the library to React 18 and if yes do you already have a potential ETA for it? Thank you 🙏

[2022-06-29 09:20] managervcf commented on #1122
@sebackend I second that, it would be nice to be able to use default markers. At least to compare the map performance with default vs custom markers.

[2022-07-01 14:11] callamwilliams commented on #1099
It means either a lat or lng value is invalid, double check your data.

If the lat lng is coming from a placesApi object, theres the potential that it's a function, and not a number

[2022-07-04 06:05] tmilciunas commented on #1117
Same thing happens in my project, with `"react": "17.0.2"` and `"google-map-react": "^2.1.10"`.

Marker has this class on it, to offset it to the center:
[code]

Still jiggles when moving the map.

[2022-07-04 09:19] AadarshGhodasara commented on #1090
I'm facing the same issue. Can you please give the solution to this?

IMG 1--->
![Screenshot from 2022-07-04 14-46-34](https://user-images.githubusercontent.com/47548524/177124113-b02321b3-479d-4738-94ec-87bf2af21d31.png)

IMG 2--->
![Screenshot from 2022-07-04 14-48-10](https://user-images.githubusercontent.com/47548524/177124217-b0c48611-91dc-4fba-8374-166f23a970e0.png)

[2022-07-05 16:17] #1102 closed

[2022-07-06 01:09] TrevorDecker opened #1125 "Is it possible to expose an onMouseMove callback?"
For a tool I am working on it would be useful to have a callback that gives me the current mouse position in lat lng when the mouse is moved.

it appears that onMouseMove is an internal method but it is not possible to register a user callback on the event.
https://github.com/google-map-react/google-map-react/blob/master/src/google_map.js#L1158

If it is possible to have a user callback for mouse

[2022-07-06 02:13] TrevorDecker commented on #1125
I think that https://github.com/google-map-react/google-map-react/pull/1127 addresses this, let me know if you would rather it be implemented in a a different way

[2022-07-06 20:16] antoniocosentino commented on #1110
I saw that version 2.2.0 was just released (https://github.com/google-map-react/google-map-react/pull/1103) so I upgraded it in my project but I still get the same error. Anybody else experiencing the same issue even after upgrading?

So far I solved it by disabling `reactStrictMode` as it was suggested here, but I would like to re-enable it as soon as possible

[2022-07-07 04:26] marcosmarp commented on #1117
Any news on this? I switched from `createRoot` to `ReactDOM.render` on my `index` so React would still behave as v17 but I would really like to switch back.

[2022-07-07 07:23] samfromaway commented on #1110
I have the same issue
Using:
"google-map-react": "^2.2.0",
"react": "^18.2.0",
"next": "^12.2.0",

Error is: TypeError: Cannot read properties of undefined (reading 'getChildren')

If adding reactStrictMode: false it works but abviously this is not a long-term solution.

[2022-07-11 13:25] Mateusz-Podemski-Forte-Digital commented on #1116
Do you know how to fix it without removing strict mode?

[2022-07-12 14:31] Mateusz-Podemski-Forte-Digital commented on #1117
I have the same problem.
It happens when I move a map using mouse or when I change `center` prop.

[2022-07-12 19:27] SorcRR commented on #1117
Same issue, please let me know when a solution for this is available. Thanks.

[2022-07-12 19:51] guspatagonico commented on #1117
First: Congrats for @istarkov and all the contributors for this great component.

I'm facing the same issue and I tried several workarounds.

I've finished showing a "distractive" div overlay with a color and a message inside the map's container that shows up when the **dragend mouse event is triggered** (just before the markers flicker and lasts for 300ms).

https://user-images.githubusercontent.

[2022-07-12 20:15] marcosmarp commented on #1117
@guspatagonico the workaround i'm using is switching to react 17 for the moment.. sucks but it's what it's

pd: primera vez que me encuentro un argentino por aca... saludos desde caseros jajajaja

[2022-07-12 20:32] guspatagonico commented on #1117
Hi Marcos! I considered that option but I'm trying to stick to an updated set of tools... and I'm such a stubborn ;-)

Nice to meet you, che! ;-) I hope we could find a fix sooner or later. Best of luck!

[2022-07-16 12:45] TrevorDecker commented on #1116
I am receiving this with React.StrictMode removed.  It only shows up for me when I run with nextjs in development mode and only started showing up when I upgraded to react 18

[2022-07-17 19:31] arifinsiam opened #1128 "Uncaught TypeError: Cannot read properties of undefined (reading 'getChildren') | Uncaught TypeError: Cannot read properties of undefined (reading 'dispose')"
**Page going blank**

console error data:
Uncaught TypeError: Cannot read properties of undefined (reading 'getChildren')  [ google_map_markers.js:100 ]
Uncaught TypeError: Cannot read properties of undefined (reading 'dispose')  [ react_devtools_backend.js:4026  ]

if I remove **React.StrictMode** errors go away, but nothing appears on the browser.

**Expected behavior 💭**

Load the map.

**Envir

[2022-07-18 15:28] arthwood commented on #1128
@arifinsiam Please close this issue. There are already 3 issues open on the same topic on the first page:
https://github.com/google-map-react/google-map-react/issues/1116
https://github.com/google-map-react/google-map-react/issues/1113
https://github.com/google-map-react/google-map-react/issues/1110

[2022-07-18 17:04] #1128 closed

[2022-07-19 08:52] cabutler10 opened #1129 "Support for React 18"
**Describe the bug 🐛**

I recently upgraded to React 18 and now my map no longer works. I saw online that the latest version of google-map-react should include support for React 18, however I do not see any documentation if there is some gotcha or breaking change that I would need to do for correct support within this library? I tired to run your demo in a sandbox (see below link) and see that sam

[2022-07-19 17:27] rubysky17 opened #1130 "My marker not position when zoom in/out ?"
hey all, i have a marker on google map and it not position right when i zoom in/out of my map.
this is my component .

import React from 'react'
import { GoogleMap, useJsApiLoader, Marker, InfoWindow } from '@react-google-maps/api'
import InfoObject from './components/InfoObject'

const containerStyle = {
  width: '100%',
  height: '100%',
  position: 'relative',
}

const MarkerList = [
  {
    la

[2022-07-20 09:06] emrerendigiterra opened #1131 "onChange function not trigger until making full screen the map or resize browser."
When i try to make zoom, on change function not triggers until i resize my browser or making full screen the map instance.

<img width="839" alt="image" src="https://user-images.githubusercontent.com/103412192/179943292-8542ec5b-a813-4a2a-becd-2cfc31c026b5.png">

**Environment:**

 - OS: mac
 - Browser: chrome
 - Version React 18, google-map-react@latest

[2022-07-20 09:49] emrerendigiterra commented on #1131
It's work when i add "resetBoundsOnResize" as prop to <GoogleMapReact />

[2022-07-20 09:49] #1131 closed

[2022-07-21 07:07] asdutoit commented on #1117
Did anyone manage to find a solution to this?

[2022-07-21 18:06] Ash-Layek commented on #1116
@Mateusz-Podemski-Forte-Digital  did you figure it out ? I have the same problem and i'm looking for a way to fix it without disabling strict mode

[2022-07-22 08:22] Mateusz-Podemski-Forte-Digital commented on #1116
Unfortunately no, for local development I had to disable strict mode :/

[2022-07-22 09:55] parthsavaliya1 opened #1133 "How to set scrolling Restriction to 10 km from my current location on Google map"
I am building an website with GoogleMapReact where a person can drag the map and select a particular location. I want to restrict the area around a particular point (say 10 kms of radius around my current location). I want that users cannot select any area outside of the specified range range. How can I achieve this.

[2022-07-22 11:49] Trkzi-Omar commented on #1129
Same issue here, the demo from the docs doesn't seem to work with React 18.

[2022-07-22 13:12] rvenky125 commented on #1117
Is there any solution or workaround?

[2022-07-22 14:10] SorcRR commented on #1117
Guy, load the app with **ReactDOM.render** and it wont flicker anymore

[2022-07-22 14:51] Mateusz-Podemski-Forte-Digital commented on #1117
Is that possible with Next.js 12.2?

[2022-07-23 04:22] rvenky125 commented on #1117
Can you place a code snippet here. I can't understand how can I pass state variables into it?

[2022-07-23 20:48] icastillejogomez commented on #1117
Guys, @SorcRR proposal could be a workaround but definitely is not a valid long-term solution. Use this function it's essentially use the old React17 (and older) system.

For Next.js you have to downgrade to a Next.js version that use React 17. Definitely, not a valid solution.

This module need to be refactored in order to be compatible with React18 and concurrent renders.

[2022-07-24 21:29] fedemoreira93 commented on #1117
@marcosmarp @guspatagonico bueno ahora somos 3 argentinos!

Did you guys find a solution (not a workaround)? I was using this library in older projects (react 16) and didn't have this problem but I don't want to downgrade my react app version...

[2022-07-25 04:42] isaacrowntree commented on #1129
Can confirm is broken with React 18. There are three errors:

TypeError: Cannot read properties of undefined (reading 'emit')
TypeError: Cannot read properties of undefined (reading 'dispose')
TypeError: Cannot read properties of undefined (reading 'removeListener')

These are related to `componentDidUpdate` and `componentWillUnmount`

[2022-07-25 12:24] parthsavaliya1 commented on #1133
Any Update on this?

[2022-07-26 11:46] Suzan-Dev commented on #1117
Why is it actually happening in react v18? Can anybody explain me in short please.

[2022-07-26 11:48] icastillejogomez commented on #1117
@Suzan-Dev the changes in react 18 render produce a flickering on the map

[2022-07-26 12:49] guspatagonico commented on #1117
Hi / Hola Fede! Nice to meet you, che!

Unfortunately I did not find a definitive solution. I like this library very much, and this is the only issue I've found at least for my use case.

I hope someone could help solving this issue soon. I'd like to keep on using this library / component.

Have a nice day!

[2022-07-26 12:51] guspatagonico commented on #1117
Hey @fedemoreira93 ! Nice to meet you, compatriot 😜

Unfortunately I did not find a definitive solution.
I'd like to continue using this component / library because so far this is the only issue I've found (at least for my current use case).

Have a nice day!

[2022-07-26 18:58] hanorine commented on #1129
I am having the same issue, console errors with:

[code]

[2022-07-26 21:25] hanorine commented on #1129
Anyone else come across this issue and lack of maintainers here, I would suggest you look at  [react-google-maps/api](https://github.com/JustFly1984/react-google-maps-api) as an alternative.

[2022-07-28 02:28] GraceeFlower commented on #772
Hi @the-yadu, any process of the thing you mentioned below? I cannot use `setPadding` by `map.setPadding` as well, have you implemented that? Thank you!

[2022-07-31 12:09] maullerz commented on #970
Possible solution is here - https://github.com/google-map-react/google-map-react/issues/1015#issuecomment-883020751

[2022-08-02 08:43] truongthanhtung1197 commented on #1133
k bieest

[2022-08-02 09:47] 24suixinsuoyu commented on #854
`mMap.addMarker(MarkerOptions().position(markerLocation).icon(icon).anchor(0.5f, 0.5f))`

worked for me.

[2022-08-03 03:59] chyde commented on #1117
**Confirmed** how to get the render-flicker using react `v18.x`!  @SorcRR was right to use the old method of rendering

[code]

[2022-08-03 04:45] marcosmarp commented on #1117
@chyde This isn't a solution for React 18. Rendering with `ReactDOM.render` causes React to downgrade to v17 while using it, so you basically still in v17 while you're using this method in your entry point

[2022-08-03 20:36] batearedcollie opened #1134 "Setting map heading"
I am trying to plot where the user can rotate/ adjust the heading. As a start I have tried adding a heading value under options, but when the map plots it appears to plot as rotated then quickly changes back to 0. Is this correct behavior? What am I doing wrong?

Any help gratefully received. I am using the component as follows.

<GoogleMapReact
  bootstrapURLKeys={{
    key: GoogleMapsAPIKey,
  }

[2022-08-05 20:57] EthanHealy01 commented on #583
same problem here ! None of these solutions apply to me

[2022-08-06 00:03] EthanHealy01 opened #1135 "Can't map an array of markers"
**Describe the bug 🐛**

Hey guys, not sure it this is a bug or I'm just doing something silly.
I'm rendering the MapView component through the parent function like so ->

[code]

The data being passed into MapView through the data prop is the following JSON

[code]

The relevant info here is the materials, I'm trying to map the materials in the form of markers through the following code ->

MapVie

[2022-08-06 00:07] EthanHealy01 commented on #1135
If I've left anything out please let me know

[2022-08-06 00:17] #1135 closed

[2022-08-06 00:18] EthanHealy01 commented on #1135
im an idiot sorry , forgot to put the
[code]
inside of the map. Lesson learned

[2022-08-08 03:08] donthavenames opened #1136 "How do I make a draggable marker? I don't think I understand how the onChild* methods work"
I'm rather new to React & I'm trying to make a map that allows you to drag an infinite number of markers from a sidebar onto the google map.

[code]

I can't get the marker to drag and when I try to replace the function in the onChild* methods with console.log("click"), it only logs when I zoom in on the map.

With this current code, none of the onChild* functions run at all. What am I doing wrong

[2022-08-08 16:26] dat0825 opened #1137 "Cannot set ref for marker"
![Screenshot from 2022-08-08 23-23-30](https://user-images.githubusercontent.com/41239003/183466148-b80785fd-cf7a-477b-a752-833a6842c552.png)
![Screenshot from 2022-08-08 23-25-54](https://user-images.githubusercontent.com/41239003/183466412-6f2f3c36-e500-4a45-806e-a648635c7e81.png)
I cannot set ref for marker in google map. It returns `null` value.

[2022-08-09 03:39] mageshkumar1598 commented on #687
@zamlahani Can you please help me on this?

[2022-08-09 04:46] mageshkumar1598 commented on #1066
import React, { useRef, useState } from "react";
import PropTypes from "prop-types";

function SearchBar({ map, mapApi, addplace }) {
  const searchInput = useRef("");
  const [searchValue, setSearchValue] = useState("");
  const [showPredictions, setShowPredictions] = useState(false);
  const [predictions, setPredictions] = useState([]);
  const [loading, setLoading] = useState(false);

  const g

[2022-08-09 19:17] Naught0 commented on #271
This works well, unless you're using Typescript. It appears the `restriction` property is not present on `MapOptions` from the @types/google-map-react package.

I was able to overcome this by extending the `MapOptions` type definition:
[code]

[2022-08-10 08:27] boy331990 commented on #740
I solved it.
 lot of people probably wrote it like this.
`
<GoogleMapReact
                bootstrapURLKeys={{key: API_KEY}}
                center={coordinates}
                defaultZoom={14}
                margin = {[50, 50, 50, 50]}
                options={{
                    disableDefaultUI: true,
                    zoomControl: true,
                    styles: mapStyles,

[2022-08-10 08:27] parthsavaliya1 commented on #1133
Hi do we have any update on this?

[2022-08-10 19:13] ayoubkhan558 opened #1138 "It does not install on nodejs 16"
![image](https://user-images.githubusercontent.com/99708427/183999336-05a78316-8d7f-47d2-b74f-303ef93276e1.png)

[2022-08-11 07:47] sutthikiat1 commented on #1117
waiting for fix

[2022-08-11 11:49] rvenky125 commented on #1117
This was solved. But we need a reliable fix.

[2022-08-12 03:32] zamlahani commented on #687
Hi! the project was from 2 years ago, so I forgot

[2022-08-12 23:04] JoMaDotio opened #1139 "Support for TypeScript"
It will awesome that support TypeScript. I was struggling bc it doesn't get recognized the packages, until I try to change the extension file to JavaScript and it was recognized without any issue.
So it will be great to have support on TypeScript.
This package is the simplest one and fulfill a lot off needs.
I'm not an expert with TypeScript but I think I can help with this!! 😄

Greetings, to all

[2022-08-12 23:59] crobinson42 commented on #1020
Remove the Polygon element then re-add

[2022-08-15 07:19] waqaskhan5570 opened #1140 "The maps load very slow, and also while dragging and zooming in/out it takes some time."
**Describe the bug 🐛**

The maps loads too slow with specially with custom markers, and also it's way slow when zooming in and out.

**Environment:**

 - OS: Ubuntu , Mac
 - Browser: chrome, safari

[2022-08-15 11:45] astorozhevsky commented on #1117
We are facing the same issue, and now we are temporarily using a workaround, but we need a reliable fix so that we can use the new method of rendering (React v18.x).

[2022-08-15 16:24] McGern commented on #772
Just checking, but are the people wanting to use setPadding trying to do this on a website or an android app? Just been looking at the setPadding only seems to be an android thing and isn't a method on the web api. Would love someone to prove me wrong though, because I want to put padding on the map to move the logo and terms of service stuff.

[2022-08-16 10:29] joleschmidt commented on #1137
Hey! Sorry, but what would you like LabelMarker to do? Do you want to display multiple markers? I think it would help a lot if you could show me a bit more code or the file

[2022-08-23 14:21] mickey8121 commented on #1130
You're talking about a different package, dude.

[2022-08-25 02:34] dragonge opened #1141 "React dynamic map is different from JS dynamic map"
Hello, sir
I use this google map react to show it below
"google-map-react" : "2.1.3",
![image](https://user-images.githubusercontent.com/30864402/186560798-914f5ef4-db2c-440a-b315-1d5fb4431e7f.png)
I use this js map to show it below
![image](https://user-images.githubusercontent.com/30864402/186560891-b5a81d4e-5330-4918-a49a-47c5f77dbcf5.png)
![image](https://user-images.githubusercontent.com/3086

[2022-08-26 03:30] dragonge commented on #1141
I have solved the problem, The default property is turned off, the property is enabled

[2022-08-26 03:30] #1141 closed

[2022-09-06 01:02] itsmichaeldiego commented on #1129
This should be fixed by now!

Relates to #1102

[2022-09-07 06:58] LucidNinja commented on #1110
Same issue. `reactStrictMode` is just a temporary workaround. Please resolve this.

[2022-09-07 09:01] pikilon commented on #1129
I have installed latest (2.2.0) and it is not working if you have `StrictMode` wrapper in the React 18 app.
these are the main errors I see in de console
![image](https://user-images.githubusercontent.com/3034213/188837354-0246bcc4-1b20-4362-bf78-adf98622ab7b.png)

[2022-09-07 12:05] mageshk98 opened #1142 "🐛Need to reload the google map when API key is dynamically updated."
**Describe the bug 🐛**

I am using the google map react component in a form(page 1) and maintaining the API key at an account level(page 2). So whenever I update the API key at the account level, it should be reflected in Map in the Form component.

I am storing and retrieving the API key value from the window object itself. After updating the API key react mounting the Form freshly even though th

[2022-09-07 18:58] pdwrl opened #1143 "Markers are jumping"
Hello.
Markers are jumping only when navigating the map by mouse.  They appears on their old places for a short time and then showing on a right places.
Strange: It doesn't reproduces on [Codesandbox](https://codesandbox.io/s/googlemapreact-demo-forked-hrqks5?file=/src/Map.js).

Any ideas please?

https://user-images.githubusercontent.com/5068644/188956432-226dae0c-c807-4bda-9115-841f49864777.mp4

[2022-09-08 00:39] itsmichaeldiego commented on #1143
@pdwrl Could you provide an example of your code, and which version of this library you're using?

[2022-09-08 05:20] mageshkumar1598 commented on #1142
@itsmichaeldiego Can you please check and assist me here? Please let me know if you need more info!!

[2022-09-08 06:03] Exilent-aby commented on #1143
@pdwrl @itsmichaeldiego
I have forked @pdwrl 's codesandbox to use the new rendered for React 18. The markers can be seen jumping there.
[Link to the fork](https://codesandbox.io/s/googlemapreact-demo-forked-mbsis7?file=/src/index.js)
@pdwrl FYI: I changed the Index.js to this:
`
import React from "react";
import {createRoot} from "react-dom/client";
import SimpleMap from "./Map";
import { Browser

[2022-09-08 07:13] pdwrl commented on #1143
@Exilent-aby yes, Your fork reproduces the jumping.
Thank You very much.

[2022-09-08 13:03] EugeniaSSS commented on #1143
I have the same problem! SOS

[2022-09-08 13:17] adrian-koczen commented on #1143
I agree, It would be nice to make this work again 😀

[2022-09-08 17:15] Exilent-aby commented on #1143
@pdwrl For now, I have downgraded to react 17 to make it work for my case. Personally, I don't want to move away from this library, as I found this to be the most straightforward approach to implementing google maps in react so far.

[2022-09-08 23:24] HUSNAINGAUHER commented on #411
[Polyline][1]
<Polyline
      key={3}
      path={points}
      options={{ strokeColor: Config.Boundaries.Uc.color }}
      onLoad={(polyline) => setPolylines([...polylines, polyline])}

 polylines.forEach((pol) => pol.setMap(null))

  [1]: https://i.stack.imgur.com/W1HpB.png
If you are making markers/polyline using children, you should store marker/polyline reference in some state, you can use on

[2022-09-09 08:54] pdwrl commented on #1143
oh, I can't downgrade.
anyway, thank You so much.

[2022-09-09 08:57] muhammedogz commented on #1139
You can use `npm install --save @types/google-map-react`

Also, it should mentioned in readme. @karldanninger

[2022-09-12 07:12] Exilent-aby commented on #1143
This problem seems to be happening in many implementations of Google Maps with react. The official google map react wrapper (@googlemaps/react-wrapper) has [this  demo](https://googlemaps.github.io/react-wrapper/public/basic/)   listed in their documentation on [npmjs.com](https://www.npmjs.com/package/google-map-react). But they too seem to be using ReactDom.render with react 18 to make it work,

[2022-09-13 21:00] DercilioFontes commented on #1129
In development, it only works for React 18 when removing the strict mode (`<React.StrictMode>`). That is not ideal. But it works when built or if you remove/comment out the strict mode.

[2022-09-15 11:02] kkallasm commented on #1143
Same problem here. Any updates?

[2022-09-15 11:23] kkallasm commented on #1117
Any updates on this?

[2022-09-19 13:47] ilhantekir commented on #1002
load the geometry library for access;

bootstrapURLKeys={{ key: MY_API_KEY, libraries: ['geometry'] }}

[2022-09-20 19:17] andyzeli commented on #102
is yesIWantToUseGoogleMapApiInternals deprecated? all i see when searching is the console warning message.

[2022-09-20 23:55] Hiti3 commented on #1110
same here... still nothing?

[2022-09-21 16:49] StanEd256 opened #1144 "Using React Testing Library"
Good afternoon,

I have been trying to test some code that is triggered by the `onGoogleApiLoaded` call from `GoogleMapReact`.

I created a simplified test project (attached).
[google-map-react-test.zip](https://github.com/google-map-react/google-map-react/files/9618649/google-map-react-test.zip)

For the purpose of my example I have greatly simplified the logic and so in effect, the MapWrapper (m

[2022-09-21 17:13] WashingtonLuiz99 commented on #1110
same here... still nothing?
help me

[2022-09-22 14:18] KhalifaGad commented on #1109
I am working with react 18 and configuration extended by `craco` and yarn and it's working fine but throw error: ``React does not recognize the `$geoService` prop on a DOM element.``

[2022-09-23 07:36] nikita-ks opened #1145 "It doesnt work with React 18"
**Describe the bug 🐛**
It doesnt work with react 18 in dev environment,  errors occured ( see screenshots)
In prod version is OK and working

**To Reproduce 🔍**
Steps to reproduce the behavior:

Just copy and paste example from https://www.npmjs.com/package/google-map-react Getting started section

**Screenshots 🖥**
![image](https://user-images.githubusercontent.com/57256724/191911641-83b33b1f-e9f

[2022-09-23 07:52] nikita-ks commented on #1129
the same issue

[2022-09-24 05:08] financialvice commented on #1110
pls fix this is so sad 😫

[2022-09-26 12:34] Quentinb commented on #1145
Same here. Looks like you need to disable strict-mode - https://github.com/google-map-react/google-map-react/issues/1116#issuecomment-1150589667

[2022-09-27 11:08] JonasRothmann commented on #1143
Same problem. We use React 18 in production and can't downgrade.

[2022-09-27 16:11] MomoRazor commented on #1102
Just dropping a line because as of yet React 18 is still not supported, so I'm not sure if there is some form of alternative.

[2022-09-27 21:34] Reyesnes commented on #1110
Hello dears. Suddenly this problem started appearing for me. Every time I'm just writing the code, the terminal window (Output) opens and shows me this error:

`2022-09-27 15:27:40 Cannot read properties of undefined (reading 'getChildren0')`

Can you help me to solve this please!
I am working with SQL language

![Cannot read properties](https://user-images.githubusercontent.com/71111886/192639786

[2022-09-28 07:54] Mmojekwu commented on #1113
Same issue

[2022-09-29 19:25] OmarSalah1911 commented on #1129
In development, it only works for React 18 when removing the strict mode (<React.StrictMode>).

[2022-09-30 17:55] jasonperrone commented on #840
This issue is marked a closed but I am seeing the same issue now on the latest version of this app.

[2022-09-30 17:55] jasonperrone commented on #840
@ampup-tott Did you figure something out?

[2022-10-02 08:05] fatihyildizhan commented on #1113
Hi. Is there any way to fix it without removing `<React.StrictMode>` from `index.js` file? Thanks

[2022-10-02 12:53] rubysky17 commented on #1130
i using a right package and it not run

[2022-10-02 12:53] #1130 closed

[2022-10-02 13:08] fatihyildizhan commented on #970
Hi, @maullerz did you try that solution with React 18?

[2022-10-02 13:36] maullerz commented on #970
No

[2022-10-03 10:25] PrateekGoyal18 opened #1147 "FitBounds not working"
Hi All,

I am trying to use fitBounds function example from here - https://github.com/google-map-react/google-map-react/blob/master/API.md#fitbounds-func, but I am getting this error whenever I am calling it
[code]

My code is something like this -

[code]

[2022-10-03 14:40] giorgiabosello commented on #1147
You are declaring bounds wrongly. This is an example of bounds created with `google.maps.LatLngBounds()`:
[code]

[code]

[2022-10-04 04:47] PrateekGoyal18 commented on #1147
@giorgiabosello I am still getting this error when using your solution -
[code]

[2022-10-04 07:13] giorgiabosello commented on #1147
@PrateekGoyal18 kike this?
[code]

[2022-10-05 09:27] FatiMooni opened #1148 "Geometry library not properly loaded"
**Describe the bug 🐛**

I am trying to use encoding module from geometry library , but I noticed that sometimes is not properly loaded and I started getting this error :
`TypeError: Cannot read properties of undefined (reading ‘encoding’)` whenever I try to use the library to decode a polyline.

**Code snippet 🔍**

_declaring map_
[code]
_use of a library_
[code]

**Question 💭**

How Can I be comp

[2022-10-05 10:44] amabirbd commented on #1129
With Nextjs this problem is solved  by setting restrict mode to false in the Nextjs config file.

[2022-10-05 19:56] mcgrealife commented on #1143
[This PR](https://github.com/google-map-react/google-map-react/pull/1146) by @viktorbezdek claims to solve it, but has been stale without review for 7 days now

[2022-10-05 23:13] mcgrealife commented on #1143
[A PR](https://github.com/google-map-react/google-map-react/pull/1146) by @bordeo addresses this, but needs review and approval

[2022-10-06 05:47] giorgiabosello commented on #1143
@mcgrealife the PR of @bordeo address issues with react 18, but I've found out that something else happens:
markers are not being reinitialized, so, or you can't see them on the map, since they have wrong style positions, or they move with the map.
I have tried to fix it, but it's like a matrioska. I'm implementing maps with the official library (@googlemaps/react-wrapper) since I cannot downgrade

[2022-10-06 05:53] giorgiabosello commented on #1148
@FatiMooni you should see the script loaded in the DOM. See if there's "geometry" in the tail of the script.
To re-render maps, you should trigger a state or pass another `key` prop to the component.
For example:
[code]

[2022-10-06 09:52] PrateekGoyal18 commented on #1147
@giorgiabosello but how to insert custom latitude and longitude in above code as its just extending current bounds object?

[2022-10-07 03:26] Eslam3bed commented on #1143
#### Experiencing the same issue when upgraded to react 18 `-_-`

![juming_markers](https://user-images.githubusercontent.com/20760072/194461181-d1886cb9-3976-4ab9-83cc-b33dbc9af8bc.gif)

[2022-10-07 05:32] giorgiabosello commented on #1147
@PrateekGoyal18 sorry, bounds inside the function are referring to yours.
[code]

[2022-10-07 05:34] PrateekGoyal18 commented on #1147
@giorgiabosello is it possible to connect with you sometime over a meet call maybe, becauuse I am still facing some issues with the solution ?

[2022-10-07 05:35] giorgiabosello commented on #1147
@PrateekGoyal18 I can help you with a codesandbox, if you create one.

[2022-10-07 05:44] PrateekGoyal18 commented on #1147
@giorgiabosello ya thats a good suggestion, give me some time and I'll share that link with you

[2022-10-07 06:56] PrateekGoyal18 commented on #1147
@giorgiabosello here is the codesandbox link - https://codesandbox.io/s/google-maps-test-fwwvs9?file=/src/GoogleMap.js
If you zoom out the map, you will see there are many other markers all over the world, and their data usually comes from api, so we need to set the bounds in a manner that in 1 snapshot a user can see all specified markers (wherever they may be situated)

[2022-10-07 07:42] giorgiabosello commented on #1147
@PrateekGoyal18 you have markers with wrong latitude or longitude coordinates.
See this: https://codesandbox.io/s/google-maps-test-forked-4xmgfh?file=/src/GoogleMap.js

[2022-10-07 13:10] farhanmeo opened #1151 "Custom Marker for start and end point coming from DirectionRenderer"
**Is your feature request related to a problem? Please describe 🙏**
The problem I am facing using this library is when I create a direction from point A to B it give me perfect direction with A and B marker but I can not change that A and B marker with my custom marker for example I want to replace A with Home Icon and B with office Icon.

**Describe the solution you'd like 🤔**

I am using the lib

[2022-10-07 13:36] PrateekGoyal18 commented on #1147
@giorgiabosello your solution worked like a charm.
Thanks a lot for all your help!

[2022-10-07 14:43] jasonperrone commented on #840
@ampup-tott Can you tell me why you closed this issue?

[2022-10-07 15:56] jasonperrone opened #1152 "Returns wrong boundary when crossing longitude -180"
This bug is a reopening of #840 which I absolutely agree is a bug with google-map-react. It happens in transform.js:pointLocation(). For whatever reason, if it's working on a point in the Southern hemisphere, it just buggers the longitude. A good point to test with is lat: -32.0410072, 115.961535. By the time transform.js is done with it, that point has a longitude of -247.813641...

Here's a debu

[2022-10-07 21:54] haabnaseem commented on #1143
NextJS with React 18, same bug

[2022-10-08 05:32] #1147 closed

[2022-10-09 09:49] haabnaseem commented on #1143
@pdwrl can you make your lat, lng values are present? i had one marker which was missing lng value and when I fixed that markers didn't jump anymore.

[2022-10-09 09:52] Eslam3bed commented on #1143
@haabnaseem Can you explain more, these details are mandatory, we do provide them, however, we still face the same issue,
can you explain more about your findings?
_Thanks_

[2022-10-10 15:24] haveamission commented on #1122
@TheNatas There is no `google.maps.Marker` object anywhere. You have map, and maps.

[2022-10-11 07:49] ilan-belfer commented on #1143
React 18. Same bug

https://user-images.githubusercontent.com/96370537/195029680-d0cb7a35-36cf-4868-9f40-b60504a512d6.mp4

[2022-10-11 21:20] jeantimex opened #1153 "Add AdvancedMarkerView and PinView API"
**Is your feature request related to a problem? Please describe 🙏**

Google recently announced the new [Advanced Markers](https://cloud.google.com/blog/products/maps-platform/announcing-highly-customizable-higher-performance-markers), it has some really cool [features](https://storage.googleapis.com/gmp-maps-demos/advanced-markers/index.html#intro-page). Would be great if we can have these new API

[2022-10-12 00:41] mcgrealife commented on #1143
@giorgiabosello ah I see.

The new google maps beta "[Advanced Markers](https://developers.google.com/maps/documentation/javascript/reference/advanced-markers)" look promising for most cases. I imagine these play well with the official [@googlemaps/react-wrapper](https://www.npmjs.com/package/@googlemaps/react-wrapper).

[2022-10-12 05:40] giorgiabosello commented on #1143
@mcgrealife at the end, I didn't use the official @googlemaps/reactwrapper, since it is only a wrapper that calls the API script. It doesn't accept markers as react components, but only the default one.
I've followed [this guide](https://dawchihliou.github.io/articles/building-custom-google-maps-marker-react-component-like-airbnb-in-nextjs).

[2022-10-12 10:43] PrateekGoyal18 opened #1154 "How to add places searchbox on map"
Does anybody has any idea on how to add a places searchbox on the rendered google map because there is no as such concrete example for this ?

[2022-10-13 09:34] PrateekGoyal18 commented on #1154
Have referred to multiple issues in the list and finally made some custom logic out of it

[2022-10-13 09:34] #1154 closed

[2022-10-18 20:16] yakushstanislav commented on #1129
the same issue

[2022-10-20 13:41] hugoh59 commented on #954
Is there a fix for this issue ? suddenly started happening on my side.

[2022-10-20 14:07] AndreiFVPopa commented on #1143
Hey there guys.
I've been struggling with this bug a lot also. It definitely needs a fix asap.
I temporarily found a workaround this one. I used an opacity state transition. With the help of drag and dragend, I managed to hide the dots while the flickering is happening.
`const [opacity, setOpacity] = useState(1)
...
<GoogleMapReact
onDrag={() => setOpacity(0)}
        onDragEnd={() => setOpacity(1

[2022-10-20 20:07] yakushstanislav commented on #1143
Same problem.

[2022-10-24 11:46] barroudjo commented on #1117
Same problem here. I'd be interested in seeing the workaround you use (other than ReactDOM.render...).

[2022-10-24 20:52] Saintpreston commented on #1087
Hello @devagja, I'm just wondering if you ever figured out how to resolve this. I found a solution in vanilla js however not the React Component

[2022-10-25 00:28] dragon7210 opened #1155 "Module is not working"
**I am using this module but found this error🐛**

![image](https://user-images.githubusercontent.com/109200467/197654760-735171f7-5828-4bdd-9de1-fc23a01fc1a6.png)

**To Reproduce 🔍**

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

A live example helps a lot!

**Expected behavior 💭**

A clear and concise description of what you expected to

[2022-10-26 14:02] devagja commented on #1087
Cool!
Thank you very much @Saintpreston for your effort,
for my part I am satisfied and I consider the issue resolved

[2022-10-26 14:02] #1087 closed

[2022-10-28 05:15] xwg2015 commented on #1143
Same problem.

[2022-10-28 07:26] ttristan commented on #1145
That is not an option for us. We planned on using it in our Next.js project but this is a dealbreaker for us as we would not want to disable strict mode for the entire project. I hope this gets fixed eventually because this library was the best fit for us so far.

[2022-11-01 13:56] jainprashul opened #1156 "Child or Marker , on Click or hover event doesn't work on fullscreen mode."
lkql;qasd

[2022-11-01 18:34] ifightcrime commented on #1110
I ended up just dumping this library. Turns out it wasn't hard at all just using `@googlemaps/react-wrapper` and `@types/google.maps` (for typescript). Just follow these two guides:

- https://developers.google.com/maps/documentation/javascript/react-map
- https://developers.google.com/maps/documentation/javascript/using-typescript

[2022-11-01 18:38] ifightcrime commented on #1129
My comment on this other issue might help: https://github.com/google-map-react/google-map-react/issues/1110#issuecomment-1298946530

TL;DR I just dropped this library in favor of using the Google library and `@googlemaps/react-wrapper` directly.

[2022-11-02 01:20] chyde commented on #1155
react 18 isn't supported yet I think. . .

[2022-11-02 01:23] #1155 closed

[2022-11-02 16:15] T-Nagui commented on #1145
I hope they update to be full compatible with React 18
i just downgrade the current version of react in my project
But if stay more then few months i need to use another library or juste make my code 100% custom :'( it w'll take me time but this make my web app more secure and up to date.

[2022-11-03 10:31] JamshedHabibi commented on #1144
I'd really like to know this also. How do we test this component?

[2022-11-03 23:40] Naught0 commented on #1143
Any word on what's causing this? Why does reverting to react 17 fix it?

[2022-11-04 06:07] giorgiabosello commented on #1143
@Naught0 because React 18, in developer mode, mount and unmount the component to make some tests.

[2022-11-04 07:32] samueldusek commented on #1117
I am facing the same issue. 😞 Does anybody has any progress on this? 🙂

[2022-11-07 04:01] vanessa-myt opened #1157 "Adding MapId property for map styles"
I haven't read anything about mapIds here in the repo. So please enlighten me incase this feature was already created.

I wanted to style my map using cloud-based styling on Google Maps Platform. Can we have a mapId property in order to apply the styles I created on GCP? Thanks!

[2022-11-07 08:13] vanessa-myt opened #1158 "libraries in bootstrapURLKeys not working"
Hello everyone! I cant seem to get to show the places on my map.
I've tried enabling places API in my GCP as well as adding libraries:['places'] in bootstrapURLKeys and it still wont show. Its still shows a plain map T^T pls help

![image](https://user-images.githubusercontent.com/91734524/200259029-031c9210-97aa-4c1f-be64-e3add33d3c2d.png)

[2022-11-07 08:35] vanessa-myt commented on #1136
in my case, I created a function(in your case its the apiIsLoaded function) for the onGoogleApiLoaded property and and created a marker inside the function and appended a property "draggable:true". It worked for me.

This is what the code looks like inside the function:
    let marker = new maps.Marker({
            position: { ...defaultProps.center },
            map,
            draggable:true,

[2022-11-07 08:36] vanessa-myt commented on #1122
@haveamission try to use `maps.Marker` instead of `google.maps.Marker`

[2022-11-09 08:41] EgrLapko opened #1159 "Enabling experimental features for displaying current city polygon (Or some other way)?"
I want to use Region Lookup API (https://developers.google.com/maps/documentation/javascript/dds-boundaries/start) for displaying boundaries for current administrative level, for this I need to pass a mapId, which goes into options object, and also I have to modify script link with v=beta, like so:

`<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&v=beta&callback=initMap"></s

[2022-11-10 12:35] nathnhughes commented on #1117
Yep, also experiencing the same issue with React/React Dom 18.2...

Would love to know if there's a workaround that doesn't involve downgrading

[2022-11-11 11:35] Gigiz commented on #1143
Nope, i tried in production mode but this behaviour still present

[2022-11-11 18:16] luan-dang-techlabs commented on #1122
I did this see if this helps you:

e.g.

[code]

[2022-11-14 08:45] dvloperAakash opened #1160 "onChildClick gives null everytime . hover is not working when point on the image on the map."
**Describe the bug 🐛**

A clear and concise description of what the bug is.

**To Reproduce 🔍**

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

A live example helps a lot!

**Expected behavior 💭**

A clear and concise description of what you expected to happen.

**Screenshots 🖥**

If applicable, add screenshots to help explain your proble

[2022-11-16 18:10] JavierSolis commented on #1143
You can use the parameter onGoogleApiLoaded, to have the reference to the map and add the markers, these markers will not have the problem

[code]

[2022-11-17 02:40] Snarik commented on #1016
Im having a similar error as the above comment. Using `PlacesAutocomplete` which has it's own desires for loading things and seems to be conflicting with `google-map-react`.

Like the above poster, my markers appear but not the map.

[2022-11-18 21:29] giorgiabosello commented on #1145
I've made a repository myself which is working with React 18. I've abandoned this one, since it seems it is not maintained anymore.
[LINK](https://github.com/giorgiabosello/google-maps-react-markers)

[2022-11-18 21:30] giorgiabosello commented on #1143
I've made a repository myself which is working with React 18. I've abandoned this one, since it seems it is not maintained anymore.
[LINK](https://github.com/giorgiabosello/google-maps-react-markers)

[2022-11-19 14:40] mh-preyash opened #1161 "How to get positions of the markers on map change?"
When i drag the map, i want visible markers positions so i can get there lat, lng show i can show the list besides the map.

![Locations _ Gym   Fitness _ UFC GYM](https://user-images.githubusercontent.com/114282931/202856144-392fa6e6-73e1-4d3f-a07a-a1ad5b86b97a.png)

Pls see this gif file better understanding
![Locations _ Gym  Fitness _ UFC GYM](https://user-images.githubusercontent.com/11428293

[2022-11-19 17:51] alehano commented on #1143
Thanks, finally it's working

[2022-11-22 21:22] strarsis commented on #1157
@vanessa-myt: Yes, it is already possible, though with a JavaScript warning (which doesn't cause issues):
https://github.com/google-map-react/google-map-react/issues/1070#issuecomment-1008249855

[2022-11-24 15:36] fshahmt commented on #1161
Exactly what I need and why I started looking at all the issues here. You got anywhere?

[2022-11-25 07:02] giorgiabosello commented on #1129
I've made a repository myself which is working with React 18. I've abandoned this one, since it seems it is not maintained anymore.
[LINK](https://github.com/giorgiabosello/google-maps-react-markers)

[2022-11-25 21:00] imhaeussler commented on #1145
Thanks very much Giorgia It _works_

[2022-11-25 23:54] centratelemedia opened #1162 "set MapTypeId not working"
change default map type to hybrid not working
[code]

[2022-11-28 10:37] pradipvadher opened #1163 "Uncaught TypeError: mapG.getFeatureLayer is not a function"
I am trying to access the "getFeatureLayer" from the map by following the below instructions,
https://developers.google.com/maps/documentation/javascript/dds-boundaries/style-polygon

I want to display a polygon using data-driven based on locality, but when I try to access it, it shows that I getFeatureLayer is not a function.

below is my code,

<GoogleMapReact
          ref={mapRef}
          bo