[2017-07-26 06:09] istarkov commented on #422
How you click on marker if it is not rendered?

[2017-07-26 06:15] Sepehr-Aliakbary70 commented on #422
when I use child component the markers not rendered. but I can fetch API on marker click.
for example :
[code]
and my child click function:
[code]
In this case markers not rendered. But when I delete {this.state.mapEntityDetail} section, They will be rendered.

[2017-07-26 06:33] istarkov commented on #422
`markers.push`  does not change the reference to markers array, so for internal optimizations `markers` array has not changed.

Also please provide an example using https://codesandbox.io or jsbin, I don't understand what your code pieces above is about.

[2017-07-26 22:04] mvanlonden opened #423 "Centering marker using flexbox"
In the new docs you mention you can center the map markers using flexbox instead of absolute positioning. The example link is broken so I can't see how you would do that.

Could you provide a snippet of how this is done?

[2017-07-26 23:13] istarkov commented on #423
Can you just use a flexbox for item centering? I did examples but the resource I hosted them moved. I have no time to repeat that examples again.
And after you did that can you share the results?

[2017-07-27 00:49] EbrahimMajdey commented on #421
Thanks , but I am now getting this message .
minZoom option is less than recommended minZoom option for your map sizes.
overrided to value 3

[2017-07-27 04:40] Sepehr-Aliakbary70 commented on #422
What do you do if you want to do this functionality?
(fetch from API and show that data on an info window)

[2017-07-27 11:48] ChrisBeeson commented on #382
+1

[2017-07-27 15:15] ondrejrohon opened #424 "Map not updating center position if it happens to quickly after componendDidMount"
After my map component successfully mounts it is updated via props as a result of fetching data from server. If that result arrives too quickly, about 100 ms, map position does not update. Try different values in setTimeout of componentDidMount. Everything works fine if I set delay of around 500ms. I can see in React tab of developer tools that <GoogleMapReact /> component correctly receives new v

[2017-07-28 02:48] igrowsquareroots opened #425 "npm install --save google-maps-react"
Hello,
I am new to react and am trying to implement react for my high school to access google maps. However, on attempting to install I got the following errors:
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@^1.0.0 (node_modules\chokidar\node_modules\fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.1.2: wanted {"os":"darwin","arch":"any"} (cur

[2017-07-28 06:06] istarkov commented on #425
Warning is not errors. This library has nothing with google-maps-react

[2017-07-28 06:06] #425 closed

[2017-07-31 02:03] SachaG commented on #412
Maybe this could be made more obvious in the docs?

[2017-07-31 13:44] jkettmann opened #426 "onChange called on map init"
I have a use case, where I rerender the map directly after initial render. Following is quite similar to my component:

	class Map extends React.Component {
	  constructor(props) {
	    super(props);
	    this.state = {
	      center: props.center,
	    };
	  }

	  componentWillReceiveProps(nextProps) {
            // deep equal comparison
	    if (!isEqual(nextProps.center, this.props.center) {

[2017-07-31 13:47] istarkov commented on #426
https://github.com/istarkov/google-map-react/blob/master/DOC.md
read Note about onChange and wrong decision

[2017-07-31 13:57] jkettmann commented on #426
Seems reasonable, that the call to the internal `_onBoundsChange` and also a separate external `init` callback are necessary. But as a user of the libs API I expect `onChange` to be called only when the user interacted with the map. An input component like a text field also wouldn't call onChange after initialization.

[2017-07-31 14:08] istarkov commented on #426
I wrote there the same.

[2017-07-31 14:09] jkettmann commented on #426
Ah sorry, I missed the note

[2017-08-03 05:52] #396 closed

[2017-08-04 04:42] EbrahimMajdey commented on #421
any update

[2017-08-04 22:57] r3ticuli commented on #27
It's been done here : https://github.com/Tim152/clustering-google-map-react

[2017-08-06 14:34] ribeiroguilherme commented on #420
Hi @edcolcode , I was with a similar situation as you are, I was using the places API in other components without the map, getting the error that it was been loading twice. I did what @istarkov wrote here #303 Loading the API on demand inside the component that you would like to load it.

[2017-08-07 04:09] EbrahimMajdey commented on #421
If I set the defaultZoom to less than 3 and use minZoomOverride to true, the map zooms more than expected, if the size of the map width and height larger than 512 px .. which is strange !
I assume there is some mistake in the zoom and edges calculation .. I really couldn't follow the code to understand where is the problem

[2017-08-07 04:18] EbrahimMajdey commented on #421
I was a bit wrong only when the width is above 798 thinks go crazy

[2017-08-08 20:43] edcolcode commented on #420
Thanks a lot @ribeiroguilherme.

[2017-08-08 20:43] #420 closed

[2017-08-09 07:25] amosyuen opened #427 "Panel not dynamically resizing when using sidebar with percent width"
Oops, sorry, posted in wrong project.

[2017-08-09 07:26] #427 closed

[2017-08-09 09:27] andreivictor commented on #341
hello @yoadsn,

I'm having the same issue with the map.
However, I couldn't understand from the examples what should I do in order to fix this issue.

Can you please give me some hints?

The code I've used is:

`
    class EventsMapPage extends Component {

    //...

    _onChange (properties) {
        console.log( 'map changed, properties: ', properties );
        this.props.onCenterChange(prop

[2017-08-10 19:40] williamli commented on #341
I am stuck at this part as well.
It seems onChange expect there are props on the current object for
this.props.onZoomChange
this.props.onCenterChange

it should be related to
static propTypes = {
    center: PropTypes.array, // @controllable
    zoom: PropTypes.number, // @controllable
    hoverKey: PropTypes.string, // @controllable
    clickKey: PropTypes.string, // @controllable
    onCenterCha

[2017-08-10 19:49] williamli commented on #341
got it now.

@andreivictor  it seems `react-controllables` is used to wrap React components and provide user controls to it. After this, feature like `this.props.onCenterChange` will become available to the React component...

[2017-08-10 20:09] williamli commented on #341
got it.

@andreivictor  you need to know `react-controllables` that will wrap your elements with an extra layer and provide controllable functions as props.

[code]

are all functions created by `react-controllables`.

https://github.com/matthewwithanm/react-controllables

[2017-08-11 06:02] andreivictor commented on #341
Thanks @williamli for your response.
I've understood the `react-controllable` plugin and the functions created by it, but,  I'm still not sure how to resolve this issue.

I'm including the component from the code [above](https://github.com/istarkov/google-map-react/issues/341#issuecomment-321203458) in the main component of the app like this:

     <GoogleMap
                 center={this.state.ce

[2017-08-12 02:07] A-Tokyo commented on #271
Having the same issue and came up with this approach, it isn't perfect since 85 isn't the exact max/min latitude but it does the trick.

[code]

[2017-08-13 10:55] HashemKhalifa commented on #27
@r3ticuli Thanks, can we have the tooltip card as well?

[2017-08-14 20:36] s-stepien opened #428 "onChildClick strange behavior?"
Hi

I got this simple code based on create-react-app:
[code]

Why clicking on button with label `a` gives me `child click` and clicking on button with label `b` gives me `click` in console?

[2017-08-14 21:56] rafalradomski opened #429 "Dosent work with react 16"
I using react 16.0.0-beta.3 I just copy and paste example from doc I getting error:

``validateDOMNesting(...): <a> cannot appear as a descendant of <a>``

[2017-08-14 23:17] rafalradomski opened #430 "bootstrapURLKeys dosent work"
**bootstrapURLKeys** dosen't work when I using it with  **react 16**

but when I add key in html it works:

`<script src="//maps.googleapis.com/maps/api/js?key=MY_KEY" async="" defer="defer" type="text/javascript"></script>`

... and why there is no information in doc that I need add it? That's crucial information

[code]

[2017-08-14 23:22] kktam opened #431 "Question - use of High order component in library and examples."
Inside the google-map-react library contains a number of High order components, such as code in GMap.js , GMapLayers.js, GMapOptim.js.

There are not compiled as part of the library UMD files. and not mentioned in readme pages.

1. Does these code meant to serve as examples on how to use the library optimally?
2. is there any documentation on use of these HOCs?

[2017-08-15 01:09] colafati opened #432 "MapType and Custom Drawing Layer"
Hi,

I'm having a hard time trying to customize the Map Type button; I just can't find any property on this module that changes the MapType. I only see one that triggers if the map type was changed.

Another important feature that I can't integrate is the custom draw function; I want to provide the user a free hand tool where he can select the area to search on the map. I also want a custom button

[2017-08-15 01:14] colafati commented on #424
Did you try to use onGoogleApiLoaded function instead componentDidMount?

[2017-08-15 12:39] Fi1osof commented on #59
@hemedani My example:

[code]

[2017-08-15 21:35] GingerBear commented on #168
for anyone who havs the same issue, the problem is that the custom marker is anchored at top left of the marker, but we actually want for marker to anchor is usually at center bottom. The fix would be adding a negative marginTop and marginLeft to adjust the anchor.

[2017-08-16 15:46] ondrejrohon commented on #424
@colafati you're right, google maps api is not loaded when I call setState so it does not update center position. Thanks.

[2017-08-16 15:46] #424 closed

[2017-08-16 22:11] wayweary commented on #430
Doesnt work for me as well :/. However, if i do add this css to the map div it will "work"
[code]
Ie i remove the position fixed that the GoogleMapReact will get

[2017-08-16 22:16] wayweary commented on #430
Ooops, just saw this: "Make sure the container element has width and height. The map will try to fill the parent container, but if the container has no size, the map will collapse to 0 width / height."
https://github.com/istarkov/google-map-react/blob/master/API.md

[2017-08-18 19:14] bear-bibeault opened #435 "Access to Google map handle in children?"
Is there a way to access the actual Google map handle in the child components for the rare case where a native method or value needs to be referenced?

I need access to the native API's `overlayMapTypes` array so I can add/remove custom tile overlays.

Thanks!

[2017-08-20 07:44] mikkopori commented on #430
I believe the issue is that if you put the key in state etc. it does not work, if you hardcode to the client it works.

Just trying to figure out how to solve this as I would like to secure my key better and use different keys for different env (and secure the key usage by binding it to that domain).

This also follows Google's instuctions on how to handle API keys:
https://support.google.com/goog

[2017-08-20 09:17] mikkopori commented on #430
Solved the thing with conditional rendering: https://facebook.github.io/react/docs/conditional-rendering.html

`    var reactmap = "";
    if(this.state.api_key) {
      reactmap =  <GoogleMapReact
        defaultCenter={this.props.center}
        defaultZoom={this.props.zoom}
        center={this.state.center}
        zoom={this.state.zoom}
        onClick={this.unconfirm}
        layerTypes={['T

[2017-08-21 01:20] colafati commented on #432
I have success with the mapType button with this solution:
https://github.com/istarkov/google-map-react/issues/102#issuecomment-193398765

Still having problems with the Custom Drawing layer.

[2017-08-21 07:35] williamli opened #436 "How to reinitialise map with new language?"
My website has a language toggle that passes language props down to GoogleMapReact.
It is passed as part of the bootstrapURLKeys

[code]

I can set the initial language of the map fine but it is impossible for me to change the language used by Google Map without a full page refresh.

It there a way for me to reinialise the Google Map with a new language?

[2017-08-21 07:38] istarkov commented on #436
Only if it possible with google api. As I know it's not.

[2017-08-23 23:21] aaroncrawford commented on #122
FYI for those in the future, the example above by ruta works, however the lat and lng are reversed in the point.map function.  Should be location[0], then location [1] if you stick to the LatLng naming schema.

[2017-08-24 06:40] rushikeshpandit22 commented on #122
heat map layer location is not exactly  as given.
![heatmap](https://user-images.githubusercontent.com/14141622/29652875-1d3d0f3c-88c5-11e7-84ce-0a9343229335.png)

[2017-08-24 11:41] tuncatunc commented on #381
Interestingly, I've the same problem but with Mapbox React GL

[2017-08-26 11:20] amiiigh opened #438 "Draggable markers also drag map firefox"
Hi
I implement [this code](https://jsbin.com/molerasebo/2/edit?js,console,output) and it works perfect on chrom but in firefox v55 when you try to drag the marker it also drags the map

any idea how to fix this ?

[2017-08-26 11:29] amiiigh commented on #438
It can be fixed by changing onChildMouseDown to onChildMouseEnter

any other way?

[2017-09-01 16:28] jaylaw81 opened #439 "Documentation on Dynamically adding Markers"
Any examples or documentation on adding markers dynamically to a rendered map?

[2017-09-02 00:14] echowand commented on #122
FYI for future users, don't forget visualization lib.
src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY**&libraries=visualization**"

[2017-09-02 04:12] rushikeshpandit22 commented on #122
Yes, I specified 'libraries=visualization' in URL-It's display heat map but the issue is it not on the exact  location on zoom-in and when we do zoom-out it's view gets split.

[2017-09-03 01:23] mikebski commented on #173
Here's an updated link to the docs -> https://github.com/istarkov/google-map-react/blob/956c0ca5d2b9aeb33ef2693a5e43801385ded7cb/API.md

[2017-09-09 04:27] howardya commented on #382
+2

[2017-09-13 14:33] malaman commented on #409
@JavoByte we have same issue.
As a workaround we use small wrapper, which renders GoogleMapReact only after mounting on client side.

[2017-09-14 16:22] charlesgreen opened #442 "Security issues with scriptjs dependency found with RetireJS"
Using RetireJS I was able to find that the scriptjs dependency used in this package has multiple known jquery security vulnerabilities.

/myapp/node_modules/scriptjs/vendor/jquery.js
 ↳ jquery 1.5.2 has known vulnerabilities: severity: medium; CVE: CVE-2011-4969; http://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2011-4969 http://research.insecurelabs.org/jquery/test/ severity: medium; bug: 11290

[2017-09-14 17:28] istarkov commented on #442
Have you opened that links? Please provide example.

[2017-09-15 00:44] charlesgreen commented on #442
Yes, I've opened the links. Btw, I am not affiliated in any way with retirejs. It's just a good open source security tool that I use.
https://retirejs.github.io

It works by scanning the package.json file for dependencies and versions. It then scans known CVE registries.

It is not a static analyzer. As such I cannot show you a specific issue with your code except that it depends on a vulnerable v

[2017-09-15 05:30] istarkov commented on #442
I see no reference to script lib at that links. Also this is not jquery etc and I see no connection between information above and current code. Please welcome with specific reproducible example, otherwise it looks like - internet has viruses so every your code has security issues.

[2017-09-15 05:30] #442 closed

[2017-09-15 05:56] charlesgreen commented on #442
It was just an FYI. No action needed.

Your code was included as a component in a website template that I am using.
The code looks great. It is only the dependencies that have an issue.

The references can be found in your package.json
google-map-react > scriptjs > jquery
google-map-react > scriptjs > yui-utilities

[2017-09-15 09:01] AgustinCB commented on #381
I had this error recently and then realized that I was putting my latitude in `lng` and longitude in `lat`. Try switching them :)

[2017-09-15 22:43] JonDum commented on #439
Just do it like you would with any other React component.

[code]

[2017-09-16 17:29] tuncatunc commented on #381
İt worked after switching lat lng values. Thanks @agustincb

[2017-09-18 23:38] Benornm commented on #439
How can i get a normal marker sign?
I need to create my own <Marker/> ?
I just want the default ..

[2017-09-20 16:16] thehulke opened #443 "Is there a possibility to apply custom styles?"
Hello,
Cool library, loved it!

I want to use my own set of colors to map, unfortunately i have not seceded to find any documentation to apply this.

Is there any chance that the component can receive props like :

[code]

As documented in the [google maps api](https://developers.google.com/maps/documentation/javascript/styling).

Thanks!

[2017-09-20 22:03] DeliSauce commented on #443
See issue #408 for the answer.

[2017-09-20 22:07] thehulke commented on #443
I figured it out,
It can be sent via the `options` prop.

[code]

[2017-09-21 06:47] #443 closed

[2017-09-23 20:35] Thammawat opened #444 "How do I write DirectionsService likes origin,destination and travelMode in google-map-react"
thank you for the answer.

[2017-09-25 08:31] eelfonik opened #445 "Update to @mapbox/point-geometry"
Hello, thanks for the great lib.
I recently got a warning saying:
`WARN deprecated point-geometry@0.0.0: This module has moved: please install @mapbox/point-geometry instead`.

Do you have a plan to upgrade to the latest version? If I got it right, we have only used that in `src/utils/lib_geo/transform.js` to create point geometry, and it doesn't change API or anything.

Thanks!

[2017-09-25 14:40] omerts opened #446 "fitBounds returning wrong center"
Hey,

Fitbounds util function seems to be returning the wrong center.
Here is a fiddle to reproduce our problem:
https://jsfiddle.net/omerts/ndo35v4t/4/

How we call the function:
[code]

Actual (Invalid) result:
`{ center: { lat: 33.75138591767201, lng: -144.92951500000004 }}`

Expected result (taken from google's getCenter function)
`{ center: { lat: 33.745555, lng: 35.07048499999996 }}`

[2017-09-25 14:44] istarkov commented on #446
You are passing a line into, not a rectangle, see lng. With such input equations for zoom will not be solved so there is no need to provide a good result for anything else.

[2017-09-25 14:44] #446 closed

[2017-09-25 14:48] omerts commented on #446
@istarkov it still sounds like a bug to me, why would this function not know how to deal with lines?

[2017-09-25 14:51] istarkov commented on #446
for my usecases this is enough. I see no reason to check and validate every input, I have a better ideas how to spend my time and this is not writing obvious checks

[2017-09-25 15:27] omerts commented on #446
This is not input validation, nor an obvious check. We are not passing an invalid input. Getting the zoom, and center of two points on a line, is a perfectly valid and logical use case.
If you don't want/have time to deal with it, you can add an enhancement tag etc., but not just close the issue and throw it off.

[2017-09-25 15:31] istarkov commented on #446
If you really want to change something just provide a PR, fork, just do anything instead of writing words

[2017-09-25 23:30] ckim16 commented on #340
Does anyone mind providing a simple example for this?

I, too, need to animate marker based on lat&lng change for my own project.

Thanks

[2017-09-26 18:00] mikebski opened #447 "Image showing with img tag - when I surround with span tags it does not show"
I am using a very simple map, this works fine:

[code]

I can see my image.

My issue is that when I use the below objects I cannot see them on the map:

`<span><img width="24" src={greenTruckPng} lat={lat} lng={lng}/></span>`

or even

`<a href onClick={() => alert("Click")}><img width="24" src={greenTruckPng} lat={lat} lng={lng}/></a>`

[2017-09-26 18:18] mikebski commented on #447
OK, you have to move the lat & lng out to the outer container:

`<span  lat={lat} lng={lng}><img width="24" src={greenTruckPng}/></span>`

[2017-09-26 18:18] #447 closed

[2017-09-28 16:30] ken92 commented on #382
+1

[2017-09-29 12:02] valorize commented on #3
Is there a reason, apart from being a hacky dirty solution, to put the function into util within the repo. So pull requests could work that over.

[2017-10-02 16:49] Nitsorn opened #448 "How to disable map zoom when scrolling inside a scrollable child component?"
Hello,
Is there a way to disable map scrolling when you hover over a scrollable child component inside GoogleMapReact? I still would like to keep `scrollwheel: true` for it to zoom on scroll when hovering on the map itself.

Thank you in advance.

[2017-10-02 16:51] istarkov commented on #448
You already answered on your question, you need to disable scrollwheel when you hovering on a child. All events exists in html :-) scrollwheel disabled via options

[2017-10-02 17:11] Nitsorn commented on #448
You are right! Thank you :) I didnt see the `onChildMouseEnter` and `onChildMouseLeave` props.

[2017-10-02 17:13] istarkov commented on #448
@Nitsorn You can use dom onMouseEnter onMouseLeave it will be easier

[2017-10-03 06:17] #436 closed

[2017-10-03 13:38] mariusandra commented on #257
I'm also occasionally seeing this reported by Bugsnag, but can never reproduce locally. Has anyone find something that could help?

I'm not sure I understand what InfoBox has to do with this?

[2017-10-03 13:58] mariusandra commented on #257
I released a package called [`@mariusandra/google-map-react`](https://www.npmjs.com/package/@mariusandra/google-map-react) on NPM, which is google-map-react v0.24.0 plus a quick `if (overlayProjection)` [hack](https://github.com/mariusandra/google-map-react/commit/6447cfe34293cbfa7ecadd098aeebeb52d1d61eb) in the hopes of fixing this bug.

I'm not sure if it works, but putting this out there for th

[2017-10-04 08:39] ankitduseja opened #449 "React 16 Support"
Peer Dependency needs to be updated for React 16

[2017-10-04 09:06] istarkov commented on #449
and?

[2017-10-05 15:23] wiesson commented on #449
What does your "and" suppose to mean?

It would be nice if you add ` || ^16.0.0` to the as peer dependency. (I also could help with a PR)

[2017-10-05 16:04] jirikolarik opened #450 "Uncaught TypeError: this.updater.enqueueCallback is not a function"
Hi,

I'm having this error. Most probably caused by React 16 I guess?

[code]

[2017-10-05 16:08] istarkov commented on #450
This is not an error from this library, why you decided to place it here ;-)
It is well known react 16 update error. Use search there to solve.

[2017-10-05 16:08] #450 closed

[2017-10-06 01:22] hanford opened #451 "gestureHandling='greedy' not working"
[code]

doesn't seem to be enabling one finger drag, any ideas?

[2017-10-06 13:59] samwest7 commented on #227
@istarkov I would also love to see support for KML files. KML is a layer file, which is used when you export maps from the Google MyMaps UI.  This would allow users to easily create maps using the Google MyMaps UI, export them, and import them into their Google-Maps-React project.
Please let me know if there is any possibility of this happening since my current project somewhat depends on it.

[2017-10-06 14:06] istarkov commented on #227
I'm not using this library now in any of my work projects, so I'm not interested and have no time to somehow extend this library. I even have no time to support it well.
May be in a future (but having that mapbox solutions beats google in every case I feel that such future will never come)

[2017-10-06 14:07] samwest7 commented on #149
Was anyone able to  successfully import a KML file into their map?

[2017-10-08 16:18] chilander1 opened #453 "The best solution for SearchBox?"
Hello!)
I'm trying to add a search to the map like this https://developers.google.com/maps/documentation/javascript/examples/places-searchbox?hl=ru
Now my component looks like this
[code]
I stopped at this place and need your help or advice.
 What should I pass to the child component(SearchBox) for the correct operation of this search?
Please, give me some solution for this (sorry if this question

[2017-10-09 23:18] itsmichaeldiego commented on #3
I mixed first solution provided by @dmitry here, with `onGoogleApiLoaded` and works like a charm:

[code]

Thoughts?

[2017-10-10 06:35] Exomnius commented on #449
#454

[2017-10-10 09:44] Suresh-R-S commented on #168
Hi,

I'am having the same issue. @GingerBear 's answer is not working for me. Any other workarounds?

[2017-10-10 19:52] jirikolarik commented on #450
It is an error from this library, it says there: `at GoogleMapMarkers.../node_modules/google-map-react/node_modules/react/lib/ReactComponent.js.ReactComponent.setState (ReactComponent.js:67)`

Adding react 16 as a peer dependency and rebuilding helped.

[2017-10-10 19:58] istarkov commented on #450
It was just first library which called setState in your code, it's not this library error. Read react issues.

[2017-10-10 20:44] jirikolarik commented on #450
First and only one.. Increasing react version (or adding newer react version) as peer dependency in your project solves the issue

[2017-10-10 20:45] istarkov commented on #450
You are wrong, peer dependencies does not affect your app react version.

[2017-10-10 20:46] jirikolarik commented on #450
as you wish

[2017-10-11 16:12] hanford commented on #453
this helped me https://github.com/istarkov/google-map-react/issues/303

[2017-10-12 12:41] andrevenancio opened #455 "PropTypes not fully fixed"
There's still reference to PropTypes being pulled from the 'react' package instead of the `prop-types` package.
Mainly on the `develop` folder.
Like:
https://github.com/istarkov/google-map-react/blob/2ec7048ab22e9118f020c048580fd416304bb41e/develop/GMap.js#L1

[2017-10-13 16:16] jaredpalmer commented on #455
This is blocking our React 16 upgrade . 😢

[2017-10-13 16:19] istarkov commented on #455
Guys it's just development helper source,
it does not affect library somehow.
I used it to develop library itself ;-) library uses `prop-types` since first days it was published.

[2017-10-13 18:57] andrevenancio commented on #455
There's a reference in package.json for a `lib/indes` in the main. I can't seem to find that folder on the project. I wonder if because of that we load a folder we shouldn't load when we import the library via npm? Also might be related to the babel-loader including all `.js` files. But when I import just this project with React 16, I do see the warning. :)

[2017-10-13 19:04] jaredpalmer commented on #455
Nvm we upgrade to 0.24 and are all good

[2017-10-16 07:23] akichim21 opened #456 ""main": "lib/index" but lib/index.js not found"
I want to preempt React 16. I write package.json, and npm i
{
  "dependencies": {
    "google-map-react": "istarkov/google-map-react"
  }
}

but ./node_modules/google-map-react/lib not found
so Typescript error: Module not found: Error: Can't resolve 'google-map-react'

I rewrite google-map-react, and npm i; npm run build:lib; in google-map-react directory, fix this problem.
I want lib directory t

[2017-10-17 13:29] Anchmil opened #457 "Component directions"
Hello! Can you tell me how can I create a component directions like this [https://developers.google.com/maps/documentation/javascript/examples/directions-waypoints?hl=ru](https://developers.google.com/maps/documentation/javascript/examples/directions-waypoints?hl=ru)
I can not understand how to display the route on a map. Please help someone.
Now my component looks
[code]

[2017-10-20 02:59] wang3g commented on #294
Hi,  I m stuck on the bound calculation. Say we have the lat/lng of a central point, viewport size (width and height in pixel) and zoom value, how do we calculate the coordinates (lat/lng) of NW and SE of that viewport? What is the formula of calculation? Thanks a lot!

[2017-10-20 22:02] vkatatab commented on #457
@Anchmil, you could use the prop yesIWantToUseGoogleMapApiInternals and implement the onGoogleApiLoaded to get the maps ref. and do whatever you want!

[2017-10-23 17:05] freecates opened #458 "pass latitude and longitude to GoogleMapReact center from navigator.geolocation.getCurrentPosition"
Hi,
I'm trying to use navigator.geolocation.getCurrentPosition to get user current location and pass its coordenates to your component GoogleMapReact center property.

Do you have any solution or pattern?

Thanks a lot!

[2017-10-26 13:36] dericcain commented on #458
@freecates I am doing something like that at the moment. One pattern you could use is to have a parent component which gets the user's location on `componentWillMount` and once the location is retrieved, you could use `setState` to update the `lat` and `lng` of the state. Then the GoogleMapReact would simply be a child component of that has the `lat` and `lng` props which would be passed by the pa

[2017-10-29 13:05] snhasani commented on #350
@istarkov I also have this problem with current API. I need events like `dragstart` and `dragend`, but I can rich them.

and also I don't have access to google events directly from `onGoogleApiLoaded` method for example

[code]

[2017-10-29 13:06] snhasani commented on #350
@oskarkvamme How did you resolve this issue?

[2017-10-31 12:05] #455 closed

[2017-11-01 22:51] Plainlazy01 commented on #457
All I can say is I don't know about this stuff im tryring to figure it out thank you for you help and having a problem with drop pin on some of the maps it not dropping on the dot

[2017-11-03 09:46] hwclass opened #459 "Support for Google Places API"
Hi folks,

I've searched the issues and PRs but couldn't find anything related with that. In my project, I've just wanted to use google maps places api as well and searched for the possibilities to integrate/use with this library but i couldn't see any details related with that. Do you know anything about it?

Thanks

[2017-11-06 16:34] kunokdev opened #460 "SearchBox example from API docs aren't clear enough or might be outdated"
I am using map from clustering example and on my page component I load it like so:

[code]
By following https://github.com/istarkov/google-map-react/issues/372 I added `libraries: 'places'` to the `bootstrapURLKeys` object.

As described in readme, I added this script tag to bottom of the page component:
[code]

I am also getting these two warnings:

![image](https://user-images.githubusercontent.

[2017-11-08 13:17] diegolaciar commented on #30
Hi,

The search box works great.

Question: How can I do to update the map location and put a place mark on the selected location from the search box?

@istarkov thanks for this awesome project.

[2017-11-08 13:34] diegolaciar commented on #30
OH, my bad I see the
    onPlacesChanged: PropTypes.func

[2017-11-15 09:47] MatiMil commented on #374
Hi!
Thanks for this awesome package!

Are there any updates on this (or ideas) ? Because I am facing the same issue and would be happy to get some ideas to fix this.

FYI: I have a info window (simple div) on the map and disabled dragging on google maps. I have a textarea in the map and can't select the text in it.

Glad to hear from you

[2017-11-15 23:39] deboroy opened #463 "Street View in Map Type Selection"
Hi

Is it possible to include `StreetView` in the Map Type Selection? Currently StreetView is supported through `props` which shows the `Pegman`. But it is still left to the user to drop the pegman at the right point.

With StreetView in the map dropdown, it will be easier to center the `Panoramic` View with the input Lat, Long.

[2017-11-16 02:05] JavoByte opened #464 "Markers wrong position on full screen"
Google maps include a button to toggle full screen. My markers are ok on a contained `div` but toggling full screen moves the markers as if the map didn't realize its size updated.

Contained div:

![captura de pantalla 2017-11-15 20 03 40](https://user-images.githubusercontent.com/4512108/32870144-2f9224da-ca40-11e7-8cfd-3122da3bb66a.png)

Full Screen:

![captura de pantalla 2017-11-15 20 04 53](

[2017-11-16 19:00] jeremymarc opened #465 "Bottom center"
Hi,

I'm trying to center a Pin at the bottom of the map like that https://www.dropbox.com/s/fq94dykegpzsukb/Screenshot%202017-11-16%2012.59.00.png?dl=0.

What's the easiest way of doing that?

[2017-11-16 20:19] silent1mezzo commented on #382
👍

[2017-11-17 11:40] alexandre-tobia opened #466 "cle"
Dear users,
before you will write anything, please use search,
then please search again.

Most of problems you have is just an one line solution -
there is no need to change this library,
just add anything you want in your code.

Please look at examples, docs, apis - all of this were created for you not for me ;-).

[2017-11-17 13:16] quiqueg commented on #445
Duplicate of #382

[2017-11-20 01:59] nguyenthithao opened #467 "Calc radius from bounds"
Hi everyone,
From maps we can get bound of it with
const {topLat, leftLng, bottomLat, rightLng} = bounds

How to get the distance between them and the radius of circle around 4 points topLat, leftLng, bottomLat, rightLng?

[2017-11-21 16:48] ginman86 commented on #207
Has anyone had this happen with more than one geopoint? It seems almost impossible that those values would match *exactly* if you are fitting the bounds to multiple points. I have only seen it happen when fitBounds is called once. I think the solution to do a check on equal ( @henrymoews ) and return that value with the default zoom is the best scenario.

[2017-11-23 10:24] rahulthewall opened #468 "Is it possible to show multiple markers on the same location?"
Is it possible to show multiple markers at the same exact location?

[2017-11-23 12:15] andrewlorenz opened #469 "not rendering correctly within a bootstrap collapsible panel"
I have a mapping component working fine, and then wrapped it in a react-bootstrap panel:
`<Panel collapsible style={{ border: 'none' }}>`
Inside this panel, the mapping component renders a grey box (no map), but with the Google logo in the bottom left, and a resize marker in the top right (no zoom controls). If I resize it to full screen then the map renders correctly, and also renders correctly w

[2017-11-23 14:54] valorize commented on #302
Hi @istarkov I don't quite understand your explanation. Are you not using the api to create the tiles looking like
[code]
?

Isn't it that you either:
a) are using the api: then you can use them (if your on client or server)
b) are not using the api: then you are not allowed (again client as also server side)
?

[2017-11-23 15:50] valorize commented on #409
@malaman could you share how you wrote the wrapper?

[2017-11-23 16:04] malaman commented on #409
@valorize in simplest case you can use something like
[code]

[2017-11-23 18:46] nguyenthithao opened #470 "Makers show wrong position even set {top, left} when zoom out!?"
Dear all,
The marker I'm using css class like this
{
    width: 50px;
    height: 50px;
    top: -25px;
    left:-25px;
}
It show perfect if the map zoom in, but when I zoom out they seem go wrong way ?!
How do I deal with it?

[2017-11-24 17:49] patelrr commented on #27
@r3ticuli How to expand cluster when it's clicked ? Can you help me to get this feature in my map ?

[2017-11-24 19:46] gurnzbot opened #471 "GoogleMapsInfobox is not a constructor"
Using the InfoBox component breaks.

`TypeError: GoogleMapsInfobox is not a constructor
InfoBox.componentWillMount
node_modules/react-google-maps/lib/components/addons/InfoBox.js:124`

See the example documentation to see this as well.

https://tomchentw.github.io/react-google-maps/#infobox

[2017-11-27 14:59] AmarShaked commented on #464
+1

[2017-11-28 23:40] appzter commented on #464
+1

[2017-11-29 11:01] henrymoews commented on #207
@ginman86 We had this problem when we displayed many POIs that were requested from a server. We were always requesting a certain amount of points around a given map center.

In some cases there was a huge number of POIs at the very same geo point, e.g. in a mall or skyscraper (obviously, the points were clustered; the data was retrieved from an external service so out of our control).

To get the

[2017-12-01 13:33] MohammedFarooqS commented on #430
hi can you provide options you are using ?
how to show in mobile map at top

[2017-12-01 18:36] maksimgm opened #473 "Implement clustering"
The documentation does not state how to implement clustering support. The only thing the documentation provides regarding clustering, is a UI with an example. Furthermore, there is no example in the source code of how to wire up clustering either.
@istarkov any idea?

[2017-12-03 19:34] antoxann96 commented on #464
Faced the same issue. @JavoByte do you have solution for that?

[2017-12-03 19:59] appzter commented on #464
I figured out how to disable full screen at least if anyone is interest in that.

Just add this function in your class

[code]

and then in the GoogleMapReact JSX element

[code]

[2017-12-05 05:04] Xychen1994 commented on #321
How to get bounds or zoom data?

[2017-12-07 12:53] mrandreev commented on #446
Just quick fix to get it works:

`if (points.length === 1) {
            bounds.nw.lat += 0.00001;
            bounds.nw.lng -= 0.00001;
        }`

[2017-12-08 06:39] andy14312 commented on #451
@hanford I'm facing the same issue. Did you find a solution yet?

[2017-12-08 11:41] drdpedroso opened #474 "Cannot read property 'addEventListener' of null when render testing component"
I'm having some trouble render testing one of my components because of the following error:
`Cannot read property 'addEventListener' of null`

Happening at `at GoogleMap.componentDidMount (node_modules/google-map-react/lib/google_map.js:791:57)`

I'm not sure about how to test my component with google-map-react. My test file is really simple:

[code]

Can someone help me with that?

[2017-12-11 21:00] kossel opened #475 "React 16 dependency"
Would you consider update the dependency to react 16?

[2017-12-14 11:01] falconmick opened #476 "IE10 Unable to get property 'center' of undefined or null reference"
This issue occurred before in #223 and is back with a vengeance...
On only IE10 this is happening:
IE10 Unable to get property 'center' of undefined or null reference

code that causes issue:

	    _this.mounted_ = false;
	    _this.initialized_ = false;
	    _this.googleApiLoadedCalled_ = false;

	    _this.map_ = null;
	    _this.maps_ = null;
	    _this.prevBounds_ = null;

	    _this.layers_ =

[2017-12-14 11:02] falconmick commented on #476
I have tried supplying center prop to google maps but still no use

[2017-12-16 07:20] edward-hong commented on #473
I agree. The example is too opinionated. Why use kotatsu and recompose when you can just use webpack instead of kotatsu and not use recompose altogether? It makes understanding the example more difficult.

The whole point of the example is so other people can do clustering as well right? I just don't think using esoteric packages was a good idea.

[2017-12-17 02:04] wahengchang opened #477 "wepbackin link are all not work"
In the doc and examples, given a couple of link about __*wepbackin*__, but they are ALL not working.

[2017-12-17 11:23] istarkov commented on #477
I know, all the examples were lost when wbpackbin moved on a new address. I have no time to recreate them.

[2017-12-18 02:00] #477 closed

[2017-12-19 10:15] wahengchang opened #478 "Is google auto Calculating cluster support ?"
I have dig into the code of this example, and realized that number of cluster of markers is calculated by yourself but not using the cluster API provided by Google. Can you share some detail about this?

https://developers.google.com/maps/documentation/javascript/marker-clustering

[2017-12-20 14:31] mollynordh opened #480 "Adding pin on google maps site"
I'm wondering if there's any way that the pin on the maps component also can be added on the same position on the google maps site if a user presses on the Google logo in the left hand corner of the map? I have searched the issues and read the documentations but cant find an answer.

[2017-12-20 20:57] itsmichaeldiego commented on #382
This was tackled in https://github.com/istarkov/google-map-react/pull/462

[2017-12-20 20:57] itsmichaeldiego commented on #445
Duplicate of #382

[2017-12-20 20:57] #445 closed

[2017-12-20 21:01] #466 closed

[2017-12-20 21:46] #296 closed

[2017-12-20 22:44] itsmichaeldiego commented on #464
This was fixed in #452 and it is merged and published. Feel free to upgrade to `0.26.0`

CC @JavoByte @AmarShaked @appzter @antoxann96

[2017-12-20 22:44] #464 closed

[2017-12-20 22:46] itsmichaeldiego commented on #468
@rahulthewall Yes, that is possible, what problem are you facing?

[2017-12-20 22:47] itsmichaeldiego commented on #475
@kossel The dependency was updated to react 16 in #454. Are you facing a problem?

[2017-12-20 22:52] kossel commented on #475
That's weird I swear I saw somewhere the package.json says peer to react 15 only. my bad

[2017-12-20 22:52] #475 closed

[2017-12-20 23:09] itsmichaeldiego commented on #475
@kossel No worries, thanks for checking!

[2017-12-22 09:51] omladek opened #484 "Markers position in fullscreen mode in Internet Explorer 11"
Following on issue: https://github.com/istarkov/google-map-react/issues/296 and its fix in PR: https://github.com/istarkov/google-map-react/pull/452

In Internet Explorer 11 this issue persists. If we want to fix this issue, we must add Internet Explorer 11 specific property to the condition in file `google-map-react/src/google_map.js` in method `_setViewSize`
[code]

[2017-12-22 15:24] wowzaaa opened #486 "cluster click"
hey

Any suggestion on handling cluster click ... usually the map should zoom in as much as needed in order to expand the cluster

thanks,
Wowzaaa

[2017-12-22 22:45] mnmistake commented on #438
what are those :: at the start of the functions mate? i cant get your example to work

[2017-12-23 20:04] escalepion commented on #460
same here. any solitions?

[2017-12-27 18:34] ZAKdev commented on #486
@wowzaaa, you need to use https://github.com/istarkov/google-map-clustering-example for clusters, I use same `google-map-react` and for clustering above npm.

goto https://www.tajawal.ae/en/hotels/dubai-dubai-emirate-united-arab-emirates/09-01-2018/11-01-2018/1_adult > click on `Map View` button at left top.

[2017-12-28 16:27] henriquemattos commented on #457
@vkatatab does it have any implications in other functionalities to set this prop (yesIWantToUseGoogleMapApiInternals)? I'm also looking to place a route in my map.

[2017-12-29 11:54] mistaguy commented on #480
Your question is not quite clear

[2017-12-29 12:01] mistaguy commented on #474
Your mock must be wrong and most likely it is not returning google maps object. See some tests i have worked on from here.
[Google maps react test](https://github.com/FlockOfBirds/google-maps/blob/master/src/components/__tests__/Map.spec.tshttps://github.com/FlockOfBirds/google-maps/blob/master/src/components/__tests__/Map.spec.ts)

You can also see how i use the library

[2017-12-29 12:05] mistaguy commented on #471
Please provide sample on jsfiddle

[2017-12-29 12:17] mistaguy commented on #460
Please keep an issue focused on only one case so that it can be handled. For the case of the warning on the page, i can not find find any where in the documentation where it is stated that you should add `<script defer type="text/javascript" src="https://maps.google.com/maps/api/js?libraries=places&sensor=false"></script>`. Please indicated where.

[2018-01-03 04:25] vTrip commented on #76
@istarkov was there progress / decision on preventing the re-render flash?

[2018-01-03 19:29] rahulthewall commented on #468
Hi @itsmichaeldiego, we had a situation where we had two businesses on the exact same location. While rendering, we believe that the pins were being rendered on top of each other which was why only one was visible.

It would be great if you could provide an example of rendering two pins on the exact same location.

Unfortunately, I don't have access to the project any more (switched jobs) so I can

[2018-01-04 05:35] gusdecool opened #488 "[Question] fitBounds based on list of markers."
Is there a way to fitBounds based on the list of markers i have?

e.g: i have 5 map markers. i would like the bound fit automatically to show all the markers

if using google maps api way, it will be similar like this: https://stackoverflow.com/questions/3520810/zoom-and-center-a-google-map-according-to-its-markers-javascript-api-v3

[2018-01-04 07:18] gusdecool commented on #488
upps nevermind, this closed issue helped me https://github.com/istarkov/google-map-react/issues/210 ✌️

[2018-01-04 07:18] #488 closed

[2018-01-04 10:14] MirkoAlo commented on #251
We know that your life is too short for this, but the ask of jadonald72 is very important, the streetview is a important part of google map

[2018-01-04 14:24] omladek commented on #484
PR: https://github.com/istarkov/google-map-react/pull/485

Merged and closed.

[2018-01-04 14:24] #484 closed

[2018-01-04 14:38] itsmichaeldiego commented on #251
@MirkoAlo I think what @istarkov wanted to say in cute words is that, this library was made to speed up the development when using GoogleMaps, but we don't support all the features as this was built on-the-go from our users!

When a user wants a feature, they normally contribute to our library and that is how community works, I help you, you help me or others by adding the features some other user

[2018-01-04 15:14] itsmichaeldiego commented on #468
@rahulthewall Yes, it makes sense that they're rendered in top of each other as they're in the same location, remember they're pure React components, so if you want to highlight one on top of the other, you could simply use `zIndex: 1` when active in one of them.

[2018-01-04 15:43] MirkoAlo commented on #251
Yes i know... Sorry form my ask!
Otherwise i found a solution!

const google = window.google;   ( for not return undefined )

[2018-01-04 15:46] itsmichaeldiego commented on #488
@gusdecool Could you provide an example with this?

[2018-01-04 21:24] awesomebob commented on #451
I just ran into this as well and figured it out: the `gestureHandling` option needs to be within an `options` object.

Found this here: https://github.com/istarkov/google-map-react/blob/5ffa73c42aec3b58c4f6058711edd673a5c0207e/API.md#options-funcobject

`options` can either be an object or a function that returns an object.

[2018-01-05 05:14] stephenfarrar opened #490 "Incorrect marker animations with google maps API beta renderer"
There is a beta renderer for the google maps API
https://developers.google.com/maps/documentation/javascript/beta-renderer

With the beta renderer, the react markers behave very strangely when zooming in. Best I can tell, this is for two reasons:

1. The new renderer uses fractional zoom levels during the zoom animation. But `map.getZoom()` doesn't return the fractional zoom. Instead, it's reflect

[2018-01-05 05:47] gusdecool commented on #488
hi @itsmichaeldiego , here is how i resolve the issue

[code]

Feel free to ask if you have other question 🙏

[2018-01-05 21:31] wowzaaa commented on #486
i use the same thing but this example does not have a cluster click event (to expand the cluster)
that was my question

thanks

[2018-01-05 22:18] ZAKdev commented on #486
@wowzaaa, it expend cluster but it does on double click. but if you want it on single click so i have solution for that.

if you notice expanding cluster means you increase zoom by 1 and making map center.
`ClusterMarker` is a component so `onClick` event you can increase zoom level and change lat lng. Both are available in `mapOptions` which is map state.

[2018-01-05 22:23] wowzaaa commented on #486
zooming once is not a solution because if u have 2 markers that are very close, the cluster will no expand until a very big zoom .. which means a lot of clicks

- one solution would be to get the children and do a fitBounds on them

but i see that supercluster has a method called getClusterExpansionZoom ... the pb is i did not manage to call it to test what it returns

[2018-01-05 22:40] ZAKdev commented on #486
i never used `getClusterExpansionZoom` but i understand your case is different.
You can share with me your source so may be i can help you in that.

[2018-01-05 22:47] wowzaaa commented on #486
from what i see getClusterExpansionZoom does exactly the same thing ... i mean currentZoom++

[code]

the only solution i have is to actually get the children and build up the new bounds with those children and then move the map there

the pb i am having is that points-cluster is the package used in this example and that is a fork of the supercluster package ... with 0 documentation ... so ... yup

[2018-01-05 23:41] wowzaaa commented on #486
so i ended up using the google api directly

[code]

and inside the cluster marker:
[code]

[2018-01-06 23:27] stunaz commented on #449
why this still open?

[2018-01-07 10:32] #449 closed

[2018-01-07 10:40] itsmichaeldiego commented on #251
@MirkoAlo That is good, I am glad you found out how to do it. I think you have a better way to do it while using _onGoogleApiLoaded_, somethine like:

[code]

[code]

[2018-01-07 10:43] itsmichaeldiego commented on #451
Thanks @awesomebob ! That does the trick for sure

[2018-01-07 10:43] #451 closed

[2018-01-08 15:58] itsmichaeldiego commented on #480
@mollynordh It is related to the way our library works, we're rendering actual React components instead of google markers, we should totally take a look at this, although is not high-priority I believe it is a nice-to-have. Would you be kind to share a snippet if you find a workaround?

@mistaguy What she means is the following:

- Go to your map, lets say you have 5 markers.
- Click on the Google

[2018-01-08 16:00] itsmichaeldiego commented on #457
@henriquemattos It does not have big implications but we recommend to always find a workaround without using api internals. Otherwise it is fine, I use it myself.

[2018-01-08 16:51] mandysimon88 opened #491 "CORS issue"
I'm seeing the error below in a pretty simple app, where my client-side React component contains:

[code]

Can you point me in the right direction for resolving this? Thank you!

![image](https://user-images.githubusercontent.com/12855692/34681531-2a9d87fe-f46a-11e7-8d7c-440c133069b5.png)

[2018-01-09 08:23] palashkaria opened #492 "Draggable & editable polygons (and other shapes), and drawing tools"
I was trying to add some draggable/editable polygons to the map, and also using drawing tools, but I noticed some weird behaviour when setting polygon options.

This is a demo with draggable polygons from [google's docs](https://developers.google.com/maps/documentation/javascript/examples/polygon-draggable)

(I have made them editable too, and added another polygon):
https://codesandbox.io/s/k388m

[2018-01-11 11:50] mpourismaiel commented on #470
I have the same problem using slightly different styling:
[code]
Anything I'm missing? The code above is taken from [API.md](https://github.com/istarkov/google-map-react/blob/master/API.md#positioning-a-marker)

[2018-01-11 13:24] ArmanMazdaee commented on #470
I my case, the issue had been fixed by adding the fallowing style to the marker:
[code]

[2018-01-11 17:57] itsmichaeldiego commented on #470
@ArmanMazdaee is right, the correct approach would use to use transform.

[2018-01-11 17:57] #470 closed

[2018-01-11 22:43] ajay-gandhi commented on #439
@Benornm if you want the original Google Maps markers, you would have to use the Google Maps API. See API.md

[2018-01-11 22:48] ajay-gandhi commented on #435
You would have to pass the map as a prop. See https://github.com/istarkov/google-map-react/blob/master/API.md - in the callback for `onGoogleApiLoaded`, save the ref to the map and then pass it as a prop to children in the map.

[2018-01-12 05:55] itsmichaeldiego commented on #435
@bear-bibeault As @ajay-gandhi pointed out, we do have a `onGoogleApiLoaded` option that will call the function you pass with the api data as soon as its loaded.

[2018-01-12 05:55] #435 closed

[2018-01-12 09:53] vsshaposhnikov commented on #18
@istarkov may be you can add usage example to documentation ? Thanks

[2018-01-16 07:30] emilpalsson opened #493 "Usage from China requires different API URL"
If using Google Maps APIs from China a different URL should be used, see https://developers.google.com/maps/faq#china_ws_access.

https://maps.googleapis.com should be replaced with http://maps.google.cn, since the regular one is not accessible from within China.

[2018-01-18 20:48] #493 closed

[2018-01-18 21:00] itsmichaeldiego commented on #493
@emilpalsson We released this in `0.28.0`, let me know if you find any issue.

[2018-01-19 07:14] AlokBansal8 commented on #314
Webpackbin links in the document are not working.

[2018-01-19 09:04] emilpalsson commented on #493
@itsmichaeldiego Please see #496, sorry :)

[2018-01-19 10:57] developer-lindner opened #497 "hide bootstrapURLKeys"
Any way to hide bootstrapURLKeys instead of exposing the api-key in the client?
Would like to redirect google api calls to server first and from there redirect to Google Api via redirect with added api-key?!

[code]

Ideas anyone?

[2018-01-19 11:22] #497 closed

[2018-01-19 11:23] developer-lindner commented on #497
[code]

That will be the way i guess...

[2018-01-19 16:06] developer-lindner commented on #497
[code]

[2018-01-19 22:54] aldoso opened #498 "i get this error after i put the code that you have on the readme file"
Unhandled Rejection (TypeError): Cannot read property 'toLocaleLowerCase' of undefined
▼ 27 stack frames were expanded.
(anonymous function)
D:/MY PROJECTS/APP-test/boul-rosu/node_modules/google-map-react/lib/utils/loaders/google_map_loader.js:65
googleMapLoader
D:/MY PROJECTS/APP-test/boul-rosu/node_modules/google-map-react/lib/utils/loaders/google_map_loader.js:33
GoogleMap.componentDidMount
D:/

[2018-01-20 06:14] rishiraj824 commented on #498
Same for me

[2018-01-20 12:39] yarnball commented on #59
@Fi1osof Could you please show a working example? Your example does not render a map for me! Thanks

[2018-01-20 15:10] locorider commented on #498
Did you provide _bootstrapURLKeys_ ? if yes try to add a _region_ property like _us_ This did the trick for me.
`bootstrapURLKeys={{ key: 'somekey', language: 'de', region: 'ch' }}`

[2018-01-20 15:16] aldoso commented on #498
Locorider, can you please explain what that is and how it's done?

[2018-01-20 15:28] locorider commented on #498
As far as I can tell the error happens here:
` var url = bootstrapURLKeys.region.toLocaleLowerCase() === 'cn' ? 'http://maps.google.cn' : 'https://maps.googleapis.com';` (line 65 in [google_map_loader.js)](https://github.com/istarkov/google-map-react/blob/master/src/utils/loaders/google_map_loader.js#L65)
It seems to load the chinese version of google maps if _region_ is _cn_
I just discovered the

[2018-01-20 15:43] aldoso commented on #498
Thank you very much Loco, I will test this asap to confirm it works!

[2018-01-20 16:53] emilpalsson commented on #498
There is a PR awaiting merge to fix this bug (#496).

[2018-01-23 01:44] itsmichaeldiego commented on #498
Fixed on #496 and published `v0.29.0`

[2018-01-23 01:44] #498 closed

[2018-01-23 12:44] emilpalsson commented on #491
Could it be that you have set a HTTP referrers restiction on that API-key [here](https://console.developers.google.com/apis/credentials/key/)?

![google-api-key-credentials](https://user-images.githubusercontent.com/26581738/35276194-e1bf9fa6-0042-11e8-843a-07dd9d1a5929.png)

[2018-01-23 23:06] jnrepo opened #500 "[violation] Added non-passive event"
<img width="1597" alt="screen shot 2018-01-23 at 3 04 31 pm" src="https://user-images.githubusercontent.com/5111058/35305635-e41843b4-004e-11e8-926f-53943478eec2.png">

I see these violations being thrown from the event handlers in google maps, will there be a fix for these?

[2018-01-24 01:28] itsmichaeldiego commented on #500
@jnrepo That errors states that setting the marking event as 'passive' will remove the warning, have you tried that?

[2018-01-24 01:31] itsmichaeldiego commented on #491
Thanks for your answer @emilpalsson, that is what I was going to say.

@mandysimon88 As @emilpalsson said, you need to add localhost as a valid referrer. Your error states that "No header is present in the *requested source*" by requested source it means Google maps api. So the problem its not related to your implementation but your Google maps setup.

[2018-01-24 12:04] AntoniusGolly commented on #32
@rojobuffalo In my opinion this is out of scope. Geocoding and drawing maps are two different things, not only in this react wrapper but also in the Google Maps Api. With the native api you can't plot a map for a given address directly. And this is for a good reason: not every address (query string) results in **one** Lat/Lon response. And it is up to your application how you deal with multiple re

[2018-01-24 22:55] itsmichaeldiego commented on #32
@rojobuffalo I don't think geocode lookup is scoped for this package really. We try to keep this package simple as well, and if you want to do something different you can always do it out of the box with the google maps api.

[2018-01-24 23:48] andytate1968 opened #501 "Unable to render even a simple map"
I am trying to show a very simple map in my component. Here is what I'm doing...

1. I import GoogleMap
import GoogleMap from 'google-map-react';

2. I add this prior to defining the class
const AnyReactComponent = ({ text }) => <div>{text}</div>;

3. In my Render Return( ) I return this
<GoogleMap
            bootstrapURLKeys={{
                key: 'XXXXXXXXXXXXXXXXXXXXXXX'
            }}

[2018-01-25 02:11] itsmichaeldiego commented on #501
@andytate1968 Sorry can you format the code properly?

I see you're trying to do this:

[code]

But you've an extra `>` and no closure to the map.

So it should be like:

[code]

[2018-01-25 02:23] andytate1968 commented on #501
Sorry, mis-copied… this is what I have

<GoogleMap
            bootstrapURLKeys={{
                key: 'MYKEY'
            }}
            center={defaultProps.center}
            zoom={defaultProps.zoom}>

        <AnyReactComponent
         lat={33.1545125}
          lng={-96.7254543}
          text={'Here'}
        />
        </GoogleMap>

From: Michael Diego [mailto:notifications@github.com]
S

[2018-01-25 02:36] andytate1968 commented on #501
Ah, I see what you mean… Now I have

<GoogleMap
            bootstrapURLKeys={{
                key: 'MYKEY'
            }}
            center={defaultProps.center}
            zoom={defaultProps.zoom}

        <AnyReactComponent
          lat={33.1545125}
          lng={-96.7254543}
          text={'Here'}
        />
        </GoogleMap>

Get no errors and See NO map☹

From: Michael Diego [mailto

[2018-01-25 19:21] mikeriley131 opened #502 "Generated child component not capturing click"
(I searched but couldn't find a similar issue.)

I'm generating "pins" via React components on load. When I click on a pin, it opens a "tooltip" (another React component) with details about the location. If I click anywhere on that tooltip other than where the pin is below it (z-index), it triggers a click on the tooltip component, but also on the map, which calls an event I don't want when the to

[2018-01-25 20:28] itsmichaeldiego commented on #502
@mikeriley131 Thanks for opening the issue.

Please do provide code. I believe the problem you're facing can be fixed with a simple `ev.preventDefault()` but as I don't know the code exactly that might not be the case.

[2018-01-25 20:29] itsmichaeldiego commented on #501
@andersaloof Sorry but if you don't share the whole code properly it is impossible to help you. Check the console and look for errors, are you setting the center and the zoom properly before?

[2018-01-25 20:41] mikeriley131 commented on #502
@itsmichaeldiego Yeah, I tried a `preventDefault()` but it had no effect. Here's some code...

The "pin" component
[code]

Snapshot is the "tooltip"
[code]

That `open` function gets fired on click of the Snapshot, but if you click on an area of the Snapshot that has the map below it instead of one of the pins, a click event I have on the map gets fired.

Let me know if any further details are req

[2018-01-26 12:35] andytate1968 commented on #501
It turned out the div I was placing it in had height set to 100% and width to 100%. If I change height to 800px the map shows

From: Michael Diego [mailto:notifications@github.com]
Sent: Thursday, January 25, 2018 2:30 PM
To: istarkov/google-map-react <google-map-react@noreply.github.com>
Cc: andytate1968 <andytate@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [istarkov/google-ma

[2018-01-26 18:38] itsmichaeldiego commented on #501
@andytate1968 Glad you find a fix! Google Maps takes the height and width of the parent element, so it makes sense that it was not working.

[2018-01-26 18:38] #501 closed

[2018-01-27 10:00] ihazbackup opened #503 "ScriptError for "google-map-react", google-map-react.js not found 404"
Hi,

I have an issue regarding the module. I have used the example on https://jsbin.com/roqutisoqu/1/edit?js,console,output using reactjs. When I opened my localhost, there's a console error:

and

Nothing is displayed on the page. I checked my "out" folder for any js script (regarding the first error), but there is none
I am using google-map-react@0.29.0
Any help is appreciated. Thanks before

[2018-01-29 07:54] falconmick commented on #476
@istarkov you still active?

[2018-01-29 08:33] MaStep92 commented on #271
Hi @globehealer-developer, I have just solved this problem.
Likely, you need to pass unique value every time that it worked as it is necessary.
Demo - https://cl.ly/3E2g0B3R0Q0n

Example:
[code]

[2018-01-29 10:26] mollynordh commented on #480
Thank you @itsmichaeldiego. Will absolutely share a snippet if I find a workaround!

[2018-01-29 21:42] itsmichaeldiego commented on #480
@mollynordh I think an approach would be creating the markers via google API based on the positions of our marker's component. That way if you open google maps will show your markers. If this feature is really something you need.

[2018-01-29 21:59] itsmichaeldiego commented on #503
@ihazbackup Could you share your code and the styles of the wrapper of your google map?

[2018-02-02 10:21] cyrstron opened #505 "Can't set minZoom to 0"
This check in your code doesn't allow to set minZoom to 0. Because 0 is falsy value.

`return minZoom || DEFAULT_MIN_ZOOM;`

[https://github.com/istarkov/google-map-react/blob/master/src/google_map.js#L454](https://github.com/istarkov/google-map-react/blob/master/src/google_map.js#L454)

[2018-02-02 19:17] pantaphobic opened #506 "Right Click Listener"
I looked through the src/google_map file and noticed that there is no implementation for right click. Is there one in the works?

[2018-02-03 04:40] Bernabe-Felix commented on #32
In case somebody needs it:
[code]

[2018-02-06 01:03] itsmichaeldiego commented on #32
@Bernabe-Felix Exactly what I was mentioning, thanks for sharing that! We can use anything from maps api using `onGoogleApiLoaded`

[2018-02-06 01:06] itsmichaeldiego commented on #506
@pantaphobic Your question is kind of vague and lacks of an example. There is support if you add an event listener:

google.maps.event.addListener(map, "rightclick", function(event) {
  // do your thing
});

[2018-02-06 01:06] #506 closed

[2018-02-06 01:06] itsmichaeldiego commented on #505
@cyrstron Great catch!

[2018-02-07 09:10] SachaG opened #507 "How to deal with overlapping markers?"
I have multiple markers that can potentially all appear in the same spot.

I would like to manipulate their z-index to be able to decide which one to show on top, but I haven't found a way to add styles to the inline CSS generated for the marker element's parent div? Is there any documentation about this?

[2018-02-07 09:36] SachaG opened #508 "Marker info window clicks bubble down to map"
Here's the behavior I'm trying to achieve:

1. Users can click marker label to open larger info window.
2. Users can click anywhere outside window to close popup.
3. Users can click *inside* window to interact with it.

1 and 2 work fine, but 3 doesn't, because the click is interpreted as a click on the map itself, which triggers 2:

![https://d3vv6lp55qjaqc.cloudfront.net/items/160J2A2p2y1V423Q0o

[2018-02-07 23:34] itsmichaeldiego commented on #507
@SachaG Just adding z-index to your Marker component would do the trick. No need to add it to the marker element's parent div. Have you tried that?

[2018-02-07 23:36] itsmichaeldiego commented on #508
This issue has been reported already in #502

Question, could you share the styles or a jsfiddle of this? I think there might be a problem with positioning and z-index.

[2018-02-08 01:08] itsmichaeldiego commented on #502
@mikeriley131 Did you try using z-index or setting a position absolute to the component that you want to be clickable?

[2018-02-08 03:30] SachaG commented on #507
Oh you're right actually. I thought I had tested that already but I might've been missing the `position: absolute` or `relative` to make the `z-index` work. Sorry about that!

[2018-02-08 03:30] #507 closed

[2018-02-08 03:33] SachaG commented on #508
You can actually see it live: http://zenshome.jp/search

Just click on a price to open the info window, and then click on the price or anywhere else that's not a link, it will close it.

[2018-02-08 03:55] mikeriley131 commented on #502
@itsmichaeldiego Yes, the component is currently absolutely positioned and has a z-index.

[2018-02-08 12:51] walidvb commented on #502
I'm having a similar issue, where i render 2 marker lists: `dot`s and `scale`s. although my `scale`s are rendered below my `dot`s. I have a feeling that the click is not attached to the child, but rather to the map itself, which then computes the distance. could that be?
<img width="399" alt="screen shot 2018-02-08 at 10 39 01" src="https://user-images.githubusercontent.com/810604/35973435-925825e

[2018-02-09 20:56] buksy90 commented on #459
Hello,

you need to list google libraries you would like to use in `bootstrapURLKeys`, then you would be able to use places.

[code]

[2018-02-09 23:01] itsmichaeldiego commented on #507
No worries @SachaG, we're here to help!

[2018-02-09 23:07] itsmichaeldiego commented on #508
@SachaG Seems to be a tricky one, although the link to the other page works, right?

[2018-02-09 23:09] itsmichaeldiego commented on #502
@walidvb It is a valid point, yes, we need to figure this out soon! I believe there should be an easy way but haven't had spare time to look at this yet, if one of you guys want to debug it and check that would be amazing.

[2018-02-09 23:10] #459 closed

[2018-02-09 23:10] #503 closed

[2018-02-09 23:10] #500 closed

[2018-02-09 23:11] #491 closed

[2018-02-10 01:53] SachaG commented on #508
Yes, for some reason the `<Link>` elements work fine.

[2018-02-10 12:46] henriquemattos commented on #457
@itsmichaeldiego sorry took me so long to see your comment and thanks for your suggestion. I'm currently wondering how to place the route on a map. Right now my app is a bus locator where I have several vehicles being tracked by GPS so I auto-refresh the pins for buses to get update the coordinates. As for the bus stations, they do not move (duh! haha), so no auto-refresh.

I would like to create

[2018-02-12 21:42] itsmichaeldiego commented on #508
@SachaG Is your arrow wrapped in an anchor or an actionable element?

[2018-02-12 21:45] itsmichaeldiego commented on #457
@henriquemattos Pretty simple, there is a function callback called `onGoogleApiLoaded` that you can use, you just do this:

[code]

[code]

[2018-02-12 21:46] #457 closed

[2018-02-13 13:06] henriquemattos commented on #457
@itsmichaeldiego works like a charm. Thank you very much.

[2018-02-13 22:10] terrabl commented on #32
@Bernabe-Felix I wasn't able to get this to work in my code, it keeps saying that "InitGeocoder" is not defined.

[2018-02-13 22:35] BernabeFelix commented on #32
did you try `this.initGeocoder`?

[2018-02-14 01:08] itsmichaeldiego commented on #457
@henriquemattos You're welcome, anytime!

[2018-02-14 01:11] itsmichaeldiego commented on #32
@terrabl Depending on your structure you might need to do:

[code]

[2018-02-14 01:19] wellguimaraes opened #510 "Zooming is animating markers from the corners"
I checked the [demo app](http://istarkov.github.io/google-map-react/map/main/) and it's behaving the same way when I change zoom. I suppose it's not a feature, right?

[2018-02-14 03:00] bzbetty commented on #510
also suddenly seeing this behaviour, guessing a Google change causes it?

[2018-02-14 03:58] wellguimaraes commented on #510
Don't know yet. But tried react-google-maps and it's ok.

[2018-02-14 07:42] itsmichaeldiego commented on #510
@wellguimaraes You're right, I will to take a look into that soon.

[2018-02-14 08:13] jabidof commented on #490
Hello,
I think this really brings strange user experience.
Is there a way to use previous version of GMap API?

[2018-02-14 08:15] jabidof commented on #510
Sounds like a google API sudden change in the marker drawing part.

[2018-02-14 08:24] goncharov commented on #510
New version of api was released https://groups.google.com/forum/#!topic/google-maps-js-api-v3-notify/cp9SiuHXkFc

[2018-02-14 10:05] erfoon opened #511 "Check if Polygons have overlap or not"
I'm using Polygons in my project and it works really fine. But now I need to check whether two polygons have any area in common (overlapping) or not. Do you have any idea for that?

Thanks

[2018-02-14 11:36] VladimirMilov commented on #510
Is there any way to set specific api version?

[2018-02-14 11:42] goncharov commented on #510
@VladimirMilov try to add `v: '3.30'` into `bootstrapURLKeys`
https://developers.google.com/maps/documentation/javascript/versions

[2018-02-14 11:44] mikkelwf commented on #510
@goncharov it works locally for me.. 👍

[2018-02-14 11:46] VladimirMilov commented on #510
It works perfectly man. Thank you! :)

[2018-02-14 12:16] jabidof commented on #510
Same here.
Anyone understood what the changes are in the latest GMap API release?

[2018-02-14 18:16] BenAhlander opened #512 "Google Map will not recenter when state / props changes"
Here is a copy of my component

`import React, { Component } from 'react';
import shouldPureComponentUpdate from 'react-pure-render/function';

import GoogleMap from 'google-map-react';
import Place from 'material-ui-icons/Place';

export default class SimpleMapPage extends Component {

    static defaultProps = {
        center: { lat: 40.7608, lng: -111.8910 },
        zoom: 9,
    };

    shoul

[2018-02-14 20:20] Delindel commented on #510
Man, i was pulling my hair over this. Adding @goncharov solution works perfectly.

[2018-02-14 20:32] danieljodeci commented on #510
I tried adding to my bootstrapURLKeys like so:

`bootstrapURLKeys={{key: GOOGLE_MAPS_API_KEY, v: '3.30'}}`

and still getting the same marker animation from the top left. Also my child markers don't register click events.

[2018-02-15 13:12] RoelanddeBetue commented on #510
If i change to version 3.30 or 3.31 the markers keep having a lag in animation when it pans or zooms

[2018-02-15 17:31] mikeriley131 commented on #510
We rolled back to 3.29 and all is working properly again.

`https://maps.googleapis.com/maps/api/js?key=%REACT_APP_GOOGLE_MAP_API_KEY%&libraries=places&v=3.29`

[2018-02-15 20:31] felixterpstra opened #513 "Centre map on group of markers"
I have a list of building locations, represented as lat/lon points, which I am trying to add to a map. I would like for the map to adjust it's zoom and centre to fit all of these points in the viewport of the map.

I would also like there to be a "margin" on the bounds of the points, that is to say the topmost point should not be sitting at the top of the map viewport, but instead _x_ pixels below

[2018-02-16 12:59] The-Code-Monkey opened #514 "draw line between two custom elements on map?"
I want to draw a line between 2 of the child elements as if it was a path, or is there a way to enter it like you would do with just the normal javascript api that google gives you access to
like a flight path style line so from one place straight to the next one

edit: i have read #62 and cant understand it as there is no clear answer

[code]

thats what im trying to do joining the points togethe

[2018-02-16 20:23] itsmichaeldiego commented on #510
Good work guys! How do you guys feel about changing our default version to this one that works?

[2018-02-16 20:25] itsmichaeldiego commented on #514
@The-Code-Monkey To access the normal api through our component simply use the `onGoogleApiLoaded` option:

[code]

[2018-02-16 20:25] #514 closed

[2018-02-16 20:27] itsmichaeldiego commented on #513
@felixterpstra Let me know if this works:

[code]

[2018-02-16 20:35] itsmichaeldiego commented on #490
@jabidof @stephenfarrar Solution has been provided here: https://github.com/istarkov/google-map-react/issues/510#issuecomment-366002128

[2018-02-16 20:35] #490 closed

[2018-02-16 20:36] itsmichaeldiego commented on #486
@wowzaaa Glad that you could use it! That is why we expose the api for custom uses.

[2018-02-16 20:36] #486 closed

[2018-02-16 20:36] #468 closed

[2018-02-16 20:36] #448 closed

[2018-02-16 20:36] #458 closed

[2018-02-16 20:37] #438 closed

[2018-02-16 20:39] #251 closed

[2018-02-16 20:42] itsmichaeldiego commented on #512
@BenAhlander Try this:

[code]

[2018-02-17 08:15] goncharov commented on #510
@mikeriley131 Cool, but 3.29 is not provided anymore. It’s 3.30

[2018-02-17 21:00] mikeriley131 commented on #510
@goncharov Works just fine in our production environment. We just get a console warning saying is's a retired version: `Google Maps API warning: RetiredVersion https://developers.google.com/maps/documentation/javascript/error-messages#retired-version`

<img width="552" alt="screen shot 2018-02-17 at 1 57 59 pm" src="https://user-images.githubusercontent.com/5115726/36345583-dc4d1646-13ea-11e8-8816

[2018-02-17 22:33] nuclearspike opened #515 "undefined is not an object (evaluating 'o.fromLatLngToDivPixel')"
We're seeing errors in this library on many browsers. Happening in version 0.29 on line google_map.js:375 which is

[code]

The error that is thrown is: undefined is not an object (evaluating 'o.fromLatLngToDivPixel')

Apparently the overlayProjection can be null sometimes.

[2018-02-17 22:34] nuclearspike commented on #515
Oops, duplicate of #257

[2018-02-17 22:34] #515 closed

[2018-02-17 22:38] nuclearspike commented on #257
I'm also seeing this in production. Any plan to apply something like @mariusandra 's solution to master?

[2018-02-18 11:11] jeffodle commented on #510
Thanks guys. This was making me insane.

[2018-02-18 11:40] istarkov commented on #510
It seems like `scale` transform is no longer applied by google on a layers on zooming.
So markers should be re-rendered in `draw` method and not on `idle`.

May be this code ```          if (this_.markersDispatcher_) {
            this_.markersDispatcher_.emit('kON_CHANGE')``` from 'idle' moved into `draw` should help. I'm not sure.

[2018-02-19 03:02] oscarwong67 opened #516 "onChildClick Working on Desktop/iOS but not Android"
Very recently I've been having a bug with my web application (despite not updating it at all), where my rendered markers on the map don't trigger click events anymore, but ONLY on Android - I've tested this on mobile devices and using Chrome's device emulator.

onChildClick doesn't do anything on Android (when I set onChildClick to just a console.log, and then you click on a marker on the map, it'

[2018-02-19 18:47] felixterpstra commented on #513
@itsmichaeldiego Thanks very much, that worked almost perfectly. All I needed to remove was `options={createMapOptions(props.options)}`, but I assume that's just for display options?

Anyway, thanks a bunch for your help!

[2018-02-19 18:47] #513 closed

[2018-02-19 23:30] thiagoterleski commented on #516
I'm having this same issue on mobile versions, the mouse click event and mouseover are not working, you can check the online examples using chrome mobile preview when you open for the first time is working but if you refresh and try to click on pins, **it not works**:

![istarkov github io_google-map-react_map_main_ iphone 8 plus](https://user-images.githubusercontent.com/2950918/36401043-9b0468ce

[2018-02-20 03:50] experimatt commented on #516
I'm having a similar problem where clicking on markers on the map works fine on desktop, but doesn't work on iOS/Android.

I believe something changed recently in Google Maps' Javascript API, but I don't know exactly how this library interacts with it. More details here: https://developers.google.com/maps/documentation/javascript/releases

[2018-02-20 04:11] experimatt commented on #516
OK - I've got a hacky temporary solution to this problem. Append `&v=3.31` to your google maps API key when you're setting `bootstrapURLKeys` on the `<GoogleMapReact>` component.

This will both fix map clicking behavior on mobile, and also revert back to the original base map. But this is only temporary. A better solution would be to implement a way to pass in the google maps API version as a pro

[2018-02-20 04:59] oscarwong67 commented on #516
@experimatt I can confirm that the fix definitely works, so for now we know it's on Google's end.

[2018-02-20 12:55] itsmichaeldiego commented on #257
@mariusandra You can totally create a PR and we'll merge it into our master, test it and release it 👍

@nuclearspike ^

[2018-02-21 13:07] maxrodkin commented on #514
its worked for me, but polyline doezn`t erase after map
![lines_not_rerander](https://user-images.githubusercontent.com/9033606/36481445-e9cf283e-1720-11e8-907b-b61242a33e07.png)
re-rander

the render code:
`ender() {
  if(this.googleMap) {
    debugger;
    let multiline_points =_.map(this.props.points,function(item){return item.coords});
    renderPolyline(this.googleMap,null,multiline_points);

[2018-02-21 13:09] maxrodkin opened #518 "erase multiline shadow after re-randig map"
the pen:
https://codepen.io/maxrodkin/pen/eVrGMj?editors=0010

its worked for me, but polyline doezn`t erase after map
![lines_not_rerander](https://user-images.githubusercontent.com/9033606/36481445-e9cf283e-1720-11e8-907b-b61242a33e07.png)
re-rander

the render code:
`ender() {
  if(this.googleMap) {
    debugger;
    let multiline_points =_.map(this.props.points,function(item){return item.coord

[2018-02-21 13:13] The-Code-Monkey commented on #514
what are you trying to do? draw lines like i have done?

[2018-02-21 13:14] The-Code-Monkey commented on #514
[code]

[2018-02-21 13:40] maxrodkin commented on #514
yes. but little diff, i need to pass path as parameter to handleGoogleMapApi
is it orrect?
`  handleGoogleMapApi = (google,path) =>{
            var flightPath = new google.maps.Polyline({
              path: path,
              geodesic: true,
              strokeColor: '#FF0000',
              strokeOpacity: 1.0,
              strokeWeight: 2
            });
            flightPath.setMap(google.

[2018-02-21 13:53] The-Code-Monkey commented on #514
can you edit your reply and use 3 of the ` on the line before and the line after your code instead of 1 so i can read it

[2018-02-21 13:57] maxrodkin commented on #514
did it. sorry, im new here

[2018-02-21 14:05] The-Code-Monkey commented on #514
what is the path variable refering to?

[2018-02-21 17:15] whnunlife commented on #244
@cythrawll Let me know if you find anything else out on this, I'm seeing this issue occur as well. Only when changing the browser size quickly.

[2018-02-21 17:44] btbensoft commented on #505
Same here **minZoom:0, maxZoom:4** in fact is 3 to 4

[code]

Any idea when you will push this bug?

[2018-02-22 07:46] thg303 commented on #296
I'm using version 0.31.0, problem still exists. markers do not move in fullscreen mode.

[2018-02-22 22:50] kpennell commented on #510
@goncharov @istarkov where to add the new version?

How do I add this exactly?

[2018-02-23 19:15] itsmichaeldiego commented on #510
@kpennell What do you mean? 🤔

[2018-02-23 19:17] itsmichaeldiego commented on #296
@thg303 Please upload a snippet reproducing the issue, thanks

[2018-02-23 19:18] itsmichaeldiego commented on #514
@maxrodkin You totally should use the method `onGoogleApiLoaded `!

[2018-02-23 21:18] kpennell commented on #510
@itsmichaeldiego Was trying to help noobies who didn't understand where to put v:'3.30'

[2018-02-23 21:57] thunderkid commented on #505
I've never managed to get zoom to go below 4. I've tried `minZoomOverride`, but that appears to do nothing. I've just also tried setting `minZoom` to `1` to see whether @cyrstron's falsey bug was the issue, but still it refuses to go below 4. As I recall @istarkov didn't have a need to zoom < 4 and thought that keeping high zoom would prevent the need to worry about duplicate markers.
Was zoom < 4

[2018-02-25 02:57] Delindel commented on #407
Man, did you ever found out how to do this?

[2018-02-25 03:20] Delindel commented on #423
@mvanlonden did you even found a way to do it man?

[2018-02-25 03:23] mvanlonden commented on #423
I don't think I did. I think I just hacked around the issue with negative margins

[2018-02-25 04:35] Delindel commented on #423
Oh damn, i feel ya. Im just getting into this and im wondering how to dynamically center the map in given coordinates (as ofc updating state does not work for GMaps component)

[2018-02-25 18:59] BrodaNoel commented on #510
Fixed with `v: '3.30'`

[2018-02-25 22:20] ArtyomResh opened #520 "Center value changes on its own on different zoom value"
Hi! :)

I ran into strange behavior with center and zoom props (I also tried defaultZoom and defaultCenter props). Here is the code of render function of my component:

[code]

I pass `profileGeoCoordinates` from store and when `zoom` value < 2 it's rendering with correct center:
![zoom < 2](http://s.csssr.ru/U31J879TR/20180226010138_.png)

but when `zoom` value > 2 `center` value changes on it's

[2018-02-26 07:04] #520 closed

[2018-02-26 19:55] itsmichaeldiego commented on #510
Oh thanks @kpennell I thought you said you were stuck there!

[2018-02-26 20:04] itsmichaeldiego commented on #513
@felixterpstra Oh yes Felix, sorry about that. I copied and pasted from a personal project, that is a function I use to create the options for the map and add the styles.

[2018-02-26 20:05] itsmichaeldiego commented on #423
@Delindel This might be helpful for you: https://github.com/istarkov/google-map-react/issues/513#issuecomment-366349225

[2018-02-26 20:07] itsmichaeldiego commented on #423
@Delindel I am closing this issue as it is old. But please if you're facing this problem still, feel free to create a new issue.

[2018-02-26 20:07] #423 closed

[2018-02-27 08:55] alexmcmillan commented on #510
I tried @istarkov's suggestion, moving the `kON_CHANGE` emit from idle to draw, no luck :(

This is a right PITA.  The new API has such sweet, smooth zooming.

[2018-02-27 09:00] istarkov commented on #510
@alexmcmillan just calling onchane is not enough, all that stuff with recalculating internals before like his_._onBoundsChanged(map, maps); are also needed?

[2018-02-27 09:10] alexmcmillan commented on #510
Yeah I thought I was being a bit optimistic...

Just for giggles, I dumped the entirety of `idle` inline into `draw`... no change.

[2018-02-27 09:13] istarkov commented on #510
So inside draw this https://github.com/istarkov/google-map-react/blob/master/src/google_map.js#L998 return same result as it was?

[2018-02-27 09:27] alexmcmillan commented on #510
Exactly the same.

I dumped some logs in draw/idle, as well as dumping the center lat/lng immediately after the line you referenced, then triggered a single zoom "step".  `draw` executed about 20 times, `idle` once... all with identical values.

[2018-02-27 09:34] istarkov commented on #510
As I see google examples on their site with overlays are working good, so for some reason transforms are not broken there. It will be interesting whats changed there (if changed)

[2018-02-27 13:13] jurgenzz commented on #510
rolling back fixes transform issue, but breaks "draggable" parameter.

For instance, when clicking on child and disabling map dragging, this breaks v3.30, but works with newer ones. And the other way around with transforming.

[2018-02-28 12:09] btbensoft commented on #505
@itsmichaeldiego any idea when you will fixe this issue? I need set minZoom to 0 because i got my own plan picture :S

[2018-03-01 22:31] itsmichaeldiego commented on #505
@btbensoft TBH I am suuuper busy this days, its an easy fix so feel free to collaborate if you need it soon! I can promise I will merge it quick ;)

[2018-03-02 04:07] Bronsequences commented on #257
Thanks @itsmichaeldiego for releasing a fix for this.
I'm upgrading to the 0.32.0 package now and as it's intermittent will report back as to whether it's fixed. We've seen 88 instances of this error logged in Raygun over the last week so I should know in a day or so.

[2018-03-02 05:17] stephenfarrar commented on #510
Thanks for looking at this issue.

I left some detailed advice, and a link to a code sample in #490 , which I'm not sure whether people have seen. So I'm just drawing attention to it again.

[2018-03-03 12:57] stephenfarrar commented on #510
I've managed some hacks that make things sort-of work.

In `google_map.js`
* Delete the `zoom_changed` listener entirely.
* After `panes.overlayMouseTarget.appendChild(div);` add the line
  ```_this.geoService_.setProjection(overlay.getProjection());```
* In the `draw()` method, comment out the lines that set `div.style.left` and `.top`.

In `utils/geo.js`
* Add a `setProjection()` method that sav

[2018-03-04 18:40] BrodaNoel opened #522 "How to know which markers are shown in the map"
Hi guys,
I'm trying to do something like [this](https://stackoverflow.com/questions/6100514/google-maps-v3-check-if-marker-is-present-on-map).
I need to know which Markers are shown in the map.

Can I do it with `google-map-react`?

[2018-03-05 02:04] Bronsequences commented on #257
Haven't seen any new instances of this error since updating to 0.32.0 so I'm calling it fixed and will close this issue now. Thanks again for taking the time to fix this for us. :)

[2018-03-05 02:04] #257 closed

[2018-03-05 21:20] nuclearspike commented on #257
Thanks for getting this out. Upgrading now.

[2018-03-05 23:38] Delindel commented on #448
Hey guys, sorry to revive an old thread but im having a similar issue.

Scenario:
- I have a child Marker component which is 30px by 30px.
- Marker has child Window component, which is 200px by 100px.

Problem: When i click on Marker, the child Window expands to show another button, however any click i give on this child will translate into a map click, ignoring this child and its size.

By using

[2018-03-06 01:10] Delindel commented on #508
Bumping this since i just came by the same problem.

I tried messing with z-index, dom events, you name it.

The behaviour is that the size of the marker for the Maps component is super small, so once you click outside of it its taken as a map click, even tho the click is visually inside the infowindow.

Is there any word or workaround on this?

Side note: This does not happen, by some reason, in

[2018-03-06 16:17] jaredkwright commented on #508
@Delindel The way I worked around this was to use a hover listener on the markers and onChildMouseEnter, put the marker id into a global Set() object and remove it onChildMouseLeave. Then on the map listeners I check to make sure the object is empty before firing the event handler. That way a click on a marker doesn't trigger the handler but a click directly on the map does. It is hacky but it wor

[2018-03-06 20:07] Delindel commented on #508
@jaredkwright Hey man! Thats a nifty approach, however when i tried, as the infowindow is larger than the marker size, onChildMouseLeave would be fired even if still hovering over the infowindow.

Sadly, the infowindow DOM onMouseEnter will not fire on Firefox (somehow will on Chrome) and therefore my Set is empty when the map click is registered.

Im pulling all my hair out.

[2018-03-06 23:47] itsmichaeldiego commented on #508
@Delindel @jaredkwright Guys, have you tried to achieve the same thing with pure google maps? I would like to know if the problem is the fact that we have custom components instead of markers or if its a problem with google maps itself, that way we could isolate the problem.

[2018-03-06 23:49] itsmichaeldiego commented on #508
@Delindel @jaredkwright I will work with you guys to fix this as it seems to be a feature that a lot of people want.

[2018-03-07 01:43] Delindel commented on #508
@itsmichaeldiego @jaredkwright Thats sounds amazing! Id like to state im not new to javascript but i am new to React, speed learning but on my track.

A way to reproduce this would be:
- Place a 30x30 marker with a child of 200x200 at any given coordinates (both stateless), you can use absolute and relative positioning with z-indexing all you want.
- Console log mouse in-out-click DOM events on bo

[2018-03-07 08:34] btbensoft commented on #505
@itsmichaeldiego I found way to fix my problem : minZoom to **1** and set the property minZoomOverride to **true**

[code]
but now i got an other problem, when the map are in "repeat" zoom 1 : the markers are not well positioned :

![Images](https://image.ibb.co/icwkXn/Capture3.png)

[2018-03-07 12:11] indapublic opened #523 "Incorrect marker positions in contained map"
`"google-map-react": "^0.32.0"`

Full screen mode (sorry, markers are small):
<img width="960" alt="screen shot 2018-03-07 at 22 07 50" src="https://user-images.githubusercontent.com/856260/37091540-43f8c91c-2254-11e8-8438-10d5f77411c7.png">

Contained mode:
![screen shot 2018-03-07 at 22 08 01](https://user-images.githubusercontent.com/856260/37091551-5405b2b6-2254-11e8-9d33-324e2e3b529e.png)

I

[2018-03-07 20:04] jaredkwright commented on #508
@Delindel Are you creating the infowindow using Google Maps or as a div in react? I am rendering it in react as a child of the map, like I am the markers, and my approach works on the info window as well. It works with anything you render as a child of the map component (provided you give it a key, I guess).

[2018-03-07 21:06] jaredkwright commented on #508
@itsmichaeldiego I believe the issue is that the Google Map is rendered into a canvas element and Google expects to have full control over the canvas, so they aren't counting on their code having to take into account layers that the user might render on top of their map layer. Therefore they get any click on the canvas and under the hood they use this to determine whether you clicked on the map, a

[2018-03-07 23:40] Delindel commented on #508
@jaredkwright Im creating everything as react components, the event listeners are passed on as props and attached to the first div of each component:

Marker Mouse In/Out/Click ==> props to div wrapper inside <Marker/>
IWindow Mouse In/Out/Click ==> props to InfoWindow component ==> props to div wrapper inside <IWindow/>

With ONLY these (relying 100% on these DOM events, works perfectly in deskto

[2018-03-08 01:21] itsmichaeldiego commented on #505
@btbensoft There is clearly a problem with the logic [here](https://github.com/istarkov/google-map-react/blob/master/src/google_map.js#L456-L461) I am taking a look right now.

[2018-03-08 02:54] itsmichaeldiego commented on #523
@indapublic This is not reproducible for me in my map, could you share your code and the css styles applied to the map?

[2018-03-08 03:58] Delindel commented on #508
@itsmichaeldiego @jaredkwright After some debugging and patient handchecking errors, i found out the culprit:

On cetrain browsers, an arrow function as prop does not catch the correct arguments as you would expect, example:

Parent google-map-react child event prop:
`manageMarkerClick={() => this.handleMarkerClick(arg1, arg2)}`

Child event usage:
`(...) onClic = {this.props.manageMarkerClick}`

[2018-03-08 08:53] btbensoft commented on #505
@itsmichaeldiego yes you are right for the zoom 0 fix.

But for the makers bug (when the map are repeat more that 2 time, see my exemple...). i think is more when you get the coordinate :  [here](
https://github.com/istarkov/google-map-react/blob/master/src/google_map_markers.js#206-L269) ?

[code]

[2018-03-08 14:54] mitramejia commented on #430
@mikkopori use env variables for different envs

`        const mapKeys = {
            key: process.env.GOOGLE_MAPS_API,
            language: 'en',
        }`

[2018-03-08 15:24] mxmtsk opened #524 "Example in Docs not available anymore"
The example in the `Docs.md` file is not available anymore:

http://www.webpackbin.com/N1N_45Owz

Would you be so kind and update it?

[2018-03-08 15:37] SpringsTea commented on #444
Whats the answer??

[2018-03-09 01:16] itsmichaeldiego commented on #505
@btbensoft Oh yeah, you're right, I was just taking a look, please create an issue for this, I will take care of the zoom 0 fix first and then will jump to this one.

[2018-03-09 01:47] itsmichaeldiego commented on #505
@btbensoft Just to clarify, to set a `minZoom`, its always required to set `overrideMinZoom`, so if it was not working without the `overrideMinZoom` value, then that makes sense. What would make sense here is that if we set a `minZoom`, its obvious that we want to overrideMinZoom.

[2018-03-09 01:58] itsmichaeldiego commented on #505
@thunderkid @btbensoft @carsy PR open -> #525 to address this issue, feel free to review or make comments.

My decision is to get rid of `minZoomOverride` property, I think that if we set a `minZoom` is clear that we want to override it, let me know what you guys think.

[2018-03-09 02:07] itsmichaeldiego commented on #505
@btbensoft The problem you're describing in https://github.com/istarkov/google-map-react/issues/505#issuecomment-371421838, I believe its related to https://github.com/istarkov/google-map-react/issues/421

[2018-03-09 02:08] itsmichaeldiego commented on #444
@Thammawat Please, write an issue in a more proper way, the details in the comments and exactly what you're trying to achieve, with an example if possible.

[2018-03-09 02:08] #444 closed

[2018-03-09 02:25] itsmichaeldiego commented on #524
@istarkov You probably have the ability to re-update the examples, would you mind?

[2018-03-09 02:38] itsmichaeldiego commented on #505
@btbensoft Can you try adding the following css rules to your marker component?

[code]

[2018-03-09 03:36] indapublic commented on #523
Source of component who render map with current geolocation:

[code]

[2018-03-09 03:36] indapublic commented on #523
Map markers:

<img
  lat={lat}
  lng={lng}
  onClick={onClick}
  className="MapMarkerImage"
  src={addressImage}
  alt={title}
/>

[2018-03-09 03:37] indapublic commented on #523
Map style

[code]

[2018-03-09 03:40] indapublic commented on #523
I noticed that it does not always appear. Sometimes position is fixed as it should, either immediately or after playing with the zoom or map moving

[2018-03-09 08:05] Shariaty opened #526 "Markers are not clickable on mobile"
First i thought it may be something wrong with my code , but when i check demos with my mobile phone i saw it has the same problem , markers are not clickable on mobile phone !!? And every things works fine on desktop.

[2018-03-09 09:07] btbensoft opened #527 "Makers position is not correct and moving when map repeat more that 2 times"
As discussed in the commentary: [#505](https://github.com/istarkov/google-map-react/issues/505#issuecomment-371421838)

When the plan is repeated more than 2 times (i.e use the full screen with zoomMin 1)

![map](https://image.ibb.co/iL3ZTS/map.png)

the markers moves they are not translate well.

probably a problem with this line:  [here ](https://github.com/istarkov/google-map-react/blob/master/

[2018-03-09 14:59] 7bp opened #528 "Marker position not correct after wrapper width changed"
In case I change the wrapper width the marker moves to the right, the map not moves at all which results in an improper position of the marker and it does not fix itself after window resize or so. This also appears to happen on the examples you provided. Change the wrapper width to e.g. 90% or a fixed pixel value will cause this. However, resizing the window and therefor the div that holds the map

[2018-03-09 16:03] pkrupar commented on #526
I'm experiencing the same problem. Marker `onClick` event doesn't fire when on mobile or simulating mobile from dev tools. Desktop is fine.

I'm using: 0.32.0 google-map-react and react 15.4.2, however as @Shariaty mentioned markers don't work in demo examples too.

I think it could be related to the new google map design. I also noticed that after the new design, map hijacks arrow events for navi

[2018-03-09 19:08] #505 closed

[2018-03-09 19:38] itsmichaeldiego commented on #505
@thunderkid @btbensoft @carsy Okey guys, this has been fixed and published in version `0.33`, but please pay double-attention to what it says [on the docs](https://github.com/istarkov/google-map-react/blob/master/API.md#override-the-default-minimum-zoom):

[code]

I will be working on this to see if there is a possibility to handle small zooms and marker's positions, but in the meantime, keep in m

[2018-03-10 00:33] michelemazzucco commented on #526
Hi guys, FYI: I've fixed this issue with "locked" gmap version in loader file: https://github.com/michelemazzucco/google-map-react/blob/bc45189b8ea282a17e549cab68f7e8932128069c/src/utils/loaders/google_map_loader.js#L71

[2018-03-10 06:02] itsmichaeldiego commented on #526
@michelemazzucco You don't need to "lock" the gmap version, you can do it in the map `bootstrapUrlKeys`:

[code]

You can also use `3.31`

[2018-03-10 07:52] pkrupar commented on #526
Awesome! I can confirm that specifying version `3.30` in `bootstrapURLKeys` fixes the problem. Thanks for the workaround, guys!

[2018-03-10 10:12] michelemazzucco commented on #526
Thank you so much @itsmichaeldiego :)

[2018-03-10 16:24] Shariaty commented on #526
Thanks , locking the version on 3.30 solved the problem @itsmichaeldiego

[2018-03-10 17:16] itsmichaeldiego commented on #526
@Shariaty @michelemazzucco @pkrupar Glad it worked guys, there were a few problems due to google maps updating, this issue is also related to that: https://github.com/istarkov/google-map-react/issues/510.

I will be taking a look to figure out what is the problem, but in the meantime I am glad that you guys can workaround this with specifying the version.

[2018-03-10 17:28] itsmichaeldiego commented on #518
@maxrodkin When I click anything in the Codepen you sent, the map disappears, please provide a working example and add a better format to the code you pasted here so we could try to help you.

Here is a gif of the problem:
![screen recording 2018-03-10 at 09 27 am](https://user-images.githubusercontent.com/6419886/37244923-5ab3fe22-2445-11e8-8144-02c78eef9927.gif)

[2018-03-10 17:28] #518 closed

[2018-03-10 21:23] itsmichaeldiego commented on #526
@Shariaty @michelemazzucco @pkrupar I am handling this in #530, so by default we don't have to set the version, the problem is described [in #530's description](https://github.com/istarkov/google-map-react/pull/530#issue-174187310)

[2018-03-10 21:28] itsmichaeldiego commented on #510
@wellguimaraes @bzbetty @jabidof @goncharov @vladimirmimlov @mikkelwf @Delindel @RoelanddeBetue @mikeriley131 @jeffodle @kpennell @BrodaNoel @alexmcmillan @istarkov @jurgenzz @stephenfarrar:

I am handling this in #530, so by default we don't have to set the version `3.30` or `3.31`, the problem is that the `3.32` version is experimental and causing us bugs. When this version gets stable we should

[2018-03-10 21:57] #510 closed

[2018-03-10 21:57] #526 closed

[2018-03-10 23:16] itsmichaeldiego commented on #493
@emilpalsson I did a little modification to this logic here https://github.com/istarkov/google-map-react/pull/530/files#diff-4ed1519a6d20f85caa4cc6b843258ecbR6 I tested it and it seems to be working but if you could double-check that would be rad, thanks.

[2018-03-10 23:26] #380 closed

[2018-03-10 23:26] #377 closed

[2018-03-10 23:27] #372 closed

[2018-03-10 23:28] #321 closed

[2018-03-10 23:29] itsmichaeldiego commented on #324
@rohitgupta3 @GeorgeYing1 Please try with latest version and open a new issue if the problem persists.

[2018-03-10 23:29] #324 closed

[2018-03-10 23:29] itsmichaeldiego commented on #325
Please try with latest version and open a new issue if the problem persists.

[2018-03-10 23:29] #325 closed

[2018-03-10 23:30] itsmichaeldiego commented on #331
Please try with latest version and open a new issue if the problem persists.

[2018-03-10 23:30] #331 closed

[2018-03-10 23:31] itsmichaeldiego commented on #337
@Titoine Let me know if you still need help with this.

[2018-03-10 23:31] #337 closed

[2018-03-10 23:32] itsmichaeldiego commented on #338
Unexplained issue. I've used this library while doing server-side rendering and it works perfectly. Please create a Codepen or some live example.

[2018-03-10 23:32] #338 closed

[2018-03-10 23:35] itsmichaeldiego commented on #347
@namezero Let me know if passing the client-id in the `bootstrapURLKeys` works or not please! Otherwise I will take a look. Thanks for opening the issue.

[2018-03-10 23:35] #347 closed

[2018-03-10 23:36] itsmichaeldiego commented on #465
@jeremymarc Cannot open the link, if the problem persist, please open a new issue and we will take a look. Thanks!

[2018-03-10 23:36] #465 closed

[2018-03-10 23:40] itsmichaeldiego commented on #294
@wang3g @3plusalpha Let me know if this is helpful: https://github.com/istarkov/google-map-react/issues/512#issuecomment-366352763

If this is still an issue, please open a new issue and we will take care of it, thanks in advance.

[2018-03-10 23:40] #294 closed

[2018-03-10 23:41] itsmichaeldiego commented on #467
@nguyenthithao Let me know if this is helpful: https://github.com/istarkov/google-map-react/issues/512#issuecomment-366352763

If the problem persists please create a new issue with more details, thanks for using https://github.com/istarkov/google-map-react/

[2018-03-10 23:41] #467 closed

[2018-03-10 23:42] itsmichaeldiego commented on #463
@deboroy Unfortunately we are not going to prioritize this until fixing all the current issues of the map. Please feel free to open a PR with the changes if you find a workaround, we will then merge and test it.

[2018-03-10 23:42] #463 closed

[2018-03-10 23:46] itsmichaeldiego commented on #430
Works fine by me, please see [this example](https://github.com/itsmichaeldiego/google-map-react-examples/blob/master/src/components/GoogleMap.js#L18).

If the problem persists please feel free to create a new issue. We're doing a cleanup! Thanks.

[2018-03-10 23:46] #430 closed

[2018-03-10 23:47] #426 closed

[2018-03-10 23:53] itsmichaeldiego commented on #303
@sonsoleslp Sorry for the late response, but no, you can use the maps instance that we create after the map is loaded, [check this example](https://github.com/istarkov/google-map-react/issues/512#issuecomment-366352763).

About the instances getting mixed up, that did not happen to me, would you mind creating a Codepen and I can take a look at it?

@matmac If your problem still persists, would you

[2018-03-10 23:53] #303 closed

[2018-03-10 23:55] itsmichaeldiego commented on #418
@pts-ccontreras I am planning to do a quick fix to iE 10 & iE 11 soon. The gif you provided is not working anymore, would you mind to open a new issue and I will take a look? Thanks.

[2018-03-10 23:55] #418 closed

[2018-03-10 23:56] itsmichaeldiego commented on #453
@chilander1 Let me know if @hanford's comment worked. I am closing the issue as for now.

[2018-03-10 23:56] #453 closed

[2018-03-11 00:00] itsmichaeldiego commented on #439
@Benornm You can just create one using pure CSS. [Here is an example](https://github.com/itsmichaeldiego/google-map-react-examples/blob/master/src/components/Marker.js#L6)

You can also use an svg image or anything you want. But it has to be a valid element or react component.

@jaylaw81 Were previous comments helpful? If you still need help please feel free to contact me or create a new issue.

@

[2018-03-11 00:00] #439 closed

[2018-03-11 00:04] itsmichaeldiego commented on #417
@menisweet Here is a working example:

Map component:
https://github.com/itsmichaeldiego/google-map-react-examples/blob/7bcde2a6fc8ff5098ad0363f5ddafa9683261592/src/components/GoogleMap.js

Marker component:
https://github.com/itsmichaeldiego/google-map-react-examples/blob/7bcde2a6fc8ff5098ad0363f5ddafa9683261592/src/components/Marker.js

Let me know if that works for you. Otherwise feel free to c

[2018-03-11 00:04] #417 closed

[2018-03-11 00:06] itsmichaeldiego commented on #411
@Sanjay7035 I was hoping to be any help but I also cannot see the codepen you provided.

I think what @istarkov wants to say is that, in order for you to clear the markers, you need to clear the content you're sending inside `GoogleMapReact` component, if you provide me with an example of your code I can totally help you with this. Please reopen the issue or create a new one if needed. Closing thi

[2018-03-11 00:06] #411 closed

[2018-03-11 00:35] itsmichaeldiego commented on #456
@akichim21 Sorry but this is not clear enough, if you're still facing this issue feel free to create a new one with a better description and I will help you out. Thanks in advance!

[2018-03-11 00:35] #456 closed

[2018-03-11 00:36] itsmichaeldiego commented on #254
@jschlieber We've been adding tags and descriptions, let me know how is it looking now. Closing this issue now.

[2018-03-11 00:36] #254 closed

[2018-03-11 00:38] itsmichaeldiego commented on #262
@catalinfeier Thanks for the contribution, as we're way behind Android 4.3, I don't think anything would be needed here. Closing the issue.

[2018-03-11 00:38] #262 closed

[2018-03-11 10:46] pkrupar commented on #526
@itsmichaeldiego, you're quick! Thanks for the fix. I'm a bit late and the PR is already merged, but I just wanted to let you know that it looks good. I found just a minor stylistic thing, [here on line 77](https://github.com/istarkov/google-map-react/blob/7dfe4a27754c570a125bfc00a681567d7534eca1/src/utils/loaders/google_map_loader.js#L77),
 unnecessary use of backticks instead of single quotes. B

[2018-03-11 18:45] itsmichaeldiego commented on #526
@pkrupar Oh you're right, I was using a variable there and forgot to remove them, weird that eslint did not throw an error. I am taking care of that [here](https://github.com/istarkov/google-map-react/pull/532/files#diff-4ed1519a6d20f85caa4cc6b843258ecbR79)

[2018-03-12 06:22] kirylkliushkin opened #536 "Markers jump to the top left/bottom right corner on map zoom in/zoom out"
Any example of map with markers I checked has this behavior: when you zoom in/zoom our, markers disappear, then appear in the top left or bottom right corner and then quickly get to their position. Is this an intended behavior?  How can I make the markers stay at their positions on zoom?

Some examples with this behavior:
https://jsbin.com/roqutisoqu/1/edit?js,console,output
https://jsbin.com/mole

[2018-03-12 10:19] pierreberchtold commented on #536
I guess it has been fixed in the latest version

[2018-03-12 15:43] kirylkliushkin commented on #536
Thanks, upgrading to google-map-react 0.34.0 solved the problem.

[2018-03-12 15:43] #536 closed

[2018-03-12 22:49] itsmichaeldiego commented on #536
Thanks for your help @pierreberchtold.

@kirylkliushkin There is a little bit more information about the issue here: https://github.com/istarkov/google-map-react/pull/530

[2018-03-12 22:54] itsmichaeldiego commented on #528
@7bp:

About your first problem:

This has been fixed in `0.34.`, PR #530

About the other one:

I believe this code will work for you:

[code]

[2018-03-13 00:29] itsmichaeldiego commented on #527
@btbensoft If you check the [docs about minZoom](https://github.com/istarkov/google-map-react/blob/master/API.md#override-the-default-minimum-zoom), it states:

The reason of this is that we build React components into the map, and we place them in a X / Y position in the DOM, by setting `left` and `top` properties.

The map view with minZoom < 2, repeat the maps in order to fit them in the screen

[2018-03-13 11:06] 7bp commented on #528
Thanks a lot.

[2018-03-13 11:06] #528 closed

[2018-03-13 12:54] Felonius-Gru opened #538 "Zoom level is reset when I set the zoom level under a specific value"
Hello.

I am using the function fitBounds(), and when I use that, I reset the center and zoom level.
fitBounds() function returns me zoom level 3, and when I reset the zoom level, the component reset the zoom level as 4.
I think it is because maybe, there is the minimum zoom level based on width and height of the map.

In my case, it works perfectly when the width is 1300 and height is 706.
It see

[2018-03-13 13:59] ibtsoft opened #539 "Event onChildClick does not work in fullscreen mode"
I am using onChildClick to handle click on a marker to show additional information:
[code]

Everything works fine until I switch to the fullscreen mode. I tried to put a breakpoint in the _onChildClick but looks like it is never fired. Once I switch fullscreen mode off everything works fine again.

[2018-03-13 14:55] maxrodkin commented on #518
@itsmichaeldiego , thank you, i did dolved problem at new version https://codepen.io/maxrodkin/pen/WMyjXo

[2018-03-13 15:13] btbensoft commented on #527
@itsmichaeldiego, I can help you to work on it. When I'll have some free time! But you have to guide me a bit I do not know the code.

All markers logic is [here](https://github.com/istarkov/google-map-react/blob/master/src/google_map_markers.js)?

[2018-03-13 17:33] itsmichaeldiego commented on #528
@7bp Did it work? We will be adding the `resizable` option to the map soon, so we don't have to write all of this code by ourselves, keep in touch for that.

[2018-03-13 17:34] itsmichaeldiego commented on #539
@ibtsoft Please provide a codePen or any live example.

[2018-03-13 17:44] itsmichaeldiego commented on #518
@maxrodkin Oh wow! That is great 🎉

This example is great, would you mind if I or if you want to, upload to the examples?

BTW: Your markers are being animated wrongly on zoom, upgrading to `0.34.0` would fix that.

[2018-03-13 18:08] itsmichaeldiego commented on #527
@btbensoft You're right, that is where the logic is placed, and [here](https://github.com/istarkov/google-map-react/blob/master/src/google_map_markers.js#L266) is where calculate the top / left position.

[2018-03-13 18:10] itsmichaeldiego commented on #523
@indapublic I can't reproduce this really, I can place the map anywhere and it works perfectly fine, if you can create a codepen or something similar live code would be great!

[2018-03-13 18:37] digitalh2o2 commented on #473
I have yet to implement clustering but @Tim152 built and shared his clustering example without recompose
https://github.com/Tim152/clustering-google-map-react

[2018-03-13 22:12] itsmichaeldiego commented on #473
@maksimgm Sorry for my late response, @istarkov created an example of this here: https://github.com/istarkov/google-map-clustering-example

You can also see the example live in here http://istarkov.github.io/google-map-clustering-example/

Let me know if that helps you out

[2018-03-14 01:12] stephenfarrar commented on #526
FYI: Markers should be clickable in 3.32 as of the latest release.

[2018-03-14 01:57] indapublic commented on #523
@itsmichaeldiego Ok, I'll try to make example sometime later

[2018-03-14 02:12] itsmichaeldiego commented on #523
@indapublic That would be great, thanks. My map is working fine either way so I cannot really help you this time.

[2018-03-14 06:07] maxrodkin commented on #518
@itsmichaeldiego, thank you)
Yes, you are wellcome, feel free to upload by yourself.
RE BTW: ok, i will back later to sample, little bit busy this days..

[2018-03-14 09:01] ibtsoft commented on #539
I think I was able to reproduce it on the example here: http://istarkov.github.io/google-map-react/map/events/

The onChildClick behaviour is different when map is in fullscreen mode.

I am using Chrome Version 64.0.3282.186 (Official Build) (64-bit) on Mac OS X 10.11.6

[2018-03-14 10:58] 7bp commented on #528
The update solves most of my issues. The map bounds adjust fine on load and **window** resize. However, I wish there would be an event for the map container resize, e.g. to maintain the map center position.

[code]

[2018-03-14 20:55] stephenfarrar commented on #527
By the way, this sort of problem might (?) go away if you use the projection from the OverlayView as suggested in https://github.com/istarkov/google-map-react/issues/510#issuecomment-370145748

[2018-03-14 20:58] stephenfarrar commented on #516
Google has fixed this issue now in v=3.32
Can you try again and confirm?

[2018-03-14 21:03] stephenfarrar commented on #502
If you want to suppress map "click"s, you can add listeners on your component that call `e.stopPropagation()`. You'll need to do this for `click`, `mousedown`, `touchstart`, and `pointerdown`.

[2018-03-15 04:26] oscarwong67 commented on #516
@stephenfarrar I can confirm that the issue has been fixed, BUT - when I switched from 3.31 to 3.32 (which introduced this issue) another problem arose that when you zoom into the map, the markers "teleport" before going back to their original location. This has NOT been fixed, but the issue I originally raised has been fixed. Personally, I'll be sticking with 3.31 for a while.

[2018-03-15 04:42] Sanjay7035 commented on #411
Sorry guys for the delay. Actually i am not working on this module since last few months. Thanks for you valuable time. I will check all your comments and will try to sort it out from my end and will get back here if any problem.

[2018-03-15 18:19] walidvb commented on #502
thanks @stephenfarrar, i chose to attach the event to both children, rather than to suppress the click. For my usecase, i think that would simply silent the click entirely

[2018-03-15 22:41] indapublic commented on #523
I found a situation when the positions are wrong. But will create example on weekend. But try to describe now:
We have container (as flex) with map and something more (some popup in my case)
If the popup is invisible, the map occupies the entire space - all works

![screen shot 2018-03-16 at 08 35 14](https://user-images.githubusercontent.com/856260/37494549-04e21510-28f5-11e8-8f38-02daed11051c.pn

[2018-03-15 23:17] indapublic commented on #523
Map container with `padding: 0`

![screen shot 2018-03-16 at 09 14 47](https://user-images.githubusercontent.com/856260/37495783-b77b961a-28fa-11e8-8f67-0a234c9bfcde.png)

Map container with `padding: 200px`

<img width="841" alt="screen shot 2018-03-16 at 09 16 54" src="https://user-images.githubusercontent.com/856260/37495796-cf713338-28fa-11e8-8dc0-ad3d86a96312.png">

I'm not sure that behaviou

[2018-03-16 17:25] experimatt commented on #516
@oscarwong67 +1 I just tested it and experienced the same thing.

If clicks are working `onChildClick` now, but the markers are still teleporting, should we close this issue and open a new one for the teleportation thing?

[2018-03-16 22:36] Pau1fitz opened #541 "Issue with info window and marker"
I am rendering markers on a google map using this library which is working great. I am having an issue with the `infowindow`, and seeing the following error:

See full code below.

Any ideas how to rectify this? Cannot figure it out from the docs.

[code]

[2018-03-19 12:41] Pau1fitz commented on #541
The issue was here
[code]

This needs to be

[code]

[2018-03-19 12:41] #541 closed

[2018-03-19 14:08] toonvanacker opened #543 "Markers no longer maintain correct position when zooming"
The markers displayed on the map no longer behave correctly when zooming, as shown below.

![Example](https://media.giphy.com/media/8rEl0Zu1rWfiIWEcLL/giphy.gif)

This also affects the main example for this repo: http://istarkov.github.io/google-map-react/map/main/

[2018-03-19 23:58] itsmichaeldiego commented on #543
@toonvanacker Upgrading to latest version fixes the problem.

[2018-03-20 00:49] itsmichaeldiego commented on #527
@stephenfarrar You guys are free to make the change <3 I am doing as much as I can with my time availability. Would love to be able to do more.

[2018-03-20 01:00] itsmichaeldiego commented on #411
Thanks @Sanjay7035, let me know if you need help.

[2018-03-20 01:01] itsmichaeldiego commented on #528
Thanks @7bp, how would you think we could improve the documentation to make it clearer?

[2018-03-20 01:05] itsmichaeldiego commented on #538
@Felonius-Gru You can use the option `minZoom`, but please pay double-attention to what it says [on the docs](https://github.com/istarkov/google-map-react/blob/master/API.md#override-the-default-minimum-zoom).

`
WARNING: Setting this option can break markers calculation, causing no homeomorphism between screen coordinates and map.
`

I will be working on this to see if there is a possibility to h

[2018-03-20 01:34] itsmichaeldiego opened #544 "Handle small zooms (below 3) and minZoom problems."
Related to #348 #421 #505 #510 #538

Quoting me in https://github.com/istarkov/google-map-react/issues/527#issuecomment-372506500:

The [docs about minZoom](https://github.com/istarkov/google-map-react/blob/master/API.md#override-the-default-minimum-zoom), state:

The reason of this is that we build React components into the map, and we place them in a X / Y position in the DOM, by setting `left`

[2018-03-20 01:37] itsmichaeldiego commented on #348
@jm90m We're wrapping all the zoom minZoom issues in #544, feel free to comment in there, we will need help to make this work!

[2018-03-20 01:37] #348 closed

[2018-03-20 01:38] itsmichaeldiego commented on #386
@MeloDai Yes, it could be fixed! We're wrapping all the zoom minZoom issues in #544 and we going to address it soon, feel free to comment in there, we will need help to make this work!

[2018-03-20 01:38] #386 closed

[2018-03-20 01:38] itsmichaeldiego commented on #421
@EbrahimMajdey We're wrapping all the zoom minZoom issues in #544 and we going to address it soon, feel free to comment in there, we will need help to make this work!

[2018-03-20 01:38] #421 closed

[2018-03-20 01:38] itsmichaeldiego commented on #538
@Felonius-Gru We're wrapping all the zoom minZoom issues in #544 and we going to address it soon, feel free to comment in there, we will need help to make this work!

[2018-03-20 01:38] #538 closed

[2018-03-20 01:47] itsmichaeldiego commented on #543
@toonvanacker working for me in `0.34.0`. See #510

GIF:
![screen recording 2018-03-19 at 06 46 pm](https://user-images.githubusercontent.com/6419886/37631228-fd9c3fca-2ba5-11e8-8db5-810dd14c7293.gif)

[2018-03-20 01:47] #543 closed

[2018-03-20 01:49] itsmichaeldiego commented on #527
@stephenfarrar @btbensoft We're wrapping all the zoom minZoom issues in #544, would love to get help from you guys, we could create a branch and collaborate all together!

[2018-03-20 01:49] #527 closed

[2018-03-20 01:52] itsmichaeldiego commented on #431
@kktam Sorry for the delay, the files you're mentioning are part of our Develop environment, its used by us to test Google Maps.

The high order components we're using its just a personal preference back in the time this library was written.

Let me know if you need help to work with this library, or please feel free to open a new issue if you encounter any, thanks in advance.

[2018-03-20 01:52] #431 closed

[2018-03-20 02:03] itsmichaeldiego commented on #522
@BrodaNoel In the link you provided there is no real answer to the problem. What I can say is, if its doable with Google maps, its doable by this library, you can use the property `onGoogleMapApiLoaded`, [more documentation here](https://github.com/istarkov/google-map-react/blob/master/API.md#ongoogleapiloaded-func).

Google-map-react does not extend or add any tool besides the capability to pass

[2018-03-20 02:03] #522 closed

[2018-03-20 02:09] itsmichaeldiego commented on #404
@fresh5447 Although I agree with @istarkov comment that you could find this easily, here it goes:

Our component `GoogleMapReact` accepts `options`, exactly like the normal `GoogleMap` does. So you can pass `styles` into properties, more info here: https://developers.google.com/maps/documentation/javascript/styling

Example:

[code]

[2018-03-20 02:09] #404 closed

[2018-03-20 02:16] itsmichaeldiego commented on #476
@falconmick Sorry for the delay, did #504 being merged fix your problem?

[2018-03-20 03:41] #405 closed

[2018-03-20 03:42] itsmichaeldiego commented on #405
@artemis-prime Let me know if you found an easy solution!

[2018-03-20 03:42] #394 closed

[2018-03-20 03:43] itsmichaeldiego commented on #381
Seems like its solved!

[2018-03-20 03:43] #381 closed

[2018-03-20 03:44] itsmichaeldiego commented on #390
Seems like its solved, thanks guys!

[2018-03-20 03:44] #390 closed

[2018-03-20 03:50] itsmichaeldiego commented on #309
@vilkoalexander Did you find any solution?

[2018-03-20 04:35] Felonius-Gru commented on #538
Thank you very much

[2018-03-20 05:22] falconmick commented on #476
Sorry for not replying till now, yeah sure did

On Tue, 20 Mar 2018 at 1:16 PM, Michael Diego <notifications@github.com>
wrote:

[2018-03-20 06:53] btbensoft commented on #527
@itsmichaeldiego, @stephenfarrar  ok im in! But like you, i have a lot of work...
I can try to find some time for this feature/issue.

[2018-03-20 08:13] vilkoalexander commented on #309
@itsmichaeldiego yes, I did. I've rewrote my application using Angular. So I don't have such problems, I have others :)

[2018-03-20 11:56] vertic4l opened #545 "Recalculation of markers on zoom"
Is there a way to have markers / components way more sticky to their position (lat, lng)?
Actually when zooming every marker gets repositioned...

[2018-03-20 22:40] itsmichaeldiego commented on #476
Great @falconmick, I am closing the issue then.

Thanks for your contribution ♥️

[2018-03-20 22:40] #476 closed

[2018-03-20 22:42] itsmichaeldiego commented on #527
I know @btbensoft no worries, we will get this done! Maybe we can create a collaborative branch

[2018-03-20 22:43] itsmichaeldiego commented on #309
Haha ok @vilkoalexander! Glad you worked it out! Let me know if you need further help!

[2018-03-20 22:43] #309 closed

[2018-03-20 22:47] itsmichaeldiego commented on #545
@vertic4l

Did you try center-aligning the components via css?

Adding `top: 50%;`, `left: 50%;`, `transform: translate(50%, -50%)` ?

[2018-03-20 22:48] itsmichaeldiego commented on #545
@vertic4l sorry: `transform: translate(-50%, -50%)`

[2018-03-21 06:24] btbensoft commented on #527
@itsmichaeldiego First at all, why we don't get the makers system from google maps?

Ok for the branch ;)

[2018-03-21 06:26] btbensoft commented on #545
@itsmichaeldiego, have you a simple example? I tried this way and no success :(

[2018-03-21 08:09] vertic4l commented on #545
@itsmichaeldiego Doesn't help at all. Zooming in moves "markers" from right to left. Zooming out from left to right.

[2018-03-21 14:05] vertic4l commented on #545
position: absolute;
transform: translate(-50%, -50%);

seems to work to position the component correctly... but the re-positioning still occurs when zooming in or out...

[2018-03-21 18:06] itsmichaeldiego commented on #545
@vertic4l Sorry, I misunderstood your question, yes, translate positions the component on its own center.

Have you tried using the latest version, which is `0.34.0`?

Using `0.34.0`, works like a charm for me:

![screen recording 2018-03-19 at 06 46 pm](https://user-images.githubusercontent.com/6419886/37728576-e4da75da-2cf7-11e8-8e2b-ef023c9ff984.gif)

[2018-03-21 18:11] itsmichaeldiego commented on #527
@btbensoft To be honest I did not write this library, I took it under my wing 2 months ago, so there is still a lot to catch up. Also, from the moment this library was written till now there has been many improvements to google maps in general.

In my brain, we could totally use the markers system for positioning the markers in the map and then find a way to pass a component to the marker, but the

[2018-03-21 18:15] itsmichaeldiego commented on #523
@indapublic Oh, yeah, I see what's going on in here. The problem is that you're applying padding to the container of the map, did you try changing its `width` instead? I think there is a problem on the way you're handling this card via css.

[2018-03-21 18:15] cmwint commented on #30
Can anyone provide a full example of how to implement the search box please? The SearchBox component plus the GoogleMaps component? I don't understand how to tie them together.

[2018-03-21 19:05] jseparovic opened #546 "updating center from parent does not reposition map"
sorry, I've searched and can't seem to find the answer.

I'm updating center of map from parent component but the map is not repositioning. What am I missing here?
Cheers

[code]

[2018-03-21 21:08] itsmichaeldiego commented on #546
@jseparovic Do you interact with the map before you change the center? If that is the case, this might be related to #176 and your solution would be using `_onChange` method, you can see an example in here: https://jsbin.com/roqutisoqu/1/edit?js,console,output

If you're not interacting with the map, and you trying to change the center, I need to know what is the method you're using to change the

[2018-03-21 22:02] itsmichaeldiego commented on #523
@indapublic Actually, did you try with `resetBoundsOnResize?`

https://github.com/istarkov/google-map-react/blob/master/DOC.md#simple-example

[2018-03-21 22:02] itsmichaeldiego commented on #546
@jseparovic Check here: https://github.com/istarkov/google-map-react/blob/master/DOC.md#simple-example

[2018-03-21 22:18] Aphsai commented on #30
Drop this as a child of GoogleMaps:
[code]

and you'll probably have to change the header to something like this:

[code]

[2018-03-22 00:24] jseparovic commented on #546
@itsmichaeldiego I'm just using the parent state and updating it when a user finds a google place in a search field (using react-places-autocomplete)

The handler method looks like:
[code]

updateState function is just a setState wrapper:
[code]

And the component in the parent render()
[code]

[2018-03-22 08:11] vertic4l commented on #545
@itsmichaeldiego unfortunately i'm using the latest version `0.34.0` and can't confirm, see:

![screencapture](https://user-images.githubusercontent.com/1771763/37758584-001db88e-2db1-11e8-8f2d-ce3b57a7a29f.gif)

[2018-03-22 08:54] vertic4l commented on #545
Same here, from your examples:

![screencapture_example](https://user-images.githubusercontent.com/1771763/37760431-f2f2ef8e-2db6-11e8-9e04-8b520e6180fb.gif)

[2018-03-22 12:39] nickmcmillan commented on #545
I've noticed this occurs only when using the latest version of the Google Maps API (v3.30).
If you specify to use v3.0 the problem disappears. Which is obviously not an ideal solution.

[2018-03-22 12:59] vertic4l commented on #545
But good catch @nickmcmillan !

[2018-03-22 13:19] btbensoft commented on #545
@nickmcmillan how do you set v3.0? on the component? any example?

[2018-03-22 13:48] nickmcmillan commented on #545
@btbensoft for the purpose of this test I just went the old school way of adding the API as a <script src="..."> instead of within the component.

[2018-03-22 15:09] cmwint commented on #30
@Aphsai this is great. Thank you!!

[2018-03-22 19:14] itsmichaeldiego commented on #545
https://github.com/istarkov/google-map-react/issues/545#issuecomment-375222647
@vertic4l That example is old and its not using `0.34.0`.

[2018-03-22 19:35] itsmichaeldiego commented on #545
@vertic4l @nickmcmillan To set an specific version, you can do it using `bootstrapURLKeys`:

[code]

But, as I explained, in Google Map React `0.34.0`, more specifically in PR #530, I set the default version of GoogleMaps to be `3.31`.

You can take a look at the code [here](https://github.com/istarkov/google-map-react/pull/530/files#diff-4ed1519a6d20f85caa4cc6b843258ecbR73).

So, unless you're sp

[2018-03-22 20:30] jseparovic commented on #546
@itsmichaeldiego I've tried to setup a jsbin
I'm using react 16.2.0 in my project btw, but for some reason this doesn't work in pastebin, so I'm trying with 15.6.2, however the map doesn't show for some reason, and my lat/long text fields disappear after submitting form.
I'm trying to simulate the update in state to show the map not re-centering, but not haveing much luck
https://jsbin.com/tolocit

[2018-03-22 21:24] itsmichaeldiego opened #549 "Fix example links in DOC"
Ref https://github.com/istarkov/google-map-react/issues/314#issuecomment-299838611 && #524

Example links in [DOC.MD](https://github.com/istarkov/google-map-react/blob/master/DOC.md) are dead.

Create new examples for the docs.

[2018-03-22 21:27] itsmichaeldiego commented on #524
@mxmtsk Taking care of this in #549

[2018-03-22 21:27] #524 closed

[2018-03-22 21:29] itsmichaeldiego commented on #545
Btw @nickmcmillan @vertic4l, version `3.32` is experimental as for now, please read the [description](https://github.com/istarkov/google-map-react/pull/530#issue-174187310) of PR #530.

[2018-03-22 23:29] itsmichaeldiego commented on #546
@jseparovic Have you tried this? https://github.com/istarkov/google-map-react/issues/512#issuecomment-366352763

[2018-03-22 23:42] itsmichaeldiego commented on #384
@fahd @danielrob @lkostrowski Guys, this got a little bit outdated, I am willing to help but I am closing this issue, if you guys still having the problem, open a new issue and I will take care of it 💪

[2018-03-22 23:42] #384 closed

[2018-03-22 23:42] itsmichaeldiego commented on #395
@thientran1707 Thanks for your contrib, I am tackling this in #549

[2018-03-22 23:42] #395 closed

[2018-03-22 23:42] itsmichaeldiego commented on #356
@jameskraus @mohitleo9 Thanks for your contrib, I am tackling this in #549

[2018-03-22 23:42] #356 closed

[2018-03-22 23:44] itsmichaeldiego commented on #383
@mpourismaiel @leoskyrocker Guys! Thanks for your contrib, I am tackling this in #549

[2018-03-22 23:44] #383 closed

[2018-03-22 23:52] jseparovic commented on #546
@itsmichaeldiego I did try that, but I thought that was more for resizing the browser window?

[2018-03-23 00:00] jseparovic commented on #546
@itsmichaeldiego is it possibly a v16 issue? That's what I'm using in my project, and same in the codesandbox

[2018-03-23 00:15] itsmichaeldiego commented on #361
@zacck @Matzu89 @Snaddu @binjospookie This is fixed guys:

https://github.com/istarkov/google-map-react/blob/master/src/google_map_markers.js#L32

Closing the issue, please let me know if you need more help or create a new issue, thanks!

[2018-03-23 00:15] #361 closed

[2018-03-23 00:21] itsmichaeldiego commented on #406
@BartoszDega It seems that you got the solution worked out, let me know if you need further help!

[2018-03-23 00:21] #406 closed

[2018-03-23 00:26] itsmichaeldiego commented on #300
@aaronmader @rob-blasetti @alan345 @solancer @sudhirbitsgoa This issue is outdated, Readme has been improved, please feel free to share your feedback, thanks!

[2018-03-23 00:26] #300 closed

[2018-03-23 00:28] itsmichaeldiego commented on #277
@alex-e-leon Is there something I can help here? I am closing the issue as for now as it seems you could make it work, but please re-open if you need further help Alex!

[2018-03-23 00:28] #277 closed

[2018-03-23 00:31] itsmichaeldiego commented on #371
@thientran1707 I am taking care of the DOC links in #549, sorry about the inconvenience.

@jamespizzurro You can just add `transform: translate(-50%, -50%);` in css to your marker component and that would do the trick. Let me know if that helps.

[2018-03-23 00:31] #371 closed

[2018-03-23 00:36] itsmichaeldiego commented on #374
@MatiMil You can use either `maps` or `map` catching the callback with `onGoogleApiLoaded`:

[code]

[code]

Let me know if that works, otherwise please re-open the issue and I will help you guys out!

[2018-03-23 00:36] #374 closed

[2018-03-23 00:37] alex-e-leon commented on #277
@itsmichaeldiego It looks like the experimental flag is still available and undocumented. I ended up successfully using it to increase performance in my application, so there's no work required from me, but I think that it could be useful for other consumers to know about the flag, or for the experiment to be finished up and turned into default behaviour so that the performance improvements are ma

[2018-03-23 00:37] itsmichaeldiego commented on #290
@szchenghuang I believe its better to use classes than inline styles in this case. Also, this is very low priority, we will be re-thinking the marker logic soon as we're facing some issues. Thanks for the comment!

[2018-03-23 00:37] #290 closed

[2018-03-23 00:38] itsmichaeldiego commented on #376
@xshadowlegendx Thanks for the good comments! Are you still facing this issue? Could you provide a live example? Thanks in advance!

[2018-03-23 00:40] jseparovic commented on #546
@itsmichaeldiego I have the codesandbox showing the issue now. center is updated, but the map does not recenter:

https://codesandbox.io/s/mjp08rvxmj

This is also using v16.2.0

[2018-03-23 00:46] itsmichaeldiego commented on #277
That sounds good @alex-e-leon, it seems that you know more about the experimental flag than me, would you mind adding simple documentation in `DOC.md`?

[2018-03-23 01:14] itsmichaeldiego commented on #546
@jseparovic You're right, I can reproduce it, let me work on an example on my own to see how can we make this work!

[2018-03-23 01:58] itsmichaeldiego commented on #546
@jseparovic Hey, I think the problem is related on how the state works. Check this repo I created a while ago for an interview, here I change the center: https://github.com/itsmichaeldiego/earthquaker.
Feel free to clone the project, run `yarn` and then `yarn start` and it will work, I just tested and updated https://github.com/istarkov/google-map-react to `0.34.0`.

[2018-03-23 02:24] indapublic commented on #523
@itsmichaeldiego I will check `resetBoundsOnResize`, thanks.

As I said before `padding` is not only issue. [Try to place map with any div inside flexbox](https://github.com/istarkov/google-map-react/issues/523#issuecomment-373546009) and you see the difference.

I fixed it issue with layout changing at the moment btw

[2018-03-23 02:57] alex-e-leon commented on #277
Unfortunately @itsmichaeldiego I don't really remember too much about this ticket/flag, so I probably won't be of much help.

[2018-03-23 07:00] btbensoft commented on #545
@itsmichaeldiego

`bootstrapURLKeys={{ key: 'XXXXXXX', v: '3.31' }}`

This is working for me 👍

[2018-03-23 08:41] vertic4l commented on #545
@nickmcmillan @itsmichaeldiego Thanks for your help and further more for this component!

[2018-03-23 18:32] itsmichaeldiego commented on #545
@vertic4l Is it working for you? Please confirm in order to close the PR!

[2018-03-23 18:33] vertic4l commented on #545
Yes, it does! Thanks for all!

[2018-03-23 18:33] #545 closed

[2018-03-23 18:36] itsmichaeldiego commented on #545
@btbensoft That is great dude, but as I said: it should work without the `v: '3.31'`! As long as you make sure that you use [google-map-react](url) in your package.json like `google-map-react: "^0.34.0"`.

What animation zoom did you lose? Do you see it in the [example I provided](https://github.com/itsmichaeldiego/google-map-react-examples/blob/master/src/components/GoogleMap.js)?

[2018-03-23 18:37] itsmichaeldiego commented on #523
@indapublic Please let me know if it works so I can close the issue, thanks in advance.

[2018-03-23 18:52] itsmichaeldiego commented on #508
@Delindel @jaredkwright Thank you so much for testing and debugging. I have this issue on my todo list, but I've been fixing some other issues in the past few days.

[2018-03-23 18:59] itsmichaeldiego commented on #539
@ibtsoft There is an issue with fullscreen mode, you're right, but it is not the `onChildClick`. Actually, I think its the position of the marker that is changed. We weren't supporting full-screen mode until version `0.26.0`. So this problem was introduced in  #452.

[2018-03-23 20:30] jseparovic commented on #546
@itsmichaeldiego you're right, it was my updateState setState wrapper. For some reason I thought I had to update this way to maintain other state keys, but I see setState already does this.
Thanks for you help. Cheers

working here: https://codesandbox.io/s/2oy1nj9kyy

[2018-03-23 20:30] #546 closed

[2018-03-23 20:44] itsmichaeldiego commented on #546
Great @jseparovic, I am glad I was helpful!

[2018-03-26 06:23] TannerPerrien opened #550 "Low precision latitude in onClick event"
The latitude values coming back in the onClick event seem to be off by a small margin of error.

I plotted a polyline using the gmaps api (similar to https://github.com/istarkov/google-map-react/issues/149). The longitudinal accuracy seems fine, but the latitude is off by a dynamic amount. The `lat` accuracy improves as the clicks move closer to the vertical center of the screen. As the clicks mov

[2018-03-26 17:28] TannerPerrien commented on #550
It turns out this was an issue with the map being "tilted" and throwing off the projection. It works as expected when the tilt is 0.

[code]

[2018-03-26 17:28] #550 closed

[2018-03-26 17:31] itsmichaeldiego commented on #550
@TannerPerrien That is a great observation, I am glad you found the solution. Thanks for your contribution!

[2018-03-26 17:33] itsmichaeldiego commented on #539
@ibtsoft Please let me know if you need further help.

[2018-03-27 09:07] jeanclaudeyalap commented on #292
If some one need it : You can fix it by calling LatLng of google map

[code]

[2018-03-29 18:49] itsmichaeldiego commented on #366
@jaimieli Due to changes, your comment pointing at the lines got outdated @jaimieli, please let me know if this is still a problem for you and we'll re-open the issue!

[2018-03-29 18:49] #366 closed

[2018-03-29 18:52] itsmichaeldiego commented on #297
@yoadsn I am guessing this was handled in PR #334 and this issue was never closed. Let me know if otherwise and we can re-open it.

[2018-03-29 18:52] #297 closed

[2018-03-30 17:02] kpennell commented on #510
@itsmichaeldiego Darn. This came back for me. Using .34

[2018-03-30 17:13] kpennell commented on #545
@itsmichaeldiego Is the current way to solve this using "^0.34.0",? I'm using "^0.34.0" and am again having the zoom (repositioning) issue. Any ideas?

[2018-04-02 20:45] itsmichaeldiego commented on #545
@kpennell did you try cleaning the node modules folder and yarn cache after updating to 0.34?

[2018-04-02 21:14] kpennell commented on #545
Deleted node_modules folder, reinstalled everything, also ran `yarn cache clean`. Hmmm...Not sure what's up.

[code]

[2018-04-02 21:34] kpennell commented on #545
Figured it out, I'm using `"react-places-autocomplete": "^6.1.3",` and I was bringing in a different maps api version in my index.html

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLcP_Z_ryjgLjIe1fE97aTebmyDH71D9E&libraries=places&v=3.31"></script>

@itsmichaeldiego thanks for all you do.

[2018-04-03 04:37] itsmichaeldiego commented on #545
@kpennell No worries colleague! Glad you found out what was the problem. Be careful, in your example you also set version as `3.32`: ```v:'3.32'```

[2018-04-03 04:40] itsmichaeldiego commented on #539
@ibtsoft Closing issue, let me know if you need any extra help.

[2018-04-03 04:40] #539 closed

[2018-04-03 04:41] itsmichaeldiego commented on #474
@drdpedroso Let me know if you need further help, closing issue.

[2018-04-03 04:41] #474 closed

[2018-04-03 04:43] itsmichaeldiego commented on #402
@sepehraliakbary Do you still need help with this matter? Let me know and we can re-open the issue.

[2018-04-03 04:43] #402 closed

[2018-04-03 04:43] itsmichaeldiego commented on #351
@mcjanowski Did you figure out a solution to your problem?

[2018-04-03 04:45] itsmichaeldiego commented on #409
@JavoByte @malaman @valorize Guys, it seems that you found the solution to your problem. Let me know if any of you need further help.

[2018-04-03 04:45] #409 closed

[2018-04-03 04:46] itsmichaeldiego commented on #350
@oskarkvamme @snhasani Are you guys still facing this issue?

[2018-04-03 04:47] itsmichaeldiego commented on #362
@siyanew Did you figure out the issue? Do you need any help?

[2018-04-03 04:48] itsmichaeldiego commented on #376
@xshadowlegendx As no answer was provided, I am closing the issue, but please feel free to re-open it if you are still facing it! Thanks.

[2018-04-03 04:48] #376 closed

[2018-04-03 04:49] itsmichaeldiego commented on #345
@mfrachet Let me know if you still need help. I am closing the issue as for now, it is not reproducible on my end.

[2018-04-03 04:49] #345 closed

[2018-04-03 04:49] itsmichaeldiego commented on #341
It seems that you guys found the solution, let me know if you need further help. Thanks!

[2018-04-03 04:49] #341 closed

[2018-04-03 04:51] itsmichaeldiego commented on #359
@gviligvili Are you still facing this issue? We could add some option to pass some id or special class name, let me know and we will re-open the issue!

[2018-04-03 04:51] #359 closed

[2018-04-03 04:52] itsmichaeldiego commented on #349
It seems that the solution has been provided. Let me know if otherwise.

[2018-04-03 04:52] #349 closed

[2018-04-03 04:52] #389 closed

[2018-04-03 04:52] itsmichaeldiego commented on #389
@sanjevShakya Let me know if you still need help with this!

[2018-04-03 04:53] #382 closed

[2018-04-03 04:53] itsmichaeldiego commented on #288
@sunkaflek Do you still need help with this? Let me know and we can re-open the issue!

[2018-04-03 04:53] #288 closed

[2018-04-03 04:54] itsmichaeldiego commented on #313
@anilreddykatta Did you find a solution for this or are you still facing the issue? Let me know and we can re-open the issue and work on it! Thanks

[2018-04-03 04:54] #313 closed

[2018-04-03 05:00] kpennell commented on #545
Aha, good point. Will change.

On Mon, Apr 2, 2018 at 9:37 PM, Michael Diego <notifications@github.com>
wrote:

[2018-04-03 07:07] mcjanowski commented on #351
Yes, I've used normal google API.

[2018-04-03 07:07] #351 closed

[2018-04-04 01:35] FrenchBully opened #551 "Heatmap generates red square"
Something I've come across is when there is one data point
```positions: [{lat: 34.022306, lng: -118.294556}]```
a large red square is generated and not a dot for heatmap.
![screen shot 2018-04-03 at 6 35 35 pm](https://user-images.githubusercontent.com/5194698/38283968-d586ff6a-376d-11e8-8a51-8b0f5fd464fd.png)

[2018-04-04 03:53] stephenfarrar opened #552 "Fix zoom animation with Google Maps API v3.32"
This is a new issue to discuss a long-term solution to the zoom animation problem that started with v3.32 of the Google Maps API. See also #490 #510 #530

I've begun work in https://github.com/stephenfarrar/google-map-react/tree/zoom-animation
Someone could start a branch here, and I'll create a pull request.

So far, here are some of the issues I'm confused about:

* The markers are children of `

[2018-04-04 12:28] tquiroga commented on #407
Looking to that too

[2018-04-04 17:15] f2net opened #553 "The examples website isn't working"
The examples website isn't working.

[2018-04-04 19:09] FrenchBully commented on #551
I guess doesn't really make sense to have a heatmap in the case there's only one data point.

[2018-04-04 19:09] #551 closed

[2018-04-04 22:16] stephenfarrar commented on #552
@itsmichaeldiego please take a look... and maybe you have answers to some of my confused questions :-)

[2018-04-04 22:29] istarkov commented on #552
I have answers :-)
To solve the problem all you need is to check modern google layer examples - and just compare why layers in google map examples zooms correctly and here is not.
Now about coordinate system from left top and center - when you rendering on server you have 0 information about client screen size so you cant use usual left top for screen coordinates (imagine u need to place marker at

[2018-04-05 22:13] xavierartot opened #554 "link broke"
Most of the examples are broke :/
http://istarkov.github.io/google-map-react/map/simple_hover/

[2018-04-06 08:12] jooj123 commented on #297
So is this defaulting to `greedy` now ?

[2018-04-08 15:16] abraztsov opened #556 "Point on map "jumping" when zoom in/out"
Hi team, lib version is 0.31.0. When I zoomIn/Out dots/marks/points on my map jumping (change their location for a second then stands to new one)

[code]

[2018-04-08 15:17] abraztsov opened #557 "Not displaying museums, cafes and etc"
google-maps-react version 0.31.0

My code below, what can I do/test ? Map not displaying any places (bars, parks, museums...)

[code]

[2018-04-10 12:54] emilpalsson commented on #493
@itsmichaeldiego Sorry for the late response. The change looks good! However, there is a problem. When serving from China, http should be used - not https. The current version does not work from China.

https://developers.google.com/maps/documentation/javascript/localization#GoogleMapsChina

[2018-04-10 13:40] nickpolet commented on #552
@stephenfarrar Thanks for looking into this. The zooming icons bug has been driving me mad for a while and we've switched out this component for an alternative for the time being. Such an annoying bug for such a great component.

Hopefully a good solution can be found soon. The smooth zoom on the newer libraries is really quite nice, and stepping back into the old world feels like a massive step b

[2018-04-11 13:53] jsprow commented on #552
@nickpolet
I can confirm that I'm still getting the issue in v0.34. I'm working on a mac with Chrome and Firefox. Both are having the issue. Here's what I'm looking at (sorry for the gross markers):
![apr-11-2018 09-44-03](https://user-images.githubusercontent.com/15620432/38620623-e9047fea-3d6c-11e8-85ae-26c1315806c1.gif)

I'm using this component in a backburner project right now and don't have

[2018-04-11 18:55] jasondecastro commented on #556
Would love a solution to this.

[2018-04-11 20:56] prakashsanker opened #558 "All of lodash included with google-map-react"
I just noticed this.

Even though this package uses `lodash.omit`, it introduces the whole lodash package into the project.

I created a minimal example here so that you can see this https://github.com/prakashsanker/google-map-react-test.

The relevant code sits in the

, where I do this

When that line is commented out, this is what my webpack bundle analyzer spits out

<img width="1369" alt="scr

[2018-04-12 02:58] stephenfarrar commented on #552
Here is my next and better attempt:
https://github.com/stephenfarrar/google-map-react/tree/zoom2

This branch aims to change less things, and be compatible with both 3.31 and 3.32.

It exhibits the same strange behaviour, though, where markers mysteriously disappear and reappear when you pan the map. Everything works fine on zoom though. I can't explain that.

@istarkov You're saying that on the s

[2018-04-12 07:58] istarkov commented on #552
@stephenfarrar I'm now far far away from map theme and can't say much
as I created this 3+ years ago and seems like my memory have some limitations ;-)
IMO if it works, you can use any coordinate system you like.

[2018-04-12 10:26] cybot1711 commented on #556
Me 2

[2018-04-13 07:31] pbwuxus commented on #556
+1

[2018-04-13 07:34] pbwuxus commented on #552
+1

[2018-04-13 12:40] Shachar16290 commented on #556
I updated the package to the latest version and it is working now

[2018-04-16 10:09] pbwuxus commented on #556
i use 0.34(lasest) and i get this problem still

[2018-04-16 15:39] sladiri commented on #556
In our project an update from 0.24.0 to the current version 0.34.0 did seem to help.

[2018-04-17 15:44] gpolyn opened #560 "selective rendering of map children, that is, markers, possible/desirable?"
Naively, I included my marker `map` in a component to use `shouldComponentUpdate` to control marker re-rendering. This approach is not consistent with the library, I discovered, as markers must be direct children of the map.

I'm not rendering a lot of markers, rather my UI has programmatic map re-centering and I would like to postpone the marker re-rendering, which may help eliminate a source of

[2018-04-17 16:06] itsmichaeldiego commented on #558
@prakashsanker First of all, thanks for your contribution. Luckily I handled this in #535 already and its going to be on our next release. Please for the next time, check the changes in latest master before submitting an issue.

[2018-04-17 16:06] #558 closed

[2018-04-17 16:07] itsmichaeldiego commented on #558
@prakashsanker Regarding your second comment, if omit goes away in lodash 5, I will just use mine. Thanks for the tip.

[2018-04-17 17:00] itsmichaeldiego commented on #553
@f2net Issue lacks of content and its probably a duplicate of #395

[2018-04-17 17:00] #553 closed

[2018-04-17 17:01] itsmichaeldiego commented on #551
I agree, let me know if you face any other issue @FrenchBully

[2018-04-17 17:02] itsmichaeldiego commented on #351
Thanks @mcjanowski! You can always use `onGoogleMapAPILoaded` method.

[2018-04-17 17:03] itsmichaeldiego commented on #297
@jooj123 No, you need to set `gestureHandling: 'greedy` as detailed in #334

[2018-04-17 17:04] itsmichaeldiego commented on #554
Duplicate of #395

[2018-04-17 17:04] #554 closed

[2018-04-17 17:30] itsmichaeldiego commented on #557
@abraztsov Please we require a live example or the whole code, this is not enough for me to understand what is going on, but it could be your markers, or anything. Here is a working example: https://github.com/itsmichaeldiego/google-map-react-examples/blob/master/src/components/GoogleMap.js

[2018-04-17 17:44] itsmichaeldiego commented on #407
@maxwellbenton @Delindel @tquiroga What about using the google maps api? Something like:

[code]

[2018-04-17 18:00] tquiroga commented on #407
@itsmichaeldiego Yes sounds like a good solution, I also saw some folks using `ref` to access the map api and use `panTo` from there.

[2018-04-17 19:03] itsmichaeldiego commented on #407
@tquiroga Let me know if any of those solutions work for you, I am looking forward to close this issue. CC @maxwellbenton @Delindel

[2018-04-18 18:08] itsmichaeldiego commented on #556
@sladiri @pbwuxus @cybot1711 @jasondecastro @abraztsov Guys, I just updated to latest version and it works great. Version: `0.34.0`

[2018-04-19 03:54] fabrii commented on #556
@itsmichaeldiego hi!, we are working with 0.34.0 and still have the issue

[2018-04-19 11:47] stunaz opened #565 "Can't call setState on a component that is not yet mounted. This is a no-op ..."
Hello,
I have this error warning when using `google-map-react`

I did a little investigation, it looks like the `kON_CHANGE ` event from [here](https://github.com/google-map-react/google-map-react/blob/aec0c08aae1dd29bc7fc7eee693b1687deb1c59b/src/google_map_markers.js#L51) is fired when the component is still mounting, which is resulting in calling `setState` [here](https://github.com/google-map-r

[2018-04-19 14:54] itsmichaeldiego commented on #565
Please, create a proper issue. The description is short and the title its just a copy and paste. Would love to look into it.

[2018-04-19 14:54] #565 closed

[2018-04-19 14:58] itsmichaeldiego commented on #556
@fabrii Can you provide your code? I can provide this working example: https://github.com/itsmichaeldiego/google-map-react-examples

[2018-04-19 15:14] itsmichaeldiego commented on #556
@fabrii @sladiri @pbwuxus @cybot1711 @jasondecastro @abraztsov

Follow the next steps:

- Make sure that version is >= 0.34.0:
[code]

- Make sure version is not specified in bootstrapURLKeys:

[code]

- Run:
  - `rm -rf node_modules/`
  - `yarn cache clean` or `npm cache clean`
  - `yarn` or `npm install`

- Try again

[2018-04-20 15:32] abraztsov commented on #557
So, this is my full code and as you can see on pic. 2 map have some places that doesn't appear on pic. 1 (ivy complex, King Street Wharf,....)
[code]

My MAP **(pic. 1)**
<img width="373" alt="2018-04-20 18 28 06" src="https://user-images.githubusercontent.com/19175580/39059939-9ad7263e-44c8-11e8-97d8-7a45b8553ad3.png">

MAP **(pic. 2)** from https://developers.google.com/maps/documentation/javasc

[2018-04-20 15:33] abraztsov commented on #556
v 0.34.0 - fixed my problem

[2018-04-20 15:33] #556 closed

[2018-04-20 21:50] HerringLarry opened #566 "Having Difficulty Plotting Routes between Markers"
I looked around the documentation and found one thread that was promising however was wondering if there was a way of plotting directions between two markers without directly accessing google maps api?

[2018-04-20 21:55] #566 closed

[2018-04-22 21:45] BrodaNoel commented on #522
Nice answer! Thank you for the documentation!

[2018-04-23 21:51] stephenfarrar commented on #552
@itsmichaeldiego No worries, I've also been on vacation the last week! Thanks for reviewing and leaving comments. I've tried to address them all, but let me know if things are still unclear.

[2018-04-24 07:02] vertic4l opened #567 "Street View doesn't work anymore (since v0.34)"
Seems like Street View stopped working with latest release:

![bildschirmfoto 2018-04-24 um 09 01 07](https://user-images.githubusercontent.com/1771763/39171179-441e3cbe-479e-11e8-89c9-e0b2ace06db9.png)
![bildschirmfoto 2018-04-24 um 09 01 12](https://user-images.githubusercontent.com/1771763/39171180-44393956-479e-11e8-950c-d1031bab15d9.png)

[2018-04-24 07:35] vertic4l commented on #567
Nevermind, it's Google Maps own issue: https://issuetracker.google.com/issues/73397412

[2018-04-24 07:42] vertic4l commented on #567
@itsmichaeldiego What do you say? Do we have to add something?

[2018-04-24 16:00] itsmichaeldiego commented on #567
@vertic4l I think the error in the screenshots is not related to the error in [Google's issue tracker]( https://issuetracker.google.com/issues/73397412), would you agree?

I need a [jsfiddle](https://jsfiddle.net) or something reproducing the error in order to check what's happening.

[2018-04-25 16:28] itsmichaeldiego commented on #567
Lets close it until you've more info @vertic4l, feel free to re-open later.

[2018-04-25 16:28] #567 closed

[2018-04-25 20:08] tbaustin commented on #243
@mxmtsk did you have to include a google api key with this?

[2018-04-25 20:32] mxmtsk commented on #243
@tbaustin Not sure as it was years ago but as far as I know the google map won't load without a api key. When you load the library youself I think you have to include it in the script url

[2018-04-25 21:29] tbaustin commented on #243
How did you get a reference to google.maps? I am passing through the script through the bottom below my GoogleMap but it is not working.

[2018-04-26 11:59] nickpolet commented on #552
@stephenfarrar nice job on getting this issue fixed (or at least ready for review). Really awesome to see. Pulled your commits and they seem to work great on the new maps API.

@itsmichaeldiego do you have any idea on when this will be reviewed? Keen to see it merged soonish.

[2018-04-26 13:35] gpolyn commented on #560
No love :(

[2018-04-26 13:35] #560 closed

[2018-04-27 14:18] gornyyvladimir opened #568 "Example did not work."
Hello! Examples did not work, please check it http://google-map-react.github.io/google-map-react/map/main/ . `Google Maps API error: MissingKeyMapError`

[2018-04-27 19:50] itsmichaeldiego commented on #243
@tbaustin You can get a reference to google.maps using `onGoogleMapsAPILoaded`, you can find in the the [docs](https://github.com/google-map-react/google-map-react/blob/master/DOC.md)

[2018-04-27 20:08] itsmichaeldiego commented on #552
@nickpolet @pbwuxus @stephenfarrar Fixed and published. please upgrade to version `1.0.0` of google-map-react and let me know.

[2018-04-27 20:08] #552 closed

[2018-04-27 20:27] Haroenv commented on #557
You might try setting the `styles` property: https://developers.google.com/maps/documentation/javascript/examples/hiding-features

[2018-04-29 00:58] theHinneh commented on #458
how do I pass the longitude and latitude received from a firebase database to be rendered in the google map with markers.
please I need help.
I want the markers to show when the database is updated with longitudes and latitudes

[2018-04-29 01:26] dericcain commented on #458
@theHinneh You would be best served by asking your question on StackOverflow because you actually seem to have more than one question. For instance, it seems like you are wanting these questions answered:
1. How do I query lat and lng from a Firebase database?
2. How do I render a Google Map using lat and lng (presumably using this library)?
3. How do I make sure that my map is reactive and stays

[2018-04-29 02:02] itsmichaeldiego commented on #557
@abraztsov That makes sense, sorry for the delay on the answer. I think what @Haroenv recommended would be the way to go. Something like:

[code]

[2018-04-29 11:24] abraztsov commented on #557
Thats worked. Thanks!

[2018-04-29 11:24] #557 closed

[2018-04-30 01:02] itsmichaeldiego commented on #458
Thanks for your comment @dericcain, I agree!

[2018-04-30 09:38] theHinneh commented on #329
Please I want to use your code, but I want to read the location (lat and lng) from firebase and show the markers on the map, as many locations that are in the database.
can you please help me out

[2018-04-30 15:42] itsmichaeldiego commented on #329
@theHinneh With this issue and Google Map React, you've everything you need from our side, what you need to figure out is how to use Firebase in a React lifecycle properly so you can render the map, but this is pure JS / React skills, its not related to the library, so I think the right place for your question would be StackOverflow.

[2018-04-30 18:04] theHinneh commented on #329
@itsmichaeldiego Thank you. I just started learning react on my own so if you could point out a good place for tutorials.

[2018-05-02 14:43] itsmichaeldiego commented on #329
@theHinneh I personally really like https://egghead.io/, but there are many others out there!

[2018-05-02 17:31] sojungko commented on #381
Still seeing this issue. The reason is because `lat` `lng` are off the map (it doesn't exist on map). I'm working on a PR to either fix or silence the error.

[2018-05-02 21:24] gpolyn opened #569 "React Developer Tools shows that all GoogleMapMarkers update in 0.29, but why?"
Why does React Developer Tools show _all_ `GoogleMapMarkers` updating in response to any UI interaction in 0.29, for example, as shown in the following linked .mov file?

 &nbsp; &nbsp; &nbsp;https://drive.google.com/file/d/1t4aVxOTCDRBJ5JxalMg6mp6XJeW3_O3Z/view?usp=sharing

You can see the `$hover` property for a selected marker changing in response to UI action&mdash;I understand that part&mdash

[2018-05-03 13:30] nickpolet commented on #556
v1.0.0 fixes this issue perfectly.

[2018-05-03 13:37] nickpolet commented on #569
Can't really answer the "why" it does this, but remember that you have the flexibility of **shouldComponentUpdate** within react.

We used **shouldComponentUpdate** to greatly improve the performance of the map in this module. We render thousands of custom map markers by checking if the component needs to update based on the data being piped into the props. Before we did this we were battling with

[2018-05-03 13:59] gpolyn commented on #569
@nickpolet can you please refer me to any example of selectively rendering map children, for example, with `shouldComponentUpdate`? Because in the `.mov` I linked you can see that the map doesn't update, just the children. I would like to control rendering of the children, but I don't know how.

(Your suggestion reminds me of a question I recently raised, but then closed due to lack of specificity

[2018-05-04 18:33] thecamarada opened #571 "Example at "getting started" is not working"
The code below doesn't work. I just tried it and return an error at the static variable. It's strange since it's static in the class and at the render part call the properties with "this".

Module build failed: SyntaxError: C:/dev/KeyCar/backoffice-v2/src/views/Vehicles/VehiclesMap.js: Unexpected token (15:24)

     |                         ^
  16 |         center: {
  17 |             lat: 59.95

[2018-05-08 07:36] carpben opened #573 "Various examples not running or has a bug"
http://google-map-react.github.io/google-map-react/map/main/ - Initially loads on the browser, but then presents a message: "Oops, something went wrong". This applies to the various examples under http://google-map-react.github.io/
https://jsbin.com/gaxapezowo/1/edit?js,output - Doesn't zoom out beyond level 3.
http://istarkov.github.io/google-map-react/map/main/ - 404.

[2018-05-08 22:13] itsmichaeldiego commented on #381
@sojungko So its not an issue, coordinates don't work that way, if you pass the longitude as latitude you won't find anything.

[2018-05-08 22:15] itsmichaeldiego commented on #556
@sladiri @pbwuxus @cybot1711 @jasondecastro @abraztsov

v1.0.0 fixes the issue.

Thanks @nickpolet for confirming!

[2018-05-08 22:35] itsmichaeldiego commented on #571
@thecamarada This works perfectly for me, check this gif: https://cl.ly/3X0O461F0K3o

Remember that where it says `/* YOUR KEY HERE */` you have to put your google map key, for example:

[code]

[2018-05-08 22:37] itsmichaeldiego commented on #573
@carpben You're right, we're having a problem with that, I will take care of this asap.

[2018-05-08 22:38] itsmichaeldiego commented on #569
@gpolyn I would suggest you to update to `1.0.0` though.

[2018-05-09 01:00] gpolyn commented on #569
@itsmichaeldiego you're right.

I'll close for now and work up a demo in 1.0.0 to see if I can dupe.

Depending on the result from that, I'll comment back here.

[2018-05-09 01:00] #569 closed

[2018-05-09 19:16] itsmichaeldiego commented on #569
@gpolyn Let me know and I will help you out.

[2018-05-10 07:40] 2yung opened #574 "support for China"
I do：
`bootstrapURLKeys={{
                        region:"cn",
                        key:"my key"
                    }}`

but the request contain:
https://maps.googleapis.com/maps/api/js/ViewportInfoService.GetViewportInfo?...
https://maps.googleapis.com/maps/api/js/AuthenticationService.Authenticate?...

How to solve this problem.

[2018-05-10 07:54] #574 closed

[2018-05-10 07:56] 2yung commented on #574
It seems to be the problem of the Google map API.

[2018-05-10 10:25] nickpolet commented on #569
@gpolyn, not sure I'll have time to code up an example in a timespan that will be useful to you, although I can say that we essentially just check if the markers array has changed in shouldComponentUpdate and pass back true if it has. We also have a range of other props that can trigger a render, but that is just specific to our application.

In fact, using shouldComponentUpdate alone and checking

[2018-05-10 16:54] gpolyn opened #575 "Markers "jiggle" when panning in 1.0.0"
As can be observed in `.mov` file linked below, markers "oscillate" or "jiggle" when the map is panned.

&nbsp;&nbsp;&nbsp;~~https://drive.google.com/open?id=1fYgvhW5Pug_XLg-adXRhWWR95QUrfOA6~~

&nbsp;&nbsp;&nbsp;https://drive.google.com/open?id=14WHc7N3HeH7JvpBKEeCl6TB2RCVEnuY1

The demo can be found at the `markers_jiggle` branch at https://github.com/gpolyn/nextjs-google-map-react, done in Next

[2018-05-10 16:55] gpolyn commented on #569
Related example/issue linked at https://github.com/google-map-react/google-map-react/issues/575

[2018-05-10 17:35] itsmichaeldiego commented on #575
@gpolyn I cannot see your video: https://cl.ly/0Y2r3J1k2j1O

Why do you say you can't use `1.0.0` with NextJS? The panning of the map does not have anything to do with server-side rendering, or maybe I am missing something here...

[2018-05-10 17:36] itsmichaeldiego commented on #569
@gpolyn Does @nickpolet's comment helps?

[2018-05-10 17:45] itsmichaeldiego commented on #574
@2yung Im glad you found out the issue!

[2018-05-10 22:15] gpolyn commented on #575
@itsmichaeldiego ...should work now, if you want to retry.

Here's another: https://drive.google.com/open?id=14WHc7N3HeH7JvpBKEeCl6TB2RCVEnuY1

Might be useful for someone to confirm that nothing like what I've linked is found in a straight `react` use of `1.0.0`. I can do that, but but there was no jiggle in `0.0.29` in other Next work I've done, plus the fact I selected `google-map-react` as an

[2018-05-10 22:45] gpolyn commented on #575
...markers nice and static while panning in `0.34.0` + next.js.

&nbsp;&nbsp;&nbsp;&nbsp;https://drive.google.com/open?id=1odRsPGDbalNPYj3-OSqEZTfBo0OGrM2a

(https://github.com/gpolyn/nextjs-google-map-react/tree/markers_dont_jiggle.)

[2018-05-11 12:35] janhoeck commented on #573
I need some examples too. Hope this will be fixed soon

[2018-05-11 18:46] gpolyn commented on #575
While the foregoing might be useful to others using NextJS, I see that the effect is not present at `1.0.0` https://github.com/google-map-react/google-map-react/tree/master/develop, so I'll close.

[2018-05-11 19:15] itsmichaeldiego commented on #575
@gpolyn I would like to take a look at this, as I used NextJS without a problem in the past and I use it often, also a lot of users are doing SSR so I am interested on fixing it, let me know if I can be of any help to fix that jiggle you're mentioning.

@stephenfarrar If you're able to see the videos @gpolyn is sharing, would you mind taking a look?

@gpolyn As I am saying, I wasn't able to see th

[2018-05-12 04:06] itsmichaeldiego commented on #573
@carpben The fact that https://jsbin.com/gaxapezowo/1/edit?js,output - Doesn't zoom out beyond level 3 its rather intended, please check the [api documentation here](https://github.com/google-map-react/google-map-react/blob/master/API.md#override-the-default-minimum-zoom) for further information.

[2018-05-12 13:45] gpolyn commented on #575
@itsmichaeldiego maybe this link will work for you: https://gfycat.com/IllegalWebbedAtlanticblackgoby

[2018-05-12 15:46] a-trost commented on #549
Do we still have access to the code from those examples? Could we use codesandbox.io now?

[2018-05-12 22:45] pkprosol opened #576 "Custom Marker Does Not Appear With 3D Rotation"
I have a custom marker set up similarly to the following:

[code]

I'm using it on a map zoomed in to appear as 3D. The marker appears fine on the initial map. But if I rotate the map, the marker goes offscreen despite having the same lat and lng. I think there might be an error in calculating the marker position given a rotated map position.

[2018-05-13 16:43] itsmichaeldiego commented on #549
We don't @a-trost, they deleted them, I've been working on new examples but I haven't had enough time.

[2018-05-13 16:44] itsmichaeldiego commented on #575
@gpolyn That one does work! Thanks. It seems that they're changing their position a little bit, @stephenfarrar could you take a look?

[2018-05-13 16:47] itsmichaeldiego commented on #573
@carpben Why is createOptions receiving map as a parameter? Is the function `createOptions` being called? Also, keep in mind what it says in the [documentation here](https://github.com/google-map-react/google-map-react/blob/master/API.md#override-the-default-minimum-zoom):

[2018-05-14 11:45] fgatti675 opened #579 "Can't change center of the map"
Hi, I know it has been asked before but I can't seem to find a solution.

I have made a short example that should fix the center of the map by updating the center state property onChange, but it doesn't work as I would expect. What am I missing? Thanks!

    const AnyReactComponent = ({text}) => (
        <div style={{
            color: 'white',
            background: 'grey',
            padding

[2018-05-15 03:14] kaycebasques commented on #32
FYI when I do something like:

[code]

I get an error from Google saying that it's dangerous to use internal APIs.

[2018-05-15 03:37] itsmichaeldiego commented on #32
@kaycebasques Because you need to add `yesIWantToUseGoogleMapApiInternals`.

[code]

[2018-05-15 03:39] kaycebasques commented on #32
Except I don't want to use API internals ;) Google is explicitly warning against it.

I think I got a solution working pretty easily with the [Google Maps Node.js client](https://www.npmjs.com/package/@google/maps).

[code]

My code is probably terribly unidiomatic... I'm a React newbie... but you get the idea.

[2018-05-15 21:43] MiloMagnus475 opened #581 "Google Maps API 3.32 New base map"
Great component and simple to use! Thank you for maintaining a fantastic repository.

I couldn't find any documentation regarding the new features rolling out to [Google Maps API](https://developers.google.com/maps/documentation/javascript/basemap#how-to-opt-out-until-august-2018).

Looking at the get requests in the browser I was able to find that the component still fetches version 3.31. In orde

[2018-05-16 02:01] stephenfarrar commented on #575
I would guess the issue is because of rounding errors. The markers are positioned with integer coordinates, but they're also a child of a container div positioned with integer coordinates.

The container div is positioned in [google_map.js](https://github.com/google-map-react/google-map-react/blob/7877008e17427d85403a7b82e61c6ce368d93803/src/google_map.js#L650) so that it *doesn't* move when the m

[2018-05-16 02:57] itsmichaeldiego commented on #581
@MiloMagnus475 Back in `0.34.0` we used to force the version to `3.31` as default, but not anymore since `1.0.0`, are you using latest version? `v1.0.2` ?

[2018-05-16 03:00] itsmichaeldiego commented on #575
That is a good input @stephenfarrar, unfortunately I am super busy until beginning of June, that is why I tagged you initially, I can take a look at it if no one hasn't by then though, that's for sure.

[2018-05-16 17:38] MiloMagnus475 commented on #581
Looks like I was using the older version! After updating I no longer need to clarify which API version to fetch. Thank you so much @itsmichaeldiego!

[2018-05-16 17:38] #581 closed

[2018-05-17 01:45] ivanquirino commented on #512
I have the same problem, I get my data from a websocket connection, then I do this:
[code]
I can show the new location but the map is still at the old location

[2018-05-17 02:33] ivanquirino commented on #579
Same, can't change center of map on state or props update. Zoom works, though. This really breaks the API...

[2018-05-17 02:50] itsmichaeldiego commented on #579
@ivanquirino @fgatti675 Guys, this has already been solved here https://github.com/google-map-react/google-map-react/issues/546#issuecomment-375789488

[2018-05-17 02:54] itsmichaeldiego commented on #512
@ivanquirino You're updating your state in componentDidMount but render is not going to be triggered , the problem is the way you're using react lifecycle. Please check https://github.com/google-map-react/google-map-react/issues/546#issuecomment-375789488

[2018-05-17 02:55] itsmichaeldiego commented on #168
@Suresh-R-S You just need to use `transform: translate(-50%, -50%)` and that will do

[2018-05-17 02:56] itsmichaeldiego commented on #581
@MiloMagnus475 No worries my friend! Let me know if you need further help.

[2018-05-17 03:00] raphaguasta commented on #168
@GingerBear is right!!

[2018-05-19 22:04] Xakher opened #583 "Invalid attribute name"
I'm trying to render markers on a map based on the array of places fetched based on the user location

[code]

Using this methods to render the markers causes the following errors
![image](https://user-images.githubusercontent.com/34751523/40273503-ab23f338-5bc9-11e8-81ee-89ebca0b264d.png)

[2018-05-20 22:16] SouhaibBenFarhat opened #584 "Map Component doesn't update when the state change"
Everything is amazing with this module except updating the center, I spent more than 3 hours trying to find a solution for this issue, such a nightmare. can anyone share with a code snippet about updating the center of the map depending on the state.

[2018-05-20 22:43] #579 closed

[2018-05-20 22:44] itsmichaeldiego commented on #584
@SouhaibBenFarhat It would've been faster if you would've looked through the repo issues. The problem is not about the library but the way you use React. This answer would help https://github.com/google-map-react/google-map-react/issues/546#issuecomment-375789488. Let me know if that works.

[2018-05-20 22:46] itsmichaeldiego commented on #579
@ivanquirino @fgatti675 Here is a live example:
https://codesandbox.io/s/2oy1nj9kyy

[2018-05-21 10:29] upalbyani commented on #544
How can we zoom the svg object on overlaymouseTarget

[2018-05-21 10:32] upalbyani commented on #543
How can we do the pan and zoom of svg object as the overlayMouseTarget in google map

[2018-05-21 16:53] gpolyn commented on #575
@stephenfarrar I just peeked at your linked code sections. I would like to help with the fix you propose, but would need more guidance.

Meanwhile, is the problem a math precision problem that can be solved in the short-run with [decimal.js](http://mikemcl.github.io/decimal.js/) or similar?

cc: @itsmichaeldiego

[2018-05-22 17:52] itsmichaeldiego commented on #575
For sure @gpolyn, I will try to help you as much as I can:

When GoogleMap `v3.32` was released, they changed some stuff that affected us, you can [see more details here](https://github.com/google-map-react/google-map-react/issues/552) in #552 .

@stephenfarrar Did a great job fixing this in #559 , and because of his fix and other previous fixes that were game-changers, I bumped the version from `

[2018-05-22 21:51] stephenfarrar commented on #575
@gpolyn Yes, you are correct that the rounding is happening inside `fromLatLngToDivPixel` and `fromLatLngToContainerPixel`. This is the expected maps API behaviour and we can't really change that.

In the marker file, I think that we need to call `fromLatLngToDivPixel` instead of `fromLatLngToContainerPixel`, and then subtract off the offset of the container. This would remove the double rounding.

[2018-05-22 23:31] BillGatesNephew commented on #584
I'm having the same issue with the center despite trying most the solutions mentioned in other threads. I'm updating the state (a center object) of the parent component of the map via a callback passed to a different child of the parent. The parent then passes the new state to the child map as a prop. However, i'm not seeing any changes at all in the map even though I clearly can see the child map

[2018-05-23 01:01] BillGatesNephew commented on #584
Update:
For anyone still have issue despite following the steps in #546 to solve the problem. You might want to ensure your packages are up to date. I was able to fix the problem by updating both Node as well as yarn. Hope this helps!

[2018-05-23 02:12] kstulgys opened #585 "Is "satellite" view option available?"
I just see that default "Map" view. Can I change it to "Satellite"? Can't find where I can pass the prop

[2018-05-23 21:05] itsmichaeldiego commented on #584
Great you found your problem @BillGatesNephew !

[2018-05-23 21:05] #584 closed

[2018-05-23 21:05] itsmichaeldiego commented on #584
Closing the issue as for now.

[2018-05-23 21:07] itsmichaeldiego commented on #585
@kstulgys Could you provide an example of what you want to achieve with plain google maps?

[2018-05-23 21:15] SouhaibBenFarhat commented on #584
you can close the issue anyway, I tried all the existing solutions that you already mentioned but i'm pretty sure that I can use another module which is react-google-maps, he provide a more easier and faster way to interact with the map. if you want to make our life easier please try to improve the way you update the center with your map. the fact that I can drop different components inside the ma

[2018-05-24 09:01] moust opened #586 "react-dom dependency should match react peerDependencies versions"
`react-dom` is listed in dependency with version `^16.3.2` but `react` is listed in peerDependencies with versions `^0.14.0 || ^15.0.0 || ^16.0.0`. The both should match or this could generate error for application using a version of React < 16.

[2018-05-24 12:50] vertic4l commented on #585
[code]

[2018-05-25 10:03] itsmichaeldiego commented on #585
Thanks for your answer @vertic4l!

[2018-05-25 10:03] itsmichaeldiego commented on #586
@moust You're right! Great catch, would you like to open a PR?

[2018-05-25 10:10] moust commented on #586
Yes, I will try to find a moment to do it :)

[2018-05-26 05:19] kaycebasques opened #587 "Detect "long press"?"
Hi, thanks for the library.

I'm trying to dynamically add markers on "long press" gestures.

The usual way to do this is with a timer, a `mousedown` event, and a `mouseup` event.

But it doesn't look like this lib's API supports these events. I only see `onClick`.

Suggested workarounds?

[2018-05-27 05:42] itsmichaeldiego commented on #587
@kaycebasques You can always set event listeners, by using `onGoogleAPILoaded`:

[code]

[2018-05-29 12:32] fgatti675 commented on #579
@itsmichaeldiego Thanks for your contribution. In your example you can change the center once. If you click on the update button once it works. If you move the camera and click on the update button again without changing any value it doesn't work I'm afraid.
I experience a similar behaviour in my app.

[2018-05-29 12:50] jonirautiainen opened #588 "Clicking map controls triggers onClick"
I can't figure out why this is happening. When on mobile device any of the map control buttons is clicked, onClick (func) triggers. I'm moving the pin based on user clicks and this leads to unwanted behaviour. There is no issue when using desktop device. I'm using gestureHandling: "greedy" option.

![issuee](https://user-images.githubusercontent.com/28143700/40659655-927e4f6e-6357-11e8-85a6-14bcfa

[2018-05-29 19:30] Amalkh5 opened #589 "Animation on marker click"
Hello,
I want to do animation on marker click  so i try to is  this

[code]
but the **problem** that all marker get trigger at the **same time.**

[2018-05-29 22:41] itsmichaeldiego commented on #579
@fgatti675 Some time ago I created a project that handles changing the center multiple times, here it is: https://github.com/itsmichaeldiego/earthquaker

[2018-05-30 01:24] SachaG opened #590 "Initializing map with fitBounds when map size is dynamic"
I know there's other threads about this issue but I couldn't really find a clear answer there, so I thought I'd post my current solution to get feedback, and in case it helps anybody else.

I have a search box where users can type a location, which could be a city, country, neighborhood, etc. In order to handle the different zoom levels better I thought I would use the bounds returned by Google Ma

[2018-05-30 05:41] jooj123 opened #591 "Google Maps JavaScript API error: DeletedApiProjectMapError"
Hi,

Getting error:

[code]

in console when i run the examples.

If I check what this means (https://developers.google.com/maps/documentation/javascript/error-messages) it says:

"Your API project may have been deleted from the Google API Console. Please check the project for which you generated the API key that's included in JavaScript API loader. You can create a new API project and get a new k

[2018-05-30 22:12] gpolyn commented on #575
@stephenfarrar, @itsmichaeldiego - final proof that the problem presents itself in the master, that the issue is not a next.js thing: https://gfycat.com/NaughtyCalmLhasaapso

[2018-05-30 23:04] gpolyn commented on #575
@stephenfarrar happy to lend a hand, but would hope you can give some more guidance.

https://github.com/gpolyn/google-map-react/tree/issue_575

[2018-06-01 01:53] stephenfarrar commented on #575
Thanks for the "final proof". I was wondering, since I haven't been able to repro it myself.

Maybe it only happens when the browser is under load?

I will definitely take a look.
It's probably related to http://issuetracker.google.com/74225068

[2018-06-01 14:44] DoctorHowser opened #595 "missing key error on demo website"
Getting this error on http://google-map-react.github.io/google-map-react/map/main/

The script element that loads the API is missing the required authentication parameter. If you are using the standard Maps JavaScript API, you must use a key parameter with a valid API key. If you are a Premium Plan customer, you must use either a client parameter with your client ID or a key parameter with a valid

[2018-06-04 16:59] vsc-github commented on #586
Yep. This is true.
Getting a `Cannot read property 'ReactCurrentOwner' of undefined` error on react 15.6.1 and  the component fails to load breaking the app.

Any temporary fix? Thanks in advance.

[2018-06-04 21:25] nbkhope opened #597 "Is there a way to override the onClick for the fullscreen [ ] icon?"
I would like to override the fullscreen icon click event so that I do custom things instead of it opening up the map on full screen. Is that possible? Possible use cases: when you want to display a larger version of the map on a modal.

[2018-06-05 11:48] moust commented on #586
I saw it was resolved by #592 :)

[2018-06-10 03:15] NangoliJude commented on #267
Use center instead of defaultCenter

[2018-06-10 14:14] marharyta commented on #523
I am having a similar issue with my map. When I zoom out the markers take weird position below the actual coordinates. Please, check the demo [https://codesandbox.io/s/jjw9pmvpz5](https://codesandbox.io/s/jjw9pmvpz5) here. @itsmichaeldiego

[2018-06-11 07:27] itsmichaeldiego commented on #595
@DoctorHowser We're aware of the problem but we're working in new examples, soon enough we will have shining new examples for this!

[2018-06-11 07:33] itsmichaeldiego commented on #597
@nbkhope You can totally do that, but this is more related to google maps itself than this library.
Here is a helpful link: https://stackoverflow.com/questions/48613450/custom-full-screen-control-behaviour-with-google-maps-api

Basically, you will need to modify the `options` and set `fullscreenControl: false`. And then bind that button using [onGoogleApiLoaded](https://github.com/google-map-react

[2018-06-11 07:36] itsmichaeldiego commented on #575
@gpolyn @stephenfarrar I can reproduce it on my end, I don't think it has anything to do with SSR, I think @stephenfarrar was right in his comment above https://github.com/google-map-react/google-map-react/issues/575#issuecomment-391152629

[2018-06-11 07:38] itsmichaeldiego commented on #591
@jooj123 I think the project was deprecated, not removed, we need to use a new Api key. Feel free to add a PR, I would love that, thanks <3

[2018-06-11 07:47] itsmichaeldiego commented on #523
@marharyta The first codesandbox you provided does not work, but I think your problem is the position of the markers, by default they're aligned top-left, so if your markers are mean to be aligned in the center, you might need to add styles to position it:

https://github.com/google-map-react/google-map-react/blob/master/API.md#positioning-a-marker

[2018-06-12 09:31] itsmichaeldiego commented on #523
@marharyta Yeah, it is directly related to the marker position, our markers are by default positioned at top-left, here is the fix: https://codesandbox.io/s/n9lrxw0670

[2018-06-13 15:34] jseremba commented on #516
Help needed, the way `onChildClick ` works, with these kind of markers, its only the lower part of the marker that is clickable, the upper part is not
![map-marker-icon](https://user-images.githubusercontent.com/8972657/41361682-512535ae-6f38-11e8-8502-e4d04ab06186.png)

[2018-06-13 18:31] oscarwong67 commented on #516
@jseremba could you move the marker slightly below where you want it? But that means it's coordinates would be off. You could shrink it too, I guess. I can't think of anything else since you can't move the centre

[2018-06-13 19:08] itsmichaeldiego commented on #516
@oscarwong67 @experimatt Sorry I just come across this issue, the problem that the markers "teleport" before going back to their original location has been fixed for latest release of Google maps. Let me know if its working for you now.

[2018-06-13 19:08] itsmichaeldiego commented on #516
@jseremba That is a great observation, could you create a new issue and provide a codepen that reproduces the error? I will take a look as soon as possible.

[2018-06-14 09:54] izaacdb commented on #333
https://developers.google.com/maps/documentation/javascript/reference/3/coordinates#LatLng

[2018-06-15 09:04] matejm91 commented on #583
same problem here
"react": "^16.2.0",
"google-map-react": "^0.34.0"

anyone solved it?

[2018-06-17 05:09] #516 closed

[2018-06-17 05:10] #597 closed

[2018-06-17 05:10] itsmichaeldiego commented on #597
@nbkhope Im closing the issue, please re-open it if the problem persists.

[2018-06-17 05:10] #595 closed

[2018-06-19 16:40] marharyta commented on #523
@itsmichaeldiego thanks a lot! I am not sure about default, since a lot of people will be pointing to the locations in different ways, yet i believe it doesn't hurt to put more emphasis on that in the documentation.

[2018-06-19 16:40] marharyta commented on #523
@itsmichaeldiego And yes, it helped and it works! Thanks a lot!

[2018-06-19 18:17] itsmichaeldiego commented on #523
@marharyta Ole hyvä! You are more than welcome! I agree, it would also be cold to be able to set the position by parameter, something like:

[code]

[2018-06-20 14:32] vertic4l opened #602 "Fix lodash usage (in google_map_loader.js + google-map-react itself)"
@itsmichaeldiego
`var _lodash = require('lodash');`

`
if ((0, _lodash.isEmpty)(bootstrapURLKeys.v)) {
      queryString += '&v=3.31';
    }
`

Due to this implementation webpack bundles the whole lodash library in my bundle.

Could you please get rid of this or fix it to a cherry-picking method approach?
e.g.

`var _isEmpty = require('lodash/isEmpty');`

<img width="775" alt="bildschirmfoto 2018-

[2018-06-21 05:54] stephenfarrar commented on #575
I have been working on this, and I have a fix.

Here's the diagnosis. There are two problems.

1. The markers were inside a container element, and we were moving both the markers and the container. This caused two stages of rounding, and rounding errors, causing the jiggle. I am going to stop moving the container element. It will simply follow the map panes. This particular problem only manifested

[2018-06-21 06:48] vertic4l commented on #602
@itsmichaeldiego Sorry, seems like it is solved in version 1.0.4. Was still at 0.23.4!

[2018-06-21 06:48] #602 closed

[2018-06-22 11:15] itsmichaeldiego commented on #602
@vertic4l Oh, thanks god, you got me worried! I removed the whole `lodash` library and only exported `isEmpty` in #535

[2018-06-22 11:30] m-riley opened #604 "defaultProps center lat and long render maps, but passed props passed do not"
In the simpleMaps example, I have found that hardcoded values for default lat, lng props renders the map correctly, however as soon as I use non-hardcoded values, (i.e. passed in props) then no map is rendered.
Parent:
``` <SimpleMap center={{center: {lat: restaurant.lat, lng: restaurant.long}}} zoom={15} />```
Component:
[code]
Any ideas?

[2018-06-22 11:36] itsmichaeldiego commented on #575
@stephenfarrar Dude you're the best! Thank you so much.

Regarding the container, I believe there is some logic of the container that is a little bit over-engineered , there are a couple of things that we can totally remove and make it way simpler. I want to work on that as soon as I've some more free time.

[2018-06-22 13:14] itsmichaeldiego commented on #604
@m-riley Well, you're nesting center again here:

```<SimpleMap center={{center: {lat: restaurant.lat, lng: restaurant.long}}} zoom={15} />```

It should be:

```<SimpleMap center={{lat: restaurant.lat, lng: restaurant.long}} zoom={15} />```

[2018-06-22 13:23] m-riley commented on #604
OK, my bad - was passing strings instead of floats! Example works as expected :-)

[2018-06-22 13:23] #604 closed

[2018-06-22 13:23] m-riley commented on #604
Make sure to pass correct propTypes

[2018-06-22 13:31] itsmichaeldiego commented on #604
@m-riley Perfect, glad it worked! Let us know if you need more help!

[2018-06-22 13:53] itsmichaeldiego commented on #575
@stephenfarrar I've fixed the build in #603 and added just one little comment regarding naming, but the PR looks great, looking forward to merge it soon!

[2018-06-22 16:46] princekumar-d commented on #508
@itsmichaeldiego Did you get chance to fix this? Even I ran into the same issue where I had defined an event for my child markers to open an info window and an even on the parent to close it.
But the child click even is being propagated to the parent Google Map component even after using stopPropagte().

[2018-06-22 16:59] itsmichaeldiego commented on #508
@princekumar-d Did you guys check the main example of this library? (http://google-map-react.github.io/google-map-react/map/main/). Here my dear friend @istarkov achieved that, you can take a look at the code at https://github.com/google-map-react/google-map-react-examples/blob/master/web/flux/components/examples/x_main/main_map_block.jsx#L105 and https://github.com/google-map-react/google-map-rea

[2018-06-25 09:06] itsmichaeldiego commented on #591
@jooj123 This should be ok by now, let me know if otherwise and we can re-open and re-visit.

[2018-06-25 09:06] #591 closed

[2018-06-25 09:12] itsmichaeldiego commented on #590
@SachaG You can access the google map's api to re-center the map afterwards instead. I have been working on and achieve this here: https://github.com/itsmichaeldiego/google-map-react-examples/pull/6/files#diff-3271ac660008ae079c294e51278ce53eR41

[code]

[2018-06-25 09:17] itsmichaeldiego commented on #589
@Amalkh5 Could you provide a working example? This piece of code is not that descriptive. I think your problem is more related to the usage of React instead of the map itself, but will be happy to help.

Please re-open the issue when having a better example and I will help you out.

[2018-06-25 09:17] #589 closed

[2018-06-25 09:19] itsmichaeldiego commented on #588
@jonirautiainen Could you please provide a codepen or any live example? I need to take a look at the code to be able to know what is happening!

Feel free to re-open the issue when providing the example and I will help you out! Kiitos.

[2018-06-25 09:19] #588 closed

[2018-06-25 09:29] itsmichaeldiego commented on #576
@pkprosol Thank you for reporting this, would you be so kind to provide a video? Also, if this is a feature you need, we encourage you to create your own PR, we will help you to merge and deploy it! Otherwise, as we haven't been working on 3D yet, this is a low-priority-issue and will be taken care in the future.

[2018-06-26 19:10] magicalbanana commented on #207
@henrymoews can you show a snippet of how you solve this? I'm getting the same issue for one geopoint.

[2018-06-26 20:37] itsmichaeldiego commented on #575
@stephenfarrar @gpolyn Released in 1.0.5, let me know if everything is working as expected, for me it does.

[2018-06-27 05:39] falconmick opened #608 "Map zoom causes markers to pop"
I have attempted to find this issue via looking over all open issues, however I am unable to find it. If this issue is already open and I am blind, feel free to point me there and close this.

When I zoom in, my marker pops to either the top left or bottom right before correcting itself, however on occasion it looks like it actually sticks the the map correctly? However this could be just due to t

[2018-06-27 05:53] jabidof commented on #608
Hi
Could it be related to the google map api version you use?
There was such an issue a few months ago.
Which version are you using?

[2018-06-27 07:10] itsmichaeldiego commented on #608
Hey @falconmick! I am sorry you did not try updating the library first, it would have save you some time. Current version of `google-map-react` is `1.0.5`, please upgrade and the problem will disappear, we handled this in #510 as @jabidof perfectly pointed out.

The problem can be seen in the demo because the demo isn't updated, sorry for that.

[2018-06-27 07:47] #608 closed

[2018-06-27 07:48] itsmichaeldiego commented on #587
@kaycebasques Let me know if my answer was helpful, otherwise re-open the issue. Thanks

[2018-06-27 07:48] #587 closed

[2018-06-27 07:49] itsmichaeldiego commented on #523
@indapublic This should be totally fixed in `1.0.5` as we're calculating the marker's position differently, let me know if otherwise and we can re-open and re-visit the issue.

[2018-06-27 07:49] #523 closed

[2018-06-27 07:51] itsmichaeldiego commented on #568
@gornyyvladimir This was a problem with Google maps, now they've provided a development mode, so we can see the example and play with the map without having an API key. Anyways, I am working in a new example and it will be out soon: https://github.com/itsmichaeldiego/google-map-react-examples

[2018-06-27 07:52] #568 closed

[2018-06-27 07:54] itsmichaeldiego commented on #590
@SachaG Let me know if that helps, otherwise re-open the issue and I will help you out. Thanks.

[2018-06-27 07:54] #590 closed

[2018-06-27 07:59] SachaG commented on #590
Thanks, I'll try your way when I have time to revisit this.

[2018-06-27 07:59] itsmichaeldiego commented on #573
@marr @carpben @janhoeck Main example is fixed thanks to Google maps, now they provide a _development mode_ when you don't need a key to play around with the app.

I've been working on a brand-new example and it will be out soon: https://github.com/itsmichaeldiego/google-map-react-examples/

Also, we're tracking examples problems in #524, so I am closing this one as for now.

[2018-06-27 07:59] #573 closed

[2018-06-27 08:00] henrymoews commented on #207
@magicalbanana
Sure. In the end we had a function that got the nw and se as a param and we made sure those to points weren't identically by adding / substracting a tiny number. Here's the complete function:

`/**
 *
 * @param mapSize
 * @param bounds {{nw: {lat: number, lng: number}, se: {lat: number, lng: number}}}
 * @returns {{center: {lat: number, lng: number}, zoom: number}}
 */
export functi

[2018-06-27 08:00] itsmichaeldiego commented on #480
Hey @stephenfarrar, sorry to bother you with this, but wondering if you've an input on this end.

[2018-06-27 08:01] itsmichaeldiego commented on #590
@SachaG No worries, please let me know and I'll try to help you out.

[2018-06-27 16:28] itsmichaeldiego commented on #544
@upalbyani Zoom the svg object? We need more specific details and live examples in order to help you.

[2018-06-27 16:30] itsmichaeldiego commented on #583
@Xakher Please let us know if the solution worked for you.

[2018-06-28 02:52] falconmick commented on #608
1. I should have tried updating first, that was stupid
2. holy moly! When did we tick over to v1.0.0! congrats all!

[2018-06-28 03:56] stephenfarrar commented on #480
This would have to be a new feature in the Maps API.

You could submit a feature request:
https://developers.google.com/maps/documentation/javascript/support#issue-tracker

[2018-06-28 04:22] vTrip opened #609 "Invalid LatLng dragging across continents (west)"
When dragging the map west (right to left) over continents, I get an invalid LatLng.

Reproduce by positioning centre on North America (anywhere), move centre to Australia (anywhere).

Receiving a LatLng -34...., -211....

However, dragging the map east (left to right) does not cause this type of issue.

Any thoughts?

[2018-06-28 05:06] vTrip commented on #609
with help from issue #292 (which i didn't discover because of language) I figured out the solution.

I understand that the coordinates provided might no actually be incorrect and instead intentional.

However when it comes to using those coordinates in a google reverse geocoder query for example, it is not feasible. Therefore a calculation is required to convert it to the correct value.

For those

[2018-06-28 05:06] #609 closed

[2018-06-28 07:11] itsmichaeldiego commented on #608
1. No problem mate, that is what we're here for. 😄❤️
2. Thank you! I bumped to `1.0.0` when we changed the way we draw the markers in #510, I thought it was a major change and being at `0.x.x` seemed like very low for a library so popular and used.

@falconmick Glad to see you're still using our library, let me know if you want to help out! Otherwise if you have any problem don't hesitate on creat

[2018-06-28 07:30] itsmichaeldiego commented on #292
@jeanclaudeyalap You can use google map internals for that, so instead you will have:

[code]

[2018-06-28 07:32] itsmichaeldiego commented on #585
@kstulgys I think @vertic4l provided the solution for you, I am closing the issue as for now.

[2018-06-28 07:32] #585 closed

[2018-06-28 07:45] itsmichaeldiego commented on #480
@stephenfarrar But, this is a feature Google Map already has, as long as you've proper Google Markers defined in your map, when you click in the Google button, the maps.google.com page will show them. I think the problem is that given we don't have google markers but react components, its not shown as its supposed to. 🤔

[2018-06-30 11:55] Dorian opened #610 "Map with container size not rendering"
Here is an example to reproduce:

https://repl.it/@DorianMarie/google-map-react-bug

[2018-06-30 11:58] Dorian commented on #610
Fixed it, it was because I didn't have defaultCenter and defaultZoom:

[code]

[2018-06-30 11:58] #610 closed

[2018-07-02 10:57] socks4penguins commented on #453
an i see an example?

[2018-07-03 07:55] itsmichaeldiego commented on #610
@Dorian Good to know you could fix it! By the way, be careful sharing your api keys!

[2018-07-03 07:58] itsmichaeldiego commented on #453
@socks4penguins To access the google map's api you can do:

[code]

[2018-07-03 15:06] Dorian commented on #610
@itsmichaeldiego Thanks, I removed the api key

[2018-07-04 09:30] itsmichaeldiego commented on #575
@gpolyn @stephenfarrar Using 1.0.5 works for me, what about you?

[2018-07-04 13:12] sj1126 commented on #574
i have the same propblem ,have you solve this problem?@2yung

[2018-07-06 11:36] gpolyn commented on #575
@stephenfarrar @itsmichaeldiego yes I confirm. Thank you both so much for this correction, which will allow me to continue dev'ing with the package.

[2018-07-06 13:39] itsmichaeldiego commented on #575
@gpolyn I am glad to hear that! Thanks for reporting and helping us fix the issue.