[2018-07-10 14:08] caioaletroca opened #612 "Draggable Marker Problem - Mouse position is weird"
## Problem
I made a simple draggable marker some months ago but when I updated google-map-react package from version 1.0.4 to 1.0.5 with npm things get weird.

I made a code to show the problem:
https://codesandbox.io/s/53vvzj0mjp

## Expected
When click on the marker, I pass the LatLng Mouse's position to the marker, that the marker can follow mouse movement.

## Current
For some reason the marke

[2018-07-12 07:41] itsmichaeldiego commented on #612
@caioaletroca Thanks for pointing that out!

@stephenfarrar It seems that our change in #603 might have affected dragging. Would you mind checking?

[2018-07-12 14:17] FlavianoMucedda opened #613 "Polygons Help"
Hi!

I need to draw a polygon in an app on the google map.

I've already check all the issues (62 etc etc) and i really dont get it.

My lat and lng came from an api, i succeed without any problem to get them from the DB and it's been 4days i try to draw a damn polygon on the map without success (and i'm slightly gettin crazy...)

Can someone please help me? :)

[2018-07-12 14:33] jabidof commented on #613
Try to build an SVG and add it within a react element having lat/lng as props.
Of course give a color to your svg.
Good luck

[2018-07-13 10:38] callamwilliams commented on #460
https://github.com/google-map-react/google-map-react/blob/e8bbbff34e2dbe19b392e756f3c803dcb15be0b6/API.md#adding-a-searchbox just under that code block.

Currently going through the same issues with this.

[2018-07-15 17:11] johnhult opened #614 "onClick returns wrong lat and lng"
Hi,
I've been using this library and I've ran into some weird issues which I can't seem to find a solution on and even though the library works good it is lacking a bit in documentation and I can't seem to find any information about this particular problem.

First my code.

`addPoint = ({ x, y, lat, lng, event }) => {
		console.log(x, y, lat, lng, event);
		this.map.panTo({
			lat: lat,
			lng: ln

[2018-07-15 17:29] johnhult commented on #614
I can also add that if I do
`let a = map.getCenter();
new this.maps.Marker({ position: a, map: map });`

in the init function on googleApiLoaded it does position it correctly. So something seems to be off with the onClick lat and lng.

[2018-07-15 17:45] johnhult commented on #614
One more thing is that if I on init instead add a custom click listener
`this.maps.event.addListener(map, 'click', event => {
			this.addNewPoint(event.latLng);
		});`

it works fine.

[2018-07-17 08:52] gaudryc commented on #614
Same thing here using all 1.0.x versions and onClick event handler.
There is a systematic shift to the southeast that seems to vary with the zoom level.
The mouse position is good but the associated coordinates are wrong.
Map size is good, Center coordinates is good. Programmatically changing the center coordinates works.
I think something goes wrong in the conversion made by the GeoService object

[2018-07-19 11:53] gaudryc commented on #614
All versions from 0.34 to 1.0.4 are OK.
This issue only applies to version 1.0.5.

[2018-07-19 18:26] anablog opened #616 "logo proporsal for google map react"
Hello a pleasure in greeting you, I wanted to introduce myself I am Ana Medina Graphic Web Designer, I am very interested in your new open source project for me it would be a pleasure to provide my services as a designer and collaborate without commitments, You require a new logo for your brand I can help him?

I well be pleased to collaborate with you.

[2018-07-20 09:44] HuYuee opened #617 "the param of the api fitBounds"
### can i send the coordinates of multiple points?

**Summary: The size requirements of the two sets of data must meet the following criteria, otherwise the obtained center and zoom will be wrong.**

|  nw  |      |  se  |
| :--: | :--: | :--: |
| lat  |  >   | lat  |
| lng  |  <   | lng  |

|  ne  |      |  sw  |
| :--: | :--: | :--: |
| lat  |  >   | lat  |
| lng  |  >   | lng  |

[2018-07-20 09:57] #617 closed

[2018-07-20 13:55] btbensoft opened #618 "Position Marker not center on page when zoomOut"
Hello,

I'm gonna try to explain my problem.

When you are zoomOut you can see more that 1 map on the screen (i.e. see bellow google version).

Google fixes the markers position in the center of the displayed plans :

![image](https://user-images.githubusercontent.com/36570423/43005520-6b9bdc90-8c33-11e8-87bc-ffd320095fcc.png)

When i use **google-map-react** you set markers on the right maps disp

[2018-07-22 11:58] itsmichaeldiego commented on #618
@btbensoft Hello Ben, this is a known problem for us, and there is an issue already about it #544.

Let me explain you a little bit, the problem is that we calculate the position of 1 marker on the map, when you zoom out like this, as you clearly stated, there are 2 or more maps, so that means that we will need to render 2 markers.

Currently we don't support this, and I am not sure we will priori

[2018-07-22 11:58] #618 closed

[2018-07-22 12:04] itsmichaeldiego commented on #616
@anablog Hey Ana, I love hearing that you want to help us from a design point of view, we need that!

I will be happy to collaborate with you on the logo and there are some other things we can do, like designs for the examples I am creating.

Feel free to contact me to my email itsmichaeldiego@gmail.com

[2018-07-22 12:04] itsmichaeldiego commented on #616
I am closing this issue, thanks @anablog

[2018-07-22 12:04] #616 closed

[2018-07-22 12:06] itsmichaeldiego commented on #614
This was introduced in #552

@stephenfarrar any idea how we can fix this?

[2018-07-22 12:07] itsmichaeldiego commented on #460
@callamwilliams Can you explain a bit more? I would be happy to help

[2018-07-22 12:10] itsmichaeldiego commented on #402
@cparello That is because you are accessing the bounds when the api is not loaded, to achieve that you need to do something like:

[code]

[2018-07-22 12:12] itsmichaeldiego commented on #613
@FlavianoMucedda Could yo u provide a live example? I would love to help you but its not possible without something more tangible.

[2018-07-23 13:45] callamwilliams commented on #460
So to get it to work there are several steps missing from the docs, I did something like this in the end.

[code]

googlemaps replaces the google.maps part of your calls to google functions like `new googlemaps.places.SearchBox(input);` which stops the `'google is undefined'` errors. You don't have to add the `<script src="">...` anywhere so it seems odd that it's in the instructions.

[2018-07-23 16:01] anablog commented on #616
137/5000
perfect friend then if you require, of my services as a designer, you tell
me where to start, if you like the idel of the logo?

2018-07-22 8:04 GMT-04:00 Michael Diego <notifications@github.com>:

[2018-07-24 15:04] itsmichaeldiego commented on #460
@callamwilliams Thanks for your comment, this library has some time already and the SearchBox doc seems to be a little bit outdated. I will try to update it soon, although feel free to submit a PR!

[2018-07-24 15:10] itsmichaeldiego commented on #616
@anablog I would prefer email, as this area is for issues related to the library. But the idea is to mix the logo of Google Maps with the logo of [React.js](https://reactjs.org/)

[2018-07-27 14:09] itsmichaeldiego commented on #616
Perfect @anablog, I am from Uruguay also so it would be easier by email where we can use Spanish 🇪🇸to talk about the ideas for the logo.

[2018-07-27 22:40] anablog commented on #616
Hola espero estes bien Michael, ya estoy por aca, entonces comenzemos;),
conversame un poco hacerca de tu proyecto, quiero tener recursos para
elaborarle una buena idea de su logotipo

2018-07-27 10:09 GMT-04:00 Michael Diego <notifications@github.com>:

[2018-07-28 20:14] melvinsalas commented on #614
I'm going crazy with this issue :(

[2018-07-30 16:19] AliMamed commented on #612
these issue seem have the same problem https://github.com/google-map-react/google-map-react/issues/614

[2018-07-30 16:20] AliMamed commented on #614
onChildMouseMove is allso affected by this problem

[2018-07-30 16:48] celerateapp opened #619 "How to make a moving marker like Uber cars?"
I create a marker like this:
`<GoogleMapReact
     bootstrapURLKeys={{ key: GOOGLE_MAP_API_KEY }}
     center={this.props.center}
     zoom={this.props.zoom}
     options={createMapOptions}>
      <Marker
           lat={lat}
	   lng={lng}
	   marker_img={IMG} />
  </GoogleMapReact>`

Now how do I move this marker like a car on location updates?
I use states to update position of the marker but it

[2018-07-31 04:28] s123121 commented on #614
This bug is driving me crazy for the past 2 days. Thank gods, I finally check out this thread. Apart from downgrading, any idea how to fix this?

[2018-07-31 10:29] itsmichaeldiego commented on #614
@stephenfarrar Can you take a look when you have the chance?

[2018-07-31 10:33] itsmichaeldiego commented on #616
@anablog Este comentario esta en github todavia, hablemos por mail comun itsmichaeldiego@gmail.com

[2018-08-01 04:47] stephenfarrar commented on #614
Sorry I've been flat out.
I will try to take a look later this week...

[2018-08-01 10:48] CaeSea commented on #336
Hi,

I also had this issue, for a temporary fix, I managed to grab the iFrame with a tag selector and set the tabIndex manually.

[2018-08-03 05:47] stephenfarrar commented on #612
Perhaps this will also be fixed by #620 ?

[2018-08-03 05:58] brianlaw033 commented on #251
may I know where did u get `this.refs.panorama`?
I tried
[code]

but not working

[2018-08-03 06:40] guleus commented on #508
Hello can someone may help me. I'm not really getting how to open a Bubble..
What i would like to do is to open a Modal Window when a Marker is clicked but I can#t figure out why I can#t call another function or set a state in "_onChildClick" function

[2018-08-03 08:26] itsmichaeldiego commented on #614
I just published version `1.0.6` that includes @stephenfarrar's fix: #620

Thanks @stephenfarrar <3

[2018-08-03 08:27] itsmichaeldiego commented on #612
I just published version `1.0.6` that includes @stephenfarrar's fix: #620

Let me know if it works for you guys.

Thanks @stephenfarrar <3

[2018-08-03 13:48] johnhult commented on #619
This really should be asked on StackOverflow.

I think the issue might be:
React components doesn't re-render unless it's a state or props items that gets updated. So that might be the only issue you have.

Nevertheless, here is how I've done it:

`
watchUserPos = () => {
		if (navigator.geolocation) {
			navigator.geolocation.watchPosition(
				position => {
					this.setState({
						userPos: {

[2018-08-03 14:10] celerateapp commented on #619
It updates. I don't have a problem with location updation. My issue is when a latlng is updated the marker jumps from one place to another but I want it to move like a car. Have you ever tracked an Uber ride on the web? something like that.  Also sorry for not posting in on Stack, found this better. Thank you.
![moving_car](https://user-images.githubusercontent.com/35843795/43647359-09e6a6ec-9755-

[2018-08-06 11:41] brianlaw033 opened #622 "Animate to center not always animated"
I have some problems animate the marker to center, like this
![2018-08-06 19 39 58](https://user-images.githubusercontent.com/25007087/43714730-9c94151c-99b0-11e8-8221-ec29b5742704.gif)

sometimes it animates some times it doesn't.

[2018-08-07 05:38] trevans24 opened #624 "Map does not display with Height and Width values set in pixels"
I have looked at a number of issues related to this:
[#323](https://github.com/tomchentw/react-google-maps/issues/323)
[#186](https://github.com/tomchentw/react-google-maps/issues/186)
[Stack Overflow](https://stackoverflow.com/questions/45526880/react-google-map-not-appearing)

I have tried setting height and width to 450px inline, in a container with set height and width, and with the wrapping c

[2018-08-07 11:27] johnhult commented on #614
Works like a charm. Just refactored my code and this fix helped 👍 Feel free to close it.

[2018-08-07 11:32] johnhult commented on #622
I suppose you're using panTo?

From the docs:

panTo(latLng)
Parameters: latLng:  LatLng\|LatLngLiteral
Return Value:  None
Changes the center of the map to the given LatLng. If the change is less than both the width and height of the map, the transition will be smoothly animated.

I don't think this is something to do with google-map-react in itself.

[2018-08-07 11:37] johnhult commented on #619
Ah. Well, I'd say you'd need to save a couple of positions and animate the car between the points. Once again, something that should probably be asked on Stack Overflow.

But I would probably use an array of values, previous and new, and calculate some delta angle between the values and animate the car on top with correct angle between the points. So everytime you get a new point you start animati

[2018-08-07 12:24] johnhult opened #625 "Passive event listeners"
Not sure if it's this library but according to [https://issuetracker.google.com/issues/63211698](url) Google Map should not give warnings when doing a Lighthouse Audit for not using passive eventListeners. Is this something in regards to this library? Doing a lighthouse audit I get the following error:

<img width="694" alt="screen shot 2018-08-07 at 14 22 59" src="https://user-images.githubuserco

[2018-08-08 03:52] brianlaw033 commented on #622
no bro, according to #107
when I change center prop, map makes pan to that position.

[2018-08-08 14:00] rahulthewall opened #626 "Fix marker bottom to Location (Like Google Maps)"
![Google Maps Marker](https://user-images.githubusercontent.com/2026429/43841398-5f5df586-9b23-11e8-93e5-dbea1196dd5f.png) uses the bottom of the marker to pinpoint the exact location in the map. This results in a ![good result](https://user-images.githubusercontent.com/2026429/43841495-9edf0e2a-9b23-11e8-8f4c-54bb153381ef.png) when the map is zoomed out.

I am trying to achieve something similar.

[2018-08-08 22:06] caioaletroca commented on #612
Yes it worked, the code in the sandbox worked perfectily.

[2018-08-08 22:06] #612 closed

[2018-08-11 16:23] makethisbuildthat opened #627 "overlapping marker spiderfier with google-map-react"
I really prefer this google-map-react module over some others but I seem to have trouble getting overlapping marker spiderfier to work with google map react.

Has anyone able to get overlapping marker spiderfier to work with google-map-react?

[2018-08-13 04:45] brianlaw033 commented on #622
looks like it is a performance issue on dev mode, it works smoothly on production, ill close this issue

[2018-08-13 04:45] #622 closed

[2018-08-13 10:21] rbrahul opened #628 "Uncaught TypeError: Cannot read property 'fromLatLngToDivPixel' of undefined"
We are using `"google-map-react": "^1.0.4"` found that exception in production on Safari browser in Mobile. It is not reproducible locally.
[code]

[2018-08-13 10:31] itsmichaeldiego commented on #614
@johnhult Awesome! Sorry for the inconvenient, we try to fix this errors as fast as we can.

And special thanks to @stephenfarrar ❤️

[2018-08-13 10:31] #614 closed

[2018-08-13 10:33] itsmichaeldiego commented on #622
Glad you found a solution @brianlaw033

[2018-08-13 10:33] itsmichaeldiego commented on #612
Glad to hear that @caioaletroca! Let us know if you have any other problem

[2018-08-13 10:34] itsmichaeldiego commented on #626
@rahulthewall Happy to hear you got it working! 🎉

[2018-08-13 10:38] itsmichaeldiego commented on #624
@trevans24 Hello!

Did you take a look at the [*Getting started* section of the README](https://github.com/google-map-react/google-map-react#getting-started)?

The problem is that you're applying the style into the Map and not the container as we require, you should do something like this:

[code]

Let me know if that helps 👍

[2018-08-13 10:46] itsmichaeldiego commented on #625
@johnhult Thanks for your help. It seems that its the google map api itself that its throwing an error, you can see the URL of the warning is actually the url of googleapis and not your URL, if it would be our library it will be showing the URL of your current project.

[2018-08-13 10:47] itsmichaeldiego commented on #627
@makethisbuildthat Can you provide a live example so I can try to help you?

[2018-08-13 10:48] itsmichaeldiego commented on #628
@rbrahul Latest version is `1.0.5`, could you verify this is still an issue in latest version? If its still an issue, please provide a live example and we'll take care of it, thanks in advance 😃

[2018-08-13 13:27] trevans24 commented on #624
@itsmichaeldiego ,

not sure if you saw but I also tried adding the height and width to the container of the map...
Whether I use my class `.map` or set style directly on the wrapping container, with that set and nothing set on the map it still renders an empty box.

[2018-08-13 14:05] rbrahul commented on #628
@itsmichaeldiego we have upgraded to 1.0.5 now. Since it's only happening in production , I am waiting for Raygun error log and let you know. Thank you 👍

[2018-08-13 15:41] makethisbuildthat commented on #627
@itsmichaeldiego I have it semi-working in which the google.maps.Markers objects would show and spiderfy. However, right now my problem is to create custom marker objects as Overlapping-Marker-Spiderfier only seem to take google.maps.Markers object and not custom react components. Below is how I implemented my code (everything related to this is in render():

`render() {
        const { projects }

[2018-08-13 16:09] itsmichaeldiego commented on #624
@trevans24 I am sorry but the code you provided is not complete so I cannot see the whole picture. I would appreciate if you share a live example or something more tangible, otherwise I can't help really help you, but I can assure you that the [example provided above](https://github.com/google-map-react/google-map-react/issues/624#issuecomment-412477181) works like a charm.

The style should be ad

[2018-08-13 16:10] itsmichaeldiego commented on #628
@rbrahul Ok, please let me know when you've more info and we can re-open the issue. Closing it as for now.

[2018-08-13 16:10] #628 closed

[2018-08-13 16:12] itsmichaeldiego commented on #627
@makethisbuildthat I would love to help you but in order to do so, I need a *live* code example, is very hard otherwise.

You can create one easily using https://codesandbox.io/

[Here is an example](https://codesandbox.io/s/j7r9mz4nx9).

[2018-08-13 17:32] johnhult commented on #625
Yeah I thought it was kinda weird. What version of google maps is this library using? As mentioned in my comment version 3.32 of google maps should apparently not give these errors. But this uses a higher version than that, right?

I'll try and look into it a bit more aswell but just want to make sure I have the correct assumptions first 😄

[2018-08-13 17:40] trevans24 commented on #624
Here is the Map Component:
[code]
Inside my CSS file for the Map:
[code]
I do not have a hosted example of this as I am only in development, so I would need to have a live version of this for you to see what is going on?

[2018-08-13 17:40] trevans24 commented on #624
Anything else you need to see?

[2018-08-13 17:42] trevans24 commented on #624
I have also done it like so:
[code]
And it still does not work...I have a empty box that is 450px X 450px

[2018-08-13 17:47] makethisbuildthat commented on #627
@itsmichaeldiego Here is a live example:

https://codesandbox.io/s/7ojz6q856

As you can see, I got Overlapping-Marker-Spiderfier working on the map, but in my "TODO" comment I would want the marker to be a custom react component instead of google.maps.Marker.

Thanks for helping out!

[2018-08-14 08:05] ZeroCool-85 opened #629 "ZoomControls after GoogleUpdate broken"
Hello, the google zoom controls are broken after the last update. Could it be possible to set  v=quarterly, v=3, v=3.33 or v=3.32 on API loading to fix this issue?

https://issuetracker.google.com/issues/112520084

<img width="295" alt="bildschirmfoto 2018-08-14 um 10 02 32" src="https://user-images.githubusercontent.com/9364777/44079479-7a5e2024-9fa9-11e8-91eb-a9fea2046895.png">

[2018-08-14 09:35] mporkola commented on #629
You can fix the version yourself by giving it as a value in the `bootstrapURLKeys` initialisation parameter, like this:

[code]

[2018-08-14 10:33] tyfoan opened #630 "Markers move from left-top/right-bottom corner on zoom in/out. GoogleUpdate broken"
Any example of map with markers I checked has this behavior: when you zoom in/zoom our, markers disappear, then appear in the top left or bottom right corner and then quickly get to their position.

This problem was fixed once. We had to change version in bootstrapURLKeys: { v: 3.30 }, but now it come back after google update.
Any thoughts to solve this?

Example:
https://jsbin.com/roqutisoqu/1/ed

[2018-08-14 10:39] ZeroCool-85 commented on #629
I know, but it has no effect. :/

[2018-08-15 12:27] jooj123 commented on #595
@itsmichaeldiego any feedback as to when this is coming ?

[2018-08-15 13:53] jarodhanko commented on #630
Updating your version (which is very outdated) of google-map-react fixes this problem.

You are using
<script src="https://npmcdn.com/google-map-react@0.14.6/dist/GoogleMapReact.js"></script>

Updating to
<script src="https://npmcdn.com/google-map-react@1.0.6/dist/GoogleMapReact.js"></script>

fixes it for me.

[2018-08-15 19:43] itsmichaeldiego commented on #630
As @jarodhanko stated, your version is very old, upgrading the version to latest: `1.0.6` fixes the problem.

See: https://jsbin.com/dufuzozapa/edit?html,js,console,output

[2018-08-15 19:44] itsmichaeldiego commented on #595
@jooj123 Still working on them, are you interested on providing help?

[2018-08-15 19:45] itsmichaeldiego commented on #629
@ZeroCool-85 Setting it to `3.32` as @mporkola described should fix the issue.

But, the weird thing is that controls is working perfectly for me, check: https://jsbin.com/dufuzozapa/edit?html,js,console,output

[2018-08-15 19:47] itsmichaeldiego commented on #624
@trevans24 Have you checked [this working codesandbox example](https://codesandbox.io/s/j7r9mz4nx9)? Is it working for you?

[2018-08-15 19:54] itsmichaeldiego commented on #630
@tyfoan Let me know if that helps

[2018-08-15 19:57] itsmichaeldiego commented on #625
@johnhult Our library uses latest released version always, you can specify the version in `bootstrapURLKeys` doing like:

[code]

[2018-08-15 20:04] itsmichaeldiego commented on #624
@trevans24 The problem might be that you're sending `latitude` and `longitude` on the `center` instead of `lat` and `lng` as it is required by google maps, but if you look at [this working codesandbox example!!!!](https://codesandbox.io/s/j7r9mz4nx9) you could see that this works perfectly and check the differences between your code and this code.

Again, without a live code example, I cannot help

[2018-08-15 20:14] nicoqh commented on #630
If this is due to an outdated version, do the examples need to be updated as well? The markers seem to jump when zooming.

[2018-08-15 20:45] itsmichaeldiego commented on #630
@nicoqh That is already accounted in #549, I've been working in new examples here: https://github.com/itsmichaeldiego/google-map-react-examples, let me know if you want to help! A lot of help is needed.

[2018-08-15 20:52] itsmichaeldiego commented on #627
@makethisbuildthat Oh okey, I get you know, in the example you provided, you are creating the markers as React components, but Google Maps doesn't support that, so that won't work. We currently don't support spiderify, but one of our members did an integration a couple of years ago that you can fork: https://github.com/google-map-react/google-map-react/pull/284

We would really like to merge this

[2018-08-15 21:26] makethisbuildthat commented on #627
@itsmichaeldiego i looked at the PR from @mukulb90 i only see that the it supports clustering, but i don't see anything for spiderfy in his examples... please advise.

[2018-08-16 02:18] itsmichaeldiego commented on #627
@makethisbuildthat Did you check? I just did a find in page and found it https://github.com/google-map-react/google-map-react/pull/284/files#diff-e8b86504901df43bfb0218a9db49bb7bR95

[2018-08-16 14:01] itsmichaeldiego commented on #630
@nicoqh No worries! Let me know if you need any help.

[2018-08-20 11:46] jurgenzz opened #632 "Custom overlayview style attributes"
Would be great if it would be possible to add custom style properties to div or panes.

https://github.com/google-map-react/google-map-react/blob/master/src/google_map.js#L589

In my case I need to add `pointer-events: none` (an overlapping issue with custom tiles and an interesting way of rendering stuff in general).

Could that be possible? I can get there trough refs, but i would prefer an API.

[2018-08-22 10:14] itsmichaeldiego commented on #629
@ZeroCool-85 I am closing this issue as I cannot see it being reproduced. Let me know if you need more help, I will be here to provide it.

[2018-08-22 10:14] #629 closed

[2018-08-22 10:16] itsmichaeldiego commented on #619
@celerateapp Hey, thanks for using our library. As @johnhult said, this is not related to the library itself. So I need to close the issue, but I will be happy to help if you provide a live code example where I can check what do you want to achieve.

[2018-08-22 10:16] #619 closed

[2018-08-22 11:51] nicoqh commented on #549
@itsmichaeldiego, how about linking to the new examples repo in this issue?

Also, have you thought about how you want to organize the new examples? Right now there's one `src` directory, and not clear how you want additional examples to be added. If you could add a short instruction, I'd be happy to contribute with some examples.

[2018-08-24 01:09] jamiegau commented on #407
@tquiroga can you explain what you mean by using `ref`?

[2018-08-24 09:01] itsmichaeldiego commented on #407
@jamiegau @tquiroga We don't recommend using `ref`, that is why we have the `onGoogleApiLoaded` function attribute. As `onGoogleApiLoaded` is called when the api is actually loaded, by using `ref` you need to check if its defined or not.

BTW: I am closing this issue as it seems to be solved.

[2018-08-24 09:01] #407 closed

[2018-08-24 09:10] itsmichaeldiego commented on #632
@jurgenzz Yes! It should be an easy change and a great opportunity to collaborate to this library. Let me know if you need any help!

[2018-08-29 21:43] marr commented on #626
@rahulthewall I'm hitting this issue as well. Were the css changes you made to the inner span or the outer div?

[2018-08-30 13:22] jadonald-s1 opened #635 "Maps API broken"
The API no longers works because of changes to Google's new maps api usage policy.  Is this going to be fixed?

[2018-08-30 14:30] jadonald-s1 commented on #635
Now just see warning from google saying it can load.  I know it's because the api key that was being used has probably reached it's usability limit.

[2018-08-30 15:31] 3llen commented on #635
when i open the [example page](http://google-map-react.github.io/google-map-react/map/simple), there is a popup from google "impossible to load google map on this page"

[2018-08-31 21:58] ntregillus commented on #635
yeah, for the life of me i cannot find where I can set the google api key value.....

[2018-09-01 12:55] itsmichaeldiego commented on #635
@ntregillus @3llen @jadonald-s1 @jabidof In order to say that the api is not working, you must provide a not-working example. [Here is a working example](https://codesandbox.io/s/j7r9mz4nx9). And on my end its working perfectly.

Of course if you don't use the key it will show the developer mode.

@ntregillus You've to use the key inside the attribute `bootstrapURLKeys` as [described in the api do

[2018-09-01 12:55] #635 closed

[2018-09-01 16:06] experimatt opened #636 "Prevent markers from teleporting when map is zoomed"
Since Google Maps version 3.32, rendered map markers have been "teleporting" when the map is zoomed. Some of the example maps linked in the README [have this problem](http://google-map-react.github.io/google-map-react/map/simple/), while others [do not](https://jsbin.com/ruwogapuke/1/edit?js,output).

There may not actually be a code change necessary to fix this - updating the documentation so it'

[2018-09-01 16:12] experimatt commented on #636
I've been looking through this repo, and the Google Maps Javascript API docs, and haven't found a specific setting that would cause/prevent this from happening. What's interesting is that some example maps in this repo have this problem, while others do not.

* [jsbin](https://jsbin.com/ruwogapuke/1/edit?js,output) example map markers do not teleport.
* [simple](http://google-map-react.github.io/g

[2018-09-01 16:15] experimatt commented on #516
@oscarwong67 @itsmichaeldiego I believe the teleporting map markers bug is still an issue and just created a separate issue for it: https://github.com/google-map-react/google-map-react/issues/636

[2018-09-03 15:01] anas-alami opened #637 "Location doesn't show in the map"
Hi ,

I'm having problems to show locations in the map like restaurant and coffee shop  , I have my Api key set !

Is there any solution .

[2018-09-04 20:41] RanKey1496 opened #638 "Billing is growing so hard"
Hi, recently I realized that Google was disabling my map cuz I didn't put a credit card on cloud platform.
I did it but after that the billing growth a LOT.
So I had to restrict my map API key to only javascript (Also restricted to URL) but i didn't work.

![image](https://user-images.githubusercontent.com/6834703/45056052-62bd0c00-b057-11e8-970c-b1e4f6d6fee8.png)

When I go to Billing tab on Goog

[2018-09-05 19:10] ratonjuancarlos commented on #32
Hi!
I think I missed in some place.
How works this `initGeocoder` to use the addres in the child component that I want to render?
This is my code, if it clearify my point:
[code]
[code]

I can render 2 or more stores if I use `lat` and `lng`, but I only have `address`.
How the `onGoogleApiLoaded` or the `initGeocoder` will help me?
Thanks!!!

[2018-09-06 09:34] #637 closed

[2018-09-06 09:34] itsmichaeldiego commented on #637
@anas-alami Sorry but this is not a proper way to open an issue, you should provide an example and more detailed description.

[2018-09-06 09:36] itsmichaeldiego commented on #636
@experimatt The answer is easy, the examples that are "teleporting" are using an outdated version of google-map-react. please update your google-map-react library to latest version (currently `1.0.6`) and it will work, this has already been fixed in #510

[2018-09-06 09:36] #636 closed

[2018-09-06 09:39] itsmichaeldiego commented on #638
@RanKey1496 Thanks for providing a proper description, we appreciate that.

Your problem is with Google Maps itself, you have to use a key that only uses what you want to use, in this case only map and not street view, but keep in mind that billing for Google Maps is not cheap.

Regards

[2018-09-06 09:39] #638 closed

[2018-09-06 16:41] experimatt commented on #636
@itsmichaeldiego Oops, I really should have tried updating package before opening an issue. Thanks for fixing it, and for the quick response!

[2018-09-06 20:38] j10sanders commented on #626
@rahulthewall , can you post a full example?  Would love to use this as well.

[2018-09-07 11:47] Jarnetb commented on #460
Currently trying to get this working. Got everything set up like  @callamwilliams. No API issues, searchbox is offering suggestions.

But I cant get the map to ajust according to the location entered in the searchbox. There must be something i'm missing. @callamwilliams are you using the code from the SearchBox component in the example? If so: How do you update the map after entering a location in

[2018-09-07 18:36] itsmichaeldiego commented on #636
@experimatt No worries man! That happens

[2018-09-07 20:51] drebits opened #639 "How to apply border-radius to the map?"
I'm trying with a container with styles
[code]
But this not work when appears the map.
Any idea? Thanks.

[2018-09-13 15:23] pravosleva opened #640 "How can i use callback for componentWillUnmount () method?"
Hello all,
I have this example:
[code]
**I want to have callback for componentWillUnmount () for the GoogleMap component**
_Could anybody please help me?
How can I do it in HOC?_

[2018-09-14 09:15] itsmichaeldiego commented on #639
@drebits I need a live example in order to help you, but I think you might need to add `overflow: 'hidden'` and it will work.

If that does not help, feel free to re-open the issue when live example is provided.

[2018-09-14 09:15] #639 closed

[2018-09-14 09:16] itsmichaeldiego commented on #636
@experimatt Glad it worked! Let me know if you need help with anything. Thanks for choosing our library.

[2018-09-14 09:31] itsmichaeldiego commented on #640
@pravosleva Well, currently we don't expose those methods, so what you could do is create your own component that basically returns our `GoogleMap` component and there you can handle this, something like:

[code]

[2018-09-14 09:32] #640 closed

[2018-09-14 09:50] MartinDawson commented on #269
@zuhair-naqvi What's the actual fix for this? Did you figure it out?

[2018-09-14 13:41] Pau1fitz opened #641 "Issue with infowindow close click event not firing"
I want to use the info window close event.

[Here is a js fiddle ](http://jsfiddle.net/geocodezip/c5p80t80/)here showing what I want, but not using this react library.

I want to trigger a function when a user closes the info window, but cannot figure out how to do t with this library.

This code works -
[code]

When using the react library my code looks like the following:

[code]

[2018-09-14 14:09] #641 closed

[2018-09-14 17:41] itsmichaeldiego commented on #641
@Pau1fitz were you able to fix the issue?

[2018-09-17 08:50] Pau1fitz commented on #641
@itsmichaeldiego yeah, kind of. It was an issue with the reference to `this.maps`.

[2018-09-18 18:18] BrentLayne opened #642 "Context (new API) is not propagated to google-map-react children"
When using the new context API, google-map-react `children` cannot consume the context because `GoogleMapMarkers` is rendered outside of the rest of the component tree.

A similar issue was created for the previous context API: https://github.com/google-map-react/google-map-react/issues/64 and was resolved by using `unstable_renderSubtreeIntoContainer`.

However, deprecated `unstable_renderSubtree

[2018-09-20 11:17] bnanchen commented on #613
Hi!

I want to create a webpage containing a google map (using this library). The user has the possibility to upload a .svg file. The SVG is displayed on the map and the user can drag, rotate and scale it. Can library easily help me to accomplish the aim of the webpage?

I tried to use the solution given by @jabidof, but I can't come up with the correct implementation. I retrieve in a `prop` the S

[2018-09-20 11:44] psanders commented on #583
@itsmichaeldiego Your solution does works. Thanks!

[2018-09-20 13:56] #583 closed

[2018-09-20 15:20] evanseeds commented on #508
Hi, I'm having this problem as well, while using React to render markers with popups and close on a click outside of the popup.

I have two different types of Markers, a `ToolMarker` and a `LocationMarker`, which respectively open a `ToolPopup` and a `LocationPopup` on click, each of which is a wrapper around a `MapPopup` component, which is absolutely positioned relative to the marker. The marker

[2018-09-20 17:39] itsmichaeldiego commented on #625
@johnhult @jooj123 Fix #631 has been merged and released in `1.0.7`

Let me know if it works.

[2018-09-20 17:39] #625 closed

[2018-09-21 11:12] itsmichaeldiego commented on #642
@clayne11 @BrentLayne Due to problems for users with React version < 16, I had to revert the change, we will release this on the next major release.

[2018-09-23 18:26] alieslamifard opened #648 "wrong marker position"
i find a point in map.google.com and set it in marker. what i get was far from my real point.
i see some closed issue about wrong calculation, but isn't it done yet?

[2018-09-26 07:18] julian-rachmann opened #649 "LatLng object with strings raises invalid props error"
I know this is a simple enough issue to avoid before calling the component, but ideally a user should be able to pass either a string or a number into a latlng object and it should be converted as needed.

Alternatively, the error thrown should be more clear as to what the problem is.

Steps to reproduce:

[code]
Throws error: `Failed prop type: Invalid prop 'center' supplied to 'GoogleMap'.`

But

[2018-09-26 11:12] itsmichaeldiego commented on #648
@alieslamifard Please provide a live example in order for me to help you, for me they work perfectly so I need to see what you are doing.

Feel free to re-open the issue when providing a live example, and please add more description if possible.

[2018-09-26 11:12] #648 closed

[2018-09-26 11:18] itsmichaeldiego commented on #649
@julian-rachmann I have to say I disagree, lat and long are numbers and therefore we should threat them as numbers.

The error provided is the default error thrown by React, although I agree we could make it more descriptive, its pretty obvious and there is an example showing how center should be passed.

Therefore, I am closing this issue as its not an issue and does not prevent the lib from work

[2018-09-26 11:18] #649 closed

[2018-09-26 15:17] alieslamifard commented on #648
actually this is my mistake. cause i get lat,lng from "what's here" in google map, and it give me place location, not that exact point.
Thank you kindly @itsmichaeldiego

[2018-09-26 19:59] itsmichaeldiego commented on #648
@alieslamifard No problem man! Let me know if you need further help, I will be here

[2018-09-28 06:16] kbalus opened #650 "React error #170"
I've no idea about this error occured in all version prod and develop
Whats is wrong ?
Official React page says "Expected subtree parent to be a mounted class component. This error is likely caused by a bug in React. Please file an issue."

react 16.4.2
google-map-react "^1.0.8"

![image](https://user-images.githubusercontent.com/7715744/46191152-b210f800-c2f6-11e8-9103-8dbbf826a036.png)

Many tha

[2018-09-29 09:37] #632 closed

[2018-09-29 09:43] itsmichaeldiego commented on #650
@kbalus I would love to help you but its very hard like this as I don't see your environment. Please add a live example from https://codesandbox.io or similar platform, and I will be happy to help you.

Please re-open the issue when doing so.

Thanks

[2018-09-29 09:43] #650 closed

[2018-09-30 10:52] adi-gabrielli opened #652 "reposition the OverlayView after changing content"
Hi,

I'm using the OverlayView to create custom markers which when clicked change to a small window which contains some details about the marker, when I click outside of this new window, it closes and shows the marker.
The problem is that the size of the second 'view' is bigger than the initial marker, so when it opens, the actual coordinates it points to are not correct since it uses the top-left

[2018-10-01 05:49] adi-gabrielli commented on #652
yeah...seems I have been doing it wrong. I was trying to create an OverlayView which contained the pin image and the details image for each location.
It seems the 'natural way' is to have one overlay which gets shown at the propper location for each marker click. And have the markers as actual markers. (at least in my case...)

[2018-10-01 05:49] #652 closed

[2018-10-01 07:13] itsmichaeldiego commented on #652
@adi-gabrielli I am glad you could work it out, let me know if you need further help.

[2018-10-02 00:16] mathewleland commented on #460
@callamwilliams , would you happen to have a project you could share or a codepen where that SearchBox works? I am having trouble `Cannot read property 'addListener' of undefined ` when I try your solution 😣

[2018-10-02 11:46] callamwilliams commented on #460
So if you're using the SearchBox example further up this post; make sure you have updated the `google.maps` object

` this.searchBox = new google.maps.places.SearchBox(input);`

should now be

` this.searchBox = new googlemaps.places.SearchBox(input);`

I will put a PR in for this at some point - it needs tidying up to make things like this clearer etc.

[2018-10-02 16:55] itsmichaeldiego commented on #460
@callamwilliams That would be lovely, thanks!

[2018-10-03 01:08] mathewleland commented on #460
@callamwilliams I realized my issue was I didn't instantiate it as a `new` googlemaps-- but very brilliant idea to pass that googlemaps constructor down to the searchBox!  Thank you for your help

[2018-10-03 20:36] jabidof commented on #511
Hi,
Did u find a solution to your issue?
I got one using a single SVG group positioned at top-left lat-lng.

[2018-10-05 21:28] J1Duran opened #653 "Old examples with new version google-map-react"
Good, I hope you are well.
I have a que.stion, I want to implement this old example, with the new version and I can not find

**old example: https://github.com/google-map-react/old-examples/blob/master/web/flux/components/examples/x_main/main_map_block.jsx**

Since I've been doing tests with respect to the new version and the old examples, and they change several things.

So my question is, do I t

[2018-10-08 16:46] itsmichaeldiego commented on #653
@J1Duran We're working on examples in here https://github.com/google-map-react/google-map-react-examples/ but I've been really slow with it and I haven't received any help yet.

So if you want to start building this example on the new example repo, it would be amazing. Not many things have changed really, you could still make it work with a few twicks.

Let me know if you need help and I will help

[2018-10-08 18:13] J1Duran commented on #653
Hello friend, happy to help.
I really had a lot of trouble adapting the example with the hover, because of the controllable theme. Adapt a version and I had to use the library "rc-tooltip" to adapt the information I wanted to show from each point on the map.
![image](https://user-images.githubusercontent.com/13131609/46626102-4ef84000-cb04-11e8-8bc6-fcdb21e08644.png)

[2018-10-09 09:32] maxchernin opened #654 "fitBounds method from utils does not return zoom"
Hello, using versions:
Windows 10,
google-map-react 1.0.9

when using the fitBounds method, im getting the new bounds and the center, but im getting NaN on the zoom property
the problem lies in line 113
 var zoomY = (0, _log2.default)(height / GOOGLE_TILE_SIZE / dy); <-- compiled
const zoomY = log2(height / GOOGLE_TILE_SIZE / dy); <-- source code

this returns NaN, **when dy is negative**.

[2018-10-09 10:53] maxchernin commented on #654
also help will be appriciated on the pr ive opened

[2018-10-10 18:17] itsmichaeldiego commented on #653
@J1Duran That is great man, thank you so much. How do you feel about moving this example to our https://github.com/google-map-react/google-map-react-examples repo?

[2018-10-10 19:43] J1Duran commented on #653
@itsmichaeldiego Ok I have no problems friend, delighted .. let me know the procedure.

[2018-10-11 08:57] itsmichaeldiego commented on #478
@tbaustin So, google clustering works with coordinates, but we are working on positioning the markers in the dom depending on their coordinates.

[2018-10-11 08:58] #478 closed

[2018-10-11 08:59] itsmichaeldiego commented on #654
@maxcherning Would you provide me a live example where this is failing?

[2018-10-11 09:01] itsmichaeldiego commented on #653
@J1Duran Is pretty simple just clone https://github.com/google-map-react/google-map-react-examples and add one route and the example you created in one component.

[2018-10-15 20:41] evanseeds opened #657 "Clicks on subcomponents of markers get handled by Map before the subcomponent"
I'm using this library to display markers on a map, which conditionally display a popup window with more information. I'd like to implement a click listener on the map itself so that when a user clicks outside of a popup, the popup can be closed. However, the map click listener triggers on click of the popup as well, even if stopping propagation or preventing default behavior.

I commented with mo

[2018-10-16 11:05] klingberg opened #658 "Markers are not visible when printing cluster map"
When I try to print a cluster map (e.g http://istarkov.github.io/google-map-clustering-example/) the markers appears as white squares.

![screenshot from 2018-10-16 12-38-27](https://user-images.githubusercontent.com/1440293/47011853-2fd06280-d143-11e8-82ba-2b89a5d71e70.png)

Not a major issue but if anyone has any idea why this happens I am all ears.

[2018-10-16 12:56] prp1 opened #659 "How to load maps in http instead of https"
For some specific reason I need to load google maps in http, not https. I checked in code and there is no possibility exposed to change this. It's just defined like this:

`const BASE_URL = 'https://maps';`

Of course, I could load google maps manually myself and only then render google-map-react component, but then I would loose this nice feature of having markers already visible while google map

[2018-10-16 18:44] itsmichaeldiego commented on #659
@prp1 Its actually not possible, we would have to pass new props or pass `BASE_URL` that overrides the actual `BASE_URL` if its defined, it would be an easy change, if you want to submit a PR I will review it and publish it in a new minor version

[2018-10-16 18:45] itsmichaeldiego commented on #658
@klingberg Is this printing using google map print option or just screen print?

[2018-10-17 10:06] prp1 commented on #659
Ok, I will create a PR, thanks.

[2018-10-17 10:06] #659 closed

[2018-10-17 11:02] klingberg commented on #658
This is just screen print.

[2018-10-19 12:55] callamwilliams opened #660 "A way to turn off $hover"
I want to click a marker and have an infowindow appear, but because of the $hover prop, every time a marker is hovered, all the markers re-render and the logic to match up an active marker always returns true. Any ideas?

GoogleMap.js
[code]

Marker.js
[code]

[2018-10-20 17:10] itsmichaeldiego commented on #658
@klingberg I am not sure I am following, you've got a map with a cluster, you take a screenshot and they look like squares? 🤔

[2018-10-21 06:17] klingberg commented on #658
@itsmichaeldiego No, sorry for my poor description :)

Navigate to http://istarkov.github.io/google-map-clustering-example/
Choose print (as in print on paper).
In the preview and on paper the markers will appear as white squares.

[2018-10-22 04:11] miniturny opened #661 "Any way to set the camera angle/tilt?"
Is there a current way to do this? So far, I've tried setting map options
`{
      mapTypeId: maps.MapTypeId.SATELLITE,
      heading: 90,
      tilt: 45,
    }`

I've also set `defaultZoom` and `defaultCenter` if that changes anything

To no luck. Is this doable with this library? I notice when sending non-number values as tilt, it throws an error saying setTitle expects a number. Seems like this

[2018-10-22 13:11] cky-BryanChan opened #662 "Uncaught TypeError: (0 , _.y) is not a function"
Is that google is giving us hard time? it was working for months and suddenly this pops up when you zoom in / out

![image](https://user-images.githubusercontent.com/22461288/47294181-4f9bd680-d5da-11e8-9e7c-0620d3cff01c.png)

![image](https://user-images.githubusercontent.com/22461288/47313965-4cbad900-d60e-11e8-9f4c-e6f80b1fafc2.png)

[2018-10-22 15:29] maps82 opened #663 "fitBounds with padding"
Hi!

I have an overlay on top of the bottom of the map. When I use the fitBounds function to calculate the centerAndZoom to fit locations into the viewport, I would like to do this calculation in the way that there are never markers behind the overlay.

I.e. I would like to give the fitBounds function a bottom padding in pixels, like it's supported by the native fitBounds() function from the googl

[2018-10-22 20:08] #662 closed

[2018-10-23 13:04] umarfarookshaik commented on #653
@J1Duran could you please move/commit your example to above repo, your code would save my time :)

[2018-10-23 19:54] maps82 commented on #663
I noticed I can use the native fitbounds function of the maps api for this purpose. I assume if the map is moved with the native functions the onChange results are still in sync with map state.

Can you confirm this? If so, I think this issue can be closed.

[2018-10-24 08:43] FrameLee opened #664 "How do I change the default endpoint flag for the route？"
Dear users,
before you will write anything, please use search,
then please search again.

Most of problems you have is just an one line solution -
there is no need to change this library,
just add anything you want in your code.

Please look at examples, docs, apis - all of this were created for you not for me ;-).

[2018-10-24 08:48] FrameLee commented on #664
![image](https://user-images.githubusercontent.com/34339642/47418389-97725780-d7ac-11e8-82ec-9076351accd1.png)
like this

[2018-10-24 09:11] itsmichaeldiego commented on #653
@J1Duran +1 with @umarfarookshaik comment! Would be super nice, thanks

[2018-10-24 09:19] itsmichaeldiego commented on #661
@miniturny Those properties (tilt and heading) are going straight to _google maps_ and we're not processing it in the middle, so the error you getting must be from _google maps_ itself. [Here is a bit of documentation about `tilt`:](https://developers.google.com/maps/documentation/javascript/maptypes)

In order to help you I need to have more information, like what is not working? What is the erro

[2018-10-24 09:19] #661 closed

[2018-10-24 09:22] itsmichaeldiego commented on #658
@klingberg This is an old example, we're currently working on new ones in https://github.com/google-map-react/google-map-react-examples. You can find more [info here](https://github.com/google-map-react/google-map-react/issues/653) and [here](https://github.com/google-map-react/google-map-react/issues/524)

[2018-10-24 09:23] #658 closed

[2018-10-24 09:27] itsmichaeldiego commented on #662
@cky-BryanChan Could you fix the problem?

[2018-10-24 12:35] cky-BryanChan commented on #662
@itsmichaeldiego it's probably a google api's problem, it happens a few days and it's gone now. Thanks for replying

[2018-10-24 16:01] Alishakhov commented on #460
Hi, I am new to react and also google API. I am not sure what to use. google-map-react or react-google-map.

[2018-10-24 18:44] itsmichaeldiego commented on #662
@cky-BryanChan No worries, let me know if you need further help.

[2018-10-24 18:45] itsmichaeldiego commented on #460
@Alishakhov It really depends what you need to do, this library its the only one that allows you to use your own components for markers

[2018-10-24 19:37] ryanturnbull commented on #661
@itsmichaeldiego thanks, good to know you aren't processing it in the middle 👍 I should be able to figure it out then. Is there any way to manually access the map object and call `map.setTilt && map.getTilt` ? I've tried accessing the map's ref to no luck

[2018-10-24 19:39] miniturny commented on #661
@itsmichaeldiego  thanks, good to know you aren't processing it in the middle 👍 I should be able to figure it out then. Is there any way to manually access the map object and call `map.setTilt && map.getTilt` ? I've tried accessing the map's ref to no luck

[2018-10-24 20:21] itsmichaeldiego commented on #661
@miniturny Of course! We've an special method called `onGoogleApiLoaded`, you can check an example here: https://github.com/google-map-react/google-map-react-examples/blob/master/src/examples/Main.js#L69

Let me know if that helps!

[2018-10-25 03:30] ryanturnbull commented on #661
@itsmichaeldiego interesting, when i call `setTilt(45)` from the `onGoogleApiLoaded` function, it does nothing. If i give it a 2 second delay, it animates into a tilted view as expected. However, when I zoom in, the map loses its tilt. Im providing the zoom to the component via `this.state.zoom`

[code]

Sorry i can't provide you with a demo, but i've tried to be as detailed as possible

[2018-10-25 03:32] miniturny commented on #661
@itsmichaeldiego  interesting, when i call `setTilt(45)` from the onGoogleApiLoaded function, it does nothing. If i give it a 2 second delay, it animates into a tilted view as expected. However, when I zoom in, the map loses its tilt. Im providing the zoom to the component via this.state.zoom

[code]

Sorry i can't provide you with a demo, but i've tried to be as detailed as possible

[2018-10-25 08:57] FrameLee opened #665 "How to change the default marker for the direction？"
![image](https://user-images.githubusercontent.com/34339642/47488408-e5ec2880-d876-11e8-82ce-d4c58e257d68.png)

Sorry my english is pool. In this direction, origin is marker A destination is marker B. But I don't want use marker A and marker B, I want use other marker instead them. What should I do?

[2018-10-28 02:46] timothyallan opened #666 "onChildTouchDown equivalents?"
Hey there, I've been sifting through the old issues, and the code and can't find a solid answer: Why is there no API for Touch events like an onChildTouchDown/Move/Up? I've got the movable markers working great on desktop, but mobile is a no go currently.

Is there some workaround I've missed somewhere to handle touch events for movable markers?

[2018-10-28 21:49] drstonebraker opened #667 "markers appear above the gestureHandling overlay"
In certain circumstances, the map shows (by default) an overlay for gestureHandling to notify user of how to manipulate the map.  For example, if the map is embedded in a scrollable page, and you scroll past the map with the cursor over the map, it will display a message stating that user can press CMD + Scroll to zoom the map.

Problem is that the place markers appear above this message, when the

[2018-10-29 14:49] itsmichaeldiego commented on #667
@drstonebraker Please provide a live example of the error and reopen the issue, I will be happy to help, thanks in advance.

[2018-10-29 14:49] #667 closed

[2018-10-29 14:52] itsmichaeldiego commented on #666
@timothyallan There is no touch events for this particular ones, this library has been built from user's requirements, so you can feel free to add this events and I will be happy to deploy a minor release.

Let me know if you need any help and I will be happy to provide it

[2018-10-29 14:52] #666 closed

[2018-10-29 14:54] itsmichaeldiego commented on #665
@FrameLee I am sorry but we currently don't support that, as the directions is a built-in solution of google maps. Probably you can check if there is a way to hide the dots for native google maps, if there is a way to do that you can also do that with this library.

[2018-10-29 14:54] #665 closed

[2018-10-30 17:50] shudson250 commented on #184
You can draw a circle (or any other marker) using the google maps API.

Goolge map reference: https://developers.google.com/maps/documentation/javascript/shapes#circle_add
[code]

[2018-10-31 09:53] chenmonade commented on #642
Is there any solution for users who use react > 16?
Just saw the revert commit..

[2018-10-31 13:58] clayne11 commented on #642
I've published a fork,[ `@clayne/google-map-react`](https://www.npmjs.com/package/@clayne/google-map-react), that has the fix for React 16.

[2018-10-31 18:21] saahilp opened #668 "Heat map won't load despite the props being present"
I'm trying to load the heatmap on the Google Map and I've verified that all the props are what they're suppsoed to be. Any idea what I might be missing?

![image](https://user-images.githubusercontent.com/15962647/47809846-3a305600-dd18-11e8-8def-a75dd2cd8b9d.png)

[2018-10-31 21:00] tim-soft commented on #460
After some tweaks, here is working search code.

Assuming I have some map and search box, how can I fix the input to the upper left part of the map? Adding markers with lat/lng is simple, but adding _fixed_ React UI elements to the map is... unclear

[code]
Search Box:
[code]

![capture](https://user-images.githubusercontent.com/10257939/47817988-a6ad5400-dd1c-11e8-8a74-ad490b461683.PNG)

[2018-11-02 12:08] callamwilliams commented on #381
If you are returning data from the places API (searchbox, autocomplete) make sure you call the lat/lng as functions rather than objects

[code]

Otherwise you are passing a function rather than a number - so `NaN` error

Try testing it manually with proper numbers, and double check the values you are passing via props.

[2018-11-02 19:11] itsmichaeldiego commented on #460
@tim-soft Just by using css would be enough. You shouldn't add the searchbox inside the GoogleMap component though but outside, then you can wrap the map and the searchbox in a div with `position: relative;` and set `position: absolute;` to the searchbox.

Check the example @callamwilliams is working on here -> https://github.com/google-map-react/google-map-react-examples/pull/14

[2018-11-06 01:47] rfigueror1 commented on #457
Hi @henriquemattos , I am having a very similar issue and I saw this post. Is there a chance you can show me the content of the apiIsLoaded function after your workaround of the problem?

[2018-11-06 12:16] henriquemattos commented on #457
Hi, @rfigueror1 . Well, I customized a lot and ended up using Polylines instead of directions, but I think you can start from something like this:
[code]
Check [Polyline Options](https://developers.google.com/maps/documentation/javascript/reference/polygon#PolylineOptions) and [DirectionsRendererOptions](https://developers.google.com/maps/documentation/javascript/reference/directions#DirectionsRen

[2018-11-07 14:44] itsmichaeldiego commented on #457
@henriquemattos Thank you for helping! Do you think there is a chance you could add example with on our new examples? https://github.com/google-map-react/google-map-react-examples

[2018-11-07 16:39] henriquemattos commented on #457
@itsmichaeldiego I will fork the repo, create an example using Polylines (and if I still remember using DirectionsRenderer) and provide you a PR next week. I'm overwhelmed till Monday (12). Is that ok?

[2018-11-07 22:10] rfigueror1 commented on #457
Thanks both for your help!

El mié., 7 nov. 2018 a las 10:40, Henrique Mattos (<notifications@github.com>)
escribió:

[2018-11-08 03:57] Albert-Mamu commented on #442
Same thing found here...
Found Vunn??

![preview](https://user-images.githubusercontent.com/35122489/48176923-ec81a200-e344-11e8-98c1-72d8ac454bea.jpg)

[2018-11-08 09:01] itsmichaeldiego commented on #442
@Albert-Mamu Can you provide a detailed explanation?

[2018-11-08 09:02] itsmichaeldiego commented on #457
@henriquemattos That is totally fine! Gracias!

[2018-11-08 09:08] Albert-Mamu commented on #442
I'm using version 6.4.1

I'm using this package in my project:

    "react-google-maps": "^9.4.5",
    "react-google-recaptcha": "^1.0.2",
    "react-loadable": "^5.5.0",
    "react-router-config": "^1.0.0-beta.4",
    "react-router-dom": "^4.3.1",
    "react-sortable-tree": "^2.2.0",
    "react-sortable-tree-theme-full-node-drag": "^1.1.0",
    "react-tag-input": "^5.2.2",
    "react-test-rendere

[2018-11-08 09:39] Albert-Mamu commented on #442
Ok, will try to delete 'react-google-maps'

[2018-11-08 10:53] FadiAboMsalam opened #669 "[Violation] Added non-passive event listener to a scroll-blocking 'touchstart' event."
Hi I have the following warning on console once i add the library

_[Violation] Added non-passive event listener to a scroll-blocking 'touchstart' event. Consider marking event handler as 'passive' to make the page more responsive_

am using the following version     **"google-map-react": "^1.0.9"**
here is my code inside my render

[code]

[code]

[2018-11-08 11:06] stacheski opened #670 "Change radius of circle"
I created a circle using google api, and binded it to the center of my marker, to be able to change the circle position like this:

                     onGoogleApiLoaded={({ map, maps }) => {

                      let marker = new window.google.maps.Marker({
                        position:center,
                        map: map,
                        title: 'Center of Map',

[2018-11-08 12:09] itsmichaeldiego commented on #669
@FadiAboMsalam please provide a live example, thanks

[2018-11-08 12:09] #669 closed

[2018-11-09 04:58] rfigueror1 commented on #457
@henriquemattos it worked beautifully, thanks a lot, you still got it! If it is helpful for the future, here is an example using Henrique's wisdowm of the render function after the drectionsService callback and the use of polylines.

`const apiIsLoaded = (map,maps) => {
        const directionsService = new maps.DirectionsService();
        const directionsDisplay = new maps.DirectionsRenderer();

[2018-11-09 15:53] ftier-tech opened #672 "Custom Overlay with tiles from a Tile Server"
How would one go about creating a custom overlay with Tiles being fetched from a 3rd party Tile Server.  I have the array of Tiles from the 3rd party, but now I need to create my overlay with those tiles.  Are there any examples out there that I could reference?

Thanks!

[2018-11-12 12:52] itsmichaeldiego commented on #654
Fix from #655, was merged and deployed in version `1.1.0`

[2018-11-12 12:52] #654 closed

[2018-11-12 12:55] itsmichaeldiego commented on #672
@ftier-tech Anything that you can do in gmaps, you can do here. Please take a look at https://github.com/google-map-react/google-map-react/blob/master/API.md for more information on which tiles functions are available and how to get the `map` or `maps` object from `onGoogleMapAPILoaded` attr.

[2018-11-12 12:55] #672 closed

[2018-11-12 12:58] itsmichaeldiego commented on #457
@henriquemattos I will! Thanks. Let me know if you need any help to create the example at [google-map-react-examples](https://github.com/google-map-react/google-map-react/examples)!

[2018-11-12 13:01] itsmichaeldiego commented on #670
@stacheski Please provide a live example, otherwise its very hard to help. But in case it helps, whatever you can do with google maps itself, you can do it with this library by accessing `onGoogleApiLoaded` like you just did. So I guess yours is more a question for stackoverflow than a question about the library itself if I am not mistaken, if I am please let me know.

[2018-11-12 13:01] #670 closed

[2018-11-12 13:01] #613 closed

[2018-11-12 13:02] itsmichaeldiego commented on #653
@J1Duran Looking forward to help you to add this example on [google-map-react-examples](https://github.com/google-map-react/google-map-react-examples)

[2018-11-12 22:58] tim-soft opened #673 "v1.1.0 Not adding libraries (drawing/places etc) to maps api object"
Upgrading from v1.0.9 to v1.1.0, libraries are no longer added to the maps api object.

[code]

[2018-11-13 14:42] alastairkitchen opened #674 "Rendering markers in IE11"
Hey, I'm having issues rendering markers on the map in IE11, I get the following error:

"Cannot define property '$jscomp_hidden_0.3239633210234527': object is not extensible"

which seems to be linked to the GoogleMapMarkers component. The map is being added to the page but the markers aren't visible on the map. Any help would be massively appreciated.

![image](https://user-images.githubusercont

[2018-11-13 21:00] itsmichaeldiego commented on #673
@tim-soft Good catch!

This was introduced in https://github.com/google-map-react/google-map-react/pull/593

I think for the time being, instead of passing `libraries` as you were, you can do:
[code]

[2018-11-13 21:02] itsmichaeldiego commented on #673
@DonovanDeSmedt Mind giving this a check? I think we should change the approach to use heatmapLibrary the same way we used to add the libraries in the URL:

`
<GoogleMapReact
  bootstrapURLKeys={{
    key: 'xxxxxxxxxxxxxx',
    libraries: ['places', 'drawing', 'heatmap']
  }}
  yesIWantToUseGoogleMapApiInternals
  onGoogleApiLoaded={({ maps }) => {
    console.log(maps.places);
    console.log(map

[2018-11-14 23:38] djamesfar commented on #590
I am using the example above, but I am finding that when I re-render with a new set of places (in state rather than from fetch), the map does not re-center or fit to bounds with new places.  Any tips?

[2018-11-15 15:02] itsmichaeldiego commented on #590
@djamesfar That makes sense because here we are re-centering when the window resizes. In order to achieve what you want you will need to re-fit bounds when places change, I think you can do that by using `shouldComponentUpdate` and `componentDidMount`? For that you will need to set the map with refs.

[2018-11-15 15:04] itsmichaeldiego commented on #674
@alastairkitchen We currently don't support IE, and I don't have a way to test it, but PRS are welcome!

[2018-11-18 17:47] klferreira opened #675 "Cannot remove Polylines from GoogleMap"
Straight to the point:

I think I found a bug when I try to remove Polylines from my map.

There are certain events in my application that changes the currently rendered markers to new ones and draws a Polyline between them.

When i "undo" this action, I want to remove the current markers and re-render the previous ones. That works just fine.

The problem is: The polyline between the previous mark

[2018-11-18 20:34] #675 closed

[2018-11-19 14:49] itsmichaeldiego commented on #591
Example project? The example project is currently out of date, we're working on new examples in #524

[2018-11-19 14:56] itsmichaeldiego commented on #549
@nicoqh We already created some new examples with @callamwilliams, you're still welcome to help us adding some!

[2018-11-20 14:14] ftier-tech opened #676 "Getting InvalidKeyMapError back"
I have the following:
import React, { Component } from 'react';
import GoogleMap from 'google-map-react';

export class WeatherMap extends Component {
    render() {
        return (
            <div style={{ height: '100vh', width: '100%'}}>
                <GoogleMap
                    bootstrapURLKeys={{
                        key: "<my key>"
                    }}

                    center

[2018-11-20 14:35] ftier-tech commented on #676
Never mind, damned browser was caching....

[2018-11-20 14:35] #676 closed

[2018-11-20 15:29] Umbrellagun opened #677 "X of undefined on mouse enter / move on map"
Using v1.1.0

Whenever I include even the simplest marker on the map I get this error when the mouse enters the map:

`Uncaught TypeError: Cannot read property 'x' of undefined`

I'm not sure if it's actually directly breaking anything because the markers still show up, but I could see it causing other wierd behavoir maybe. I'm 'assuming' that this error is related to the "Internal Hover Algorithm

[2018-11-21 15:56] maxchernin opened #678 "Fitbounds method returns wrong zoom"
Hi Michael, its me again :)
found another problem with fitbounds
on latLng2World method, when receiving the following coordinates (which are close to each other)
[code]
im getting back a zoom of **2.**
i don't have enough in code documentation, but this happens inside fitNwSe method,
either in latLng2World or in log2(width / GOOGLE_TILE_SIZE / dx)

dy is returned 22 for this coordinates, and dx is

[2018-11-21 21:08] vitalybe opened #682 "Feature request - Pan map to contain a component"
When the user interacts with library, sometimes the components would grow (e.g an info component appearing on click) and it would be really nice if the map would pan to contain the element.

Obviously, this isn't needed in all cases, but I thought it can be done with a property, something like:

    <GoogleMapReact>
        <MyComponent lat={123} lng={123} containByPanning={true} />
    <GoogleMap

[2018-11-22 14:22] itsmichaeldiego commented on #673
@tim-soft This was fixed and deployed in `1.1.1`, please let me know!

[2018-11-22 20:13] golestanirad opened #683 "map doesn't show"
on the map it says:
_This page can't load Google Maps correctly.
Do you own this website?_

[2018-11-23 14:04] lohfu opened #684 "v1.1.1 published without dist directory"
It appears the latest version (1.1.1) has been published without a `dist` directory, but the `./index.js` still requires './dist/index`.

[2018-11-23 14:05] lohfu commented on #683
Since 2016 you have to provide an API key

+ https://cloud.google.com/blog/products/maps-platform/building-for-scale-updates-to-google
+ https://churchthemes.com/page-didnt-load-google-maps-correctly/

[2018-11-23 19:10] itsmichaeldiego commented on #684
@lohfu It works perfectly on my end, please provide a non-working example 😃

[2018-11-23 19:10] #684 closed

[2018-11-23 19:11] itsmichaeldiego commented on #683
@golestanirad Question is answered, there is a working example here:

URL: https://google-map-react.github.io/google-map-react-examples/default
Source: https://github.com/google-map-react/google-map-react/

[2018-11-23 19:11] #683 closed

[2018-11-23 19:32] lohfu commented on #684
well my bad, i had installed `google-maps-react@1.1.1`

[2018-11-23 23:50] JustFly1984 commented on #558
I'm still seeing whole lodash in my app, and it adds up 152kb! in latest v9.4.5.

[2018-11-24 14:17] daniel012 opened #685 "set `key` prop on component, and change it if options changed."
I'm sorry, but I am new with React, could you explain me a little more how implement this?

[2018-11-24 14:18] #685 closed

[2018-11-26 13:42] itsmichaeldiego commented on #558
Please upgrade @JustFly1984

[2018-11-26 13:42] itsmichaeldiego commented on #684
@lohfu Does it work now?

[2018-11-26 13:43] itsmichaeldiego commented on #683
@golestanirad Unless you provide a live-example I won't be able to help you

[2018-11-27 09:13] lohfu commented on #684
@itsmichaeldiego yes, when i installed your module instead of the other one it worked like a charm :stuck_out_tongue:

[2018-11-27 13:10] ftier-tech opened #687 "Push react component as control"
I do apologize as this isn't an issue, but more of a "how-to".  I've looked around online to see if I could find the answer, but no luck.  It is possible to use a React Component as a Google Map Control?  I am using the ability to get access to the internal API, but would like to use a custom React Component instead of adding the control as in the Google example show in their example (https://deve

[2018-11-27 15:36] itsmichaeldiego commented on #684
@lohfu Awesome!

[2018-11-27 15:38] itsmichaeldiego commented on #687
@ftier-tech You could use a ref and use your own component, but you would have to place it using css

[2018-11-28 11:31] Pocket-titan commented on #687
You can create a custom MapControl component that accomplishes this:

[code]

Which you would then use like this in your MapComponent:
[code]
You can find all the possible values for ControlPosition [here](https://developers.google.com/maps/documentation/javascript/reference/control#ControlPosition). If you need any help, feel free to tag me.

[2018-11-28 16:18] faeron commented on #673
are both ways (as described in #681) broken now? For me using the "old" way doesn't work as long as `heatmapLibrary={true}` is used as described in the docs. It overrides set libraries [here](https://github.com/google-map-react/google-map-react/blob/599195510e596173f94cc1feca49e2eae700fe6a/src/loaders/google_map_loader.js#L74)

The "new" way with using props for each library isn't working at all,

[2018-11-28 17:31] itsmichaeldiego commented on #673
@faeron I am sorry you're experienced this, I reverted the change on `1.1.0` in `1.1.1`, so it should work the same as `1.0.9`, what is the problem you're experiencing?

[2018-11-28 17:41] faeron commented on #673
no worries :)
when using libraries in bootstrapURLKeys together with the prop`heatmapLibrary={true}`it ignores all set libraries and only uses `libraries=visualisation`. This behavior seems to have the origin [here](https://github.com/google-map-react/google-map-react/blob/599195510e596173f94cc1feca49e2eae700fe6a/src/loaders/google_map_loader.js#L74)
as it appends the libraries param again, which

[2018-11-28 23:55] itsmichaeldiego commented on #673
@faeron I see the problem, we are working on a total fix with @DonovanDeSmedt

[2018-11-29 03:42] kpennell opened #688 "Efficient hovering on list items to change map marker styling"
Hey there -
I’m struggling to make a map I have more efficient. Essentially, I have a list of cards, and then a  map of markers. When I hover on one of the cards, it changes the styling of the marker. Here’s what it looks like:

<img width="551" alt="screen shot 2018-11-28 at 9 40 58 pm" src="https://user-images.githubusercontent.com/1060385/49197879-4c70d480-f356-11e8-8d6a-e80f1c5305a8.png">

But

[2018-11-30 02:44] hoang17 opened #689 "how to use default Google Maps marker?"
Is there a way to use default Google Maps marker? Thanks!

[2018-12-02 21:54] markolofsen opened #690 "Road direction service"
Hello @itsmichaeldiego !
Please, provide normal example with road direction service (Point A to Point B).

Example for start:
[code]

[2018-12-02 21:58] markolofsen commented on #690
![ssss](https://user-images.githubusercontent.com/13606299/49345476-5576e400-f67d-11e8-9253-cb206490b926.png)

[2018-12-03 11:34] phillipj commented on #650
I just noticed that the `onGoogleApiLoaded` prop will be called with `null` as argument values in the case of errors:

[code]
[./src/google_map.js#L782](https://github.com/google-map-react/google-map-react/blob/d8d9dc3b63784e6a4ea2e6a7e629cd606c5985a5/src/google_map.js#L782)

That's not something I've encountered for. I'll put some safe guards in place to see if that makes any different to the err

[2018-12-03 20:57] itsmichaeldiego commented on #690
@markolofsen Your example looks perfect! In this function: `renderPolylines (map, maps) {` you're already using google maps library! So any example with directions from google maps will work for you, just need to adapt it a bit

[2018-12-03 20:57] itsmichaeldiego commented on #650
@phillipj Awesome let me know what you find

[2018-12-04 18:36] kpennell commented on #502
@walidvb @mikeriley131 How did you solve this? Can you please share code?

[2018-12-04 21:22] mikeriley131 commented on #502
@kpennell I don't believe we ever did, bur our designs/functionality have since changed so it's no longer an issue. Sorry I can't be of more help.

[2018-12-05 02:36] kpennell commented on #502
@mikeriley131 Darn, thanks for the response.

[2018-12-05 02:36] kpennell commented on #502
@mikeriley131 Darn, thanks for the response.

[2018-12-05 15:33] walidvb commented on #502
Hi @kpennell my solution was to add `pointer-events: none;` to the markers, which worked fine for my usecase.

[2018-12-05 15:46] itsmichaeldiego commented on #502
Sorry, [before I gave a bad answer](https://github.com/google-map-react/google-map-react/issues/502#issuecomment-360590334), using `event.stopPropagation()` should fix the issue as it does in general as @stephenfarrar [pointed out](https://github.com/google-map-react/google-map-react/issues/502#issuecomment-373174107)

[2018-12-05 16:07] kpennell commented on #502
event.stopPropagation on the parent onClick?

On Wed, Dec 5, 2018 at 9:33 AM Walid <notifications@github.com> wrote:

[2018-12-05 16:32] kpennell commented on #502
Aha, makes sense. Stop it from going down to the parent.

Good ol web dev 102...forgot all the bubbling and capturing stuff. Or was
quite rusty on it

On Wed, Dec 5, 2018 at 10:25 AM Michael Diego <notifications@github.com>
wrote:

[2018-12-05 17:00] itsmichaeldiego commented on #502
@kpennell No prob, let me know if that works!

[2018-12-07 08:34] MatBdry opened #691 "Pan doest not work on Firefox"
Hi !

I got an error on firefox since the version 1.1.1. The pan return an error and the map crash:

![capture d ecran 2018-12-07 a 09 26 36](https://user-images.githubusercontent.com/15127641/49636516-1e992900-fa03-11e8-86e7-d1e5f2c7562e.png)

I fixed the version to 1.1.0, and all is ok.

[2018-12-09 12:43] vivex opened #692 "google-map-loader getting called twice"
Package versions are:
[code]

i am getting following error:

[code]

[2018-12-09 15:21] itsmichaeldiego commented on #692
@vivex Please try with latest version of `google-map-react` and tell me:

[code]

[2018-12-09 15:21] #692 closed

[2018-12-10 06:18] vivex commented on #692
@itsmichaeldiego  same problem with  google-map-react 1.1.1 also.

[2018-12-10 16:33] itsmichaeldiego commented on #692
@viktorbezdek If you give me more info about what is the actual error I may be able to help

[2018-12-10 16:34] itsmichaeldiego commented on #692
@viktorbezdek Did you try

[code]

[2018-12-11 06:37] vivex commented on #692
![image](https://user-images.githubusercontent.com/5036512/49782679-34795780-fd3d-11e8-80b9-f3ce2101fdf9.png)

@itsmichaeldiego  getting above error

[2018-12-11 06:40] vivex commented on #692
What i observed after putting several console logs in google_map_loader that:

it is trying to insert <script> tag twice for google map, because google_map_loader is getting called twice before even setting `window.google.maps`

@itsmichaeldiego

[2018-12-11 22:19] egeucak opened #693 "Custom markers connected with redux are giving error"
Hello,

I have a custom react component, that is like;

[code]
The problem is when I use this as a marker, giving it as a child prop, I get the following error in console, and marker is not showing up.
[code]
I also checked my component to see if it is the root of the problem, but when I insert it in somewhere else other than map, it works fine. So I suppose this is a problem caused by the way lib

[2018-12-11 22:34] itsmichaeldiego commented on #693
@egeucak Can you provide a live example like in https://codesandbox.io/?

[2018-12-12 06:16] egeucak commented on #693
Thanks for quick reply.

I reproduced my situation with minimal example, while keeping the same structure in the following sandbox. You can see the expected behavior if you comment out the "connect" part, and export the class itself.

[![Edit 4wnl0w3p87](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/4wnl0w3p87?module=%2Fsrc%2FMap%2FPoi%2Findex.js)

[2018-12-12 10:18] VictorKolb commented on #502
@itsmichaeldiego yes, it works! thank you

[2018-12-12 11:36] wende60 opened #694 "fitBounds will fail if only one location"
hi,

the util fitBounds works fine. However, my location list in some cases contains only one location. Calculating bounds will result in something like:

[code]

nw and sw will be the same. Now calculating center and zoom like so:

[code]

will endup somewhere in Russia. Now a little change like here:

[code]

will fix that problem. Maybe i am wrong, but my expected behaviour would be to have a b

[2018-12-12 11:55] itsmichaeldiego commented on #694
@wende60 But when you have only one point, that point should be the center right? In that case you don't need to calculate 🤔

[2018-12-12 11:56] itsmichaeldiego commented on #502
@VictorKolb Happy to hear that!

[2018-12-12 11:57] itsmichaeldiego commented on #502
@kpennell let me know if @stephenfarrar's [answer](https://github.com/google-map-react/google-map-react/issues/502#issuecomment-373174107) worked

[2018-12-12 12:02] itsmichaeldiego commented on #693
@egeucak I see the problem:

You're trying to connect the Marker itself, but the component rendered should be a pure component. You're already connecting the map you just need to pass what you need in the props of the Marker.

[2018-12-12 12:02] #693 closed

[2018-12-12 12:45] wende60 commented on #694
you are completely right. But as these coordinates usually come as a generated resultlist this needs extra conditions. IMHO fitBounds shoild be able to deal with that.

[2018-12-12 17:01] wende60 commented on #694
thanks for that hint, with the google build in fitBounds ist works fine for me! It also worked with the utils and a little condition ;)

[2018-12-12 19:09] itsmichaeldiego commented on #694
@wende60 Im happy I was able to help! Let me know if you need further help.

[2018-12-12 19:09] #694 closed

[2018-12-12 19:10] itsmichaeldiego commented on #691
@MatBdry Might have been a runtime error? `1.1.1` works for me at the moment, could you re-check?

[2018-12-12 19:10] #691 closed

[2018-12-12 19:10] #690 closed

[2018-12-12 19:10] itsmichaeldiego commented on #690
@markolofsen Let me know if you need further help

[2018-12-12 19:11] itsmichaeldiego commented on #678
@maxchernin I think this is the same problem as https://github.com/google-map-react/google-map-react/issues/694#issuecomment-446587861

Let me know if it helps

[2018-12-14 03:00] arherzf8er opened #695 "Cannot read property 'animationName' of undefined"
Great component, love its functionality so far!
But since v.1.1.1 this error appears sometimes, can't locate the problem:

### Cannot read property 'animationName' of undefined
[code]

[2018-12-14 20:59] itsmichaeldiego commented on #695
@arherzf8er mmm that is weird, we did not move much things in 1.1.1 related to animation. When does it happen exactly?

[2018-12-14 20:59] #695 closed

[2018-12-15 18:09] arherzf8er commented on #695
@itsmichaeldiego yep, I installed it on that app around August I suppose and haven't updated it since, so what version was it at that time? Maybe it might help. Also I can't blame the syntax I used or anything related, since it just worked and I haven't touched it after setting up. But I do updated React to the latest version along with this component.

Could you please point me where I even can s

[2018-12-16 19:42] mlucool commented on #576
I see something similar here with this code. See how it drifts as you zoom out.

![ezgif com-crop](https://user-images.githubusercontent.com/1813603/50058028-bbb13b80-0140-11e9-9e05-480a5e4184a5.gif)

[code]

[2018-12-17 15:05] MatBdry commented on #691
It works now... But I used the option "yesIWantToUseGoogleMapApiInternals" which is not recommended ! Since I removed it, it seems to work correctly. Thanks for your work :)

[2018-12-18 11:05] Maggistro commented on #508
If someone is still struggling with the issue i have found an ( somewhat ugly ) workaround.

I noticed thanks to @evanseeds observation that the custom event from the map you receive inside your `MapPopup` is the same you will later receive inside your `Map` click handler.

I fixed the issue by adding a **origin** property to this custom event to detect in my map handler if the event bubbled by a

[2018-12-19 10:19] developer2-distributed opened #699 "Remove Fullscreen Control"
Is there any way to remove full screen control?

[2018-12-19 19:17] itsmichaeldiego commented on #699
@developer2-distributed

Yes, here:

[code]

src: https://github.com/google-map-react/google-map-react/blob/master/API.md#options-funcobject

[2018-12-19 19:17] #699 closed

[2018-12-19 19:18] itsmichaeldiego commented on #688
@kpennell Have you tried with `event.stopPropagation()`?

[2018-12-19 19:18] #687 closed

[2018-12-19 19:19] itsmichaeldiego commented on #674
@alastairkitchen We've made some updates that might've fixed it, let me know if so.

[2018-12-19 19:19] #674 closed

[2018-12-19 19:19] itsmichaeldiego commented on #668
@saahilp Heatmap is working on my end, please provide a live-example and I will try to help you.

[2018-12-19 19:19] #668 closed

[2018-12-21 09:35] gukii opened #700 "Smooth marker animation when updating marker position"
Any recommendation on how to create an animation when a marker position gets updated over time (e.g. tracing a runner)?

I tried to use a simple CSS class to animate marker position update without success:

.marker {
	transition: transform 500ms ease-in-out;
}

Thanks a lot

[2018-12-21 11:30] saadikhurshid opened #701 "How can we add directions and waypoints on the map"
Hi
Actually I want to add way points between two points by clicking on the map.

[2018-12-21 18:04] #701 closed

[2018-12-21 18:07] itsmichaeldiego commented on #701
@saadikhurshid You can use this the same way its done with google maps, to access maps object you need to check here https://github.com/google-map-react/google-map-react#use-google-maps-api

[2018-12-23 19:00] A-Tokyo commented on #677
@Umbrellagun I have the same issue, Did you figure out a work around maybe? 🤔 Thanks!

[2018-12-25 09:18] roeib opened #702 "change marker img on click"
how can I change my icon when clicking on it?

[2018-12-26 03:01] Umbrellagun commented on #677
@A-Tokyo Not yet, no. I'll let you know if I get to it though!

[2018-12-26 16:47] A-Tokyo commented on #677
@Umbrellagun I am giving it some time of investigation now.

Weirdly when I updated:

[code]
to

[code]

It worked perfectly, no erros were thrown and the values were logged. I am starting to think it's related to Async React, Are you using Async React as well?

[2018-12-26 19:52] itsmichaeldiego commented on #677
Could you guys upload a live-example?

[2018-12-26 20:10] itsmichaeldiego commented on #702
You can have a component that renders different markers depending on a prop `isActive`, no?

[2018-12-26 20:10] #702 closed

[2018-12-26 20:10] itsmichaeldiego commented on #702
Closed as this question is non-related to the library but React itself.

[2018-12-26 20:12] itsmichaeldiego commented on #700
Well actually is the property location that is changing, but you can probably do something from inside your `<Marker />` component to do it smoothly

[2018-12-26 20:12] #700 closed

[2018-12-28 19:39] itsmichaeldiego commented on #642
@IngenieroLata We took care of this in #696 and its published in v `1.1.2`

[2018-12-28 19:39] itsmichaeldiego commented on #642
@chenmonade @BrentLayne @IngenieroLata

We took care of this in #696 and its published in `1.1.2`

[2018-12-28 21:39] kpennell opened #703 "Is there an updated/easier way to draw geojson LineStrings?"
Hi there,
I went down the rabbit hole on #62 and #149. Just checking in on this. I have a whole bunch of trails maps stored in geojson linestrings. Has anyone found a library or approach to mapping linestrings using google-map-react? I really like this library and would prefer to keep using it. The SVG approach seems really confusing and error prone to me.

[2019-01-02 18:16] kpennell commented on #703
I figured out how to draw geojson linestrings. But tying it in with my hover events (on cards that are related to the map markers/lines) just seems like a way to make spaghetti code. Going to see if react-leaflet makes this easier (maybe not).

But here's how to render linestrings:

[code]
[code]

Basically forEach loop over your geojson and use the `window.google.maps.Polyline` method to draw the

[2019-01-02 18:16] #703 closed

[2019-01-03 09:16] roeib opened #704 "add infoWindow"
How can I add infoWindow to marker after a click

[2019-01-03 15:15] roeib opened #705 "disable markers"
Hi,
can in disable all markers after click on one of them and after 3s make them clickable again?

[2019-01-03 18:04] #705 closed

[2019-01-03 18:05] itsmichaeldiego commented on #705
@roeib This is a question more related to how React works and not to the library, so I have to close the issue.

You can totally do that, you just need to create a function that sets disable and set a timeout to enable them again.

[2019-01-03 18:05] #704 closed

[2019-01-04 03:36] aamorozov commented on #576
I think I am experiencing the exact same issue with a marker being an svg or svg wrapped with div(without using any 3d rotations). Relevant code:
[code]

[2019-01-04 17:54] itsmichaeldiego commented on #576
@mlucool @aamorozov This is because the map marker position is default to top-left, if you want to change it, just change the css by doing `transform: (-50%, -50%)`

[2019-01-05 17:55] saikatharryc commented on #673
Hi @itsmichaeldiego in the latest version, i'm using `1.1.2` ,
`maps.places` and `maps. drawing ` not coming.
any update on this?

[2019-01-06 15:58] mlucool commented on #576
That solves this! Thanks!

[2019-01-07 04:35] Rombusevil opened #706 "Safari window.history duplicated entries"
On Safari when routing to a page that contains a google maps instance the window.history get's populated with the same item twice, requiring two "back button" clicks to return to the real previous page.
I'm seeing this issue being reported on other frameworks too/ google maps libraries.
Any hints on how to avoid it?

[2019-01-07 20:52] itsmichaeldiego commented on #706
@Rombusevil I am closing it as its not related to Google Map React itself.

I think you can hack this by using some preventDefault or stopPropagation int he correct place,  I am not sure which router you are using or anything

[2019-01-08 00:20] edward-hong opened #707 "Google Maps 1 Call Per Day Seems to Apply for all Examples Except for the New Ones"
This issue has to do with #635.

Essentially Google Maps under the free tier only allows for one call per day where the map will load correctly. Otherwise, there will be watermarks saying 'For development purposes only' over the map. Adding the API key to `bootstrapURLKeys` doesn't fix this issue as Google just checks whether the call has been used on that key for the day and if it has it'll load

[2019-01-08 00:43] itsmichaeldiego commented on #707
@edward-hong I am glad you ask, the old examples are super outdated, so we've been migrating to the new examples. The version used by the old examples is `0.3.34` or something like that, we are currently at `1.1.2`, a lot of stuff happened in between, not only the API key.

I am sorry we couldn't find time to finish the new examples, we're looking for contributors that want to add examples to the

[2019-01-08 16:15] itsmichaeldiego commented on #707
@edward-hong Oh, I think I see what you mean, the google map won't be out of developer mode unless you add an api key

[2019-01-09 23:12] jooj123 commented on #508
I have solved this issue.

I hijack mouse enter and touch events when the user interacts with the overlaying cards

eg:

`onMouseEnter={this.onMouseEnter}` can be added to the card, then in the `onMouseEnter` func I have something like:

[code]

The touch events are more tricky (i actually bipass react events for this and create them on mount of the card - this is because i also set `capture: true

[2019-01-10 15:37] Umbrellagun commented on #677
@A-Tokyo I'm not using Async React, no. I'll take a look at the default props though, I don't think I have anything in the code for this at all currently. All you did was add console logs, right? You think it was just the time delay that it added that made it stop throwing the error?

[2019-01-22 13:36] francescovenica opened #708 "Problem with chinese (cn)"
When I try to render a map on `cn` I get some connection error...this is the component:

[code]

I can see that all the request are to maps.cn but not these 2 `AuthenticationService.Authenticate` and `QuotaService.RecordEvent` that are still to `google.com`...

[2019-01-22 21:19] itsmichaeldiego commented on #708
@francesco Maybe this is related to https://github.com/google-map-react/google-map-react/issues/574 ? It seemed to be a google map problem

[2019-01-23 22:20] natcodes commented on #590
@djamesfar Did this last suggestion work for you? I'm not sure how to implement it. If you figured it out, please share. I have the same issue where the map will not re-center.

[2019-01-24 00:37] natcodes commented on #350
I have the same issue. I need the bounds to set based on the results. I cant do it on google api loaded because that happens when the website is loaded before the search. I defined bounds based on the results but I am having trouble actually setting them after the search results are set into state and the pins are rendered. Any feedback?

[2019-01-24 04:53] saikatharryc opened #709 "Map is not loading [no errors]"
Hey, here is how i'm trying to load the map:

[code]

in here, i'm not getting any error ,
but whenever i'm refreshing the page, seems markers inside it gets loaded for a secoend and disappears.

anything i'm missing?

[2019-01-24 06:18] saikatharryc commented on #709
oh, thats because of the styling,
i had to do this to fix.
[code]

[2019-01-24 06:18] #709 closed

[2019-01-24 19:47] itsmichaeldiego commented on #709
@saikatharryc Yeah its on the Readme because of that!

[2019-01-24 19:49] itsmichaeldiego commented on #590
@natcodes Here is an example https://github.com/google-map-react/google-map-react-examples/blob/master/src/examples/Main.js#L40

[2019-01-24 19:49] itsmichaeldiego commented on #350
@natcodes Here is an example https://github.com/google-map-react/google-map-react-examples/blob/master/src/examples/Main.js#L40

[2019-01-28 12:27] jurgenzz opened #710 "Add support for contextmenu within overlayview"
I've seen around some issues about "right click" on markers, where you'd like to see the context menu.

E.g., rendering a custom popup with text, which you could select and copy, where a contextmenu would be handy for users, which don't use "ctrl+c".

There are few hacks around (which you can actually do by yourself), but maybe you could add as API?

For example, where initMap is called, after Ove

[2019-01-30 14:51] smolleyes opened #711 "streetview?"
hi!

thanks for the lib but how can we add streetview controls?

thanks

[2019-01-30 16:45] KevinRamsunder opened #712 "Map object instance persistence support"
I have a use case where I'd like to re-use the `Map` instance created in the `_initMap` method (https://github.com/google-map-react/google-map-react/blob/master/src/google_map.js#L589) so that you don't need to initialize a new map every time this component is called.

Has any thought been put into supporting this? I'd be interested in making the necessary changes to implement this, but wanted to

[2019-01-30 19:54] itsmichaeldiego commented on #712
@KevinRamsunder That's done man! Check out [the documentation](https://github.com/google-map-react/google-map-react/blob/master/API.md#ongoogleapiloaded-func)

Example: https://github.com/google-map-react/google-map-react-examples/blob/master/src/examples/Main.js#L69

[2019-01-30 19:54] #712 closed

[2019-01-30 19:55] itsmichaeldiego commented on #711
@smolleyes Try to search in the repository first! The answer is here: https://github.com/google-map-react/google-map-react/issues/251

[2019-01-30 19:55] #711 closed

[2019-01-30 20:24] KevinRamsunder commented on #712
Thanks @itsmichaeldiego, I noticed that method as well. However, we don't have a way of passing the Map object back down to each subsequent component. For example, on this line https://github.com/google-map-react/google-map-react/blob/master/src/google_map.js#L589 we could change it to something like...

[code]

Goal here is to prevent additional calls to the `maps.Map` constructor for each additi

[2019-01-31 10:17] smolleyes commented on #711
hi

i did... :)

i was searching this ...

<GoogleMapReact **options={{streetViewControl:true}}** />

adding some docs on this options key maybe a nice idear :)

thanks for the lib again !

[2019-01-31 23:37] bertya commented on #502
@itsmichaeldiego Hey man, I have event.stopPropagation() on my component, but when there is a for example, subway station overlapped, when I click my marker, the stations's infowindow get opened still.

[2019-02-01 14:13] SSinkus opened #713 "Improvement, define what libraries you want to use."
Hello,

First of all great job with this project. We are using it, but I missed one thing that I can define what libraries I want to use like example:
geometry,drawing,places and so on since like example places are used for autocomplete.
i went to google_maps_loader.jsx line 76:
`var libraries = heatmapLibrary ? '&libraries=visualization' : '';`
So to have extra property for libraries would be nic

[2019-02-01 16:27] kdmatrosov opened #714 "On default marker title is not visible"
I set default marker with title, but title is not visible
[code]
[code]
`"google-map-react": "^1.1.2"`

![img](http://joxi.ru/eAOn5d4UxMopx2.png)

[2019-02-04 12:48] #713 closed

[2019-02-04 12:48] SSinkus commented on #713
you can pass it via bootstrapURLKeys.

[2019-02-05 10:17] shethmanan commented on #411
Hey just wanted to ask, so is there a method to clear all the markes from map?

Situation: I load some markers. On some event i want to remove all these markers and load new ones.
How do i do this?

[2019-02-06 13:26] saikatharryc opened #715 "places autocomplete on touch does not work [from mobile]"
.pac-container populates with pac-items as input changes
when item is tapped on mobile or simulator (any iPhone device), pac-container is dismissed but places_changed event does not fire.

[2019-02-06 20:49] itsmichaeldiego commented on #411
@shethmanan As my colleague @istarkov was stating upstairs, you just need to clear the array that has the markers.

[2019-02-07 11:07] shethmanan commented on #411
@istarkov I am rendering markers from state. Adding and removing data from the state to change markers, and it works perfectly. It's the same right?

[2019-02-07 22:54] itsmichaeldiego commented on #411
@shethmanan My friend @istarkov is not active anymore, please refer to me 😄

Yeah, you for example have an aux array of the markers you want to show, when you want to clear them, you call your redux or whatever you're using, and clear the aux array, that will remove the markers on the map. Exactly like if you would want to remove any react component from your DOM.

[2019-02-12 09:47] saadbinsaeed opened #717 "Incorrect marker position on full screen mode version 1.1.2"
Hi I am having an issue with the marker's **latitude** and **longitude** on full screen mode. Currently using version `1.1.2` while not in full screen mode marker do move correctly, but while in full screen mode it does not move correctly. Please take a look at code
[code]

[2019-02-13 00:41] itsmichaeldiego commented on #673
@DonovanDeSmedt How are we looking on this man? Would love to see it happening

[2019-02-13 22:59] tbaustin opened #718 "onChange function returning lng greater than 180"
Not sure why, but I am getting longitudes that are greater than 180 on my onchange function which should not be possible.

These are the bounds being passed. The onchange function is being called when the center state is being changed and this is when that happens.
<img width="433" alt="screen shot 2019-02-13 at 4 57 39 pm" src="https://user-images.githubusercontent.com/14001400/52749999-885c2300-

[2019-02-13 23:56] itsmichaeldiego commented on #718
@tbaustin I work with a project that has the same approach and we don't face that problem, which makes me thing it might be on your data?

Your last longitude seems to work for me in [latlong.net](https://www.latlong.net/Show-Latitude-Longitude.html):

![screen shot 2019-02-13 at 8 55 57 pm](https://user-images.githubusercontent.com/6419886/52752510-ddf4f780-2fd1-11e9-9bdc-e96f60d106da.png)

[2019-02-13 23:57] #718 closed

[2019-02-14 00:12] tbaustin commented on #718
Yes but if I pass a center into the center prop of the map the on change should reflect that

[2019-02-14 08:40] DonovanDeSmedt commented on #673
@itsmichaeldiego Lost it out of sight, I'll take a look at it the coming days

[2019-02-14 08:51] dersar00 opened #719 "Remove InfoWindow 'X' close button"
Hi!
I'm using InfoWindow without marker, I render that when map was loaded, any ideas how I can remove the 'x' close button from it?

[2019-02-14 14:03] tbaustin commented on #718
<img width="731" alt="screen shot 2019-02-14 at 8 01 54 am" src="https://user-images.githubusercontent.com/14001400/52791595-edeef480-302e-11e9-92fb-84b8b4bc591b.png">

The center state is what is causing the onchange to call. As you can see something is going wrong.

[2019-02-14 14:49] itsmichaeldiego commented on #719
@dersar00 If you provide me a live example I can help you out!

[2019-02-15 00:59] danieladea commented on #184
Is the radius in meters?

[2019-02-15 03:05] jglesner opened #720 "Specify Google Maps version"
Is there a way to specify the Google Maps version?  There is a way to do this on the Script tag when referencing the library directly, but I do not see how this can be done using google-map-react.  The recent 3.35 update changed the InfoWindow DOM and I would prefer to go back to the previous version 3.34. Such a feature would achieve the same objective as defined here:

https://developers.google.

[2019-02-15 07:32] clarkjo12 commented on #704
i cant find this anywhere, why'd it get closed?

[2019-02-18 10:39] FlorianBouron commented on #336
Hi,
Same issue here :) Do you mind if I make a pull request to fix it?

[2019-02-18 13:19] lusineterpetrosyan commented on #717
I think I have the same issue.
I think it has to do with wrappers not resizing.

[2019-02-18 18:35] itsmichaeldiego commented on #720
@jglesner Yes, you can do it through

[code]

[2019-02-18 18:36] #720 closed

[2019-02-18 18:41] itsmichaeldiego commented on #336
@FlorianBouron PRS are super welcome!

[2019-02-18 18:45] itsmichaeldiego commented on #717
@saadbinsaeed @lusineterpetrosyan What you can do is re-draw when window resizes, take a look at [this example](https://github.com/google-map-react/google-map-react-examples/blob/master/src/examples/Main.js#L28) in [google-map-react-examples](https://github.com/google-map-react/google-map-react-examples/)

[2019-02-19 02:03] JoshuaDoshua commented on #677
Anybody find a resolution for this?

[2019-02-19 02:25] A-Tokyo commented on #677
@Umbrellagun Yes exactly, I think the time delay that it added made it stop throwing the error.

[2019-02-19 11:01] JanKolenko commented on #717
@saadbinsaeed @lusineterpetrosyan @itsmichaeldiego On full screen mode it does not calculate full screen window x and y coords correctly (see x and y coords on top left click in full screen) instead it still calculates relative coords to you map container, you can solve this problem by adding css to your google map container like this

[code]

[2019-02-19 15:39] dersar00 opened #723 "Render multiple elements on map"
Hello, I'm trying to render multiple elements like in your example, with one element everything is work good, but when I try to do it using js map method. With data that I got from props everything ok, I'm see it in my console, example of log below

    Latitude - 48.75689485857136
    Longitude - 23.001915875244208
    SceneName - Zhdenijevo

my SceneMapComponent file:

    import React from 'rea

[2019-02-19 16:18] dersar00 commented on #723
Here is the jsbin [link](https://jsbin.com/bovewateva/edit?js,output) where you can check it, in the map we should see 3 points, but now we have only the hardcoded.

[2019-02-20 10:01] og24715 commented on #723
@dersar00
It seems that because you have not been returning anything by the callback of the .map method.
You should correct your code to return AnyReactComponent inside the callback of the .map method as follows.
I hope it helps you :D

[code]

[2019-02-20 10:16] dersar00 commented on #723
@og24715 thank you!

[2019-02-20 10:17] #723 closed

[2019-02-20 22:46] #719 closed

[2019-02-20 22:49] xr opened #724 "how to keep good performance while rendering hundreds of markers?"
Hi, thanks for the amazing library. I have a problem hope could get some hints, I have tried to search  in issues quite a bit, but i still didn't find a suitable solution.

I have some data (got from websocket) which will keep updating all the time. Those data are used to render hundreds of markers and move the markers' geo location as well.

what i'm done is like the following:

[code]

however,

[2019-02-22 08:32] Caruso33 commented on #717
@JanKolenko
Could you tell how to add these styles to the container?
If I use your code for the <div> which wraps the GoogleMap component, it doesn't work nor does adding styles directly to the GoogleMap component.

[2019-02-22 08:54] #724 closed

[2019-02-26 07:12] saadbinsaeed commented on #717
@JanKolenko yes you are right actually the i am using a react component instead of that `div` but before reporting the issue i tried to make code simpler and mistakenly added that `div`

[2019-02-26 07:25] saadbinsaeed commented on #717
@Caruso33 @JanKolenko @lusineterpetrosyan I made a new project to isolate the component and to make sure that its not getting affected by any other dependency or code and **it works**. So its not a library issue. I should have tested it before reporting the issue.

[2019-02-26 07:25] #717 closed

[2019-02-27 16:00] phinz commented on #706
@Rombusevil We have the same Problem. Our maps produce two hinstory entries on safari, when the map is opened the second time. Can you tell me what other frameworks/libs has the same problem?

[2019-03-01 09:17] rajdeepratan commented on #585
My mapTypeControlOptions button disappears after the page gets loaded.

`const getMapOptions = function (maps) {
    return {
        streetViewControl: true,
        scaleControl: true,
      fullscreenControl: false,
        styles: [{ stylers: [{ 'saturation': -100 }, { 'gamma': 0.8 }, { 'lightness': 4 }, { 'visibility': 'on' }] }],
        mapTypeControl: true,
        mapTypeId: maps.MapTypeI

[2019-03-01 16:56] saikatharryc opened #725 "on click zoom-in & zoom-out & fullscreen it fires event in onClick happens in phone"
Hi, when click on **+** & **-** that is Zoom in & Zoom-out in phone browsers and phone applications.
it fires event on onClick. this happens in desktop browsers (chrome) Toggle to some phone view.

My code looks like this:
[code]

in my case its triggering `onChangeBoarding()` with some lat lng which is not inside the map view when clicking on zoom out.
when click on zoom in the lat lng is in the

[2019-03-03 09:00] grdpr commented on #719
@dersar00  I'm trying to render a default InfoWindow but without success. Could you share how are you doing it? Thanks!

[2019-03-03 14:05] grdpr commented on #541
Hi @Pau1fitz , I'm trying to render a marker's infoWindow following your code above. It seems you have made it working and I'm struggling for hours. Please could you share the full code? Many thanks in advance

[2019-03-03 14:22] Pau1fitz commented on #541
I don't have the code anymore I am afraid. It should all be above anyway. If you can recreate what you have in a code sandbox I can help you.

[2019-03-03 14:48] grdpr commented on #541
@Pau1fitz Great thanks! Here is a sandbox based on your code:
[https://codesandbox.io/s/7z62vly9v6?fontsize=14]()

[2019-03-03 15:25] Pau1fitz commented on #541
I could have copied and pasted my code in there myself.

What have you tried? Have you created a `key` to use google maps for this at least?

[2019-03-06 15:27] danyflorez commented on #706
I have the same issue,  when the map is opened the second time, when I delete the component google-map-react the problem disappear, have you found any solution? @phinz @itsmichaeldiego

[2019-03-06 15:42] Rombusevil commented on #706
@phinz @danyflorez  I haven't found any solution yet. Here: https://github.com/xkjyeah/vue-google-maps/issues/485 a vue lib has the same problem, and here some guys using jquery https://forum.jquery.com/topic/page-transition-problem-with-safari-and-google-maps-api-3-31.

I've put this bug on hold in my app for the moment, but would be great if there's a solution to this.

[2019-03-06 15:55] itsmichaeldiego commented on #642
Is it working for you all now?
@chenmonade @BrentLayne @IngenieroLata @clayne11

[2019-03-06 15:56] itsmichaeldiego commented on #725
@saikatharryc could you provide a live example of the bug? Thanks

[2019-03-06 15:56] #725 closed

[2019-03-07 01:16] BamItsPixel opened #727 "Options do not register"
Hello, I've done several searches and tried several things but to no avail.

I'd like to pass some options to my map and AFAIK the code below should work but the function `createOptions` is never called. Does anyone know how to pass options to the map please?

[code]

[2019-03-07 04:56] saikatharryc commented on #725
@itsmichaeldiego  can you provide email or something ?
 i can just share privately those credentials and the live link of that.

[2019-03-07 13:55] itsmichaeldiego commented on #725
@saikatharryc Sorry man, a live example would be a code sandbox or something where I can take a look directly and see what's up, thanks.

[2019-03-07 13:57] itsmichaeldiego commented on #727
@BamItsPixel Yeah AFAIK you cannot create the options on the map based on the `maps` component, because you don't have access to `maps` until the api is loaded, check this: https://github.com/google-map-react/google-map-react#use-google-maps-api

[2019-03-07 13:57] #727 closed

[2019-03-11 11:05] aakhan89 opened #729 "How to put custom element on google map"
Hi,

Wants to put custom element like table or div on google map, can anyone guide, kindly see example below..

![image](https://user-images.githubusercontent.com/38126236/54119563-7470d900-4417-11e9-81d6-ab7376b4860e.png)

[2019-03-11 14:17] aakhan89 opened #730 "Component Position control"
Want this
![image](https://user-images.githubusercontent.com/38126236/54130281-ea823980-4431-11e9-9966-ee7b66aa5aae.png)

Current is
![image](https://user-images.githubusercontent.com/38126236/54130359-0dace900-4432-11e9-91cb-61fdd2d75350.png)
![image](https://user-images.githubusercontent.com/38126236/54130515-55337500-4432-11e9-9beb-3134ec377fe2.png)

`<GoogleMapReact
                  bootstrap

[2019-03-12 18:40] IngenieroLata commented on #642
@itsmichaeldiego Actually, I end up using refs and to get access the Google API along with the context API. Haven't tried direct access.

[2019-03-12 19:50] itsmichaeldiego commented on #642
@IngenieroLata Oh, ok, btw you don't need to use refs, you can access google api with [onGoogleAPILoaded](https://github.com/google-map-react/google-map-react/blob/master/API.md#ongoogleapiloaded-func)

[2019-03-13 04:12] saikatharryc commented on #630
@itsmichaeldiego
is this issue solved? cause using 1.1.2 and still in this you can see marker is moving, when zooming out.
https://jsbin.com/tucukum/edit?html,css,js,console,output

[2019-03-13 04:36] saikatharryc commented on #630
https://jsbin.com/tucukum/edit?html,css,js,console,output
@itsmichaeldiego  is there any issue with my code?
cause specifically when i try to zoom out, the marker position becomes wrong at that time i guess.
it will be awesome, if anyone could help me out with this.

[2019-03-13 15:23] itsmichaeldiego commented on #630
@saikatharryc Yup, take a look at this https://github.com/google-map-react/google-map-react/blob/master/API.md#positioning-a-marker and let me know if it works

[2019-03-13 17:38] yaroslav-perec opened #731 "Trigger the click event of a marker programmatically"
I want to start dragging my marker immediately when I add it to my map, the marker becomes draggable when you click on it.
How do I programmatically trigger a click event? Or can I achieve this behavior in a different way?

[2019-03-13 21:26] tomwagner opened #732 "Wrong recomputed onChange center position"
When the `GoogleMapReact` component receives updated center prop, it triggers new onChange event, but there is returned wrong coordinates. You can see it in console logs in this example: https://codesandbox.io/s/71yoyz62q6. This broken state remains for the rest of component lifecycle.

[2019-03-14 11:23] saikatharryc commented on #630
@itsmichaeldiego  doesnot seem to resolve the issue.
have a look here once  may be: https://jsbin.com/tucukum/edit?html,css,js,console,output

[2019-03-14 11:30] aakhan89 commented on #732
same question is mine but in addition I want to set position of **`AnyReactComponent`** on Google Map

the position of **`AnyReactComponent`** should be left top, i tried below but not working:

`position:'absoulte',
            top: '0',
            left: '0',`

[2019-03-14 12:17] jarodhanko commented on #630
@saikatharryc You need to make sure that the car is centered over the position on the map.  Looking at your sample, it looks like the marker is several pixels to the right of the actual position.

Try the following for marker:
[code]

Notice it is absolutely positioned, and the icon width and height is (almost) exactly the size of the car

[2019-03-14 12:31] saikatharryc commented on #630
@jarodhanko  thanks, this is working perfectly, now i get whats the actual issue, from your explanation.

[2019-03-15 04:50] itsmichaeldiego commented on #732
@aakhan89 check https://github.com/google-map-react/google-map-react/blob/master/API.md#positioning-a-marker

[2019-03-15 04:50] #731 closed

[2019-03-15 04:50] itsmichaeldiego commented on #731
@yaroslav-perec Thanks for using our library, in this case I cannot help you as this is not related to the library itself, I would ask this in StackOverflow.

[2019-03-17 06:54] aakhan89 commented on #732
@itsmichaeldiego  Thanks for your reply..

But this isn't working fine for me, because I wanted to fix **`AnyReactComponent `** position fixed always as left top, and via this solution I am unable to fix the position, I have to adjust position for multiple screen size..

Can you please provide the desired solution it will be highly appreciated

[2019-03-17 15:14] maxchernin commented on #708
@itsmichaeldiego does the library code load the google maps api as
http://maps.google.cn (HTTP)
instead of
https://maps.googleapis.com (HTTPS)
?

[2019-03-18 05:21] JLee21 commented on #585
@vertic4l

I'm having some trouble with one of the values from `maps`

[code]

Strange though, the [Google Maps API](https://developers.google.com/maps/documentation/javascript/controls) seems to spell it out correctly:
`maps.MapTypeControlStyle.HORIZONTAL_BAR`

Which leads me to believe, is my `maps` object missing something for some reason?

[2019-03-18 09:55] vertic4l commented on #585
@JLee21 Try setting a breakpoint in DevTools or debug it the oldschool way with `console.log()`.

`maps`should look like this:
![Bildschirmfoto 2019-03-18 um 10 54 45](https://user-images.githubusercontent.com/1771763/54521929-4dad2800-496c-11e9-94ea-b467bab8f2d6.png)

[2019-03-18 14:54] JLee21 commented on #585
Ah thanks for that screenshot @vertic4l

I was looking at the `map` object and not the `maps` object 🤦‍♂️

[code]

[2019-03-18 16:26] itsmichaeldiego commented on #732
@aakhan89 With the solution I provided, you can fix the problem you described. You need to transform the axis of the object.

Please provide a live example and I can help you out

[2019-03-18 17:15] itsmichaeldiego commented on #708
@maxchernin Its using HTTPS, you can check that logic [here](https://github.com/google-map-react/google-map-react/blob/master/src/loaders/google_map_loader.js#L3)

[2019-03-18 17:21] #707 closed

[2019-03-18 17:23] itsmichaeldiego commented on #730
@aakhan89 The problem is that you're passing the MapControls component as a children of GoogleMapReact, the only children that are accepted are markers with a lng and lat properties. You need to place the MapControls outside the GoogleMapReact component, but inside its wrapper, and then align normally to where you want.

[2019-03-18 17:24] #729 closed

[2019-03-18 17:24] itsmichaeldiego commented on #729
I think you achieved this in #730

[2019-03-18 17:28] itsmichaeldiego commented on #714
@kdmatrosov Thanks for the report, this is a really low priority bug because this library is not really built for using it with google's google markers, but custom components, PRs are super welcome though! In case you want to collaborate!

[2019-03-18 17:31] itsmichaeldiego commented on #710
@jurgenzz Thanks! PRS are welcome!

[2019-03-18 19:14] tomwagner commented on #732
Could you please reopen this issue? It's not resolved. Please check the codesandbox example (https://codesandbox.io/s/71yoyz62q6). The whole thread is about returned onChange event with wrong recomputed coordinates and not about position of marker..

[2019-03-18 19:46] sayaf007 commented on #492
thank you so much palashkaria

[2019-03-19 06:05] aakhan89 commented on #730
@itsmichaeldiego

Thanks for you reply and I got the point..

Also I have placed **`MapControls Component`** outside the **`GoogleMapReact component,`** but inside its wrapper, and **`MapControls Component`** showing out from Google Map I want to put it **MapControls** above goolemap and position want to fix as leftTop

[2019-03-19 06:09] aakhan89 commented on #732
Okay I will provide the live example..

also I request to you please reopen this issue as @tomwagner's didn't solved..

@tomwagner  I am really sorry for interrupt in this

[2019-03-19 07:58] aakhan89 commented on #732
here is Live example

https://codesandbox.io/s/v0xzo4ny5l

[2019-03-19 07:58] aakhan89 commented on #730
@itsmichaeldiego

here is Live example

https://codesandbox.io/s/v0xzo4ny5l

[2019-03-20 18:44] itsmichaeldiego commented on #492
@palashkaria Thanks! It seems that many people is interested in this so we should pay attention to this. PRS are welcome therefore I would love to help any of you to make a PR, let me know.

[2019-03-20 18:46] itsmichaeldiego commented on #732
@aakhan89 Your example is not working, please open a new issue as this is not related.

Sorry @tomwagner, will take a look soon

[2019-03-22 01:30] grzeczko commented on #675
Use `static` when removing Polylines, like so:

` export default class Polyline extends Component {
  static line = [];

  renderPolylines () {
    const { id, markers, map, maps } = this.props

    if (Polyline.line[id]) {Polyline.line[id].setMap(null);}
    let line = new maps.Polyline({
      path: markers,
      geodesic: true,
      strokeColor: '#00a1e1',
      strokeOpacity: 1.0,
      stro

[2019-03-22 03:24] Luckass77 commented on #355
I am having a similar problem with my web site's contact page. (http://sandermechanical.com/contact)  The WordPress theme (Envision) has a built in Google Maps widget, and all of a sudden it stopped working.  I've paid for the author's support program, but my service ticket requests have gone ignored since December 2018.  Any assistance or guidance that can be offered would be most appreciated.

[2019-03-24 07:07] aakhan89 commented on #732
@itsmichaeldiego

Kindly see this https://github.com/tomchentw/react-google-maps/issues/975

[2019-03-25 16:37] itsmichaeldiego commented on #732
@aakhan89 That's another library bro

[2019-03-25 16:41] itsmichaeldiego commented on #355
@Luckass77 What this wordpress theme has to do with this library? Please open another issue, this is closed and solved.

[2019-03-26 10:38] eldyvoon opened #733 "get current zoom level using zoom_changed callback?"
How do I get current zoom level with zoom_changed callback function?

[code]

Didn't find anything in ```maps```

[2019-03-26 14:11] grazinskis commented on #733
Why not use the [onChange](https://github.com/google-map-react/google-map-react/blob/master/API.md#onboundschange-func-deprecated-use-onchange) callback?

[2019-03-27 23:50] AndersM79 opened #734 "language"
Dear users,
before you will write anything, please use search,
then please search again.

Most of problems you have is just an one line solution -
there is no need to change this library,
just add anything you want in your code.

Please look at examples, docs, apis - all of this were created for you not for me ;-).

[2019-03-27 23:50] #734 closed

[2019-03-29 14:23] sators commented on #480
I am in the same boat as @mollynordh - looking for the markers and polylines placed on the map to be seen on maps.google.com when the user clicks on the "Google" logo.

Even if I use the Google Maps API for placing native Google markers on the map, clicking the logo still does not display markers on maps.google.com.

However, looking at Google's own sample Map API code, their [simple Markers demo]

[2019-03-29 18:14] itsmichaeldiego commented on #480
@sators Great research, that means this issue is with Google Maps API itself and not with the library.
I think it makes sense, as Google logo doesn't hold the info in the params linking to google.maps.com, and probably the Markers are shown when your MAP_KEY is associated to those markers too.

[2019-03-29 18:14] #480 closed

[2019-03-30 14:13] #733 closed

[2019-04-02 11:22] incepter commented on #271
Working just by adding
[code]
to the `defaultOptions` of the `GoogleMap` component.

[2019-04-03 00:46] blueandhack opened #736 "1.1.3 with react-places-autocomplete - "You have included the Google Maps JavaScript API multiple times on this page.""
Today, I upgrade this package to `1.1.3`, I used `react-places-autocomplete` same time.

Then I got the error at Chrome's console, `You have included the Google Maps JavaScript API multiple times on this page. This may cause unexpected errors.`

But version `1.1.2` does not have the problem, so downgrade to `1.1.2`.

NO other google packages, I just know the problem from `Load the library in your

[2019-04-03 08:00] janhartmann opened #737 "ReferenceError: regeneratorRuntime is not defined"
I've been using this library for a few months without any issues, but today, in a process of updating my projects dependencies and after the upgrade, I ended up with this issue:

[code]

My project is using TypeScript, and have been compiling this project without problems for months.

The compiled file it complains about is this:

[code]

If you have any idea, or I can be at any assistance, please

[2019-04-03 12:42] itsmichaeldiego commented on #737
@janhartmann Downgrade to 1.1.2 for now

[2019-04-03 12:46] itsmichaeldiego commented on #736
@blueandhack The problem is with this library and not autocomplete, please rollback to 1.1.2 we're working on a fix

[2019-04-03 13:03] janhartmann commented on #737
That worked, pinned it to 1.1.2 for now.

[2019-04-03 13:15] jonathangiamp commented on #737
Same here, I downgraded to 1.1.2. Do you have any clue?

[2019-04-03 13:28] itsmichaeldiego commented on #737
@janhartmann @jonathangiamp I just published 1.1.4, let me know if that works, thanks!

[2019-04-03 13:29] itsmichaeldiego commented on #736
@blueandhack Just released 1.1.4, let me know if that works!

[2019-04-03 22:36] MemoryWrong commented on #736
@blueandhack @itsmichaeldiego  Yesterday, encountered the same issue, just rolled back to 1.1.2 everything is working now.

`		<div className="locationTopSearchBarBlock">
				{/* react places autocomplete plugin */}
					<LocationTopSearchBarBlock />
				</div>
			</div>
			<div className="locationSearchResult pr-0 col-12 col-lg-6 col-xl-5">
				<LocationSearchResult
					carParks={carParks}

[2019-04-03 22:39] MemoryWrong commented on #736
`<script src="https://maps.googleapis.com/maps/api/js?`

[2019-04-04 03:51] itsmichaeldiego commented on #736
@MemoryWrong what about 1.1.4?

[2019-04-04 06:28] janhartmann commented on #737
Worked on 1.1.4 again, thanks!

[2019-04-04 06:28] #737 closed

[2019-04-04 08:36] blueandhack commented on #736
Yes, it (`1.1.4`) works on my project now! Thank you!

[2019-04-04 13:16] matheus-rosin opened #740 "Passing props down on 1.1.4 version"
Yesterday, I upgraded to 1.1.4 because I was getting an error, namely, `window is not defined`. Since then, that was fixed, but now a lot of props is being passed down to children components (at least I suppose). These errors do not break the application, but my console is pretty red.

I will list them here just in case you are interested in fix this:

* Received `false` for a non-boolean attribut

[2019-04-04 21:24] itsmichaeldiego commented on #736
@blueandhack Thanks for confirming, I will close the issue, let me know if you have any problem in the future, thanks.

[2019-04-04 21:24] itsmichaeldiego commented on #737
Thanks for confirming, glad it worked!

[2019-04-04 21:26] itsmichaeldiego commented on #740
@matheus-rosin Thanks for reporting this, the only change I did not revert of 1.1.3 is https://github.com/google-map-react/google-map-react/pull/728, @barakplasma could you take a look at this? Otherwise I might need to revert that too.

[2019-04-05 18:28] bkitaec commented on #27
Maybe if someone still looking simple decision:
`import MarkerClusterer from '@google/markerclusterer';`

[2019-04-06 14:58] barakplasma commented on #740
I'll take a look in about 12 hours

[2019-04-07 01:37] ShirinStar commented on #458
hey! i keep receiving current location- undefined ... i tried a few version - also this solution, and similar ones that were published along the way here.. any idea maybe what the source for the undefined? 😣many thanks!

[2019-04-07 01:37] ShirinStar commented on #191
hey! i keep receiving current location- undefined ... i tried a few version - also this solution, and similar ones that were published along the way here.. any idea maybe what the source for the undefined? 😣many thanks!

[2019-04-07 08:02] barakplasma commented on #740
I took a look at the latest version of google-map-react using https://github.com/barakplasma/google-map-react-examples on version 1.1.4 to see if I could recreate the console errors @matheus-rosin encountered, but was unable to recreate them.

[2019-04-08 13:14] mlonn opened #741 "Fullscreen mouse coordinates"
When entering fullscreen mode the hover prop is not triggered when hovering since the coordinates for the mouse are reported wrongly, the coordinates below are what is reported to the distance to mouse prop.
When not in fullscreen mode and hovering the mouse close to the marker.
 The map is 322x500 and the marker is centered.
`mousePos: {
  "x": 158.578125,
  "y": 248.84375,
  "lat": 59.3357922633

[2019-04-08 15:35] itsmichaeldiego commented on #458
@ShirinStar Impossible without seeing your code, you must know it can be anything, that's why you should provide a live example reproducing your issue.

[2019-04-08 15:36] itsmichaeldiego commented on #740
Thanks @barakplasma

@matheus-rosin Could you double-check cleaning cache? And if not provide a live example? As we cannot repro we cannot help, thanks.

Will re-open when live example available

[2019-04-08 15:36] #740 closed

[2019-04-08 18:05] matheus-rosin commented on #740
So here is the deal: I used the rest operator for getting all props (e.g. `{abc, def, ...props}`) and spread them on the markers, and in the midst of them were those `$hover` etc. It was all my fault!

Sorry for wasting your time :sweat_smile:

[2019-04-08 19:36] itsmichaeldiego commented on #740
@mattydoincode No problem, that makes sense.

[2019-04-10 11:02] GBT3101 commented on #352
Let's make an open-source and treat consumers like pieces of shit.

[2019-04-10 18:29] a-sergeichik opened #743 "Doesn't work in IE 11"
There is a problem in IE11 when rendering markers on the map. I'm getting 'Cannot define property '$jscomp_hidden_0.7236542694685333': object is not extensible'.
Steps to reproduce:

- Clone [new examples](https://github.com/google-map-react/google-map-react-examples)
- yarn
- yarn start
- Open http://localhost:3000/default in IE11

![ie11error](https://user-images.githubusercontent.com/3018293/55

[2019-04-11 12:59] MihkelPuusepp commented on #743
Same issue.
google-map-react 1.1.4
react 16.8.1
Crashes on map load.

google-map-react 1.0.3
react 16.8.1
Production build works. Development throws this error.

[2019-04-17 12:29] byeokim commented on #704
I had the same question. I think adding info window component in the marker component, and conditionally rendering info window component using onChildClick event handler might be a solution. Hope that following code helps.

[code]

[2019-04-18 07:48] JulienCorb opened #744 "Cannot update during an existing state transition"
I have [a question on SO about the problem](https://stackoverflow.com/questions/55730401/cannot-update-during-an-existing-state-transition-inside-google-map-react) but not sure if I will ever get a response so I thought posting it here would be a good idea :

When the client chooses a filter of type "only display restaurants that are X min by foot away from me", the code is supposed to update the

[2019-04-18 13:29] JulienCorb commented on #744
OK got it. took advantage of `componentDidUpdate()` to solve the issue and update the redux store.

[code]

[2019-04-18 13:29] #744 closed

[2019-04-23 22:34] itsmichaeldiego commented on #704
@byeokim Could you add this to [google-map-react-examples](https://github.com/google-map-react/google-map-react-examples)?

[2019-04-26 18:59] metaheap opened #745 "DirectionsService and DirectionsRenderer"
I am unable to get directions to display on map. However polylines are working. Here is the code that I have...

[code]

and my component inside the render function...
[code]

how should I be using this API?
https://developers.google.com/maps/documentation/javascript/directions#DisplayingResults

[2019-04-26 22:21] itsmichaeldiego commented on #745
@metaheap You don't need to do `new google.maps`, you have access to `maps` object so you can do `maps.blabla`.

Check here: https://github.com/google-map-react/google-map-react#use-google-maps-api

[2019-04-26 22:21] #745 closed

[2019-04-28 07:21] byeokim commented on #704
Sure. Happy to contribute.

[2019-04-29 15:13] shubh911 commented on #657
+1

[2019-04-30 10:34] fuegod03 opened #746 "How to implement Heat map option?"
Me and a few more developers cannot find a way to add the heat feature to <SimpleMap /> Component. Can you guys help me?

I've tried to add `updateHeatmap={true}  heatmapLibrary={true}`to `<GoogleMapReact />`

here is my code
`import React, { Component } from 'react';
import GoogleMapReact from 'google-map-react';

const AnyReactComponent = ({ text }) => <div ><img style={{height:"40px"}}  src="ht

[2019-04-30 13:32] fuegod03 opened #747 "How to change default location and use it with props?"
I can't seem to find a solution to my problem. I've tried to add `this.props` to `
static defaultProps = {
    center: {
      lat: this.props.latitude,  **from Parent component**
      lng: this.props.long    **from Parent component**
    },
    zoom: 11
  };`

And I recieve "can not find latitude of undefine"
Also, it seems like I cant find this.props inside "defaultProps"

[2019-04-30 23:20] #747 closed

[2019-04-30 23:20] #746 closed

[2019-04-30 23:23] itsmichaeldiego commented on #746
@fuegod03 Just need to check the examples my friend: [google-map-react-examples/heatmap](https://github.com/google-map-react/google-map-react-examples/blob/master/src/examples/Heatmap.js)

[2019-04-30 23:23] itsmichaeldiego commented on #747
@fuegod03 Just need to check the examples my friend: [google-map-react-examples/main](https://github.com/google-map-react/google-map-react-examples/blob/master/src/examples/Main.js)

[2019-05-05 02:35] qiliangya opened #748 "About onGoogleApiLoaded"
Hi, When I Use ```onGoogleApiLoaded``` , the ``` zoom ``` is not work. always show 22

code is here
[code]

Maybe ``` onGoogleApiLoaded ``` need return a value?

Please help me :)

[2019-05-06 19:19] malorie16 opened #749 "Broken examples possibly due to API key"
Your examples are breaking due to an API key not being passed somewhere: https://developers.google.com/maps/documentation/javascript/error-messages#no-api-keys

All of your examples (the ones that still exist) show this message and a console warning saying the above.

<img width="1488" alt="Screen Shot 2019-05-06 at 12 13 13 PM" src="https://user-images.githubusercontent.com/37854050/57249128-000e

[2019-05-06 20:12] itsmichaeldiego commented on #749
@malorie16 Yes thanks, this is known and there're issues created to tackle this.

[2019-05-06 20:12] #749 closed

[2019-05-06 20:13] itsmichaeldiego commented on #748
@qiliangya If you use `map.fitBounds` it will change the zoom. Check https://developers.google.com/maps/documentation/javascript/reference/map#Map.fitBounds

[2019-05-06 20:13] #748 closed

[2019-05-07 18:45] iki202 commented on #687
Way to go Pocket-titan. Thank you!

[2019-05-10 18:10] nelsonlho opened #750 "Polygon vertexes and right click"
I looked at the Google Map API and it says I should get the vertex upon clicking a vertex of an editable Polygon

I haven't been able to get any success with React Google Map with right clicks. No events would be fired. However, mouse down events work on polygon vertices

Is there any way to fire a right click event when the user clicks on an editable polygon's vertex?

[2019-05-10 18:15] Wiland opened #751 "Default known places info missing in map"
Hi,

I'm trying to add a map in one project, but my client is asking me to show all the information about known places as it's shown in Google Maps (Shopping malls, Gas stations, etc). I haven't been able to do it with this library.

I expect to see the map like this:
![image](https://user-images.githubusercontent.com/5203894/57544247-6eff1480-731c-11e9-8c95-6cf6c284a328.png)

But instead, I'm get

[2019-05-10 21:36] itsmichaeldiego commented on #751
@Wiland This is an option of google maps itself, you can pass it down on the `options` prop

[2019-05-10 21:37] itsmichaeldiego commented on #750
@nelsonlho Yes but you might need to submit a PR that catches that event from the library end

[2019-05-13 08:45] poptocrack commented on #733
Did you managed to do this?

[2019-05-13 09:32] eldyvoon commented on #733
@poptocrack I use the onChange method.

[2019-05-13 10:33] Tuoki commented on #751
Actually I am also struggling with same problem. Can you provide example what kind options I need to pass that I will get places to appear?

[2019-05-13 11:26] Tuoki commented on #751
@Wiland I found out what options @itsmichaeldiego mean here is options which provide default view of Google Map:  `const options: MapOptions = {
    streetViewControl: true,
    disableDefaultUI: false,
    mapTypeControl: true,
    styles: [
        {
            featureType: 'poi',
            elementType: 'labels',
            stylers: [{ visibility: 'on' }],
        },
    ],
} `

[2019-05-13 13:21] Wiland commented on #751
@itsmichaeldiego @Tuoki Thanks for your help guys!! That works perfectly well.

[2019-05-13 13:21] #751 closed

[2019-05-14 16:25] itsmichaeldiego commented on #751
@Wiland @Tuoki No problem fellas!!! Happy to help

[2019-05-14 23:16] Hilaryous opened #752 "prop-types as a dependency, not peerDependency"
Follow the pattern encouraged by the React team.
facebook/prop-types#44
<img width="593" alt="Screen Shot 2019-05-14 at 5 14 12 PM" src="https://user-images.githubusercontent.com/5042071/57738252-f37acb80-766b-11e9-9916-60dc526842c9.png">

[2019-05-15 21:28] itsmichaeldiego commented on #752
@Hilaryous Thanks, PRS are welcome

[2019-05-15 23:20] edgarjrg opened #753 "fitBounds is not in typings"
First thank you all for this great library

the issue: fitBounds is not in typescript typings
if i `import { fitBounds } from 'google-map-react/utils';`
typescript complains with `Could not find a declaration file for module 'google-map-react/utils'.`
i don't know if maybe i'm importing it wrong.

Thank you for your time.

[2019-05-16 06:43] barakplasma commented on #673
@DonovanDeSmedt would you like me to take over this issue for you? Specifically, to allow usage of bootstrapURLKeys.libraries prop array and the xyzLibrary={true} prop where we load all the libraries set to true from either source?

[2019-05-16 06:49] barakplasma commented on #673
As a recreation of the issue, see https://codesandbox.io/s/google-map-react-simple-map-yzeg2 which initializes a Google-Map-React map with the following props
[code]
and check the network requests. I see the following request
`https://maps.googleapis.com/maps/api/js?callback=_$_google_map_initialize_$_&key=&libraries=places,drawing&libraries=visualization`

[2019-05-16 07:30] vertic4l commented on #753
@edgarjrg `fitBounds` is google maps own method.

First off you need to tell `GoogleMapReact` to use GoogleMapApi:

[code]

then:
[code]

the typings are coming from:

"@types/googlemaps": "3.30.x",

[2019-05-16 07:41] vertic4l commented on #682
@vitalybe you can do this by yourself. All you need is to code it :)

See: https://github.com/google-map-react/google-map-react/issues/753

But instead of using fitBounds you could also use google maps own panTo method.

[2019-05-16 19:30] edgarjrg commented on #753
Thank you @vertic4l ! I'm able to use `this.googleMaps.fitBounds` as well as `google-map-react/utils/fitBound` just fine, what i'm asking is for the typings of `google-map-react/utils/fitBound` that is not related to `this.googleMaps.fitBounds`

The file is https://github.com/google-map-react/google-map-react/blob/master/src/utils/utils.js
and is documented here https://github.com/google-map-react

[2019-05-16 23:41] itsmichaeldiego commented on #753
@edgarjrg I would recommend you to use googleMaps.fitBounds, something like how I did it [here in google-map-react-examples](https://github.com/google-map-react/google-map-react-examples/blob/master/src/examples/Main.js#L40)

[2019-05-16 23:41] #753 closed

[2019-05-17 03:07] andrefox333 commented on #305
Anyone ever figured out how to make this work with mobile or any touch devices?

[2019-05-17 18:05] chaomediashaker opened #755 "Cannot find heatmap in typescript"
version : 1.1.4

Hi, I wish to know is the heatmap added to the typescript version?

Update: I tested in 2 projects, 1 is in js React, 1 is in ts React.
JS React is working great,
but for the ts has the following problem:
1. I have to add a heatmap interface in the index.ts in node modules to use the heatmap props, otherwise it will throw syntax error.

2. After I added that, it will not show anyt

[2019-05-19 14:34] daffodilistic opened #756 "Using SVG components as markers logs warnings to console in React v16.8.6"
Hi,

I'm having warnings when I use an SVG as a React component directly in the JSX:

Codepen: https://codesandbox.io/embed/festiveishizakadezpw-dezpw

Is there any way to silence this warnings?

[2019-05-20 10:42] davshoward opened #757 "Tile rendering issue"
Hi there,

I've got everything outputting correctly, but the tiles don't seem to line-up correctly:

![image](https://user-images.githubusercontent.com/3493426/58015849-2bfb2900-7af4-11e9-8e51-4367f08d0789.png)

This seems to happen regardless of the zoom.

![image](https://user-images.githubusercontent.com/3493426/58015887-46350700-7af4-11e9-995b-125e6c3a77eb.png)

[2019-05-22 16:40] taylorj91 commented on #30
It would be great to have @Aphsai 's example of usage included in the main docs for Search Box.  Not sure if this is the place to request it or not.

[2019-05-26 21:38] dave4jr commented on #688
@kpennell Instead of just closing the question, can you please explain what you did to solve this so other users can benefit from it as well? Would be awesome. Thanks!

[2019-05-26 21:40] dave4jr commented on #660
@callamwilliams  What did you do to solve this issue?

[2019-05-27 00:04] crac7 commented on #675
What was your solution @klferreira ?

[2019-05-27 01:05] kpennell commented on #688
Sorry, switched libraries entirely. Didn't solve it.

On Sun, May 26, 2019 at 2:38 PM Dave Luke Jr <notifications@github.com>
wrote:

[2019-05-27 11:58] smolleyes opened #760 "drag and click events on child component"
hi

Search a lot to deal with this problem but can t find...

I use my own marker (nothing special..)

in my map i use

onChildMouseUp={this.onMarkerDragEnd}
onChildMouseMove={this.onMarkerMove}
onChildMouseDown={this.onMouseDown}

everything works, just when i click a marker it fire the drag event directly ... how can i do to have both working ? (tried stopPropagation and preventDefault...not wor

[2019-05-29 23:01] #743 closed

[2019-05-30 00:31] #682 closed

[2019-05-30 00:31] itsmichaeldiego commented on #682
Thanks @vertic4l, indeed that's the way.

[2019-05-30 14:12] marcoautiero opened #761 "Is it compatible with react native?"
Does it work in react native project?

[2019-05-31 21:35] itsmichaeldiego commented on #761
@marcoautiero No it is not

[2019-05-31 21:35] #761 closed

[2019-05-31 21:46] itsmichaeldiego commented on #760
@smolleyes This is a known problem in general and not with this library itself, I suggest you look in StackOverflow, there're workarounds to this

[2019-05-31 21:46] #760 closed

[2019-06-01 13:09] uuykay commented on #579
Hey guys, experiencing a similar issue here. @itsmichaeldiego I read the code in your earthquaker app as well as clicked your sandbox example, but I'm honestly still confused. In your docs https://www.npmjs.com/package/google-maps-react you:
import {Map, InfoWindow, Marker, GoogleApiWrapper} from 'google-maps-react';
however in your listed solution you import
import GoogleMap from "google-map-reac

[2019-06-01 13:17] uuykay commented on #579
This is the component I am trying to get to work:

![image](https://user-images.githubusercontent.com/32381131/58748908-78fed800-84c2-11e9-81e9-72ff6476b918.png)

I have it structured so that the 2 addresses have a click event in a parent component called InteractiveAddresses:
![image](https://user-images.githubusercontent.com/32381131/58748927-b2cfde80-84c2-11e9-98ba-e078603c69c6.png)

And here i

[2019-06-01 13:24] uuykay commented on #579
Ok this was silly, I didn't pass in the center prop, and only used initialCenter

![image](https://user-images.githubusercontent.com/32381131/58749070-5ec5f980-84c4-11e9-901e-c8c062e12011.png)

Hope this helps someone in the future.

[2019-06-03 12:35] smolleyes opened #762 "view and move custom markers in streetview"
hi

thanks for this lib first :)

i got ~ everything working now but how can i see and move my markers in streetview? they are invisible now :( and drag not working when fullscreen enabled

thanks

[2019-06-04 15:17] Mauro74 opened #763 "Centering the map with multiple markers"
How do I find the center of the map when I have more than 2 markers? When I have only 2 I've done it like this:

[code]

But how do I calculate the center when I have 5 markers?

Thank you

[2019-06-04 15:35] jjavierdguezas commented on #763
I think this is outside this repo, but because I like math I think you should see [Centroid on Wikipedia](https:// /wiki/Centroid)

[2019-06-05 13:41] nicolasazoidis commented on #59
I suppose you've found your way out, in any case here is the code :

import React from "react";
import { compose, withProps } from "recompose";
import {
  withScriptjs,
  withGoogleMap,
  GoogleMap,
  Marker
} from "react-google-maps";
import { GOOGLE_API_KEY } from "../wherever you have it in Constants";

const MyMapComponent = compose(
  withProps({
    googleMapURL: GOOGLE_API_KEY,
    loadingE

[2019-06-06 08:51] itsmichaeldiego commented on #579
@uuykay I am happy you found the solution!

[2019-06-06 08:52] itsmichaeldiego commented on #763
I agree that this is not an issue with the library itself, therefore I am closing it

[2019-06-06 08:52] #763 closed

[2019-06-06 09:05] smolleyes commented on #762
i totally removed custom markers and used google markers with custom icons..  too much additional work with react components :)

thanks

[2019-06-06 09:05] #762 closed

[2019-06-06 09:51] itsmichaeldiego commented on #762
@smolleyes Yeah its hard to make them work in other things like street view, this component was more for simple map displaying and not complex stuff like streetview

[2019-06-07 00:18] ArcadeRenegade commented on #627
For any fellow Googlers such as myself, this SO answer may help you:
https://stackoverflow.com/a/55592760/3185018

[2019-06-07 10:03] #627 closed

[2019-06-07 10:09] itsmichaeldiego commented on #755
@chaomediashaker I think you can just skip using .ts into the map component, right? I know it should work but I wouldn't prioritize it.

If you want further help, please provide a live example and I will ask one of our contributors to help you.

[2019-06-07 10:09] #755 closed

[2019-06-07 10:10] itsmichaeldiego commented on #752
@Hilaryous Would you like to submit a PR?

[2019-06-12 07:50] prafula commented on #362
Hi @siyanew - Did it work, i am facing a similar issue?

[2019-06-12 07:56] siyanew commented on #362
@prafula I don't remember exactly what I did. I guess I used google maps manually and directly import the js without this library. maybe new version of this library support that.

[2019-06-12 08:01] prafula commented on #362
Okay, thanks for the info!

[2019-06-12 15:33] ChaitanyaKrishnaPappala commented on #473
I tried to directly load/add the google MarkerCluster script to my DOM during componentDidMount and it worked for me perfectly.

This is my working code:

import React, {Component} from 'react'
import GoogleMapReact from 'google-map-react'

export default class GoogleMapContainer extends Component {

  componentDidMount () {
    const script = document.createElement('script')
    script.src = 'htt

[2019-06-12 15:37] ChaitanyaKrishnaPappala commented on #473
This example will work independent of any other packages:

[code]

[2019-06-13 09:22] cybercoder commented on #492
@palashkaria Thanks for awesome codes. And how can access to data?

[2019-06-13 11:13] #362 closed

[2019-06-13 11:14] #473 closed

[2019-06-15 06:55] Devon-Peroutky commented on #636
@itsmichaeldiego I'm currently getting the same issue, but I'm on `"google-map-react": "^1.1.4"`. Could this be related to an out-of-date dependency even if I'm on a new version?

[2019-06-17 18:15] itsmichaeldiego commented on #636
@Devon-Peroutky Mm nope, maybe you've specified a version in your map? Otherwise try cleaning your yarn cache, something like `rm -rf node_modules/ && yarn cache clean && yarn`

[2019-06-18 18:46] GregBorrelly opened #764 "Does Google-Map-React support generating static images ?"
Hey guys, great work on the library. I ran into this edge case while working on an app. I need to generate a static gmap image and send it to the backend.  Is there a method built into the library?

[2019-06-19 14:36] itsmichaeldiego commented on #764
@GregBorrelly We don't have a built-in tool for that but you can access google maps api from our library, so if its doable with gmaps, is doable with this library.

[2019-06-19 14:36] #764 closed

[2019-06-21 21:30] MatthewYiHe opened #765 "draw routes"
similar to #149,
I would like to know if I can draw routes between two points according to my geojson layer, not according to the google map.
so if I have two points, I want to draw routes between them using my geojons layer as a map.

[2019-06-22 05:44] #765 closed

[2019-06-24 11:10] Busin731 commented on #18
Hey, Andreyco,
Why don't you use this?

onMapClicked = () => {
    console.log("============clicked=========");
    // console.log(center);
  };

  render() {
    const { center, triangleCoords } =  this.state

    console.log("============center=========");
    console.log(center);

    return (
      <div id="map">
        <Map
          google={this.props.google}
          onReady={this.initMap

[2019-06-26 15:08] tlenex commented on #756
Warning seems to disapear if you do this like that:
https://codesandbox.io/embed/festive-ishizaka-dezpw-1pjom

[2019-06-28 04:13] jie-meng commented on #253
@istarkov can google-map-react show building name/location name on map? I read the document and cannot find related information.

[2019-07-02 04:18] IhsanMujdeci commented on #168
@itsmichaeldiego perfect fix :)

[2019-07-02 13:06] #756 closed

[2019-07-09 13:55] gtupak opened #766 "Link in docs leads to a malware website"
Hey guys, the link of "Simple example" at [this docs page](https://github.com/google-map-react/google-map-react/blob/master/DOC.md) leads to a site saying that my computer is infected. Maybe provide another link? :)

[2019-07-09 21:22] Umbrellagun commented on #677
I was finally able to poke this again and I discovered that even just leaving an empty function in place of the distanceToMouse prop you mentioned @A-Tokyo appears to prevent the error from showing. I don't need this function as far as I know, so it may not be a solution for anyone that is using this, but I just thought it might be helpful to note.

`distanceToMouse={()=>{}}`

[2019-07-09 21:23] Umbrellagun commented on #677
Issue is still present in v1.14

[2019-07-10 14:52] itsmichaeldiego commented on #253
@jie-meng I think the reason why friend istarkov closed the issue, is because:

This library places React Components in the map instead of markers, right? Therefore, if you want to show a building name / location on the map, you can just do it with the component you're using.

[2019-07-10 14:52] itsmichaeldiego commented on #168
@IhsanMujdeci Glad it worked!

[2019-07-10 14:55] itsmichaeldiego commented on #766
@gtupak Thanks for this!! This example was before in webpackbin and It seems that their domain was bought and replaced by a malware website.

I fixed this now to point to the main example in [google-map-react-examples](https://github.com/google-map-react/google-map-react-examples), will adapt the docs later.

[2019-07-10 14:55] #766 closed

[2019-07-12 06:58] MLBD-Turash commented on #239
Is there any working demo for this?

[2019-07-12 18:01] lunvjp commented on #473
![image](https://user-images.githubusercontent.com/23715737/61148753-b155f500-a509-11e9-953c-232f8088cf2c.png)
---
Hey @ChaitanyaKrishnaPappala I've just imported your way to work on the same thing but it doesn't work with me. Still not sure why for now.

[2019-07-12 22:47] kylecombes commented on #309
I'm having the same problem, except that the `draggable` behavior never seems to change. I'm toggling the value of the prop (successfully) with a button outside of the component, but the map stays draggable even when the prop is `false`. Is there any way to get the behavior to update?

[2019-07-15 19:18] jasonvasquez commented on #549
Just FYI in case you hadn't noticed yet - the links to the webpackbin site in DOC.md now point to a scam site.   If the new examples aren't quite ready, it might be a good idea to just strip out the links for now.

[2019-07-16 05:42] pawelotto commented on #497
Did you make it work? I want to hide the key by proxying requests trough a local API. Do you have an idea how to do this?

[2019-07-17 07:40] tonystaark opened #767 "Cannot read property 'latLng' of undefined"
Hello I am trying to map through the markers to create multiple markers but have the following problem[
![cannot](https://user-images.githubusercontent.com/16837659/61355855-c7680a80-a8a7-11e9-8aff-87d7e710dc24.png)
](url)

Below is my code:

     this.state = {
      lat: 1.3521,
      lng: 103.8198,
      zoom: 11,
      addLat: 1.3521,
      addLng: 103.8198,
      data:[
        {
         "la

[2019-07-17 10:36] itsmichaeldiego commented on #497
Why not just adding it to an `.env` file? Like in [google-map-react-examples](https://github.com/google-map-react/google-map-react-examples/blob/master/src/components/GoogleMap.js#L15) ?

[2019-07-17 10:39] itsmichaeldiego commented on #767
@tonystaark It is not a bug but the way you're using React.

Check that, if no markers are present, you're rendering an string "Loading", which is not a React Component, you can only pass React Components as children of GoogleMapReact.

Also this is anti-pattern, if you don't render a component, you render a string? I know javascript is flexible but be respectful haha xD

Hope it helps!

[2019-07-17 10:39] #767 closed

[2019-07-17 10:48] tonystaark commented on #767
@itsmichaeldiego Thanks, yea i was trying to put a conditional there to check if the content in  this.state.data has loaded from api. Didnt realize that rendering a string would break the react flow.

[2019-07-17 11:02] pawelotto commented on #497
@itsmichaeldiego Key is always visible on the client no matter where I store it.

[2019-07-17 13:53] Komalov commented on #583
Facing the same issue using react component

[code]

[2019-07-20 19:47] lukas-alliado commented on #303
As I did not really understand any of the answers and examples completely above I'll share my solution on how to use this with ` 'react-places-autocomplete'`

[code]

This ensures that the Autocomplete works even if the map is not present on the same page, but the map will reuse the same instance loaded here.

If the map was loaded before the autocomplete it will just reuse the existing instance.

[2019-07-21 09:00] maxchernin commented on #708
@itsmichaeldiego then im not sure why its working? isnt https blocked in china, to my understanding only https://maps.google.cn works in china

[2019-07-22 04:25] hai98th commented on #184
yes, meters

[2019-07-22 04:26] hai98th commented on #184
yes, meters

[2019-07-23 11:52] itsmichaeldiego commented on #574
@sj1126 If you set region to cn it will work, check https://github.com/google-map-react/google-map-react/blob/master/src/loaders/google_map_loader.js#L6

[2019-07-23 11:53] itsmichaeldiego commented on #708
@maxchernin Oh sorry I get what you meant before, If you set region to cn it will work:

```bootstrapURLKeys={{ region:"cn", key:"my key" }}```

[check source code](https://github.com/google-map-react/google-map-react/blob/master/src/loaders/google_map_loader.js#L6)

[2019-07-25 09:41] reket commented on #732
@itsmichaeldiego ping

[2019-07-25 09:58] honb opened #770 "Is there a way to change map type?"
Hi,

I want to change map type: roadmap, satellite, hybrid and terrain
Is there a simple config to update map type?

Thanks in advance.

[2019-07-26 11:11] petter-kaspersen opened #771 "Marker repositions when zoomed"
Hey!

I'm having an issue where the markers change position when I zoom out/in on the map.

Using latest version of google-map-react and no additional libs that interefer with the map.

[2019-07-27 03:47] the-yadu opened #772 "SetPadding in google maps using google-map-react"
I am trying to setPadding to google maps using google-map-react, but I don't see any option to set so.

https://developers.google.com/maps/documentation/android-sdk/map#map_padding

The exposed google map and maps object does not have setPadding option.

Just to be clear, I am not trying to set style padding. I am trying to set padding to the map so that any react child can avoid not visible areas

[2019-07-27 17:31] schroerbrian commented on #771
I had the same issue and was able to solve it by adding the recommended CSS to the `.marker` class as described in this thread: https://github.com/google-map-react/google-map-react/issues/771

[2019-07-31 19:11] mdvorscak commented on #687
Thanks @Pocket-titan, I've recently had to use this solution on a newer react project (using hooks) and implemented it using hooks like this:

[code]

Hopefully this helps some future person coming here from google (as I did).

[2019-08-01 03:22] eldyvoon opened #774 "check markers in view"
I'm doing this to show a msg to the user when no marker are present in the map view
[code]

I feel bad about the rerender and possible to cause performance issue if the markers are plenty, is there any dragEnd option?

[2019-08-01 04:02] eldyvoon commented on #774
it's here

https://github.com/google-map-react/google-map-react/pull/754/commits/fd007bd6ec687f2e58a91c0d42712edf6cc0975f

[2019-08-01 04:02] #774 closed

[2019-08-01 08:44] #770 closed

[2019-08-01 10:42] janhartmann commented on #741
Any updates to this?

[2019-08-03 08:22] pawelotto commented on #636
Using ver 1.1.4, deleted node_modules, cleaned up yarn cache, and my markers are still teleporting like crazy. Any ideas how to fix this?

[2019-08-03 08:28] pawelotto commented on #771
No solutions described in any of these issues helped and my markers are still floating freely on the map while zooming in/out. This makes this module virtually unusuable.

[2019-08-03 08:39] pawelotto commented on #771
@petter-kaspersen After some trial and error I figured out what's the problem! The _floating_ of markers is caused by the fact that they are lat/lng coordinatates are _centered_ to the **upper left corner**  of the marker, so the larger the marker component is the farther away it will flow from the coordinates centre.
This effect can be clearly seen on large markers whereas it doesn't show on a ma

[2019-08-07 17:35] alexpolicastro opened #775 "ADA Failing Elements"
When running a ADA compliance audit I keep seeing this error.

**Image elements do not have [alt] attributes**

**Failing Elements**
`<img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%20018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M1

[2019-08-12 15:22] ethanryan commented on #775
I'm seeing the same error as @alexpolicastro when running Lighthouse from the Audit tab in Chrome DevTools.

![no-alt-attributes](https://user-images.githubusercontent.com/8107812/62876565-34c65a00-bcf3-11e9-8d97-118b40fbf53b.png)

This is affecting the scores for both Accessibility and SEO.

The issue appears to be these three svg images, which do not have [alt] attributes.

![google-map-react-sv

[2019-08-12 16:27] fdistorted opened #776 "fix Ensure text remains visible during webfont load" error on PageSpeed Insights"
I am trying to optimize my web site.
looks like google-map-react adds link to style file with fonts (`<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans&display=swap">`).
Is it possible to change this link to `https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans&display=swap` to prevent showing of "Ensure te

[2019-08-14 03:02] Tongboy commented on #775
Pretty sure those are google supplied components as part of the google maps API

You can test that by disabling the default UI in your component

something like:
[code]

[2019-08-14 09:29] eeliinaa opened #777 "Child mouse action function return event"
Hi, please can you return real event parameter for child action functions?
These:
onChildMouseDown,
onChildMouseUp,
onChildMouseMove,
onChildMouseEnter,
onChildMouseLeave.
I need access to event.which to detect which mouse button is clicked.
Thank you!

[2019-08-16 20:53] alexpolicastro commented on #775
@ethanryan yeah found the same things. So I just disabled them, which actually works better anyway. @Tongboy yep.

Just silly they don't fix that on Google's end.

[2019-08-20 12:05] negati-ve commented on #714
@kdmatrosov use label property instead of title

[code]

[2019-08-22 21:45] jacquesporveau opened #779 "Add an option to not use the bootstrapURLKeys props"
By not letting this prop be undefined you are forcing developers to use your script loading mechanism. It would be helpful to have that as a optional feature and if someone wants to load their script another way they should be able to do that.

[2019-08-23 10:31] Kay2dan opened #780 "module not found"
Hi guys, I am posting this here after much troubleshooting and unfortunately, am not clear on what further to do to resolve this. Hence the posting here.

[Here is the link to Stackoverflow question I posted.](https://stackoverflow.com/questions/57624234/getting-google-map-react-library-to-load?noredirect=1#comment101702354_57624234)

In my existing app, I installed [google-map-react][1] library l

[2019-08-23 12:05] ReactAndrey commented on #486
Hi, I have problems with cluster zoom out you mentioned.
Could you share me source codes?

[2019-08-25 14:12] CodeWitchBella commented on #677
For me this only occurs in StrictMode

[2019-08-26 15:42] amber-cd opened #781 "Clicking on Pin Fires Off Parent Map OnClick Event"
We have need for all three of the following in our map:

1. Custom marker pins with their own appearance + on click events
2. Polygon areas
3. Map click events, which use the lat and long of the user's click location.

The implementation:
1. Make a map pin component with an `onClick` prop; run that `onClick`
2. In `render`, in `onGoogleApiLoaded`, use `map.addListener('click', this.onMapClick);` t

[2019-09-02 08:29] ankittparikh commented on #700
@gukii did you find any solution?

[2019-09-06 07:39] bmtdh opened #782 "Issue setting minZoom, map renders correctly then jumps to a more zoomed in view after a second, unable to zoom back out."
Hi!
I know there are similar issues but everything I have tried hasn't worked. I am trying to effectively allow any zoom level to be reached.

I have tried:
[code]

[code]

The map for a split second renders correctly then jumps back to a zoom level of around 3 and I am unable to zoom back out.
Any help would be greatly appreciated as I need to be able to see a view of the entire world.

[2019-09-06 14:40] joebentaylor1995 commented on #265
Just tried this, my custom colours from Snazzymaps applies until I scroll to the map, then it reverts

[2019-09-09 11:32] Raz1990 opened #783 "Change lifecycle hook componentWillReceiveProps"
Please update the library to not use componentWillReceiveProps:

![image](https://user-images.githubusercontent.com/30901390/64527362-69d3c580-d30e-11e9-8fe3-b77a47e742a6.png)

Text form:

Warning: componentWillReceiveProps has been renamed, and is not recommended for use. See https://fb.me/react-async-component-lifecycle-hooks for details.

* Move data fetching code or side effects to componentDi

[2019-09-10 11:32] ianldgs commented on #732
Additionally, the internal location of the component (probably the state) seems to be wrong. The map doesn't move to the new `center`.

I managed to get around the issue by using the `defaultCenter` prop, not sure if you have the same case.

[code]

[2019-09-11 13:36] Tongboy commented on #460
a note to tim-soft's excellent example - if you need to leave that page for any reason - you're probably going to want to wrap that button div in a component that isn't going to be watched by react when the page gets torn down - otherwise you'll get some fun errors about failures to remove child nodes. for me it was `Uncaught DOMException: Failed to execute 'removeChild' on 'Node': The node to be

[2019-09-14 01:03] juanprietob opened #784 "Render 'AnyReactComponent' while maximized"
I noticed that the components I added to my map do not work when the map is maximized.
I have a button added at a location. When the button is clicked it opens a tooltip. However, the tooltip is not shown when the map is maximized.
My app is running here https://www.bit2cash.site/#/

[2019-09-18 07:10] Fi1osof opened #785 "onChildMouseEnter not triggered if child have not lat,lng."
If child have no lat,lng props it's rendered in center of, but events onChildMouseEnter, onChildMouseLeave and onChildClick not triggered.

[2019-09-18 16:53] #785 closed

[2019-09-18 16:54] itsmichaeldiego commented on #785
@Fi1osof Thanks for using this library, sadly, in our case, child must have lat and lng.

If you want any help, please explain why you need this and give more detailed explanation, this is not the best way to open an issue.

[2019-09-18 16:56] itsmichaeldiego commented on #784
@juanprietob I can confirm this is an issue, this is a collaborative library, so feel free to open a PR and I'll be happy to release it.

[2019-09-18 16:58] itsmichaeldiego commented on #460
@Tongboy @tim-soft it seems that you guys found out the right solution, I am glad!

[2019-09-18 16:58] #460 closed

[2019-09-18 17:00] itsmichaeldiego commented on #732
@reket @tomwagner This is a collaborative library, PRs are welcome!

[2019-09-18 17:04] itsmichaeldiego commented on #783
@Raz1990 I tagged this issue with help wanted, this is a collaborative library and PRS are welcome, thanks in advance

[2019-09-18 17:05] itsmichaeldiego commented on #265
@joebentaylor1995 It is probably an issue with your implementation, we are all using map styles with no problem 👍

[2019-09-18 17:07] itsmichaeldiego commented on #782
@bmtdh Could you please provide a codesandbox? Its not possible to figure it out with this. But just for your info, this library doesn't work in "entire world" view, because of the calculation of markers.

[2019-09-18 17:07] #782 closed

[2019-09-18 17:08] itsmichaeldiego commented on #700
@ankittparikh As I told @gukii, this can be achieved with CSS, adding transition to top or bottom, just check the CSS change when changing map position and animate that property.

[2019-09-18 17:10] itsmichaeldiego commented on #779
@jacquesporveau I understand your point but that's the idea of our library, to make it super easy to add google maps, of course I am not against it, so PRs are welcome for this enhancement if you or someone else want to do it and need this feature

[2019-09-18 17:10] #779 closed

[2019-09-18 17:13] itsmichaeldiego commented on #772
@the-yadu You can access `map` object like in here https://github.com/google-map-react/google-map-react-examples/blob/master/src/examples/Main.js#L69 by using `onGoogleApiLoaded`, and then do `map.setPadding()` as stated by the documentation you shared

[2019-09-18 17:13] #772 closed

[2019-09-19 02:33] Fi1osof commented on #785
@itsmichaeldiego, scenario:
1. I add some child (and see them in center of map)
2. I drag this item and handle new lat,lng for them.
Profit.

Otherwise, for add new child with lat,lng i have to do React.cloneElement(element, {...center}); This is not useful.

[2019-09-19 08:29] itsmichaeldiego commented on #785
@Fi1osof I see, well, you could provide a default lat and lng, right?

[2019-09-19 09:41] Fi1osof commented on #785
@itsmichaeldiego for this i must know lat, lng. I can only from GoogleMapReact instance (which must be a parent), or pass callback (and i can not do this if not pass eventCallbacks into <GoogleMapReact />). This not useful.

[2019-09-19 14:21] itsmichaeldiego commented on #785
@Fi1osof Yes but you know where your map is right? You must have a center for it? You can just place it on the coordinates of the center?

This library expects you to to pass lat and lng, otherwise it won't work, but you can open a PR if you want. I will do my best to merge it and deploy it as soon as I can

[2019-09-19 14:22] #771 closed

[2019-09-20 06:56] Fi1osof commented on #785
@itsmichaeldiego
[code]

I do not know map center in upper component which pass children (especially when the map is moved with the mouse). Yes, i can add code above and will know, but now i did not.

[code]
But shows children in center of shown map.

[2019-09-20 13:41] itsmichaeldiego commented on #785
@Fi1osof Ok yes they are rendered in the middle by default, and events should work as expected, not sure why they don't  to be honest, its clearly a bug

[2019-09-20 17:29] itsmichaeldiego commented on #636
@pawelotto I can confirm this is fixed, can you provide a live example? Otherwise I can't help

[2019-09-20 17:34] itsmichaeldiego commented on #770
You found the solution right @honb ?

[2019-09-20 17:37] itsmichaeldiego commented on #776
@fdistorted Yes it is possible, feel free to open a PR and I will make sure to merge it and release it, thanks in advance

[2019-09-20 17:38] itsmichaeldiego commented on #777
@eeliinaa Yes but we are all super busy so it will be faster if you submit a PR, I will try my best to merge it and release it as soon as possible

[2019-09-20 17:39] itsmichaeldiego commented on #775
Hey guys, thanks for opening the discussion, but as this is an issue from google and not from our end, I need to close it.

[2019-09-20 17:39] #775 closed

[2019-09-22 04:16] the-yadu commented on #772
setPadding inside map object does not exist as you explained.
![image](https://user-images.githubusercontent.com/7404181/65382241-d6db5800-dd1d-11e9-83c9-bc85a0a8dd47.png)

[2019-09-22 13:06] oahmaro opened #786 "Dynamically load language on google map"
I know this is a limitation on google maps API, But this could be done in a way where the component will unmount, and google.maps get removed from the window object,  and then gets mounted again when the language that is passed changes.

[2019-09-23 05:40] bhavikji opened #787 "Draw polyline on map draw in google map react."
Hey folks, I am looking for the support for drawing polyline over the map as given in here:
[Zillow](https://www.zillow.com/homes/for_sale/1.0-_baths/?searchQueryState={%22pagination%22:{},%22usersSearchTerm%22:%22Pleasant%20Hill%20Falmouth%20ME%22,%22mapBounds%22:{%22west%22:-70.33858361694337,%22east%22:-70.19267144653321,%22south%22:43.67669512485485,%22north%22:43.753869073273215},%22isMapVisi

[2019-09-24 10:36] itsmichaeldiego commented on #772
@the-yadu I don't know what you're showing here, anything that you can do with google-maps itself you can do with this library, check [documentation here](https://github.com/google-map-react/google-map-react#use-google-maps-api) and just check google-map documentation, either with `map` or `maps` object you can access to all features from google maps

[2019-09-24 10:36] itsmichaeldiego commented on #786
@oahmaro If you need this feature please submit a PR, thanks

[2019-09-24 10:37] itsmichaeldiego commented on #787
@bhavikji Hey man! If you can do it with google maps, you can do it with this library, just need to access the `map` or `maps` object depending on which one you need, check [documentation here](https://github.com/google-map-react/google-map-react#use-google-maps-api)

[2019-09-24 10:37] #787 closed

[2019-09-25 12:56] A-Tokyo commented on #677
I figured it out.

So, the jiggling issue only happens if you wrap the map in <Suspense />,

Removing Suspense, solves the issue.

ALSO: The issue is fully fixed as of `"react": "^16.9.0",`

Apparently there was a bug in Suspense that was fixed by the react team.

@Umbrellagun Try this out! I am almost sure it'll solve your issue as well

[2019-09-25 12:57] A-Tokyo commented on #677
@CodeWitchBella I tested it with and without strict mode and it behaved the same, toggling suspense however, did the trick!

[2019-09-25 14:36] itsmichaeldiego commented on #677
Seems that issue is solved, closing it for now, I will reopen if the problem persists even with @A-Tokyo fix

[2019-09-25 14:36] #677 closed

[2019-09-26 08:44] A-Tokyo opened #788 "🐛 Float Zoom levels are parsed to int - no incremental zooming"
**Describe the bug 🐛**

- Setting the zoom level to floating point numbers doesn't work, the onChange is simply fired again parsing the float into an int.
- eg: setting zoom level to `11.2` will trigger an onChange with `11`

**To Reproduce 🔍**

Steps to reproduce the behavior:

1. set zoom level to 11.2
1. notice how the onChange is fired, overriding the 11.2 with 11

**Expected behavior 💭**

 zo

[2019-09-26 22:55] Ianohurr opened #789 "A div is created around the map that doesn't take the parent containers height."
**Describe the bug 🐛**
When the map is used, a div is placed around it that doesn't accept the parent containers height.
This div will accept the width, but will automatically make the height 0. Since this happens, the map will escape the parent container.

**To Reproduce 🔍**

Steps to reproduce the behavior:
1. Create a div with a fixed width and height
2. Place map in div with width:100% and hei

[2019-09-27 06:52] itsmichaeldiego commented on #752
@Hilaryous Solved in #769 and released in `1.1.5`, let me know if that works for you

[2019-09-28 06:23] langer-man commented on #750
https://www.npmjs.com/package/easy-drawing

this may be another view of point

[2019-09-29 03:51] langer-man commented on #789
Maybe you can combine it with  https://jinjilynn.github.io/#/

[2019-09-30 06:23] rostgoat opened #791 "click event does not fire on GoogleMapReact child object"
**Describe the bug 🐛**

Cannot for the life of me get this event of to fire on the child `Marker`
anyone know why?

I have tried using `onClick`, using `bind` and `onChildClick` but nothing works
[code]

**To Reproduce 🔍**

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

A live example helps a lot!

**Expected behavior 💭**

A clear and con

[2019-10-01 01:38] corys commented on #781
Also encountered this.  Have not figured out a solution yet.

[2019-10-01 17:00] itsmichaeldiego commented on #791
`onClick` should work, but please share a live example if you need further help.

Closing for now

[2019-10-02 03:52] mesh-newbie opened #792 "Move marker(s) on touch enabled devices."
**Describe the bug 🐛**

Cant "drag" a marker on a touch-enabled device, though clicking within the space of the marker (icon) "does" move it after releasing finger.

**To Reproduce 🔍**

Create a map with a single marker that is draggable.

1. Dragging on say a desktop, the marker follows the mouse.
2. Dragging on a touch-enabled device (e.g ipad, iphone/simulator) nothing happens during the drag "

[2019-10-02 06:12] rostgoat commented on #791
onClick does not work. Here is a sandbox.

https://codesandbox.io/embed/resplash-dww5v

## to replicate

go to Map.js and import your google api key
in the search bar type `Hastings` - wait for icons to appear
click on any icon - the console should display `clicked` but nothing happens

[2019-10-02 06:16] rostgoat commented on #791
@itsmichaeldiego essentially, when I click the loaded marker I would like to pass it's data into Marker component. When I do pass a prop with `marker` data to Marker, every time I hover over any marker, all of the marker properties get passed to all the markers that were loaded on the map.

this is why I want to use the onClick to select a marker, grab it's props and only then pass them to the spe

[2019-10-02 14:45] amber-cd commented on #781
Please let me know if you figure it out; I've been fairly stumped on this issue, myself. I'll post here if I find anything, though.

[2019-10-03 01:12] David-Melo commented on #780
Was able to reproduce this on my app

[2019-10-03 14:03] itsmichaeldiego commented on #780
@Kay2dan Did you find a solution? This is clearly not an issue with this library, because 12.8k people are using it, so I've to close the issue.

I think you've an issue with your config, you're saying that the error is:

[code]

But why is your app looking for a node_module inside `components/partials`? If it will be an error it should be:

[code]

[2019-10-03 14:03] #780 closed

[2019-10-04 09:12] bhavikji commented on #102
this solution is not working now. plus, it's outdated.

[2019-10-06 14:52] Bartozzz commented on #677
I would not consider this issue as solved. The issue still happens when using Async React (`^16.10.1`) and I cannot toggle `<Suspense>` in my project, as each route is loaded asynchronously.

**`App.tsx`**

[code]

**`RootRouter.tsx`:**

[code]

**`IndexScreen.tsx`:**

[code]

I am getting the following errors:

[code]

[code]

[2019-10-07 16:10] crsschwalm commented on #508
I hacked around it by debouncing my active InfoBox state variable.

Exterior Map clicks set the state to all closed.
InfoBox clicks set the state of the current to open.

Both get called, but debouncing so my `activeInfoBox` state doesnt get updated until theres a break between state updates

[2019-10-07 18:31] A-Tokyo commented on #677
@Bartozzz Hey! Can you show me your index file? How do you mount the App to the dom?

I had issues when I usead `UNSAFE_createRoot` but now that I simply use  the way below, it works fine

[code]

Let me know if i can provide further help!

[2019-10-09 07:53] Bartozzz commented on #677
I am mounting the App using same method as you but the issue still occurs. I'll try to set-up a demo on a sandbox soon.

[2019-10-10 08:48] JerryMissTom opened #794 "Maker offset when zoom out"
Thanks for this project. I come across a bug when render  Icon Maker  in Google map. when zoom in, the maker in right  position, but the  maker will have offset when zoom out. The screenshot pics are as follows:
First pic, the maker is in the sea.
![屏幕快照 2019-10-10 下午4 40 38](https://user-images.githubusercontent.com/15966403/66553007-ee6b6b00-eb7c-11e9-9bfe-2eb21fb70694.png)
In fact, the real pos

[2019-10-10 12:43] itsmichaeldiego commented on #794
@JerryMissTom This is in the docs: https://github.com/google-map-react/google-map-react/blob/master/API.md#positioning-a-marker

[2019-10-10 12:43] #794 closed

[2019-10-10 13:54] jitenderchand1 opened #795 "Changing market position on click make disappear the search box"
**Describe the bug 🐛*
While updating the marker on the map using `onClick` method. The search box get disappear. it reappears on the page when I reload it.  Following is my component code.

[2019-10-10 19:25] jitenderchand1 commented on #795
Fixed. There was error in my code

[2019-10-10 19:25] #795 closed

[2019-10-10 21:14] peterwdj opened #796 "Marker positions change with zoom"
**Describe the bug 🐛**
The position of the markers on the map is different at different zoom levels.

**To Reproduce 🔍**

Steps to reproduce the behavior:

1. Pass in a custom marker to the map:
[code]
2. Run your local server, and visit the page rendering the map
3. Change zoom level in and out
4. See position of marker changing with zoom level

A live example helps a lot!

**Expected behavior 💭*

[2019-10-11 01:03] JerryMissTom commented on #794
@itsmichaeldiego Thanks a lot, you do  me a big favor

[2019-10-11 19:01] peterwdj commented on #796
This can be closed! I've realised that this was due to issues with positioning the top left of the marker at the lat lang - rather than the bottom centre that I really need it to be.

Sorry for any waste of time!

[2019-10-14 16:36] evanseeds commented on #508
I ended up solving this by writing a `ClickOut` component that wraps my `MapPopup` component and puts a `mousedown` listener on the document that performs an action when a click is outside of the child component. In this case, the action is closing the Popup:

ClickOut component:
`const ClickOut = ({
  children,
  onClickOut,
}) => {
  const wrapperRef = useRef(null);
  const handleClickOut = (eve

[2019-10-15 09:21] brightsider commented on #706
Any solution?

[2019-10-16 21:31] gardheamsantos00 opened #797 "How i draw an polygon to calcule area on reacjs ?"
i'm using react 16+ with styled components and would like to know how i draw a polygon and calculate the area in react-google-maps

[2019-10-16 22:03] jackluo commented on #687
where is your google coming from?

[2019-10-17 10:37] kpennell opened #798 "Could use help on some really slow list scrolling/rendering with mouseovers (and changing the map according to hover state)"
I love google-maps-react and have used it for many projects.

I'm stuck on how to handle a large dataset efficiently. I have a list of items and then map pins that correspond to those items. When one hover on the list, the map icon opens. This is the way many popular maps work. The user hovers on the list item and the map changes color or an info window pops open. But the way I have this setup in

[2019-10-18 09:20] kisildev commented on #796
Hello, I have a similar problem, when I move or scale the map, the marker remains in the center of the map, but it must be attached to a specific point. Could you help to understand what the problem is?

[2019-10-18 14:16] petegamble opened #799 "Unable to remove polyline as a result of handling a marker click event"
Hi

I have an issue whereby I'm adding a polyline and markers to a map. I need to be able to redraw the polyline when moving or deleting a marker but polyline.setMap(null) will not work whilst handling any marker event e.g. 'click', 'dragstart'. it will work however if I just wire it up to a button onclick event to call polyline.setMap(null).

It sounds very similar to this issue -

https://github

[2019-10-18 14:59] samuelpucat opened #800 "infobox clustering"
Hey,

I want to create custom infowindow (different styling than google IW) with support of clustering. I created InfoBox with custom style, put it into Marker and MarkerClusterer. Works good, until I dynamically add new custom infowindow, then it won't cluster itself. When I use classic InfoWindow, it works fine, but I don't want to hack styles of google components.

Is there any way to fire clus

[2019-10-18 15:44] #800 closed

[2019-10-18 23:01] petegamble commented on #799
Closing issue, I was assuming that the polyline was an object but its actually stored in state as an array. The state was never being persisted and therefore being disconnected from the map object.

[2019-10-18 23:01] #799 closed

[2019-10-21 13:47] #796 closed

[2019-10-21 13:47] itsmichaeldiego commented on #796
@peterwdj No problem, I am glad you found the issue, I think at some point we should position the markers on the center by default

[2019-10-21 13:49] itsmichaeldiego commented on #798
@kpennell This is related on how to use React and mount/unmounting objects and not to the library itself, I think StackOverflow would be a better place for this, as this is for issues / bugs or new features

[2019-10-21 13:49] #798 closed

[2019-10-21 13:51] itsmichaeldiego commented on #797
Check https://github.com/google-map-react/google-map-react/issues/613

[2019-10-21 13:51] #797 closed

[2019-10-21 13:52] kpennell commented on #798
Fair. Ok.

On Mon, Oct 21, 2019 at 3:49 PM Michael Diego <notifications@github.com>
wrote:

[2019-10-21 13:52] itsmichaeldiego commented on #794
@JerryMissTom No worries man!

[2019-10-21 13:54] itsmichaeldiego commented on #798
@kpennell You might even have more chances of being helped as SO has more subscribers than to this library

[2019-10-23 09:04] balanza commented on #102
@bhavikji did you sort out another solution?

[2019-10-23 13:09] Multi-Thinker opened #801 "Nearby places API"
is there a way/component/API to use or have places API for nearby feature (if there is some react component or react way to do this with google-map-react)? or should people switch to vanilla JS with "yesIWantToUseGoogleMapApiInternals" just after doing map in react, almost kills whole purpose of doing map in react if we have to use Vanilla JS again.

[2019-10-23 19:41] #801 closed

[2019-10-23 19:42] itsmichaeldiego commented on #801
@Multi-Thinker Your question is quite confusing, I am pretty sure you can formulate this better explaining what do you want to accomplish? Provide an example also of what you want to do

[2019-10-25 13:47] Orinameh commented on #787
I think the issue here is that, the magic needs to be done inside onGoogleApiLoaded props which is called once(immediately the map renders). I currently face this issue as I can't draw a polyline when a marker is clicked as onGoogleApiLoaded must have been called by then. Any pointers to achieve this ?

[2019-10-26 15:10] Homitor opened #803 "onPlaceChanged method"
Sorry to report this as a bug. It is not.

Can you give me an example of how the method `onPlaceChanged` of StandAloneAutoComplete is used?
I want to get info about the place I typed.
I used it on react-google-maps and it was working. I can't seem to get it to work with this package though.
Here is what I have so far:

[code]
My onPlaceSelected method:
[code]

And I render this:

[code]

[2019-10-26 16:25] tyxou commented on #783
if you're still looking for help, I'll be glad to take a look.

[2019-10-26 23:04] r0jx0 opened #804 "Responsive infowindow"
First of all, this is not a bug, but I have troubles find a solution to a problem with google-map-react, and I don't know whereelse I can ask for a solution.

I'm trying to make an infowindow but the content of it is not always the same, so it makes the infowindow be bigger of smaller and they are not positioned  into the marker. How  can I make the infowindow appear always into the marker regardl

[2019-10-28 08:35] phakphumi opened #805 "Do this package provide duration calculation?"
I would like to calculate the duration between two-point of location.
Can this package calculate the duration period from one point move into another point?

[2019-10-29 21:44] krrishdholakia opened #806 "Trigger onChange / fitBounds function when marker added"
I am writing a component that adds markers to the map when the user selects a new place. However, despite the marker being added to the map, the onChange function does not get triggered. It only seems to be triggered when I move the map around.

Upon this change event being triggered, I'm trying to resize the map bounds. I was earlier trying to use the google: onGoogleApiLoaded function. However,

[2019-10-30 22:20] akfzambrana opened #807 "Margin prop usage"
I'm trying to pass an array of numbers to this prop and I can't understand how it works.
I tried to pass something like this `margin:{[0, 0, 0, 100]};`
What I need is to pass a value to move the "center" of the map to right leaving some space on the left free. Can you please help me to understand how this prop works? or can you provide some example of how to use?

[2019-10-31 11:57] #805 closed

[2019-11-01 04:16] azfaralsukor commented on #377
Set `draggableCursor: 'crosshair'` in options properties

`<GoogleMapReact
 options={{ draggableCursor: 'crosshair' }}
/>`

[2019-11-02 09:01] mimre73 opened #808 "Searchbox problem in modals"
when put map in modals and want to search a place result shown behind of modal!
[
![zxcs](https://user-images.githubusercontent.com/43402867/68068682-a3540a80-fd6c-11e9-84a9-c0fcab78223f.png)
](url)
any solution?

[2019-11-03 20:23] itsmichaeldiego commented on #787
@Orinameh You can capture the click and then use the `map` to draw the polyline, right?

[2019-11-04 02:49] itsmichaeldiego commented on #783
@tyxou That would be amazing thanks!

[2019-11-04 02:50] itsmichaeldiego commented on #804
Please provide a live example so we can help you, thanks!

[2019-11-04 02:50] #804 closed

[2019-11-04 02:51] itsmichaeldiego commented on #806
@krrishdholakia Could you provide a live example? Then we can help you! Thanks

[2019-11-04 22:25] strap8 commented on #62
Thank you for providing the world2Screen function. Does anyone know how to extend this to account for the maps tilt as well?

const world2Screen = ({ x, y }, zoom, tilt) => {
...
}

[2019-11-05 21:48] Nu-Taweechai opened #809 "i need Feature streetview"
![Screenshot_5](https://user-images.githubusercontent.com/45736163/68249097-ad1d8c80-0050-11ea-9fe2-d849490402b5.png)

[2019-11-06 23:27] cstumph commented on #692
Experiencing a similar issue trying with a page where we use this component, but also a suto suggest component that uses the maps API. Is there no way to pass a shared instance into this?

[2019-11-07 21:10] beasteers commented on #350
I need something like this as well. I'd like to lock the map from external updates if the user drags/zooms. Then when they want, they can press "reset map" which will switch back to automatic bounds.

But currently onChange is firing for all updates so it's locking automatically which is not what I want.

[2019-11-09 21:38] sebalaini commented on #783
following, I have the same issue

[2019-11-09 21:42] tyxou commented on #783
Terribly sorry for delay as I didn’t find this reply before now!! Will see how it can be fixed and revert.

On 04 Nov 2019, at 03:49, Michael Diego <notifications@github.com> wrote:

﻿

@tyxou<https://github.com/tyxou> That would be amazing thanks!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/google-map-react/google-map-re

[2019-11-09 22:13] sebalaini commented on #789
same problem here, there are too many useless `div` around the map,
here what I have to do to make the map fix the container created from the library.
I just insert the style manually and I didn't create yet the parent container that ideally would be called Contacts.

The first `div` doesn't have style be default, the second is set to `position:absolute` already

![Screenshot 2019-11-09 at 21 49 1

[2019-11-09 22:52] famigone opened #810 "Is it possible to move a react component on the map by changing its status?"
I'm using Google-Maps-React and I want to move a truck component on the map by changing the coordinates of the component. The coordinates are part of the state of the Truck component and I modify them with a timer.

On the map I can show the coordinates and I see that they change, but the truck position does not change, it is static in the initial coordinates with which I invoked the component.

I

[2019-11-10 05:37] ChaitanyaKrishnaPappala commented on #473
Google map has changed a few things, I updated my code accordingly, as a separate npm package is added for marker clusters.
Below is the updated code @lunvjp @ankitasingh170190

import React, {Component} from 'react'
import GoogleMapReact from 'google-map-react'
import MarkerClusterer from '@google/markerclusterer'

export default class GoogleMapContainer extends Component {
  componentDidMount ()

[2019-11-10 10:10] sebalaini opened #811 "can't style the map"
I dug into the issues and tried to apply some of the solutions I find but I cannot style the map.

Here my code

[code]

I've already tried this `defaultOptions={{ styles: style }}`and move the `this.props.styles` into a variable called`styles` but same result, I cannot style the map

is there also a way to add this piece of code `disableDefaultUI: true`?

[2019-11-11 19:33] sebalaini commented on #811
solved, so first seems that if you are developing without a key you cannot style the map and the second is `options` and not `defaultOptions`

[2019-11-11 19:33] #811 closed

[2019-11-14 04:53] niikNak commented on #791
Any update on this? Having the exact same problem

[2019-11-17 02:49] msaracevic opened #812 "ImageOverlay?"
I am evaluating this library for an project. The markers are awesome, but I can't find info about Ground Overlays.

While the initial idea was that I could probably use custom marker which could do the same thing, the problem comes when trying to position the overlay correctly. Markers seem to support center property only, where as ground overlay supports corners and then aligns the image on map

[2019-11-19 21:50] chrismclarke commented on #801
I think I've just come across the same issue, so for clarity:

Google provides an additional api to interact with it's `places` library, such as searching for nearby points of interest on the map. In order to enable this SDK, an additional query parameter `&libraries=places` needs to be passed into the script loader, i.e.:
[code]
Is there a way currently to include this?

[2019-11-19 21:58] chrismclarke commented on #801
To answer the question, you can simply add the parameter to the `bootstrapURLKeys` method, i.e.
[code]

[2019-11-20 11:07] alqamabinsadiq commented on #803
Please check the search box example.

[2019-11-20 11:10] alqamabinsadiq opened #813 "I want to get the place information by clicking on map."
** PROBLEM **
I want to add a marker on click of a map not only that I also want to fetch the place information. I know onClick function returns the LAT and LNG which I use to render the marker but how can I get the information about that place using places api?

[2019-11-20 11:48] bhavikji commented on #733
@grazinskis @eldyvoon : Is there any way to check the change is a mouse scroll event on `onChange()` function

[2019-11-26 10:02] AdiBev opened #814 "Does this library supports custom maps?"
Hi, I need to create custom map and custom marker. I know I can add custom markers here I was wondering if I can do the same with map. I'm importing json styles from here https://mapstyle.withgoogle.com/ and I want to apply this on the map. If this map have this support can you point me to the right direction?
Thank you

[2019-11-26 15:52] intensr opened #815 "Possible to pass className prop to GoogleMap component?"
Hey cool project,
I just wanted to ask if it would be possible to add the `className` prop to the GoogleMap main component to make it usable for libraries such as e.g. styled components or/and emotion.

[2019-11-26 20:55] gtherond commented on #732
Ok, I've the same issue, willing to help if ever required, but I've got a design question first, why did you choose to forbidden props change? Redux user here and it's common/easier for us to simply use the props than having an additional step where we transform those props into state.

[2019-11-28 10:44] SpiritOfSpirt opened #816 "Change language"
**Describe the bug 🐛**

I want to dynamically change language on page and on map.

**To Reproduce 🔍**

Change language in
      bootstrapURLKeys={{
                                key: myKey,
                                language: this.state.lang,
                            }}

**Expected behavior 💭**

When I change state map should change language on the screen

**Environment:**

 - OS: windo

[2019-12-01 08:14] itsmichaeldiego commented on #815
@intensr What exactly do you need to do?

[2019-12-01 09:30] #803 closed

[2019-12-01 09:34] itsmichaeldiego commented on #809
@Nu-Taweechai You just need to enable it:

[code]

[2019-12-01 09:34] #809 closed

[2019-12-01 09:34] #492 closed

[2019-12-01 09:36] itsmichaeldiego commented on #810
@famigone This is more a React question that related to the library itself

[2019-12-01 09:36] #810 closed

[2019-12-01 09:39] #813 closed

[2019-12-01 09:41] itsmichaeldiego commented on #814
@AdiBev Yes you can pass the options on `styles`

[code]

[2019-12-01 09:41] #814 closed

[2019-12-01 09:44] itsmichaeldiego commented on #816
@SpiritOfSpirt That's because the initial load of the map (the <script>`) is already loaded, best thing you can do is to reload the page when changing language

[2019-12-01 09:44] #816 closed

[2019-12-01 09:46] itsmichaeldiego commented on #812
@msaracevic You can use `onGoogleAPILoaded` and access the `map` or `maps` object, then you can do anything that you can do with regular gmaps, [link here](https://github.com/google-map-react/google-map-react/blob/master/API.md#ongoogleapiloaded-func)

[2019-12-01 09:46] #812 closed

[2019-12-01 09:47] itsmichaeldiego commented on #808
@mimre73 Might be a `z-index` issue? Please provide a live example otherwise I cannot be of further help!

[2019-12-01 09:47] #808 closed

[2019-12-01 09:47] #806 closed

[2019-12-02 07:54] aryan-smartsense opened #817 "Please Add Marker.setPosition() method in order to set position."
if this library will have the support for setPosition method then we don't have to re-render each and every marker everytime one of the marker location changes instead we can just use the marker.setPosition Method instead....

[2019-12-02 07:56] neerajkrbansal1996 commented on #817
Yupp! this feature would have been really helpful........

[2019-12-02 12:13] intensr commented on #815
[code]

[2019-12-02 12:18] intensr commented on #815
[code]
You can do things as such to style components. Thats very common and popular due to libraries such as emotion or styled components. They use the className prop for such. So if you could pass it down it would help people who write react projects in such manner. Also people who would like to style the map container via classnames.

[2019-12-03 01:23] archydeberker opened #818 "CORS issues for second component"
**Describe the bug 🐛**

I'm seeing the same error as in https://github.com/google-map-react/google-map-react/issues/491, but only after I add a *second component* that uses google-map-react.

**To Reproduce 🔍**

Steps to reproduce the behavior:

1. Add a component that uses react google map
2. It works fine
3. Add a second
4. Doesn't work! I get the CORS error identified in https://github.com/goog

[2019-12-03 12:40] alex-semenyuk opened #819 "Issue with bounds longitude with supercluster and google-map-react."
I use this example https://github.com/istarkov/google-map-clustering-example. I have the problem when I'm moving map to right or left from initial position - my clusters are disappearing. I see that bounds longitude is changed in wrong way on moving. It doesn't work starting with 1.0.5 till 1.1.5 google-map-react.
cc:@istarkov
Thanks!

[2019-12-04 08:20] intensr commented on #815
?

[2019-12-05 01:18] SimantoR commented on #473
I say we add that to documentation for future. I talked to the owner of the repo and I should be joining as a contributor. I'll get a list of things done and this should be top of it along with some more PRs to go along with it.

[2019-12-05 23:32] chawes13 commented on #473
@ChaitanyaKrishnaPappala Any luck implementing the `MarkerClusterer` when rendering with custom markers? Instead of creating new markers in `setGoogleMapRef` I'd like to reference the **existing markers** created during the rendering of `<GoogleMapReact />`s children. So far I have not been able to figure out how to access them, however.

[2019-12-09 13:58] tosifkhan01 opened #820 "Is there any way to update the circle's center using state?"
Basically my aim is to draw a circle and change it's center on state change.

**The problem I'm facing is "onGoogleApiLoaded" is called only once, I'm not able to call this function or change the radius or circle on state update, is there any way I can achieve my goal?**

        <GoogleMapReact
          bootstrapURLKeys={{ key: process.env.GOOGLE_API_KEY }}
          center={this.state.center}

[2019-12-10 05:47] beeeku commented on #817
Super useful feature! Currently, if we change the state of the marker continuously due to the rerender of each marker block the UI loop and map become unuseful.

[2019-12-10 17:35] alololox commented on #743
What flag are you looking for to determine production environment?

[2019-12-10 18:14] vertic4l commented on #743
what do you mean with flag?

you should have a development build and a production build e.g.:

npm run dev => webpack --mode development --progress --colors
npm run prod => webpack -p --mode production --progress --colors

for example...

And the later one does some additional stuff which gets GoogleMapReact to work with IE11.

That's it.

[2019-12-11 06:53] lxibarra commented on #265
Where is an example of this

[2019-12-13 13:57] onlysli commented on #732
Same problem here, any updates?

[2019-12-16 16:08] Daniel-Griffiths commented on #794
Adding ` transform: translate(-50%, -50%)` on the marker fixed it for me too 😄

[2019-12-19 04:54] DeekshaPandit commented on #168
Do you have jsbin running for this code?, please share. Thanks in advance.

[2019-12-19 09:20] dave4jr commented on #817
Not sure if this will help you, but I was having issues with this as well and had to use React.PureComponent and it solved all the additional re-renders.

[2019-12-19 10:07] beeeku commented on #817
@dave4jr That's interesting! Can you show an example of how did you achieve this? It will be helpful to a lot of us.

[2019-12-20 01:41] waynekhalifa commented on #704
I added an info window like you explained, but there is one problem that I can't solve, that box get out of the map viewport. is there any way that I can solve this?

[2019-12-20 04:06] byeokim commented on #704
Could you describe the problem more clearly? If I read correctly, the solution might be:
(Note that `<InfoWindow>` is beside `<GoogleMapReact>`)
[code]

[2019-12-25 18:05] JamieS1211 opened #821 "Types for "meters2ScreenPixels" (typescript)"
**Is your feature request related to a problem? Please describe 🙏**
I am trying to use the "meters2ScreenPixels" function exported from the utils section of the project however there is not types exported from @types/google-map-react for this. Issue #753 is the same kind of issue however in that instance there was a workaround you mentioned via using the google maps api for this. I have had a fidd

[2019-12-25 19:05] insivika opened #822 "onChildMouseLeave closes the Popup to early"

[2019-12-25 20:01] #822 closed

[2019-12-27 13:18] mohitjohar commented on #770
options={function (maps) { return { mapTypeId: "hybrid", } }}

[2019-12-27 13:22] mohitjohar commented on #770
<GoogleMapReact
 options={function (maps) { return { mapTypeId: "hybrid", } }}
 center={center} zoom={5} bootstrapURLKeys={{ key: "your api key"}}>
</GoogleMapReact>

[2020-01-07 06:58] tosifkhan01 commented on #59
@Fi1osof Thanks man, it really helped. 👍

[2020-01-08 04:14] JoeKlimcak opened #824 "DirectionsRenderer triggering unnecessary requests"
Hey guys,

I downloaded your Directions Renderer example from netlify. The issue that I'm seeing is when you build a route, the map starts glitching for a good few seconds before stabilizing. I noticed in the console that it seems to be calling the directions service many times and thus triggering a render each instance.

Is this something known?

Attaching gif:

![dirRen](https://user-images.gith